<table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;">
  <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
     <td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;" align="left" valign="top">
        <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;">
           <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
              <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;" align="left" valign="top">
                  <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;" align="left">
                    Hi <%= @user.first_name %>,
                    <br/>

                    <p>Welcome to our sneak preview! ContextSmith is a smarter way to collaborate on projects. We automatically turn your customer emails into organized project insights news feeds.  Here's a recap of your projects.</p>

                    Best,<br/>
                    ContextSmith Team
                    <br/>
                  </p>
              </td>
              <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top"></td>
           </tr>
        </table>
     </td>
  </tr>
</table>

<table class="row callout" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;">
  <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
     <td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 20px;" align="left" valign="top">
        <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;">
           <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
              <td class="panel" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; background: #ECF8FF; margin: 0; padding: 10px; border: 1px solid #b9e5ff;" align="left" bgcolor="#ECF8FF" valign="top">
                 <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;" align="left">
                  Feel free to forward this email to a colleague and have them sign up for free beta preview!  You can also <a href="#" style="color: #2ba6cb; text-decoration: none;">click here</a>.
                </p>
              </td>
              <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top"></td>
           </tr>
        </table>
     </td>
  </tr>
</table>

  <!-- User Content -->

  <!-- Header -->
<table class="row" border="0" cellspacing="0" cellpadding="0" style="background:#ffffff;margin:0;padding:0;border:0;text-align:left;border-collapse:collapse;border-spacing:0">
  <tr>
  <td style="background:#ffffff;text-align:left;font-size:15px;line-height:19px;border-collapse:collapse;padding:0;border-spacing:0;color:#000000;width:49%;vertical-align:middle"><hr style="margin:0;padding:0;border:none;border-bottom:3px solid #e5e5e5"></td>
    <th class="center" style="width:2%;padding:0 10px;white-space:nowrap;vertical-align:middle">
      <center>
        <h1 style="background-color:#ffffff;font-family:Helvetica,Arial,sans-serif;font-size:32px;font-weight:200;color:#222222;line-height:normal;text-align:center;margin:0 auto">
          Projects Recap<br>
          <span style="font-weight:normal;font-size:16px;font-family:Helvetica,Arial,sans-serif;font-weight:200;color:#222222;">Tuesday, August 18</span>
        </h1>
      <center>
    </th>
    <td style="background:#ffffff;text-align:left;font-size:15px;line-height:19px;border-collapse:collapse;padding:0;border-spacing:0;color:#000000;width:49%;vertical-align:middle"><hr style="margin:0;padding:0;border:none;border-bottom:3px solid #e5e5e5"></td>
  </tr>
</table>
<div style="width:100%;padding-bottom:20px"></div>


<!-- Summary -->
<div style="margin-bottom:0;margin-bottom:30px">
   <h2 style="font-family:Helvetica Neue,helvetica,arial,sans-serif;margin:6px 0 9px;font-size:22px;font-weight:200;margin-bottom:20px;color:#333333"><%= pluralize(@data.size, 'project') %> updated:</h2>
   <ul style="margin:0 0 10px;list-style:none;padding:0">
    <% @data.each do |d| %>

       <li style="margin:10px 0 0 20px;padding:0;list-style-type:none;clear:both;height:75px;">
         <h3 style="font-weight:600;font-size:16px;margin-bottom:3px;color: #337ab7;"><%= d["topExternalMemberDomain"] %></h3>
        
         <p style="margin:0 0 10px 0;text-align:left;color:#a8a9ad;font-family:Helvetica,Arial,sans-serif;font-weight:200;line-height:19px;padding:0;font-size:12px;margin-bottom:0"><%= pluralize(d["conversations"].size, 'conversation') %> • <%= pluralize((d["internalMembers"].nil? ? d["externalMembers"].size : (d["internalMembers"]+d["externalMembers"]).size), 'collaborator') %> • Last activity <%= time_ago_in_words(DateTime.strptime(d["lastSentDate"].to_s, '%s')) %> ago</p>

         <div style="margin:0 0 0 15px;padding:0;">
            <%= rounded_initials_group(d["internalMembers"], d["externalMembers"], "", "border-radius:50%;width:24px;height:24px;margin-right:3px;margin-bottom:3px;padding:5px;border: 1px solid #666;color:#fff;text-align:center;font:14px Arial, sans-serif;float:left;line-height:25px;cursor:default;") %>
         </div>
       </li>
       <div style="clear: both;"></div>

    <% end %>
   </ul>
</div>

<!-- Project Details -->
<% @data.each_with_index do |d,top_member_index| %>

<div style="font-family:Helvetica Neue,helvetica,arial,sans-serif;padding:0;margin:0 0 20px">
    
    <!-- Project Header -->
    <table border="0" cellspacing="0" cellpadding="0" style="background:#ffffff;margin:0 0 20px 0;padding:0;border:0;width:100%;text-align:left;border-collapse:collapse;border-spacing:0">
       <tbody>
          <tr>
             <th style="width:1%;padding:0;white-space:nowrap;vertical-align:middle">
                <h2 style="font-family:Helvetica Neue,helvetica,arial,sans-serif;line-height:24px;font-weight:bold;display:inline;background:#ffffff;font-size:20px;color:black;padding-bottom:15px;padding-right:10px;margin:0"><span style="color:#525456;text-decoration:none"><%= d["topExternalMemberDomain"] %> Conversations</span></h2>
             </th>
             <td style="background:#ffffff;text-align:left;font-size:15px;line-height:19px;font-family:Helvetica Neue,helvetica,arial,sans-serif;color:#000000;border-collapse:collapse;border-spacing:0;padding:0;width:49%;vertical-align:middle"><hr style="margin:0;padding:0;border:none;border-bottom:1px solid #ccc"></td>
          </tr>
       </tbody>
    </table>

    <% d["conversations"].each do |c| %>

        <div style="font-size:14px;margin-left:20px;padding:0 0 6px 0">
            <h4 style="font-family:Helvetica Neue,helvetica,arial,sans-serif;font-size:14px;line-height:19px;font-weight:bold;margin:0 0 5px!important;padding:0!important">
             <%= c["subject"] %>
            </h4>
            <div style="padding:0;margin:0 0 10px 0">
            <% c["contextMessages"].each do |m| %>
               <div style="margin:0">
                  <table border="0" cellspacing="0" cellpadding="0" style="background:#ffffff;padding:0;border-top: solid 1px #e9e9e9;width:100%;border-spacing:0;border-collapse:collapse;text-align:left;margin:0!important">
                     <tbody>
                        <tr style="padding:3px 0 3px 0;">
                            <% if d["internalMembers"].include?(m["from"][0]) %>
                                <th style="padding:2px 5px 2px 0;vertical-align:top;width:9%;font-weight:200;text-align:left;padding-right:5px;font-size:12px;color:#888"><%= rounded_initials_single(m["from"][0]) %></th>
                            <% else %>
                                <th style="padding:2px 5px 2px 0;vertical-align:top;width:9%;font-weight:200;text-align:left;padding-right:5px;font-size:12px;color:#888"><%= DateTime.strptime(m["sentDate"].to_s, '%s').strftime('%b %e') %></th>
                            <% end %>

                            <td style="background:#ffffff;text-align:left;font-size:15px;line-height:19px;font-family:Helvetica Neue,helvetica,arial,sans-serif;color:#000000;padding:0;border-collapse:collapse;border-spacing:0;padding-top:2px;padding-bottom:2px;vertical-align:top;width:82%">
                                <span style="font-weight:normal;font-size:14px;line-height:15px;color:#444"><b><%= get_first_names(m["from"], nil) %></b> to <%= get_name_or_everyone(m["to"],m["cc"]) %></span>
                                <br>
                                <span style="font-weight:normal;font-size:12px;line-height:15px;color:grey">
                                    <%= truncate(m["previewContent"], length: 200, separator: ' ') %>
                                </span>              
                            </td> 
                           
                           <% if d["internalMembers"].include?(m["from"][0]) %>
                                <th style="padding:2px 5px 2px 0;vertical-align:top;width:9%;font-weight:200;text-align:left;padding-right:5px;font-size:12px;color:#888"><%= DateTime.strptime(m["sentDate"].to_s, '%s').strftime('%b %e') %></th>
                            <% else %>
                                <th style="padding:2px 5px 2px 0;vertical-align:top;width:9%;font-weight:200;text-align:left;padding-right:5px;font-size:12px;color:#888"><%= rounded_initials_single(m["from"][0]) %></th>
                            <% end %>
                        </tr>
                     </tbody>
                  </table>
               </div>
            <% end %>
            </div>
        </div>
      
    <% end %>

</div>

<% end %>

<h6 style="color:#333;font-family:Helvetica,Arial,sans-serif;font-weight:200;text-align:left;line-height:1.3;margin:0;padding:0;font-size:18px;width:100%;padding-bottom:5px">Who you interacted with</h6>
<table style="border-spacing:0;border-collapse:collapse;padding:0;width:100%;table-layout:fixed">
   <tbody>
      <tr style="padding:0">
         <td width="0%" style="width:0%!important;word-break:break-word;border-collapse:collapse;padding:0;vertical-align:middle;text-align:left;color:#fff;font-family:Helvetica,Arial,sans-serif;font-weight:200;line-height:30px;margin:0;font-size:14px;background-color:#2bb673;height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap"></td>
         <td width="0%" style="width:0%!important;word-break:break-word;border-collapse:collapse;padding:0;vertical-align:middle;text-align:left;color:#fff;font-family:Helvetica,Arial,sans-serif;font-weight:200;line-height:30px;margin:0;font-size:14px;background-color:#cd232a;height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap"></td>
         <td width="71.4%" style="width:71.4%!important;word-break:break-word;border-collapse:collapse;padding:0;vertical-align:middle;text-align:left;color:#fff;font-family:Helvetica,Arial,sans-serif;font-weight:200;line-height:30px;margin:0;font-size:14px;background-color:#f2b336;height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap">&nbsp;&nbsp;Coworkers</td>
         <td width="28.6%" style="width:28.6%!important;word-break:break-word;border-collapse:collapse;padding:0;vertical-align:middle;text-align:left;color:#fff;font-family:Helvetica,Arial,sans-serif;font-weight:200;line-height:30px;margin:0;font-size:14px;background-color:#42bac3;height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap">&nbsp;&nbsp;Others</td>
      </tr>
   </tbody>
</table>

<div style="width:100%;text-align:right;font-size:12px;line-height:25px;color:#888">
    <span style="background-color:#2bb673;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:15px;text-align:center;text-decoration:none;width:15px">&nbsp;</span>&nbsp;0&nbsp;times with Customers 
    <span style="white-space:nowrap">&nbsp;&nbsp;&nbsp;
        <span style="background-color:#cd232a;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:15px;text-align:center;text-decoration:none;width:15px">&nbsp;</span>&nbsp;0&nbsp;with Prospects
    </span>
    <span style="white-space:nowrap">&nbsp;&nbsp;&nbsp;
        <span style="background-color:#f2b336;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:15px;text-align:center;text-decoration:none;width:15px">&nbsp;</span>&nbsp;10&nbsp;with Coworkers
    </span>
    <span style="white-space:nowrap">&nbsp;&nbsp;&nbsp;
        <span style="background-color:#42bac3;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:15px;text-align:center;text-decoration:none;width:15px">&nbsp;</span>&nbsp;4&nbsp;with Others
    </span>
</div>

<table width="200px" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <% a=*(1..14).each do |i| %>
    <td width="0" rowspan="1" valign="bottom">
        <div align="center">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="50%" valign="bottom" >
                    <table width="10" height="<%= i*3 %>" border="0" align="center" bordercolor="#ffffff" bgcolor="#CCCCFF">
                    <tr>
                      <td></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
        </div>
    </td>
    <% end %>  
  </tr>
</table>