<table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;">
  <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
     <td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;" align="left" valign="top">
        <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;">
           <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
              <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;" align="left" valign="top">
                  <div style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;" align="left">
                    Hi <%= @user.first_name %>,
                    <br/>

                    <p>Welcome to ContextSmith's beta preview! ContextSmith is the one place for all your project communication.  We turn your whole team's customer emails into project news feed, so you always know the status of your projects.</p>
                    <p>As preview into our contextual magic, we've summarized the projects you're working on from the last two weeks.  Let us know what you think!</p>

                    Best,<br/>
                    ContextSmith Team

                    <p>P.S. Our next release includes shared project news feed, and is right around the corner. Stay tuned!</p>
                  </div>
              </td>
              <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222;font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top"></td>
           </tr>
        </table>
     </td>
  </tr>
</table>

<table class="row callout" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;">
  <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
     <td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 20px;" align="left" valign="top">
        <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;">
           <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
              <td class="panel" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; background: #ECF8FF; margin: 0; padding: 10px; border: 1px solid #b9e5ff;" align="left" bgcolor="#ECF8FF" valign="top">
                 <p style="color: #222222;font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;" align="left">
                  We'd love to hear your feedback!  Please email us at <a style="color: #2ba6cb; text-decoration: none;" href="mailto:support@contextsmith.com?subject=Feedback!">support@contextsmith.com</a> or follow us on <a style="color: #2ba6cb; text-decoration: none;" href="https://twitter.com/ContextSmith" target="_blank">Twitter</a> for updates.
                  If you love what you see, tell a colleague or friend about us!  <a style="color: #2ba6cb; text-decoration: none;" href="http://contextsmith.com/" target="_blank">ContextSmith.com</a>
                </p>
              </td>
              <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222;font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top"></td>
           </tr>
        </table>
     </td>
  </tr>
</table>

  <!-- Header -->
<table class="row" border="0" cellspacing="0" cellpadding="0" style="background:#ffffff;margin:0;padding:0;border:0;text-align:left;border-collapse:collapse;border-spacing:0">
  <tr>
  <td style="background:#ffffff;text-align:left;font-size:15px;line-height:19px;border-collapse:collapse;padding:0;border-spacing:0;color:#000000;width:49%;vertical-align:middle"><hr style="margin:0;padding:0;border:none;border-bottom:3px solid #e5e5e5"></td>
    <th class="center" style="width:2%;padding:0 10px;white-space:nowrap;vertical-align:middle">
      <center>
        <h1 style="background-color:#ffffff;font-size:32px;font-weight:200;color:#222222;line-height:normal;text-align:center;margin:0 auto">
          Projects Recap<br>
          <span style="font-weight:normal;font-size:16px;font-weight:200;color:#222222;"><%= @start_date %> to <%= @end_date %></span>
        </h1>
      <center>
    </th>
    <td style="background:#ffffff;text-align:left;font-size:15px;line-height:19px;border-collapse:collapse;padding:0;border-spacing:0;color:#000000;width:49%;vertical-align:middle"><hr style="margin:0;padding:0;border:none;border-bottom:3px solid #e5e5e5"></td>
  </tr>
</table>
<div style="width:100%;padding-bottom:20px"></div>

<!-- Email breakdown chart -->
<h2 style="margin:6px 0 9px;font-size:22px;font-weight:200;margin-bottom:20px;color:#333333">Email Activities by Projects:</h6>
<table style="border-spacing:0;border-collapse:collapse;padding:0;width:100%;table-layout:fixed">
 <tbody>
    <tr style="padding:0">
      <% activities_by_projects(@data).each_with_index do |(project,value),index| %>
        <td width="<%= value %>%" style="width:<%= value %>%!important;word-break:break-word;border-collapse:collapse;padding:0;vertical-align:middle;text-align:left;color:#fff;font-weight:200;line-height:30px;margin:0;font-size:12px;background-color:<%= User::PROFILE_COLOR[index%9] %>;height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap">&nbsp;&nbsp;<%= (value.to_i) >= 18 ? truncate(project, length: (value.to_i)) : "" %></td>
      <% end %>
    </tr>
 </tbody>
</table>
<!-- Legend -->
<div style="width:100%;text-align:right;font-size:12px;line-height:25px;color:#888;margin-bottom:30px;">
  <% activities_by_projects(@data).each_with_index do |(project,value),index| %>
    <span style="white-space:nowrap"><% if index != 0 %>&nbsp;&nbsp;&nbsp;<% end %>
      <span style="background-color:<%= User::PROFILE_COLOR[index%9] %>;color:#ffffff;display:inline-block;font-size:13px;font-weight:bold;line-height:15px;text-align:center;text-decoration:none;width:15px">&nbsp;</span>&nbsp;<%= project %>
    </span>
  <% end %>
</div>


<!-- Summary -->
<div style="margin-bottom:0;margin-bottom:30px">
   <h2 style="margin:6px 0 9px;font-size:22px;font-weight:200;margin-bottom:20px;color:#333333"><%= pluralize(@data.size, 'project') %> updated:</h2>

   <ul style="margin:0 0 10px;list-style:none;padding:0">
    <% @data.each do |d| %>

       <li style="margin:10px 0 0 20px;padding:0;list-style-type:none;clear:both;">
         <h3 style="font-weight:600;font-size:18px;margin-bottom:3px;color: #337ab7;"><%= get_account_name(d["topExternalMemberName"], d["topExternalMemberDomain"]) %></h3>

         <!-- metrics -->
          <table class="row">
             <tbody>
                <tr>
                   <td class="wrapper">
                      <table class="three columns" style="width:150px">
                         <tbody>
                            <tr>
                              <td style="color:#3cc5b9;font-size:24px;font-weight:200;padding-right:8px;text-align:center;">
                                <span style="font-size:14px">Last activity <br>
                                <%= time_ago_in_words(DateTime.strptime(d["lastSentDate"].to_s, '%s')) %> ago</span>
                              </td>
                            </tr>
                         </tbody>
                      </table>
                   </td>
                   <td class="wrapper">
                      <table class="three columns" style="width:150px">
                         <tbody>
                            <tr>
                              <td style="color:#e58646;font-size:24px;font-weight:200;padding-right:8px;text-align:center;">
                                <%= d["conversations"].size %><br>
                                <span style="font-size:14px">conversations</span>
                              </td>
                            </tr>
                         </tbody>
                      </table>
                   </td>
                   <td class="expander"></td>
                   <td class="wrapper">
                      <table class="three columns" style="width:150px">
                         <tbody>
                            <tr>
                              <td style="color:#A1C436;font-size:24px;font-weight:200;padding-right:8px;text-align:center;">
                                <%= (d["internalMembers"].nil? ? d["externalMembers"].size : (d["internalMembers"]+d["externalMembers"]).size) %><br>
                                <span style="font-size:14px">collaborators</span>
                              </td>
                            </tr>
                         </tbody>
                      </table>
                   </td>
                   <td class="wrapper last">
                      <table class="three" style="width:150px">
                         <tbody>
                            <tr>
                               <td style="color:#898e95;font-size:24px;font-weight:200;padding-right:8px;text-align:center;">
                                  
                               </td>
                            </tr>
                         </tbody>
                      </table>
                   </td>
                   <td class="expander"></td>
                </tr>
             </tbody>
          </table>

       </li>
       
    <% end %>
   </ul>
</div>

<!-- Project Details -->
<h2 style="margin:6px 0 9px;font-size:22px;font-weight:200;margin-bottom:20px;color:#333333">Project Details:</h2>
<% @data.each_with_index do |d,top_member_index| %>

<div style="padding:0;margin:0;">
    
    <!-- Project Header -->
    <table border="0" cellspacing="0" cellpadding="0" style="background:#ffffff;margin:0;padding:0;border:0;width:100%;text-align:left;border-collapse:collapse;border-spacing:0">
       <tbody>
          <tr>
             <th style="width:1%;padding:0;white-space:nowrap;vertical-align:middle">
                <h2 style="line-height:24px;font-weight:bold;display:inline;background:#ffffff;font-size:20px;color:black;padding-bottom:15px;padding-right:10px;margin:0"><span style="color:#525456;text-decoration:none"><%= get_account_name(d["topExternalMemberName"], d["topExternalMemberDomain"]) %> Conversations</span></h2>
             </th>
             <td style="background:#ffffff;text-align:left;font-size:15px;line-height:19px;color:#000000;border-collapse:collapse;border-spacing:0;padding:0;width:49%;vertical-align:middle"><hr style="margin:0;padding:0;border:none;border-bottom:1px solid #ccc"></td>
          </tr>
       </tbody>
    </table>

    <div style="margin-bottom:15px;margin-top:5px;padding:0">
      
    </div>

    <!-- Project Members -->
    <table border="0" cellspacing="0" cellpadding="0" style="background:#ffffff;margin:0 0 20px 0;padding:0;border:0;width:100%;text-align:left;border-collapse:collapse;border-spacing:0">
      <tbody>
          <tr>
              <th style="padding:0;vertical-align:middle;width:120px;font-weight:normal;text-align:left;font-size:12px;color:#888">Internal (<%= d["internalMembers"].size %>):</th>
              <td style="background:#ffffff;text-align:left;font-size:14px;line-height:19px;color:#000000;border-collapse:collapse;border-spacing:0;padding:0;width:480px;vertical-align:middle">
                  <span style="font-weight:200;font-size:14px;color:#555;"><%= get_first_names(d["internalMembers"], nil) %></span>
              </td>
            </tr>
            <tr>
              <th style="padding:0;vertical-align:middle;width:120px;font-weight:normal;text-align:left;font-size:12px;color:#888">Customer (<%= d["externalMembers"].size %>):</th>
              <td style="background:#ffffff;text-align:left;font-size:14px;line-height:19px;color:#000000;border-collapse:collapse;border-spacing:0;padding:0;width:480px;vertical-align:middle">    
                  <span style="font-weight:200;font-size:14px;color:#555;"><%= get_first_names(d["externalMembers"], nil) %></span>
             </td>
          </tr>
       </tbody>
    </table>

    <% d["conversations"].each do |c| %>
      
        <div style="font-size:14px;margin-left:20px;margin-bottom:20px;padding:0 0 6px 0;">
            <h4 style="font-size:14px;line-height:19px;font-weight:bold;margin:0 0 5px!important;padding:3px 0!important;border-bottom:solid 1px #bbb">
             <%= c["subject"] %>
            </h4>
            <div style="padding:0;margin:0 0 10px 0">
            <% c["contextMessages"].each do |m| %>
               <div style="margin:0">
                  <table border="0" cellspacing="0" cellpadding="0" style="background:#ffffff;padding:0;border:0;width:100%;border-spacing:0;border-collapse:collapse;text-align:left;margin:4px 0!important">
                     <tbody>
                        <tr style="padding:3px 0 3px 0;">
                          <th style="padding:2px 5px 2px 0;vertical-align:top;width:8%;font-weight:200;text-align:left;font-size:12px;color:#888">
                            <% if member_of_group?(d["internalMembers"],m["from"][0]) %>
                                <%= rounded_initials_single(m["from"][0]) %>
                            <% else %>
                                &nbsp;
                            <% end %>
                          </th>

                          <% if member_of_group?(d["internalMembers"],m["from"][0]) %>
                            <td style="word-break:break-word;border-collapse:collapse;padding:0;vertical-align:top;color:#333;margin:0;">
                               <div style="min-height:0;width:0;border-top:8px solid transparent;border-right:8px solid #f4f4f4;border-left:0;border-bottom:8px solid transparent;margin:10px 0"> </div>
                            </td>
                          <% end %>

                          <td style="text-align:left;font-size:15px;line-height:19px;border-collapse:collapse;border-spacing:0;vertical-align:top;width:84%;">
                              <div style="<%= member_of_group?(d["internalMembers"],m["from"][0]) ? "background:#f4f4f4;" : "background:#e2eef7" %>;border-radius:8px;padding:8px 4px 10px 8px;">
                                <span style="font-weight:normal;font-size:14px;line-height:15px;color:#444"><b><%= get_first_names(m["from"], nil) %></b> to <%= get_name_or_everyone(m["to"],m["cc"]) %></span>
                                <span style="font-weight:200;font-size:12px;color:#888;float:right;margin-right:20px;"><%= DateTime.strptime(m["sentDate"].to_s, '%s').strftime('%b %e') %></span>
                                <br>
                                <span style="font-weight:normal;font-size:12px;line-height:15px;color:grey">
                                    <%= truncate(m["previewContent"], length: 140, separator: ' ') %> <a style="color:#337ab7" target="_blank" href="https://mail.google.com/mail/u/?authuser=<%= @user.email %>#inbox/<%= m["gmailMessageId"] %>">(more)</a>
                                </span> 
                              </div>             
                          </td> 

                          <% unless member_of_group?(d["internalMembers"],m["from"][0]) %>
                            <td style="word-break:break-word;border-collapse:collapse;padding:0;vertical-align:top;color:#333;margin:0;">
                               <div style="min-height:0;width:0;border-top:8px solid transparent;border-left:8px solid #e2eef7;border-right:0;border-bottom:8px solid transparent;margin:10px 0"> </div>
                            </td>
                           <% end %> 
                           
                          <th style="padding:2px 5px 2px 0;vertical-align:top;width:8%;font-weight:200;font-size:12px;color:#888;">
                            <% if member_of_group?(d["internalMembers"],m["from"][0]) %>
                                &nbsp;
                            <% else %>
                                <%= rounded_initials_single(m["from"][0]) %>
                            <% end %>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                </div>
              <% end %>
            </div>
          </div>

    <% end %>

</div>

<% end %>