<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Search</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li class="active">
                <strong>Search</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <h2 class="results-summary">
                <%= @activities.size %> results found for: <span class="text-navy">“<%= @project.name %>: <%= params[:query] %>”</span>
            </h2>
        </div>
        <% if @activities.size > 0 %>
            <% @activities.each do |a| %>
                <div class="search-result">
                    <div class="chat-discussion">
                        <h3><a href="#"><%= a.title %></a> <small class="m-l-md"><%= get_conversation_member_names(a.from, a.to, a.cc) %></small></h3>
                        
                        <% a.email_messages.each do |m| %>
                            <div class="hidden-chat-message-<%= a.id.to_s %>"  <% if a.email_messages.last != m %> style="display:none;" <% end %>>
                                <div class="chat-message <%= is_internal_domain?(m.from[0].address) ? "left" : "right" %>">
                                    <%= get_profile_pic(m.from[0].personal, m.from[0].address, "message-avatar") %>
                                    <div class="message">
                                        <span class="message-author" href="#"> <%= m.from[0].personal %> </span> to <%= get_conversation_member_names([], m.to, m.cc, "All") %>
                                        <span class="message-date"><%= Time.zone.at(m.sentDate).strftime("%b %d") %></span>
                                        <hr class="message-divider"/>
                                        <span class="message-content">
                                            <%= if m.content.nil? || m.content.is_a?(String) 
                                                    simple_format(m.content)
                                                else
                                                    simple_format(m.content.body)
                                                end %>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
                
                <div class="text-center" style="display: none;">
                    <div class="btn-group">
                        <button class="btn btn-white" type="button"><i class="fa fa-chevron-left"></i></button>
                        <button class="btn btn-white">1</button>
                        <button class="btn btn-white  active">2</button>
                        <button class="btn btn-white">3</button>
                        <button class="btn btn-white">4</button>
                        <button class="btn btn-white" type="button"><i class="fa fa-chevron-right"></i> </button>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
</div>
</div>

