<div class="tasks">
  <input type="checkbox" class="i-checks" id="<%= n.id %>" <%= "checked" if n.is_complete %> >
  <div class="task">
	  <p><%= n.name %> &nbsp; <% if n.category == Notification::CATEGORY[:Alert] %> <span class="label label-danger label-outlined label-xs" style="vertical-align: middle">Alert</span><% end %></p>  

		<small>Assigned: <%= best_in_place n, :assign_to, :as => :select, :collection => @users_reverse, :place_holder => '(none)', :activator => "#task-#{n.id}-assignee-activator" %>
	    <i id="task-<%= n.id %>-assignee-activator" class="fa fa-caret-down bip_activator text-mute-gray"></i></small>

		&nbsp;

	  <% if n.original_due_date.nil? %>
	        <small><%= best_in_place n, :original_due_date, :as => :date, :place_holder => 'set due date', :inner_class => "due_date_datepicker", :activator => "#task-#{n.id}-due-date-activator" %></small>
	    <% else %>
	        <small>
		        <%= best_in_place n, :original_due_date, :as => :date, :place_holder => 'set due date', :innner_class => "due_date_datepicker", :display_with => Proc.new { Time.zone.at(n.original_due_date).strftime("%a, %b %-d")}, :activator => "#task-#{n.id}-due-date-activator" %>
		        <% if !n.is_complete && Time.zone.at(n.original_due_date).strftime('%Y-%m-%d') < Time.zone.at(Time.now.utc).strftime('%Y-%m-%d')  %>
		            <i class="fa fa-exclamation-circle" aria-hidden="true" style="color:red" data-toggle="overdue" data-placement="right" data-original-title="Overdue!"></i>
		        <% elsif !n.is_complete && Time.zone.at(n.original_due_date).strftime('%Y-%m-%d') == Time.zone.at(Time.now.utc).strftime('%Y-%m-%d')  %>
		            <i class="fa fa-exclamation-circle" aria-hidden="true" style="color:#33adff" data-toggle="overdue" data-placement="right" data-original-title="Due Today!"></i>
		        <% else %>
		        <% end %>
	        </small>
	    <% end %>
			<i id="task-<%= n.id %>-due-date-activator" class="fa fa-caret-down bip_activator text-mute-gray"></i>
	</div>
</div>