<% unless notifications.empty? %>
<% multi_table ||= "notifications-table" %>
<table class="table responsive no-wrap no-margins" id=<%= multi_table %> cellspacing="0" width="100%">
  <thead>
    <tr>
      <th></th>
      <th>Type  <i class="fa fa-question-circle tool-tip-category" data-placement="right" ></i></th>
      <th class="col-md-4">Task</th>
      <% unless multi_table == "timeline-block-notification-table" %><th></th><% end %>
      <% if params[:controller] == "notifications" or params[:controller] == "home" %><th>Stream</th> <% end %>
      <th>Assign</th>
      <th>Due </th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% notifications.each do |n| %>
      <% if n.is_complete %>
        <tr style="height:70px; opacity: 0.5;" bgcolor="#eeeeee">
      <% else %>
        <tr style="height:70px;" id=<%="notification_row_"+n.id.to_s  %>>
      <% end %>
        <td> 
          <input type="checkbox" class="i-checks" id=<%= n.id %> <% if n.is_complete %> checked <% end %> >
        </td>
        <td>
          <% if n.category == Notification::CATEGORY[:Action] %>
            <span class="label label-primary">
          <% elsif n.category == Notification::CATEGORY[:Opportunity] %>
            <span class="label label-success">
          <% elsif n.category == Notification::CATEGORY[:Todo] %>  
            <span class="label label-info">
          <% else %>
            <span class="label label-danger">
          <% end %>
            <%= n.category%>
            </span>
        </td>
        <td>
          <div class="task-name">
            <span class="in-bl max-w-lg"><%= best_in_place n, :name, :as => :input, :place_holder => '(no title)', :activator => "#task-#{n.id}-name-activator" %></span>
            <% unless n.category == Notification::CATEGORY[:Action] || n.category == Notification::CATEGORY[:Opportunity] || n.category == Notification::CATEGORY[:Risk] %>
            <i id="task-<%= n.id %>-name-activator" class="fa fa-pencil fa-lg m-l-xs bip_activator text-mute-gray vtop edit-task"></i>
            <% end %>
          </div>
          <div class="task-desc">
            <small class="in-bl max-w-lg"><%= best_in_place n, :description, :as => 'textarea', :place_holder => '(no description)', :inner_class => 'col-sm-12', :cancel_button => 'Cancel', :cancel_button_class => 'btn btn-secondary btn-xs', :ok_button => 'Ok', :ok_button_class => 'btn btn-primary btn-xs', :activator => "#task-#{n.id}-description-activator" %></small>
            <% unless n.category == Notification::CATEGORY[:Action] || n.category == Notification::CATEGORY[:Opportunity] || n.category == Notification::CATEGORY[:Risk] %>
            <i id="task-<%= n.id %>-description-activator" class="fa fa-pencil m-l-xs bip_activator text-mute-gray vtop edit-task"></i>
            <% end %>
          </div>      
        </td>
        <% unless multi_table == "timeline-block-notification-table" %>
        <td>
            <% if n.category == Notification::CATEGORY[:Action] || n.category == Notification::CATEGORY[:Opportunity] || n.category == Notification::CATEGORY[:Risk] %>
            <div class="hoverToolTip" data-placement="right" data-id="<%=n.id %>">
              <a href="<%= "/projects/" + n.project_id.to_s+'#'+n.conversation_id.to_s %>"><i class="fa fa-info" aria-hidden="true"></i></a>
            </div>
            <% end %>
        </td>
        <% end %>
        <% if params[:controller] == "notifications" or params[:controller] == "home" %>
        <td>
          <%= best_in_place n, :project_id, :as => :select, :collection => @projects_reverse, :place_holder => '(change project)', :activator => "#task-#{n.id}-project-activator" %>
          <% unless n.category == Notification::CATEGORY[:Action] || n.category == Notification::CATEGORY[:Opportunity] || n.category == Notification::CATEGORY[:Risk] %>
          <i id="task-<%= n.id %>-project-activator" class="fa fa-caret-down bip_activator text-mute-gray"></i>
          <% end %>
        </td>
        <% end %>
        <td>
          <%= best_in_place n, :assign_to, :as => :select, :collection => @users_reverse, :place_holder => '(none)', :activator => "#task-#{n.id}-assignee-activator" %>       
          <i id="task-<%= n.id %>-assignee-activator" class="fa fa-caret-down bip_activator text-mute-gray"></i>
        </td>
        <td>
          <% if n.original_due_date.nil? %>
              <%=best_in_place n, :original_due_date, :as => :date, :place_holder => '(none)', :inner_class => "due_date_datepicker", :activator => "#task-#{n.id}-due-date-activator" %>
          <% else %>
              <%=best_in_place n, :original_due_date, :as => :date, :place_holder => '(none)', :innner_class => "due_date_datepicker", :display_with => Proc.new { Time.zone.at(n.original_due_date).strftime('%Y-%m-%d')}, :activator => "#task-#{n.id}-due-date-activator" %>
              <% if !n.is_complete && Time.zone.at(n.original_due_date).strftime('%Y-%m-%d') < Time.zone.at(Time.now.utc).strftime('%Y-%m-%d')  %>
                  <i class="fa fa-exclamation-circle" aria-hidden="true" style="color:red" data-toggle="overdue" data-placement="right" data-original-title="Overdue!"></i>
              <% end %>
          <% end %>
          <i id="task-<%= n.id %>-due-date-activator" class="fa fa-caret-down bip_activator text-mute-gray"></i>
        </td>
        <td>
          <div><%=Time.zone.at(n.created_at).strftime('%Y-%m-%d') %> <span style="display:none"><%=Time.zone.at(n.created_at).strftime('%H:%M:%S') %></span></div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<script>

$('.hoverToolTip').tooltip({
    title: hoverGetData,
    html: true,
    container: 'body'
    });

 
$('.tool-tip-category').tooltip({   
    title: "<p style=\"line-height:20px;\"><b>Smart Action:</b> Tasks with due dates that are automatically detected from the email body.<br>"+
           "<b>Risk:</b> Negative sentiment detected in email body.<br>"+
           "<b>Opportunity:</b> Streams that have been inactive for 30+ days and is an opportunity to follow up.<br>"+
           "<b>To-do:</b> Manually generated task.<p>",
    html: true,
    container: 'body'
});

$('.tool-tip-category').hover(function(){
    $('.tooltip-inner').css('max-width', '600px');
    $('.tooltip-inner').css('padding', '2px 2px');
    $('.tooltip-inner').css('opacity', '1');
    $('.tooltip-inner').css('background-color', '#2f4050');
    $('.tooltip-inner').css('color', 'white');
    
    $('.tooltip-arrow').css('opacity', '0');

});


$('[data-toggle="overdue"]').tooltip();   

$('[data-toggle="overdue"]').hover(function(){
    $('.tooltip-inner').css('max-width', '64px');
    $('.tooltip-inner').css('padding', '2px 2px');
    $('.tooltip-inner').css('opacity', '1');
    $('.tooltip-inner').css('background-color', 'grey');
    $('.tooltip-inner').css('color', 'white');
    
    $('.tooltip-arrow').css('opacity', '0');
});

var cachedData = Array();

function hoverGetData(){
    var element = $(this);

    var id = element.data('id');
   
    if(id in cachedData){
        return cachedData[id];
    }

    var localData = "error";

   $.ajax('/notifications/show_email_body/'+id, {
        async: false,
        success: function(data){
            localData = data;
        }
    });

    cachedData[id] = localData;
    return localData;
}

$('.hoverToolTip').hover(function(){
    $('.tooltip-inner').css('background-color', 'white');
    $('.tooltip-inner').css('color', 'black');
    $('.tooltip-inner').css('opacity', '1');
    $('.tooltip-inner').css('padding', '20px 20px');
    $('.tooltip-inner').css('max-width', '512px');
    $('.tooltip-inner').css('text-align', 'left');
    
    $('.tooltip').css('background-color', 'white');
    $('.tooltip').css('opacity', '1');
    $('.tooltip').css('border-style','solid');
    $('.tooltip').css('border-width', '1px');
    $('.tooltip').css('border-color', '#eeeeee');
    $('.tooltip').css('boxShadow', '0px 0px 20px #aaaaaa');

    $('.tooltip-inner-content').css('margin-bottom', '7px');
    $('.tooltip-arrow').css('opacity', '0');
});
</script>