<% remote ||= false %>
<% url ||= user_session_path %>
<% button_text ||= 'Log In' %>

<a id="google-login" class="btn btn-lg btn-primary oauth" href="<%= user_omniauth_authorize_url(:google_oauth2) %>"><i class="fa fa-google oauth"></i>&nbsp;&nbsp;&nbsp;<span class="bold"><%= button_text %> Using Google</span></a>

<button id="outlook-login" class="btn btn-lg btn-primary oauth m-t-lg"><img src="/assets/images/outlook-logo-white.png" width="26" height="26" /></i>&nbsp;&nbsp;&nbsp;<span class="bold"><%= button_text %> Using Outlook</span></button>

<%= simple_form_for :user, url: url, remote: remote, html: {role: :form, 'data-model' => 'user', id: 'new_user', style: "display:none;", class: "form-horizontal"}, wrapper: :horizontal_form  do |f| %>

  <%# Added Bootstrap classes, and help-block container for error messages %>
  <span class="help-block" style="color:red"><%= @error %></span>
  <%= f.input :email, :required => true %>
  <%= f.input :password, :required => true %>
  <% if @hostname %>
  <%= f.input :hostname, :placeholder => 'e.g. https://outlook.office365.com/EWS/Exchange.asmx' %>
  <% end %>

  <%= f.button :button, button_text, id: "outlook-login-submit", class: 'btn btn-primary' %>
 
<% end %>
<script type="text/javascript">
  $('#outlook-login').click(function () {
    $(this).hide();
    $('#google-login').hide();
    $('#new_user').show();
  });

<% if @error %>
  $('#outlook-login').click();
<% end %>

  $('#new_user').submit(function () {
    $('#outlook-login-submit').html('<i class="fa fa-spinner fa-pulse"></i>').prop("disabled", true);
  });
</script>