<style type="text/css">
  .opp-chart {
    height: 18em;
  }
</style>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>Most Active (30d)</h2>
                    <!-- <i class="fa fa-question-circle m-l-xs m-t-xs" data-toggle="tooltip" data-placement="top" data-original-title="Opportunities with most activity during the last 7 days."></i> -->
                </div>
                <div id="chart-left" class="ibox-content opp-chart"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>Time Spent (30d)</h2>
                    <!-- <i class="fa fa-question-circle m-l-xs m-t-xs" data-toggle="tooltip" data-placement="top" data-original-title="Opportunities with least activity during the last 7 days."></i> -->
                </div>
                <div id="customers-interaction-chart" class="ibox-content opp-chart"></div>
            </div>
        </div>
      <!-- TODO: refactor home/top_dashboard.js so that we don't need a div#chart-right here to avoid javascript error -->
        <div id="chart-right"></div>
    </div>

  <div class="row m-b-sm filter-group">
      <!-- Empty div here to push warning and filter to right side -->
      <div class="col-sm-3"></div>
      <div class="col-sm-6" style="width: 50%; height: 10%; padding-top: 9px">
          <% if @current_user_projects.blank? %> <span style="float: right"><i class="fa fa-exclamation-triangle fa-lg" style="color: <%= ApplicationHelper::CONTEXTSMITH_DARKBLUE %>"></i>&nbsp;The current filter setting has filtered out all opportunities.</span><% end %>
      </div>
      <select id="close-date-filter" class="col-sm-3" data-placeholder="Filter by Close Date" style="width: 24%">
          <option value="Any"></option> <!-- no filter -->
          <optgroup label="By Close Date">
              <option <%= 'selected' if params[:close_date] == Project::CLOSE_DATE_RANGE[:Open] %> ><%= Project::CLOSE_DATE_RANGE[:Open] %></option>
              <option <%= 'selected' if params[:close_date] == Project::CLOSE_DATE_RANGE[:Closed] %> ><%= Project::CLOSE_DATE_RANGE[:Closed] %></option>
          </optgroup>
          <optgroup label="Quarter">
              <option <%= 'selected' if params[:close_date] == Project::CLOSE_DATE_RANGE[:ThisQuarterOpen] %> ><%= Project::CLOSE_DATE_RANGE[:ThisQuarterOpen] %></option>
              <option <%= 'selected' if params[:close_date] == Project::CLOSE_DATE_RANGE[:ThisQuarter] %> ><%= Project::CLOSE_DATE_RANGE[:ThisQuarter] %></option>
              <option <%= 'selected' if params[:close_date] == Project::CLOSE_DATE_RANGE[:LastQuarter] %> ><%= Project::CLOSE_DATE_RANGE[:LastQuarter] %></option>
              <option <%= 'selected' if params[:close_date] == Project::CLOSE_DATE_RANGE[:NextQuarter] %> ><%= Project::CLOSE_DATE_RANGE[:NextQuarter] %></option>
          </optgroup>
          <optgroup label="x-To-Date">
              <option <%= 'selected' if params[:close_date] == Project::CLOSE_DATE_RANGE[:QTD] %> ><%= Project::CLOSE_DATE_RANGE[:QTD] %></option>
              <option <%= 'selected' if params[:close_date] == Project::CLOSE_DATE_RANGE[:YTD] %> ><%= Project::CLOSE_DATE_RANGE[:YTD] %></option>
          </optgroup>
      </select>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Forecast</h3>
                </div>
                <div id="forecast-chart" class="ibox-content opp-chart"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Stages</h3>
                </div>
                <div id="stage-chart" class="ibox-content opp-chart"></div>
            </div>
        </div>
    </div>

    <div class="row ibox float-e-margins">
        <div class="col-sm-12">
            <div class="ibox-title">
                <table>
                    <tbody>
                        <tr>
                            <td><h2 id="opportunities">My Opportunities<h2></h2>
                            <td>&nbsp;<i class="fa fa-question-circle m-l-xs m-t-xs" data-toggle="tooltip" data-placement="top" data-original-title="You own or to which you are subscribed."></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="ibox-content">
                <table class="table table-hover nowrap" id="projects-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th><%= Project::MAPPABLE_FIELDS_META["stage"] %></th>
                            <th><%= Project::MAPPABLE_FIELDS_META["amount"] %></th>
                            <th><%= Project::MAPPABLE_FIELDS_META["forecast"] %></th>
                            <th>Owner</th>
                            <th></th>
                            <th>Next Steps</th>
                            <th>Next Meeting</th>
                            <th>Close Date</th>
                            <th>Alerts & Tasks</th>
                            <th>Last 7d Activity</th>
                            <th>Days Inactive</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @projects.each do |p| %>
                            <tr>
                                <td>
                                    <div>
                                        <% if @salesforce_base_URL.present? && p.salesforce_opportunity.present? %>
                                            <a href="<%= @salesforce_base_URL + "/" + p.salesforce_opportunity.salesforce_opportunity_id %>" target="_blank"><%= p.name %></a>
                                        <% else %> 
                                            <%= p.name %>
                                        <% end %> 
                                    </div>
                                    <div class="m-t-xs"><small>
                                        <% if @salesforce_base_URL.present? && p.salesforce_opportunity.present? && p.salesforce_opportunity.salesforce_account_id.present? %>
                                            <a class="link-muted" href="<%= @salesforce_base_URL + "/" + p.salesforce_opportunity.salesforce_account_id %>" target="_blank"><%= p.account.name %></a>
                                        <% else %> 
                                            <%= p.account.name %>
                                        <% end %> 
                                    </small></div>
                                </td>
                                <td class="editable-field project-editable-field project-stage-td-<%= p.id %>"><%= best_in_place p, :stage, :as => :select, :collection => @opportunity_stages.map {|s| [s,s]}, inner_class: 'bip-select-input', activator: '.project-stage-td-'+p.id %>&nbsp;&nbsp;<i class="fa fa-pencil editable-field-activator"></i> </td>
                                <td class="editable-field project-editable-field project-amount-td-<%= p.id %>"><%= best_in_place p, :amount, display_with: lambda { |v| v.blank? ? '-' : '$' + number_to_human(v) }, inner_class: 'bip-text-input', activator: '.project-amount-td-'+p.id %>&nbsp;&nbsp;<i class="fa fa-pencil editable-field-activator"></i> </td>
                                <td class="editable-field project-editable-field project-forecast-td-<%= p.id %>"><%= best_in_place p, :forecast, :as => :select, :collection => @opportunity_forecast_categories.map {|s| [s,s]}, inner_class: 'bip-select-input', activator: '.project-forecast-td-'+p.id %>&nbsp;&nbsp;<i class="fa fa-pencil editable-field-activator"></i> </td>
                                <td class="editable-field project-editable-field project-owner-td-<%= p.id %>">
                                  <% if (p.owner_id.nil? || p.owner_id == current_user.id) || current_user.admin? %>
                                    <%= best_in_place p, :owner_id, :as => :select, :collection => @users_reverse, inner_class: 'bip-select-input', activator: '.project-owner-td-'+p.id %>&nbsp;&nbsp;<i class="fa fa-pencil editable-field-activator"></i>
                                  <% else %>
                                    <%= get_full_name(p.project_owner) %>
                                  <% end %></td>
                                <td style="width: 40px">
                                  <% all_members_size = p.users.count + p.contacts.count %>
                                  <span><i class="fa fa-users" style="color:#888"></i> <%= all_members_size %></span>
                                </td>
                                <% ns_activity = p.activities.where(category: Activity::CATEGORY[:NextSteps]).first
                                   ns_updated_at = ns_activity.blank? ? '' : '<small class="text-muted">Updated '.html_safe + time_ago_in_words(ns_activity.last_sent_date.in_time_zone(current_user.time_zone)) + ' ago</small>'.html_safe %>
                                <td class="editable-field project-editable-field project-next-steps-td-<%= p.id %>">
                                  <%= best_in_place p, :next_steps, as: :textarea, ok_button: 'Ok', ok_button_class: 'btn btn-xs btn-primary', inner_class: 'bip-textarea-input', display_with: lambda { |v| simple_format(truncate(word_wrap(CGI.escape_html(v.blank? ? '(none)' : v), line_width: 160), length: 300, separator: '\n') ) }, activator: '.project-next-steps-td-'+p.id %>
                                  <i class="fa fa-pencil editable-field-activator"></i>
                                  <p class="m-b-none"><%= ns_updated_at %></p>
                                </td>
                                <% next_meeting = @next_meetings[p.id].nil? ? "-" : @next_meetings[p.id].strftime('%B %-d (%a) %l:%M%P') %>
                                <% next_meeting_ts = @next_meetings[p.id].nil? ? 0 : @next_meetings[p.id].to_i %>
                                <td data-order="<%= next_meeting_ts %>" style="text-align:center"><%= next_meeting %></td>
                                <td style="text-align:center;" class="editable-field project-editable-field project-close-date-td-<%= p.id %>"><%= best_in_place p, :close_date, as: :date, class: ('text-danger' if p.close_date.present? && p.close_date < Time.current), display_with: lambda { |v| v.blank? ? '-' : v.strftime('%b %-d') }, activator: '.project-close-date-td-'+p.id %>&nbsp;&nbsp;<i class="fa fa-pencil editable-field-activator"></i></td>
                                <td style="text-align:center;" class="<%= @open_risk_count[p.id] > 0 ? 'text-danger' : '' %>"><%=@open_risk_count[p.id].to_s %></td>
                                <td data-sparkline="<%= @sparkline[p.id].join(', ') %>; column"></td>
                                <td style="text-align:center"><%= @project_days_inactive[p.id].nil? ? "-" : @project_days_inactive[p.id] %></td>
                                <td style="width: 120px">
                                    <span data-toggle="tooltip" data-placement="left" data-original-title="Subscribe to daily updates and alerts." data-delay='{"show":"300"}'>
                                    <% if p.daily %>
                                        <%= link_to "<i class=\"fa fa-check\"></i> Daily".html_safe, project_project_subscriber_path(project_id: p.id, user_id: current_user.id) + "?type=daily", remote: true, method: :delete, id: "project-index-unfollow-daily-#{p.id}", class: "block m-b-xs", title: "Following daily" %>
                                    <% else %>
                                        <%= link_to "<i class=\"fa fa-bell-o\"></i> Daily".html_safe, project_project_subscribers_path(project_id: p.id, user_id: current_user.id) + "&type=daily", remote: true, method: :post, id: "project-index-follow-daily-#{p.id}", class: "block m-b-xs", title: "Follow daily" %>
                                    <% end %>
                                    </span>
                                    <span data-toggle="tooltip" data-placement="left" data-original-title="Subscribe to weekly updates and alerts." data-delay='{"show":"300"}'>
                                    <!-- TODO: Uncomment below to undo #1011 -->
                                    <% if p.weekly %>
                                        <!-- < %= link_to "<i class=\"fa fa-check\"></i> Weekly".html_safe, project_project_subscriber_path(project_id: p.id, user_id: current_user.id) + "?type=weekly", remote: true, method: :delete, id: "project-index-unfollow-weekly-#{p.id}", class: "block m-b-xs", title: "Following weekly" %> -->
                                    <% else %>
                                        <!-- < %= link_to "<i class=\"fa fa-bell-o\"></i> Weekly".html_safe, project_project_subscribers_path(project_id: p.id, user_id: current_user.id) + "&type=weekly", remote: true, method: :post, id: "project-index-follow-weekly-#{p.id}", class: "block m-b-xs", title: "Follow weekly" %> -->
                                    <% end %>
                                    </span>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

   
</div>
<!-- Load home.js for now to initialize DataTable and render sparklines -->
<!-- TODO: See if we need to move this to extension.js file to make some changes -->
<%= javascript_include_tag "home" %>

<script type="text/javascript">
    $(document).ready(function() {

        $('#chart-left').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: ''
            },
            // subtitle: {
            //     text: ' ',
            //     align: 'center',
            //     y: 40
            // },
            xAxis: {
                max: undefined,
                crosshair: true,
                labels: {
                    // style: {"cursor": "pointer"}, // whiteSpace: 'nowrap', textOverflow: 'none'
                    formatter: function () {
                        // this.value = [project_name, deal_size, close_date, project_id]
                        // return '<a href="/projects/' + this.value[3] + '">' + this.value[0] + '</a><br/>' + this.value[1] + (this.value[1] != "" && this.value[2] != "" ? ", " : "" ) + this.value[2];
                      return "<b>" + this.value[0] + "</b><br/>" + this.value[1] + (this.value[1] != "" && this.value[2] != "" ? ", " : "" ) + this.value[2];
                    }
                }
            },
            yAxis: {
                min: 0,
                // max: 100,
                opposite: true,
                title: {
                    text: ''
                },
                gridLineWidth: 0,
                labels: {
                    enabled: false
                },
                stackLabels: {
                    enabled: true
                }
            },
            tooltip: {
                headerFormat:  '',
                pointFormatter: function() {
                    // this.category = [project_name, deal_size, close_date]
                    return '<span style="font-size: 10px">' + this.category[0] + '</span><br/><span style="color:' + this.color + '">\u25CF</span>  ' + this.series.name + ': <b>' + this.y + '</b>';
                }
            },
            legend: {
              enabled: false,
              // verticalAlign: 'top',
              // itemStyle: {
              //     fontWeight: 'light',
              //     fontSize: 12         
              // }
            },
            plotOptions: {
                series: {
                    stacking: 'normal',
                    cursor: 'pointer',
                    pointWidth: 33,
                    //maxPointWidth: 75,
                    // point: {
                    //     events: {
                    //         click: function () {
                    //             window.location.assign("/projects/"+ this.options.id);
                    //             //window.open("/projects/"+ this.options.id);
                    //         }
                    //     }
                    // }
                },
                allowPointSelect: false
            },
            credits: {
                enabled: false
            }
        });

        // $('#chart-center').highcharts({
        //     chart: {
        //         type: 'bar'
        //     },
        //     title: {
        //         text: ''
        //     },
        //     // subtitle: {
        //     //     text: ' ',
        //     //     align: 'center',
        //     //     y: 40
        //     // },
        //     xAxis: {
        //         max: undefined,
        //         crosshair: true,
        //         labels: {
        //             style: {"cursor": "pointer"}, // whiteSpace: 'nowrap', textOverflow: 'none'
        //             formatter: function () {
        //                 // this.value = [project_name, deal_size, close_date, project_id]
        //                 return '<a href="/projects/' + this.value[3] + '">' + this.value[0] + '</a><br/>' + this.value[1] + (this.value[1] != "" && this.value[2] != "" ? ", " : "" ) + this.value[2];
        //             }
        //         }
        //     },
        //     yAxis: {
        //         min: 0,
        //         // max: 100,
        //         opposite: true,
        //         title: {
        //             text: ''
        //         },
        //         gridLineWidth: 0,
        //         labels: {
        //             enabled: false
        //         },
        //         stackLabels: {
        //             enabled: true
        //         }
        //     },
        //     tooltip: {
        //         headerFormat:  '',
        //         pointFormatter: function() {
        //             // this.category = [project_name, deal_size, close_date]
        //             return '<span style="font-size: 10px">' + this.category[0] + '</span><br/><span style="color:' + this.color + '">\u25CF</span>  ' + this.series.name + ': <b>' + this.y + '</b>';
        //         }
        //     },
        //     legend: {
        //       enabled: false,
        //       // verticalAlign: 'top',
        //       // itemStyle: {
        //       //     fontWeight: 'light',
        //       //     fontSize: 12
        //       // }
        //     },
        //     plotOptions: {
        //         series: {
        //             stacking: 'normal',
        //             cursor: 'pointer',
        //             pointWidth: 33,
        //             //maxPointWidth: 75,
        //             point: {
        //                 events: {
        //                     click: function () {
        //                         window.location.assign("/projects/"+ this.options.id);
        //                     }
        //                 }
        //             }
        //         },
        //         allowPointSelect: false
        //     },
        //     credits: {
        //         enabled: false
        //     }
        // });

      /*
        Formats seconds into h:mm format
        e.g., convert_secs_to_hhmm(59)      => "0:00"
              convert_secs_to_hhmm(60)      => "0:01"
              convert_secs_to_hhmm(61)      => "0:01"
              convert_secs_to_hhmm(3599);   => "0:59"
              convert_secs_to_hhmm(3600);   => "1:00"
              convert_secs_to_hhmm(86399);  => "23:59"
              convert_secs_to_hhmm(86400);  => "24:00"
              convert_secs_to_hhmm(172800); => "48:00"
      */
      function convert_secs_to_hhmm(secs, includeHrLabel) {
        var hours = Math.floor(secs / 3600);
        var mins = Math.floor((secs - hours*3600) / 60);
        return hours + ":" + ("00" + mins).slice(-2) + (includeHrLabel ? (hours > 1 ? " hrs" : " hr") : "" );
      }
      $('#customers-interaction-chart').highcharts({
        chart: {
          type: 'bar',
          marginRight: 25
        },
        credits: false,
        title: {
          // text: 'Time Spent (Last 14 days)',
          // align: 'left',
          // style: {
          //   color: '#777777',
          //   fontSize: '16px'
          // }
          text: ''
        },
        // subtitle: {
        //   text: '(in hh:mm)',
        //   align: 'left'
        // },
        tooltip: {
          headerFormat: '',
          pointFormatter: function() {
            return '<span style="font-size: 10px">' + this.category[0] + '</span><br/><span style="color:' + this.color + '">\u25CF</span>  ' + this.series.name + ': <b>' + convert_secs_to_hhmm(this.y) + '</b>';
          }
        },
        xAxis: {
          categories: <%= @interaction_time_per_account.map { |it| [it.name, (it.deal_size.nil? ? "" : "$"+number_to_human(it.deal_size)), (it.close_date.nil? ? "" : it.close_date.strftime('%b%e')), it.id] }.to_json.html_safe if @interaction_time_per_account.present? %>,
          labels: {
            formatter: function () {
              // this.value = [project_name, deal_size, close_date, project_id]
              return "<b>" + this.value[0] + "</b><br/>" + this.value[1] + (this.value[1] != "" && this.value[2] != "" ? ", " : "" ) + this.value[2];
            }
          }
        },
        yAxis: {
          min: 0,
          minTickInterval: 60,
          // tickAmount: 5,
          startOnTick: true,
          title: {
            text: ''
          },
          labels: {
            formatter: function() {
              return convert_secs_to_hhmm(this.value);
            }
          },
          stackLabels: {
            enabled: true,
            formatter: function () {
              return convert_secs_to_hhmm(this.total);
            },
            style: {
              color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
            }
          }
        },
        legend: {
          enabled: false
        },
        plotOptions: {
          series: {
            // cursor: 'pointer',
            // point: {
            //   events: {
            //     click: function () {
            //       $.get("ad_account_data/" + this.options.id, function (data) {
            //         $("#opportunity-profile").html(data);
            //         $('#opportunity-modal').modal('show')
            //         renderProjectCharts(this.y);
            //       });
            //     }
            //   }
            // },
            stacking: 'normal'
          }
        },
        series: [
          <% %i(Meetings Attachments Read\ E-mails Sent\ E-mails).each do |category| %>
          {
            name: '<%= category %>',
            color: "<%= highcharts_series_color(category.to_s) %>",
            data: [
              <% @interaction_time_per_account.each do |it| %>
              {
                y: <%= it.send(category) %>,
                id: "<%= it.id %>"
              },
              <% end if @interaction_time_per_account.present? %>
            ]
          },
          <% end %>
        ]
      });

        // $('#forecast-chart').highcharts({
        //   chart: {
        //     type: 'column'
        //   },
        //   title: {
        //     text: ''
        //   },
        //   credits: {
        //     enabled: false
        //   },
        //   xAxis: {
        //     crosshair: true,
        //     labels: {
        //       style: {
        //         fontSize: '9px'
        //       }
        //     }
        //   },
        //   yAxis: {
        //     min: 0,
        //     title: {
        //       text: ''
        //     },
        //     labels: {
        //       enabled: false
        //     },
        //     stackLabels: {
        //       enabled: true,
        //       formatter: function () {
        //         return "$"+large_number_to_human_signif_digits(this.total);
        //       },
        //       style: {
        //         color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
        //       }
        //     }
        //   },
        //   tooltip: {
        //     enabled: true,
        //     formatter: function () {
        //       return '$' + large_number_to_human_signif_digits(this.total) + ' in ' + this.x;
        //     }
        //   },
        //   legend: {
        //     enabled: false
        //   },
        //   plotOptions: {
        //     column: {
        //       stacking: 'normal',
        //       pointPadding: 0.2,
        //       borderWidth: 0,
        //       dataLabels: {
        //         enabled: false,
        //         format: '${y}',
        //         style: {
        //           color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
        //         }
        //       }
        //     },
        //     series: {
        //       pointPadding: 0.1,
        //       groupPadding: 0,
        //       borderWidth: 0,
        //       point: {
        //         events: {
        //           click: function () {
        //             this.select(!this.selected, true);
        //           }
        //         }
        //       }
        //     }
        //   }
        // });
      $('#forecast-chart').highcharts({
        chart: {
          type: 'area'
        },
        credits: {
          enabled: false
        },
        title: {
          text: ''
        },
        xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: { // don't display the dummy year
            month: '%e. %b',
            year: '%b'
          },
          title: {
            text: ''
          }
        },
        yAxis: {
          title: {
            text: 'Amount ($)'
          },
          min: 0,
          // labels: {
          //   formatter: function() {
          //     return '$'+this.value / 1000000 + 'M';
          //   }
          // }
        },
        tooltip: {
          //headerFormat: '<b>{series.name}</b><br>'
          //pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
          pointFormat: '${point.y}'
        },
        plotOptions: {
          line: {
            marker: {
              enabled: false
            }
          }
        },
        legend: {
          layout: 'vertical',
          align: 'left',
          verticalAlign: 'top',
          x: 70,
          y: 0,
          floating: true
        },
        series: [{
          name: 'Closed Won',
          step: true,
          color: 'rgb(85,222,210)',
          data: <%= @forecast_data[:closed_won][:values].to_json.html_safe if @forecast_data.present? %>
        }, {
          name: 'Commit',
          step: true,
          type: 'line',
          color: 'gray',
          data: <%= @forecast_data[:commit][:values].to_json.html_safe if @forecast_data.present? %>
        }, {
          name: 'Best Case',
          step: true,
          type: 'line',
          color: 'rgb(124,181,236)',
          data: <%= @forecast_data[:best_case][:values].to_json.html_safe if @forecast_data.present? %>
        // }, {
        //   name: 'Most Likely',
        //   step: true,
        //   type: 'line',
        //   color: 'orange',
        }]
      });

        $('#stage-chart').highcharts({
          chart: {
            type: 'column'
          },
          title: {
            text: ''
          },
          credits: {
            enabled: false
          },
          xAxis: {
            crosshair: true,
            labels: {
              style: {
                fontSize: '9px'
              }
            }
          },
          yAxis: {
            min: 0,
            title: {
              text: ''
            },
            labels: {
              enabled: false
            },
            stackLabels: {
              enabled: true,
              formatter: function () {
                //return Highcharts.numberFormat(this.total, 0, null, "");
                return "$"+large_number_to_human_signif_digits(this.total);
              },
              style: {
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
              }
            }
          },
          tooltip: {
            enabled: true,
            formatter: function () {
              return '$' + large_number_to_human_signif_digits(this.total) + ' in ' + this.x;
            }
          },
          legend: {
            enabled: false
          },
          series: [{

          }],
          plotOptions: {
            column: {
              stacking: 'normal',
              pointPadding: 0.2,
              borderWidth: 0,
              dataLabels: {
                format: '${y}',
                style: {
                  color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
              }
            },
            series: {
              pointPadding: 0.1,
              groupPadding: 0.1,
              borderWidth: 0,
              // point: {
              //   events: {
              //     click: function () {
              //       this.select(!this.selected, true);
              //     }
              //   }
              // }
            }
          }
        });

        <%= render partial: "home/top_dashboard.js" %>
        <%= render partial: "reports/stage_chart.js" %>

        // handle clicking on all parts of the opportunity label
        // $('.highcharts-xaxis-labels text').click(function() {
        //     $(this).children(0)[0].onclick(); // use the first tspan's onclick() method
        // });

    });
</script>

