<style type="text/css">
    body {
        color: #999;
        font-size: 11px;
    }
    extrastrong {
        font-weight: bold;
        color: black;
    }
    .titleinfo-group:hover {
        background-color: #EEE;
    }
    td > a, .link:hover {
        text-decoration: underline;
    }
    .contact-group {
        font-size: 12px;
        font-weight: bold;
        /*color: #999;*/
        padding: 2em 0;
    }
    .panel-group {
        border-radius: 0px;
    }
    .panel {
        border: none;
        border-bottom: 2px solid #EEE;
    }
    .titleinfo-group {
        width: 100%;
        margin: 2px 0;
    }
    .panel-title { /* sections; includes contact-name */
        font-size: 14px;
    }
    .arrow { /* .titleinfo-group */
        color: #AAA;
        background-color: transparent;
        padding: 0px 4px;
        font-size: 18px;
        float: right;
        white-space:nowrap;
    }
    .arrow-expanded {
        transform: translateY(-8px) rotateX(180deg);
    }
    .visibility-hidden { /* bootstrap overrides .hidden  */
        visibility: hidden;
    }
    .titleinfo-group .profile-pic-container {
        width: 48px;
    }
    .profile-pic {
        width: 48px;
        height: 48px;
        border-radius: 48px;
        margin: 10px 6px;
        border: 1.5px solid grey;
        font-size: 22px;
        line-height: 42px;
    }
    .contact-info {
        font-size: 12px;
        color: #999;
        font-weight: normal;
    }
    .company-name {
        font-size: 11px;
        color: #337ab7; /* link blue */
    }
    .panel-body {
        padding: 0 10px 15px 10px;
    }
    .panel-body > table {
        width: 98%;
        /*margin: 1em 0;*/
        border-top: 1px solid #EEE; 
        /*border-bottom: 1px solid #EEE; */
        /*border: 2px solid blue;*/
    }
    .social-group td {  /* social icons */
        margin: 7px 3px;
        display: inline-block;
    }
    /* disabled until we find functionality for the "+" */
    /*.fa-plus-square {
        color: #999;
        padding: 0 1em;
        display: none;   
    }*/
    .sfdc-icon {
        width: 1.5em;
    }
    .linkedin-icon {
        color: #0077b5; /* LinkedIn blue */
    }
    .twitter-icon {
        color: #31b8f0; /* Twitter blue */
    }
    .fb-icon {
        color: #3b5998; /* Facebook blue */
    }
    .globe-icon{
        color: #7cb5ec; /* "CS blue" / light blue */
        text-decoration: none;
    }
    .phone-icon {
        padding: 0 0 0 0.5em;
        /*color: navy;*/
    }
    .phone-number {
        font-size: 12px;
        padding-bottom: 3px;
    }
    button { /* used for easy styling: need to change */
        width: 79px;
        margin: 1px;
        color: grey;
        background-color: white;
        border: 2px solid grey;
        border-radius: 5px;
        pointer-events: none;
    }
    .statistics {
        font-size: 13px;
        font-weight: bold;
    }
    .extension-timeline-content {
        font-size: 12px;
    }
</style>

<!-- TODO: move any relevant scripts to extension.js -->
<script type="text/javascript">
    $(document).ready(function(){
        // $(".panel-default").hover(
        //     function() {
        //         var hoveredDiv = $(this).attr("id");
        //         $("#plus" + hoveredDiv).show();
        //         console.log("#plus" + hoveredDiv);
        //     },
        //     function() {
        //         var hoveredDiv = $(this).attr("id");
        //         $("#plus" + hoveredDiv).hide();
        //     }
        // );

        $("a").click(function(){
            // Save the state of the arrow of the clicked element
            var this_arrow_td = $('.arrow', this);
            var arrow_is_expanded = this_arrow_td.attr("class").includes("arrow-expanded");

            //Set all arrows to the collapsed state
            $('.arrow').html("<%= @arrowcollapsed %>").removeClass('arrow-expanded').addClass('arrow-collapsed');

            // Using saved state, toggle the arrow of the clicked element
            if (arrow_is_expanded) {
                this_arrow_td.removeClass('arrow-expanded');
                this_arrow_td.html("<%= @arrowcollapsed %>");
                this_arrow_td.addClass('arrow-collapsed');
            } else {
                this_arrow_td.removeClass('arrow-collapsed');
                this_arrow_td.html("<%= @arrowcollapsed %>");
                this_arrow_td.addClass('arrow-expanded');
            }
        });

        // Show/hide the expand/collapse arrow
        $("a").hover(
            function(){
                $(this).addClass("hover");
                $('.arrow', this).removeClass('visibility-hidden');
            }, function() {
                $(this).removeClass("hover");
                $('.arrow', this).addClass('visibility-hidden');
            }
        );

        // Anchor "link" workaround code to allow the accordion expand/collapse sections to keep working, but allow user to click an anchor link inside of it, e.g. company name
        $(".link").click(function(){
            // console.log("clicked on " + $(this).attr("url"));
            window.open($(this).attr("url")); 
            return false; //don't collapse section in extension
        });
    });
</script>

<body>
    <div>
        <span class="contact-group"><br/>PEOPLE IN EMAIL</span>
    </div>
    <div>
        <div id="accordion" class="panel-group">
        <% 2.times do |n| %>
            <% contacts_with_profile = (n == 0 ? @people_with_profile : @account_contacts_with_profile) %>
            <% if n == 1 && contacts_with_profile.present? %>
                <span class="contact-group"><br/>MORE PEOPLE AT <%= @project.name.upcase %></span>
            <% end %>
            <% contacts_with_profile.each_with_index do |p, i| %>
                <% person = p[:profile] %>
                <% profile_fullname = person.fullname.present? ? person.fullname : p[:email] %>
                <div class="panel <%= "panel-default" if n == 0 && i == 0 %>" id="Profile-<%= person.id %>-<%= n %>">
                    <div>
                        <a href="#collapseProfile-<%= person.id %>-<%= n %>" data-toggle="collapse" data-parent="#accordion">
                            <table class="titleinfo-group">
                                <tbody>
                                    <tr>
                                        <td class="profile-pic-container">
                                        <% if person.profileimg_url.present? %>
                                            <img src="<%= person.profileimg_url %>" class="profile-pic" title="profile pic">
                                        <% else %>
                                            <%= get_rounded_initials_from_name(profile_fullname, "profile-pic") %>
                                        <% end %>
                                        </td>
                                        <td>
                                            <table>
                                                <tbody class="contact-info">
                                                    <tr><td class="contact-name panel-title" 
                                                      <%= "title=#{p[:email]}" if profile_fullname != p[:email] %>
                                                    ><extrastrong><%= profile_fullname %></extrastrong></td></tr>
                                                    <tr><td><%= person.title %></td></tr>
                                                    <% if person.organization.present? || valid_domain?(get_domain(p[:email])) %>
                                                        <tr><td class="company-name"><i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;<span class="link" url="<%= valid_domain?(get_domain(p[:email])) ? 'http://'+get_domain(p[:email]) : '#' %>" title="Visit company website"><%= person.organization.present? ? person.organization : get_domain(p[:email]) %></span></td></tr>
                                                    <% end %>
                                                    <% if person.location.present? %>
                                                        <tr><td>
                                                            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; <%= person.location.gsub!(", United States", "")  %>
                                                        </td></tr>
                                                    <% end %>
                                                </tbody>
                                            </table>
                                        </td>
                                        <% if n == 0 && i == 0 %>
                                            <td class="arrow arrow-expanded visibility-hidden"><%= @arrowcollapsed %></td>
                                        <% else %>
                                            <td class="arrow arrow-collapsed visibility-hidden"><%= @arrowcollapsed %></td>
                                        <% end %>
                                        <!-- <td>
                                            <i class="fa fa-plus-square fa-2x" aria-hidden="true" id="plusProfile-<%= person.id %>-<%= n %>"></i>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </a>
                    </div>
                    <div id="collapseProfile-<%= person.id %>-<%= n %>" class="panel-collapse collapse <%= "in" if n == 0 && i == 0 %>">
                        <div class="panel-body">
                            <table class="social-group">
                               <tbody>
                                    <tr style="margin-left: auto; margin-right: auto; width: 100px">
                                        <td class="fa-lg">
                                            <img src="/assets/images/salesforce.png" class="sfdc-icon disabled" title="Salesforce"/>
                                        </td>
                                        <td <%= "class=disabled" if person.social_url(Profile::SOCIAL_TYPE[:Linkedin]).blank? %>>
                                            <a href="<%= person.social_url(Profile::SOCIAL_TYPE[:Linkedin]) %>" target="_blank" title="Click to open LinkedIn page in new window"><i class="fa fa-linkedin-square fa-2x linkedin-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-html="true" 
                                            <% if person.social_bio(Profile::SOCIAL_TYPE[:Linkedin]).present? %>
                                                data-original-title="<b><%= Profile::SOCIAL_TYPE[:Linkedin] %> bio:</b>  <%= truncate_with_ellipsis(person.social_bio(Profile::SOCIAL_TYPE[:Linkedin]), @MAX_SOCIAL_BIO_LENGTH) %>"
                                            <% end %>
                                            ></i></a>
                                        </td>
                                        <td <%= "class=disabled" if person.social_url(Profile::SOCIAL_TYPE[:Twitter]).blank? %>>
                                            <a href="<%= person.social_url(Profile::SOCIAL_TYPE[:Twitter]) %>" target="_blank" title="Click to open Twitter in new window"><i class="fa fa-twitter fa-2x twitter-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-html="true" 
                                            <% if person.social_bio(Profile::SOCIAL_TYPE[:Twitter]).present? %>
                                                data-original-title="<b><%= Profile::SOCIAL_TYPE[:Twitter] %> bio:</b>  <%= truncate_with_ellipsis(person.social_bio(Profile::SOCIAL_TYPE[:Twitter]), @MAX_SOCIAL_BIO_LENGTH) %>"
                                            <% end %>
                                            ></i></a>
                                        </td>
                                        <td <%= "class=disabled" if person.social_url(Profile::SOCIAL_TYPE[:Facebook]).blank? %>>
                                            <a href="<%= person.social_url(Profile::SOCIAL_TYPE[:Facebook]) %>" target="_blank" title="Click to open Facebook in new window"><i class="fa fa-facebook-square fa-2x fb-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-html="true" 
                                            <% if person.social_bio(Profile::SOCIAL_TYPE[:Facebook]).present? %>
                                                data-original-title="<b><%= Profile::SOCIAL_TYPE[:Facebook] %> bio:</b>  <%= truncate_with_ellipsis(person.social_bio(Profile::SOCIAL_TYPE[:Facebook]), @MAX_SOCIAL_BIO_LENGTH) %>"
                                            <% end %>
                                            ></i></a>
                                        </td>
                                        <td <%= "class=disabled" if person.websites.blank? %>>
                                            <a class="fa fa-globe fa-2x globe-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-html="true" data-trigger='click' data-delay='{"show": 0, "hide": 0}' 
                                            <% if person.websites.present? %>
                                                data-original-title="
                                                <% person.websites.each do |site| %>
                                                  <a href='<%=site%>' target='_blank'><%= URI.parse(site).host.sub(/^www\./, '') %> </a></br>
                                                <% end %>
                                                "
                                            <% end %>
                                            ></a>
                                        </td>
                                        <% if person.phone.present? %>
                                            <td class="phone-icon">
                                                <table>
                                                    <tr><td>
                                                    <i class="fa fa-phone fa-2x" aria-hidden="true"></i></td><td class="phone-number"><span><%= person.phone %></span></td>
                                                </table>
                                            </td>
                                        <% end %>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="activity-group">
                                <tr><td>&nbsp;</td></tr>
                                <tr><td><span class="panel-title"><extrastrong>Activity</extrastrong></span>&nbsp;&nbsp;Last 30 days<i class="fa fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-html="true" data-original-title="Activity of tracked emails. To track an email, check the ☑<b>CS Tracking</b> checkbox when composing and sending an email."></i></td></tr>
                                <tr>
                                    <td><table>
                                    <!-- TODO: Don't use buttons to style? -->
                                        <tr>
                                            <td><button><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;<span class="statistics"><%= @emails_sent_per_person[p[:email]].present? ? @emails_sent_per_person[p[:email]] : 0 %></span><br/>Sent</button></td>
                                            <td><button><i class="fa fa-envelope-open-o fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;<span class="statistics"><%= @emails_pct_opened_per_person[p[:email]].present? ? (@emails_pct_opened_per_person[p[:email]] * 100).round(0) : 0 %>%</span><br/>Opened</button></td>
                                            <td><button><i class="fa fa-envelope-open fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;<span class="statistics"><%= @emails_engagement_per_person[p[:email]].present? ? (@emails_engagement_per_person[p[:email]]).round(1) : 0 %>x</span><br/>Engagement</button></td>
                                        </tr>
                                    </table></td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                            </table>
                        <% if @last_emails_sent_per_person[p[:email]].present? %>
                            <table class="timeline-group">
                                <tr><td>&nbsp;</td></tr>
                                <tr><td>
                                    <div id="extension-timeline">
                                    <% @last_emails_sent_per_person[p[:email]].each do |tp| %>
                                        <!-- TODO: Create a view for tracking_requests -->
                                        <!-- < %= render 'tracking_requests/extension_block', t: t %> -->
                                        <div class="vertical-timeline-block extension-block">
                                        <% if true %>
                                            <div class="vertical-timeline-icon secondary-bg">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <div class="extension-timeline-content">
                                                <extrastrong><%= truncate_with_ellipsis(tp[:trackingrequest].subject, @MAX_EMAIL_SUBJECT_LENGTH) %></extrastrong><br/>
                                                <span style="color: grey">Sent <%= time_ago_in_words(tp[:trackingrequest].sent_at) %> ago <%= tp[:trackingrequest].sent_at.strftime('%b %d') %></span>
                                                <% if tp[:lasttrackingevent].present? %>
                                                    <p class="time-ago"><i class="fa fa-envelope-open-o fa-sm" aria-hidden="true"></i>
                                                    <% if tp[:totaltrackingevents] > 1 %>
                                                        (<%= tp[:totaltrackingevents] %>)&nbsp;&nbsp;Last opened
                                                    <% else %>
                                                        &nbsp;Opened
                                                    <% end %>
                                                    <%= time_ago_in_words(tp[:lasttrackingevent].date) %> ago <%= tp[:lasttrackingevent].date.strftime('%b %d') %> - <%= tp[:lasttrackingevent].date.strftime("%l:%M%P") %></p>
                                                <% end %>
                                            </div>
                                        <% end %>
                                        </div>
                                    <% end if @last_emails_sent_per_person[p[:email]].present? %>
                                    </div>
                                </td></tr>
                                <tr><td>&nbsp;</td></tr>
                            </table>
                        <% end %>
                        </div>
                    </div>
                </div>
            <% end # end: contacts_with_profile.each_with_index do |p,i| %>
        <% end %>  
        </div>
    </div>
</body>
