<style type="text/css">
    .titleinfo-group:hover {
        background-color: #EEE;
    }
    td > a, .link {
        text-decoration: underline;
    }
    .contact-group {
        font-size: 12px;
        font-weight: bold;
        /*color: #999;*/
        padding: 2em 0;
    }
    .panel-group {
        border-radius: 0px;
    }
    .panel {
        border: none;
        border-bottom: 2px solid #EEE;
    }
    .titleinfo-group {
        width: 100%;
        margin: 2px 0;
    }
    .panel-title { /* sections; includes contact-name */
        font-size: 14px;
    }
    .arrow { /* .titleinfo-group */
        color: #AAA;
        background-color: transparent;
        padding: 0px 4px;
        font-size: 18px;
        float: right;
        white-space:nowrap;
        transition: 0.4s;
    }
    .arrow-section-expanded {
        transform: translateX(-7px) translateY(25px) rotate(-90deg);
    }
    .arrow-section-collapsed {
        transform: translateX(-7px) translateY(25px);
    }
    .visibility-hidden { /* bootstrap overrides .hidden  */
        visibility: hidden;
    }
    .titleinfo-group .profile-pic-container {
        width: 56px;
    }
    .profile-pic {
        width: 56px;
        height: 56px;
        border-radius: 56px;
        margin: 2px 6px;
        border: 2px solid <%= get_contextsmith_blue %>;
        font-size: 22px;
        line-height: 47px;
    }
    .contact-info {
        font-size: 12px;
        color: #999;
        font-weight: normal;
        overflow-wrap: break-word; 
        word-break: break-all;
    }
    .company-name {
        font-size: 11px;
        color: #337ab7; /* link blue */
    }
    .panel-body {
        padding: 0 10px 15px 10px;
    }
    .panel-body > table {
        width: 98%;
        /*margin: 1em 0;*/
        border-top: 1px solid #EEE; 
        /*border-bottom: 1px solid #EEE; */
        /*border: 2px solid blue;*/
    }
    .social-group td {  /* social icons */
        margin: 7px 3px;
        display: inline-block;
    }
    td.disabled {  /* social icons */
        opacity: .3;
        pointer-events: none;
    }
    /* disabled until we find functionality for the "+" */
    /*.fa-plus-square {
        color: #999;
        padding: 0 1em;
        display: none;   
    }*/
    .sfdc-icon {
        width: 1.5em;
    }
    .linkedin-icon {
        color: #0077b5; /* LinkedIn blue */
    }
    .twitter-icon {
        color: #31b8f0; /* Twitter blue */
    }
    .fb-icon {
        color: #3b5998; /* Facebook blue */
    }
    .globe-icon{
        color: <%= get_contextsmith_blue %>; /* "CS blue" / light blue */
        text-decoration: none;
    }
    .phone-icon {
        padding: 0 0 0 0.5em;
        /*color: navy;*/
    }
    .phone-number {
        font-size: 12px;
        padding-bottom: 3px;
    }
    .activity-group button { /* used for easy styling: need to change */
        width: 75px;
        margin: 1px;
        color: grey;
        background-color: white;
        border: 2px solid grey;
        border-radius: 5px;
        pointer-events: none;
    }
    .activity-group .fa {
        font-size: 16px;
    }
    .statistics {
        font-size: 13px;
        font-weight: bold;
    }
    .extension-timeline-content {
        font-size: 12px;
    }
    div.chosen-container.chosen-container-single {
        width: 100%;
    }
</style>

<!-- TODO: move any relevant scripts to extension.js -->
<script type="text/javascript">
    $(document).ready(function(){
        // $(".panel-default").hover(
        //     function() {
        //         var hoveredDiv = $(this).attr("id");
        //         $("#plus" + hoveredDiv).show();
        //         console.log("#plus" + hoveredDiv);
        //     },
        //     function() {
        //         var hoveredDiv = $(this).attr("id");
        //         $("#plus" + hoveredDiv).hide();
        //     }
        // );

        $('a.profile').click(function(){
            // Save the state of the arrow of the clicked element
            var this_arrow_td = $('.arrow', this);
            var section_is_expanded = this_arrow_td.attr("class").includes("arrow-section-expanded");

            //Set all arrows to the collapsed state
            $('.arrow').removeClass('arrow-section-expanded').addClass('arrow-section-collapsed');

            // Using saved state, toggle the arrow of the clicked element
            if (section_is_expanded) {
                this_arrow_td.removeClass('arrow-section-expanded');
                this_arrow_td.addClass('arrow-section-collapsed');
            } else {
                this_arrow_td.removeClass('arrow-section-collapsed');
                this_arrow_td.addClass('arrow-section-expanded');
            }
        });

        // Anchor "link" workaround code to allow the accordion expand/collapse sections to keep working, but allow user to click an anchor link inside of it
        $(".company-link").click(function(){
            window.open($(this).attr("url"));
            return false; //don't expand/collapse section
        });

        $(".edit-contact-link").click(function(){
            // var parent_a = $("#" + $(this).attr("sectionid") + " a");
            // console.log("parent_a.class (before) = " + parent_a.attr("class"));
            // if (parent_a.attr("class").includes("collapsed")) {
            //     console.log("adding...");
            //     parent_a.addClass('collapsed');
            // } else {
            //     console.log("removing...");
            //     parent_a.removeClass('collapsed');
            // }
            // console.log("parent_a.class (after) = " + parent_a.attr("class"));

            // window.location($(this).attr("href"));
            // // return false; //don't expand/collapse section
        });

        $(".update_salesforce").click(function() {
            var self = $(this);
            var this_form = $("#"+self.attr("modal_id"));
            var button_text = self.attr("button_text");
            var entity_type = "contact";
            var entity_id = this_form.find("#contact_id")[0].value || "0";
            fields = {
                first_name: this_form.find("#contact_first_name")[0].value,
                last_name:  this_form.find("#contact_last_name")[0].value,
                title:      this_form.find("#contact_title")[0].value,
                department: this_form.find("#contact_department")[0].value,
                email:      this_form.find("#contact_email")[0].value,
                phone:      this_form.find("#contact_phone")[0].value,
                account_id: this_form.find("#contact_account_id")[0].value,
                source:     this_form.find("#contact_source")[0].value,
                external_source_id:  this_form.find("#contact_external_source_id")[0].value 
            };

            // fields = $.param(fields));

            $.ajax('/salesforce/update_all/'+entity_type+"/"+entity_id, {
                async: true,
                method: "POST",
                data: { "fields": fields },
                beforeSend: function () {
                    $(".help-block").html(""); //clear errors
                    self.prop("disabled", "disable");
                    self.html("<i class='fa fa-refresh fa-spin'></i>&nbsp;" + button_text.substring(0, button_text.length-1) + "ing&nbsp;<img id='sfdc-icon' src='/assets/images/salesforce.png' style='width:30px;'/>...");
                },
                success: function() {
                    self.addClass("btn-success");
                    self.html("✓&nbsp;Success!&nbsp;<img id='sfdc-icon' src='/assets/images/salesforce.png' style='width:30px;'/>");
                    alert(toTitleCase(button_text) + " " + entity_type + " successful!");
                    location.reload();  // reload page
                    return false; // don't take the default action (create/update CS Contact),  because this was already done in AJAX request
                },
                error: function(data) {
                    var res = JSON.parse(data.responseText);
                    self.addClass('btn-danger');
                    self.html("<strong>X</strong>&nbsp;Error&nbsp;<img id='sfdc-icon' src='/assets/images/salesforce.png' style='width:30px;'/>");
                    $(".help-block").html(res.error.substring(0,120));  //display errors, length truncated 
                    console.log(button_text + " " + entity_type + " error\n\n" + "-".repeat(50) + "\nStatus:\n" + "-".repeat(50) + "\n" + res.error);
                    alert("There was a(n) " + button_text.toLowerCase() + " " + entity_type + " error, but it has been logged and our team will get right on it shortly to resolve it!");
                    return false; // error updating contact -- stay on form
                },
                statusCode: {
                    500: function() {
                        // self.html("<i class='fa fa-exclamation'></i> Salesforce query error");
                    },
                    503: function() {
                        // self.html("<i class='fa fa-exclamation'></i> Salesforce connection error");
                    },
                },
                complete: function() {
                    // self.prop("disabled", null);
                }
            });
        });

        $('.contextsmith_account_box').chosen({allow_single_deselect: true, width: $('.contextsmith_account').width() + 'px'});

        $('.contextsmith_account_box').on('change',function(evt,params){
            if(params){
                var self = $(this);
                var this_form = $("#"+self.attr("modal_id"));
                this_form.find("#contact_account_id").attr("value", this_form.find("select option:selected").attr("value"));
            }
        });
    }); /* end: $(document).ready */

    function changedValue(modal_id) {
        var self = $(this);
        if (!modal_id) 
            return;  // is undefined (e.g., on tab)
        var this_form = $("#"+modal_id);
        var btn = this_form.find("button.update_salesforce");
        var button_text = btn.attr("button_text");

        btn.prop("disabled", null);
        btn.removeClass('btn-danger btn-success');
        btn.html(button_text + "&nbsp;<img id='sfdc-icon' src='/assets/images/salesforce.png' style='width:30px;'/>");
    }

    function sendShowMessage(email_id) {
        parent.parent.postMessage({type: 'cs-show-message', email_id: email_id}, "https://mail.google.com");
    }
</script>

<body>
    <div>
        <span class="contact-group"><br/>PEOPLE IN EMAIL</span>
    </div>
    <div>
        <div id="accordion" class="panel-group">
        <% (0..1).each do |n| %>
            <% contacts_with_profile = (n == 0 ? @people_with_profile : @account_contacts_with_profile) %>
            <% if n == 0 && contacts_with_profile.blank? %>
                <div>
                    <h3 style="padding: 1em;">No valid contacts were selected or found in the email.</h3>
                    <img style="padding: 5em 0;" class="img-responsive" src="/assets/images/contacts.png" alt="Contact Cards">
                </div>
            <% elsif n == 1 && contacts_with_profile.present? %>
                <span class="contact-group"><br/>MORE PEOPLE AT <%= @account.name.upcase %></span>
            <% end %>
            <% contacts_with_profile.each_with_index do |p, i| %>
                <% contact = p[:contact] %>
                <% profile = p[:profile] %>
                <% fullname = (contact.present? && get_full_name(contact) != contact.email) ? get_full_name(contact) : (p[:name_from_params].present? ? p[:name_from_params] : (profile.fullname || p[:email])) %>
                <% title = (contact.present? && contact.title.present?) ? contact.title : profile.title %>
                <% first_name = (p[:name_from_params].split(" ").first if p[:name_from_params].present?) || profile.given_name %>
                <% last_name = (p[:name_from_params].split(" ").second if p[:name_from_params].present?) || profile.family_name %>
                <div class="panel <%= "panel-default" if n == 0 && i == 0 %>" id="Profile-<%= profile.id %>-<%= n %>">
                    <div>
                        <a class="profile" href="#collapseProfile-<%= profile.id %>-<%= n %>" data-toggle="collapse" data-parent="#accordion">
                            <table class="titleinfo-group">
                                <tbody>
                                    <tr>
                                        <td style="width:60px;">
                                            <table style="width: 100%;">
                                                <tbody>
                                                    <tr><td class="profile-pic-container">
                                                    <% if profile.profileimg_url.present? %>
                                                        <img src="<%= profile.profileimg_url %>" class="profile-pic" title="profile pic">
                                                    <% else %>
                                                        <%= get_rounded_initials_from_name(fullname, "profile-pic") %>
                                                    <% end %></td></tr>
                                                    <tr style="width:60px"><td style="padding-left: 10px">
                                                    <% if current_user.role != User::ROLE[:Basic] || current_user.superadmin? %>
                                                        <% if contact.present? %>
                                                            <%= link_to "<button><i class=\"fa fa-pencil\"></i> Edit</button>".html_safe, '#extension_edit_contact_modal-'+contact.id, 'data-toggle' => 'modal', 'class' => 'edit-contact-link', 'sectionid' => "Profile-"+profile.id.to_s+"-"+n.to_s %>
                                                            <%= render 'contacts/modal', modal_type: 'extension_edit_contact_modal', modal_id: 'extension_edit_contact_modal-'+contact.id, contact: contact %>
                                                        <% else %>
                                                            <% newcontact = Contact.new(account: @account, last_name: last_name, first_name: first_name, title: profile.title, email: profile.email.downcase, phone: profile.phone, account_id: (@account.present? ? @account.id : nil)) %>
                                                            <%= link_to "<button><i class=\"fa fa-plus\"></i> Add</button>".html_safe, '#extension_new_contact_modal-'+profile.id.to_s, 'data-toggle' => 'modal', 'class' => 'edit-contact-link' %>
                                                            <%= render 'contacts/modal', modal_type: 'extension_new_contact_modal', modal_id: 'extension_new_contact_modal-'+profile.id.to_s, contact: newcontact %>
                                                        <% end %>
                                                    <% end %>
                                                    </td></tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td>
                                            <table>
                                                <tbody class="contact-info">
                                                    <tr><td class="contact-name panel-title"
                                                      <%= "title=#{p[:email]}" if fullname != p[:email] %>
                                                    ><extrastrong><%= fullname %></extrastrong></td></tr>
                                                    <tr><td><%= title %></td></tr>
                                                    <% if profile.organization.present? || valid_domain?(get_domain(p[:email])) %>
                                                        <tr><td class="company-name"><i class="fa fa-building-o" aria-hidden="true"></i>
                                                        <span
                                                        <% if valid_domain?(get_domain(p[:email])) %>
                                                            class="link company-link" url="<%= 'http://'+get_domain(p[:email]) %>" title="Visit company website"
                                                        <% end %>
                                                        ><%= profile.organization.present? ? profile.organization : get_domain(p[:email]) %></span></td></tr>
                                                    <% end %>
                                                    <% if profile.location.present? %>
                                                        <tr><td>
                                                            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; <%= profile.location.gsub(", United States", "") %>
                                                        </td></tr>
                                                    <% end %>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td class="arrow fa fa-angle-down fa-2x <%= (n == 0 && i == 0) ? "arrow-section-expanded" : "arrow-section-collapsed" %>" aria-hidden="true"></td>
                                        <!-- <td>
                                            <i class="fa fa-plus-square fa-2x" aria-hidden="true" id="plusProfile-<%= profile.id %>-<%= n %>"></i>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </a>
                    </div>
                    <div id="collapseProfile-<%= profile.id %>-<%= n %>" class="panel-collapse collapse <%= "in" if n == 0 && i == 0 %>">
                        <div class="panel-body">
                            <table class="social-group">
                               <tbody>
                                    <tr style="margin-left: auto; margin-right: auto; width: 100px">
                                        <td class="fa-lg">
                                        <% if (current_user.role != User::ROLE[:Basic] || current_user.superadmin?) && @salesforce_base_URL.present? && contact.present? && contact.external_source_id.present? %>
                                            <a href="<%= @salesforce_base_URL + "/" + contact.external_source_id %>" target="_blank"><img src="/assets/images/salesforce.png" class="sfdc-icon" title="Open Salesforce page in new window"/></a>
                                        <% else %>
                                            <img src="/assets/images/salesforce.png" class="sfdc-icon disabled"/>
                                        <% end %>
                                        </td>
                                        <td <%= "class=disabled" if profile.social_url(Profile::SOCIAL_TYPE[:Linkedin]).blank? %>>
                                            <a href="<%= profile.social_url(Profile::SOCIAL_TYPE[:Linkedin]) %>" target="_blank" title="Open LinkedIn page in new window"><i class="fa fa-linkedin-square fa-2x linkedin-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-html="true" 
                                            <% if profile.social_bio(Profile::SOCIAL_TYPE[:Linkedin]).present? %>
                                                data-original-title="<b><%= Profile::SOCIAL_TYPE[:Linkedin] %> bio:</b>  <%= truncate_with_ellipsis(profile.social_bio(Profile::SOCIAL_TYPE[:Linkedin]), @SOCIAL_BIO_TEXT_LENGTH_MAX) %>"
                                            <% end %>
                                            ></i></a>
                                        </td>
                                        <td <%= "class=disabled" if profile.social_url(Profile::SOCIAL_TYPE[:Twitter]).blank? %>>
                                            <a href="<%= profile.social_url(Profile::SOCIAL_TYPE[:Twitter]) %>" target="_blank" title="Open Twitter in new window"><i class="fa fa-twitter fa-2x twitter-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-html="true" 
                                            <% if profile.social_bio(Profile::SOCIAL_TYPE[:Twitter]).present? %>
                                                data-original-title="<b><%= Profile::SOCIAL_TYPE[:Twitter] %> bio:</b>  <%= truncate_with_ellipsis(profile.social_bio(Profile::SOCIAL_TYPE[:Twitter]), @SOCIAL_BIO_TEXT_LENGTH_MAX) %>"
                                            <% end %>
                                            ></i></a>
                                        </td>
                                        <td <%= "class=disabled" if profile.social_url(Profile::SOCIAL_TYPE[:Facebook]).blank? %>>
                                            <a href="<%= profile.social_url(Profile::SOCIAL_TYPE[:Facebook]) %>" target="_blank" title="Open Facebook in new window"><i class="fa fa-facebook-square fa-2x fb-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-html="true" 
                                            <% if profile.social_bio(Profile::SOCIAL_TYPE[:Facebook]).present? %>
                                                data-original-title="<b><%= Profile::SOCIAL_TYPE[:Facebook] %> bio:</b>  <%= truncate_with_ellipsis(profile.social_bio(Profile::SOCIAL_TYPE[:Facebook]), @SOCIAL_BIO_TEXT_LENGTH_MAX) %>"
                                            <% end %>
                                            ></i></a>
                                        </td>
                                        <td <%= "class=disabled" if profile.websites.blank? %>>
                                            <a class="fa fa-globe fa-2x globe-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-html="true" data-trigger='click' data-delay='{"show": 0, "hide": 0}' 
                                            <% if profile.websites.present? %>
                                                data-original-title="
                                                <% profile.websites.each do |site, site_name| %>
                                                  <a href='<%=site%>' target='_blank'><%= site_name %></a></br>
                                                <% end %>
                                                "
                                            <% end %>
                                            ></a>
                                        </td>
                                        <% if profile.phone.present? %>
                                            <td class="phone-icon">
                                                <table>
                                                    <tr><td>
                                                    <i class="fa fa-phone fa-2x" aria-hidden="true"></i></td><td class="phone-number"><span><%= profile.phone %></span></td>
                                                </table>
                                            </td>
                                        <% end %>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="activity-group">
                                <tr><td>&nbsp;</td></tr>
                                <tr><td><span class="panel-title"><extrastrong>Activity</extrastrong></span>&nbsp;&nbsp;Last 30 days<i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-html="true" data-original-title="Activity of tracked emails. To track an email, check the ☑<b>CS&nbsp;Track</b> checkbox in the compose email window."></i></td></tr>
                                <tr>
                                    <td><table>
                                        <tr>
                                            <td><button><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;<span class="statistics"><%= @emails_sent_per_person[p[:email]].present? ? @emails_sent_per_person[p[:email]] : 0 %></span><br/>Sent</button></td>
                                            <td><button><i class="fa fa-envelope-open-o" aria-hidden="true"></i>&nbsp;&nbsp;<span class="statistics"><%= @emails_pct_opened_per_person[p[:email]].present? ? (@emails_pct_opened_per_person[p[:email]] * 100).round(0) : 0 %>%</span><br/>Opened</button></td>
                                            <td><button><i class="fa fa-envelope-open" aria-hidden="true"></i>&nbsp;&nbsp;<span class="statistics"><%= @emails_engagement_per_person[p[:email]].present? ? (@emails_engagement_per_person[p[:email]]).round(1) : 0 %>x</span><br/>Engagement</button></td>
                                        </tr>
                                    </table></td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                            </table>
                        <% if @last_emails_sent_per_person[p[:email]].present? %>
                            <table class="timeline-group">
                                <tr><td>&nbsp;</td></tr>
                                <tr><td>
                                    <div id="extension-timeline">
                                    <% @last_emails_sent_per_person[p[:email]].each do |tp| %>
                                        <!-- TODO: Create a view for tracking_requests -->
                                        <!-- < %= render 'tracking_requests/extension_block', t: t %> -->
                                        <div class="vertical-timeline-block extension-block">
                                        <% if true %>
                                            <div class="vertical-timeline-icon secondary-bg">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <div class="extension-timeline-content">
                                                <extrastrong><a href="#" class="link" onclick="sendShowMessage('<%= tp[:trackingrequest].email_id %>');"><%= truncate_with_ellipsis(tp[:trackingrequest].subject, @EMAIL_SUBJECT_TEXT_LENGTH_MAX) %></a></extrastrong><br/>
                                                <span style="color: grey">Sent <%= time_ago_in_words(tp[:trackingrequest].sent_at) %> ago - <%= tp[:trackingrequest].sent_at.strftime('%b %d') %></span>
                                                <% if tp[:lasttrackingevent].present? %>
                                                    <p class="time-ago">
                                                    <% if tp[:totaltrackingevents] > 1 %>
                                                        <%= tp[:totaltrackingevents] %> <i class="fa fa-envelope-open-o fa-sm" aria-hidden="true"></i>&nbsp;&nbsp;Last opened
                                                    <% else %>
                                                        <i class="fa fa-envelope-open-o fa-sm" aria-hidden="true"></i>&nbsp;&nbsp;Opened
                                                    <% end %>
                                                    <%= time_ago_in_words(tp[:lasttrackingevent].date) %> ago <%= tp[:lasttrackingevent].date.strftime('%b %d') %> - <%= tp[:lasttrackingevent].date.strftime("%l:%M%P") %></p>
                                                <% end %>
                                            </div>
                                        <% end %>
                                        </div>
                                    <% end if @last_emails_sent_per_person[p[:email]].present? %>
                                    </div>
                                </td></tr>
                                <tr><td>&nbsp;</td></tr>
                            </table>
                        <% end %>
                        </div>
                    </div>
                </div>
            <% end # end: contacts_with_profile.each_with_index do |p,i| %>
        <% end %>  
        </div>
    </div>
</body>
