<!-- <h4><span class="font-bold">Type:</span> <%= @project.category %></h4> -->
<!-- <h4><span class="font-bold">Owner:</span> <%= @project.owner_id ? get_full_name(@project.project_owner) : '(no owner)' %></h4> -->
<!-- <h4><span class="font-bold">Description:</span> <%= @project.description ? @project.description : '(no description)' %></h4> -->

<div id="extension-timeline">
  <% @activities.each do |a| %>
    <%= render 'activities/extension_block', a: a %>
  <% end %>
</div>

<p class="text-center"><a type="button" class="btn btn-outline btn-primary btn-sm" href="<%= project_path(@project) %>" target="_blank">View more and filter timeline &rarr;</a></button></p>
<!-- <p>Email me: <input type="checkbox" name=""> weekly <input type="checkbox" name=""> daily</p> -->

<!-- <button class="btn btn-primary">Sync Activites with Salesforce</button> -->
