<style type="text/css">
  .attachment-main-container, .extension-sidebar-main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .attachment-group-container {
    width: 225px;
    margin-left: 40px;
  }
  .attachment-date {
    font-size: 9px;
  }
  .attachment-group {
    display: flex;
    flex-direction: column;
  }
  .attachment-group.left {
    align-items: flex-start;
  }
  .attachment-group.right {
    align-items: flex-end;
  }
  .message-bubble {
    padding: 5px;
    max-width: 200px;
    border-radius: 5px;
    color: black;
  }

  .attachment-group.left > .message-bubble {
    background-color: #eff1f1;
  }
  .attachment-group.right > .message-bubble {
    background-color: #F0F6FB;
  }

  .attachment-teaser {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/assets/images/attachments_teaser.png") no-repeat center;
    background-size: contain;
    color: white;
    margin: -10px -5px;
    flex: 1;
  }

  .attachment-teaser .btn {
    color: #676a6c;
  }

  .attachment-teaser .btn.btn-outline {
    color: white;
  }

  .links-light {
    color: lightblue;
  }

</style>
<div class="m-t-sm attachment-main-container">
<% if @service # @service presence implies current_user.plus? && current_user.oauth_provider == AUTH_TYPE[:Gmail] %>
  <% if @messages.present? %>
    <p class="m-b">Attachments between <%= @emails.join(', ') %> and you:</p>
    <div class="attachment-group-container m-t-sm">
    <% @messages.each.with_index do |msg, i| %>
        <span class="pull-left m-l-n-xl attachment-date">
          <%= Time.zone.at(msg.internal_date/1000).strftime('%b %d') %>
          <br>
          <%= Time.zone.at(msg.internal_date/1000).strftime('%l:%M%P') %>
        </span>
        <div class="attachment-group <%= msg.internal ? 'right' : 'left' %>">
          <div class="message-bubble m-b-sm">
            <p class="m-b-none"><strong><%= msg.internal ? 'You' : get_address_first_names([msg.from]) %></strong> to <%= get_attachment_member_names(msg.to) %></p>
            <hr class="message-divider">
            <% msg.attachments.each do |att| %>
              <p class="m-b-none m-t-xs">
                <a href="/extension/download?<%= { id: msg.id, attachment_id: att.attachment_id, filename: att.filename, mime_type: att.mime_type }.to_param %>">
                  <i class="fa fa-lg <%= file_type_icon(att.mime_type, att.filename) %>"></i>
                  <%= att.filename %>
                </a>
                &nbsp;(<%= number_to_human_size(att.file_size, precision: 2) %>)
              </p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <h3 class="m-t-xl text-center">No attachments found.</h3>
    <h4 class="m-t-xl text-center">Attachments buried in email threads? <br/>See them organized here.</h4>
  <% end %>
<% elsif current_user.oauth_provider == User::AUTH_TYPE[:GmailBasic] %>
    <h3 class="m-t-xl text-center">Thanks for upgrading!</h3>
    <div class="row well text-center reminder" style="margin-top: 30px;">
      <p>Please grant us access to your inbox so we can organize attachments for you here:</p>
      <a style="margin: 25px 0;" href="<%= user_omniauth_authorize_path(:google_oauth2, extension: true) %>" target="SignIn" onclick="openSignInPopup(this.href, this.target); $('.reminder').remove(); return false;"><img class="google-oauth-btn" src="/assets/images/google_signin_buttons/web/1x/btn_google_signin_dark_normal_web.png" title="Grant permissions using Google"></a>
    </div>
<% else %>
    <%= form_tag plans_path, :id => 'upgrade' do %>
      <input type="hidden" name="plan" id="plan" value="">
      <input type="hidden" name="stripeToken" id="stripeToken">
      <input type="hidden" name="refresh" value="true">
    <% end %>
  <div class="attachment-teaser text-center">
    <h3 class="m-t-xl">Attachments buried in email threads? See them organized here.</h3>
    <p class="m-t-xl">
      <!--< %= link_to new_plan_path,  class: 'btn btn-lg btn-white m-b-sm', target: "_blank" do %>-->
        <!--<i class="fa fa-star"></i> Try Now!-->
      <!--< % end %>-->
      <a class="btn btn-white btn-lg m-b-sm start plus-start" data-amount=500 data-plan="plus-monthly-v1" href="#"><i class="fa fa-star"></i> Try Now!</a>
      <br>
      14 days free on <%= link_to 'Plus Plan.', new_plan_path, class: 'links-light', target: '_blank' %>
      <br>
      No credit card required.
    </p>
    <p class="m-t-xl">
      <button title="Get a $5 credit for each referral sign-up!" type="button" class="share-action btn btn-sm btn-white btn-outline m-b-sm">
        <i class="fa fa-gift"></i> Refer a friend!
      </button>
      <br>
      You'll get one month of Plus on us.
    </p>
  </div>
<% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $('.start').click(function(evt) {
    evt.preventDefault();
    $('input#plan').val(evt.target.dataset.plan);
    $('form#upgrade').submit();
  });

  var popupWindowRef = null;

  var openSignInPopup = function (strUrl, strTarget) {
    // var strOptions = "width=700,height=700";
    if (popupWindowRef == null || popupWindowRef.closed) {
      popupWindowRef = popupCenter(strUrl, strTarget, 400, 600);
      // Poll popup window, refresh this page when it is closed
      var pollPopupClosed = window.setInterval(function() {
        if (popupWindowRef.closed) {
          window.clearInterval(pollPopupClosed);
          window.location.reload(true)
        }
      }, 200);
    }
    else {
      popupWindowRef.focus();
    }
  }
</script>
