<style type="text/css">
  .attachment-container {
    width: 225px;
    margin-left: 40px;
  }
  .attachment-date {
    font-size: 9px;
  }
  .attachment-group {
    display: flex;
    flex-direction: column;
  }
  .attachment-group.left {
    align-items: flex-start;
  }
  .attachment-group.right {
    align-items: flex-end;
  }
  .message-bubble {
    padding: 5px;
    max-width: 200px;
    border-radius: 5px;
    color: black;
  }

  .attachment-group.left > .message-bubble {
    background-color: #eff1f1;
  }
  .attachment-group.right > .message-bubble {
    background-color: #F0F6FB;
  }

</style>
<div class="m-t-sm">
<% if @service # @service presence implies current_user.plus? && current_user.oauth_provider == AUTH_TYPE[:Gmail] %>
  <% if @messages.present? %>
    <p class="m-b">Attachments between <%= @emails.join(', ') %> and you:</p>
    <div class="attachment-container m-t-sm">
    <% @messages.each.with_index do |msg, i| %>
        <span class="pull-left m-l-n-xl attachment-date">
          <%= Time.zone.at(msg.internal_date/1000).strftime('%b %d') %>
          <br>
          <%= Time.zone.at(msg.internal_date/1000).strftime('%l:%M%P') %>
        </span>
        <div class="attachment-group <%= msg.internal ? 'right' : 'left' %>">
          <div class="message-bubble m-b-sm">
            <p class="m-b-none"><strong><%= msg.internal ? 'You' : get_address_first_names([msg.from]) %></strong> to <%= get_attachment_member_names(msg.to) %></p>
            <hr class="message-divider">
            <% msg.attachments.each do |att| %>
              <p class="m-b-none m-t-xs">
                <a href="/extension/download?<%= { id: msg.id, attachment_id: att.attachment_id, filename: att.filename, mime_type: att.mime_type }.to_param %>">
                  <i class="fa fa-lg <%= file_type_icon(att.mime_type, att.filename) %>"></i>
                  <%= att.filename %>
                </a>
                &nbsp;(<%= number_to_human_size(att.file_size, precision: 2) %>)
              </p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No attachments found between you and these people.</p>
  <% end %>
<% elsif current_user.oauth_provider == User::AUTH_TYPE[:GmailBasic] %>
    <div class="row well text-center reminder" style="margin-top: 30px;">
      <p>Please grant us access to your inbox so we can organize attachments for you here:<br>
        <a style="margin: 25px 0;" href="<%= user_omniauth_authorize_path(:google_oauth2, extension: true) %>" target="SignIn" onclick="openSignInPopup(this.href, this.target); $('.reminder').remove(); return false;"><img class="google-oauth-btn" src="/assets/images/google_signin_buttons/web/1x/btn_google_signin_dark_normal_web.png" title="Grant permissions using Google"></a>
      </p>
    </div>
<% else %>
  <h3 class="text-center">You could be viewing attachments relevant to the contacts in your email right here.</h3>
  <p class="text-center"><strong>It's a special feature for users who have upgraded to Plus or above!</strong></p>
  <p class="text-center m-t-lg">
    <%= link_to new_plan_path,  class: 'btn btn-default btn-outline m-b-sm', target: "_blank" do %>
      <i class="fa fa-star"></i> Upgrade Now!
    <% end %>
    <br>
    (Not sure? Try 14 days for <%= link_to 'free.', new_plan_path %>)
  </p>
  <p class="text-center">
    <button title="Get a $5 credit for each referral sign-up!" type="button" class="share-action btn btn-default btn-outline btn-primary m-b-sm">
      <i class="fa fa-gift"></i> Refer a friend!
    </button>
    <br>
    (You'll get one month of Plus on us.)
  </p>
<% end %>
</div>

<script type="text/javascript" charset="utf-8">

  $('.share-action').click(e => {
    e.preventDefault();
    popupCenter('/extension/share', 'Share the goodness', 700, 500);
  });

  var popupWindowRef = null;

  function popupCenter(url, title, w, h) {
    var left = (screen.width / 2) - (w / 2);
    var top = (screen.height / 2) - (h / 2);
    return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
  }

  var openSignInPopup = function (strUrl, strTarget) {
    // var strOptions = "width=700,height=700";
    if (popupWindowRef == null || popupWindowRef.closed) {
      popupWindowRef = popupCenter(strUrl, strTarget, 400, 600);
      // Poll popup window, refresh this page when it is closed
      var pollPopupClosed = window.setInterval(function() {
        if (popupWindowRef.closed) {
          window.clearInterval(pollPopupClosed);
          window.location.reload(true)
        }
      }, 200);
    }
    else {
      popupWindowRef.focus();
    }
  }
</script>
