<style type="text/css">
  span.disabled {  /* social icons */
    opacity: .3;
    pointer-events: none;
    display: inline-block;
  }

  .company-section {
    font-size: 13px;
    padding-top: 1em;
    overflow-wrap: break-word;
  }

  .company-name {
    color: #424b5d;
    font-weight: 500;
  }

  .description-section {
    font-size: 12px;
  }

  .description-section p, .company-section p {
    margin-bottom: 15px;
  }

  .key-people-section {
    font-size: 12px;
  }
  .profile-pic {
    width: 56px;
    height: 56px;
    border-radius: 56px;
    margin: 2px 6px;
    border: 2px solid <%= ApplicationHelper::CONTEXTSMITH_BLUE %>;
    font-size: 22px;
    line-height: 47px;
  }

  .contact-block {
    display: flex;
  }

  .contact-info {
    font-size: 12px;
    color: #999;
    font-weight: normal;
    overflow-wrap: break-word;
    word-break: break-all;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .contact-name {
    font-size: 14px;
  }

  .section-header {
    font-size: 14px;
    font-weight: bold;
  }

  hr.divider {
    margin: 1.5em 0;
  }
  .linkedin-icon {
    color: #0077b5; /* LinkedIn blue */
  }
  .twitter-icon {
    color: #31b8f0; /* Twitter blue */
  }
  .fb-icon {
    color: #3b5998; /* Facebook blue */
  }
</style>

<% if current_user.plus? %>

    <section class="company-section">
      <img class="pull-left m-r-sm" style="max-height:65px;max-width:65px" src="<%= @company.logo if @company %>"/>
      <h3 class="company-name"><% if @account %><%= @account.name %> <% else %> <%= @company.name if @company %> <% end %></h3>
      <p><span <%= 'class=disabled' if @company && !@company.website.blank? %>><a href="<%= @company.website %>" target="_blank" title="Open this company's webpage in a new window"><i class="fa fa-globe"></i> <%= @company.website %></a></span></p>
      
      <% if @company && !@company.location.blank? %><p><i class="fa fa-map-marker"></i> <%= @company.location %></p><% end %>
      <% if @company && !@company.employees.blank? %><p><i class="fa fa-user"></i> <%= @company.employees %> Employees</p><% end %>

      <!-- SOCIALS -->
      <span <%= 'class=disabled' if @company && !@company.social_url(Profile::SOCIAL_TYPE[:Linkedin]).blank? %>>
        <a href="<%= @company.social_url(Profile::SOCIAL_TYPE[:Linkedin]) %>" target="_blank" title="Open LinkedIn page in new window"><i class="fa fa-linkedin-square fa-2x linkedin-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-html="true"
        <% if @company.social_bio(Profile::SOCIAL_TYPE[:Linkedin]).present? %>
        data-original-title="<b><%= Profile::SOCIAL_TYPE[:Linkedin] %> bio:</b>  <%= truncate_with_ellipsis(@company.social_bio(Profile::SOCIAL_TYPE[:Linkedin]), @SOCIAL_BIO_TEXT_LENGTH_MAX) %>"
        <% end %>
        ></i></a>
      </span>
      <span <%= 'class=disabled' if @company && !@company.social_url(Profile::SOCIAL_TYPE[:Twitter]).blank? %>>
        <a href="<%= @company.social_url(Profile::SOCIAL_TYPE[:Twitter]) %>" target="_blank" title="Open Twitter in new window"><i class="fa fa-twitter fa-2x twitter-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-html="true"
        <% if @company.social_bio(Profile::SOCIAL_TYPE[:Twitter]).present? %>
        data-original-title="<b><%= Profile::SOCIAL_TYPE[:Twitter] %> bio:</b>  <%= truncate_with_ellipsis(@company.social_bio(Profile::SOCIAL_TYPE[:Twitter]), @SOCIAL_BIO_TEXT_LENGTH_MAX) %>"
        <% end %>
        ></i></a>
      </span>
      <span <%= 'class=disabled' if @company && !@company.social_url(Profile::SOCIAL_TYPE[:Facebook]).blank? %>>
        <a href="<%= @company.social_url(Profile::SOCIAL_TYPE[:Facebook]) %>" target="_blank" title="Open Facebook in new window"><i class="fa fa-facebook-square fa-2x fb-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-html="true"
        <% if @company.social_bio(Profile::SOCIAL_TYPE[:Facebook]).present? %>
        data-original-title="<b><%= Profile::SOCIAL_TYPE[:Facebook] %> bio:</b>  <%= truncate_with_ellipsis(@company.social_bio(Profile::SOCIAL_TYPE[:Facebook]), @SOCIAL_BIO_TEXT_LENGTH_MAX) %>"
        <% end %>
        ></i></a>
      </span>
    </section>


    <hr class="divider">
    <section class="description-section">
    <% if @company %>
          <p class="section-header">DESCRIPTION</p>
          <p><%= @company.bio %></p>
          <% if @company.date_founded.present? %>
              <p>Founded: <%= @company.date_founded %></p>
          <% end %>
    <% end %>
    </section>

<% else %>

    <h3 class="text-center m-t-md">An <strong>Account</strong> is where you group multiple contacts together, like a company. You can also share and collaborate contacts with coworkers.</h3>

    <p class="text-center m-t-xl">
        <a class="btn btn-primary btn-lg m-b-sm start plus-start" data-amount=500 data-plan="plus-monthly-v1" href="/plans/new" target="_blank"> Try now for free</a>
        <br>
        14 days trial on <%= link_to 'Plus Plan.', new_plan_path, class: 'links-light', target: '_blank' %>
        <br>
        No credit card required.
    </p>

<% end %>
