<style type="text/css">
  span.disabled {  /* social icons */
    opacity: .3;
    pointer-events: none;
    display: inline-block;
  }

  .company-section {
    font-size: 13px;
    padding-top: 1em;
    overflow-wrap: break-word;
  }

  .company-name {
    color: #424b5d;
    font-weight: 500;
  }

  .description-section {
    font-size: 12px;
  }

  .description-section p, .company-section p {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .key-people-section {
    font-size: 12px;
  }
  .profile-pic {
    width: 56px;
    height: 56px;
    border-radius: 56px;
    margin: 2px 6px;
    border: 2px solid <%= ApplicationHelper::CONTEXTSMITH_BLUE %>;
    font-size: 22px;
    line-height: 47px;
  }

  .contact-block {
    display: flex;
  }

  .contact-info {
    font-size: 12px;
    color: #999;
    font-weight: normal;
    overflow-wrap: break-word;
    word-break: break-all;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .contact-name {
    font-size: 14px;
  }

  .section-header {
    font-size: 14px;
    font-weight: bold;
  }

  .editable-field {
    font-size: 13px;
    color: #666;
  }

  hr.divider {
    margin: 1.5em 0;
  }
  .linkedin-icon {
    color: #0077b5; /* LinkedIn blue */
  }
  .twitter-icon {
    color: #31b8f0; /* Twitter blue */
  }
  .fb-icon {
    color: #3b5998; /* Facebook blue */
  }
</style>

<% if current_user.plus? %>
    <div class="company-section">

      <h3 class="company-name"><% if @account %><%= @account.name %> <% else %> <%= @account.name if @account %> <% end %></h3>
      <% if @account && !@account.website.blank? %><span class="col-xs-12"><a href="<%= @account.website %>" target="_blank" title="Open this company's webpage in a new window"><i class="fa fa-globe"></i> <%= @account.website %></a></span><% end %>
      <% if @account && !@account.phone.blank? %><span class="col-xs-12"><i class="fa fa-phone"></i> <%= @account.phone %></span><% end %>
      <% if @account && !@account.address.blank? %>
        <a target="_blacnk" href="https://www.google.com/maps/place/<%= @account.address %>"><span class="col-xs-12"><i class="fa fa-map-marker"></i> <%= @account.address %></span>
        <img class="col-xs-12" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @account.address %>&zoom=14&markers=color:blue%7Csize:small%7C<%= @account.address %>&scale=2&size=280x160&maptype=roadmap&key=AIzaSyDHbOsgrqZcXvjzltP1bjyBsW_BNxQF-ck"/></a>
      <% end %>
    </div>

    
    <% if @account.present? and @account != nil %>
      <div class="col-xs-6">
        <%= link_to "<button class=\"btn-outline btn-xs btn-block m-t-md\"><i class=\"fa fa-pencil\"></i> Edit account</button>".html_safe, '#edit_account_modal', 'data-toggle' => 'modal', 'class' => 'edit-account-link' %>
      </div>
      <div class="col-xs-6">
        <a href="#"><button id="account-<%= @account.id %>-background-info-activator" type="button" class="btn-outline btn-xs btn-block m-t-md"> <%= @account.notes.blank? ? "<i class=\"fa fa-plus\"></i> Add a note".html_safe : "<i class=\"fa fa-pencil\"></i> Edit note".html_safe %> </button></i></a>
      </div>
      <%= render 'accounts/modal', modal_id: 'edit_account_modal', modal_type: 'extension_edit_account_modal' %>
    <% else %>
      <% @account = Account.new %>
      <%= link_to '+ New Account', '#new_account_modal', 'data-toggle' => 'modal', 'class' => 'btn btn-primary m-t-lg' %>
      <%= render 'accounts/modal', modal_id: 'new_account_modal', modal_type: 'extension_create_account_modal' %>
    <% end %>

    <div class="col-xs-12 m-t-sm">
        <div class="editable-field">
            <% if !@account.notes.blank? %><i class="fa fa-sticky-note-o m-r-xs" style="vertical-align: top; color:#aaa">&nbsp;</i><% end %>
            <%= best_in_place @account, :notes, :as => 'textarea', :place_holder => "&nbsp;", :display_with => lambda { |v| v.present? && v.respond_to?(:to_s) ? v.gsub(/[\r\n]+/, '<br>').html_safe : v }, :activator => "#account-#{@account.id}-background-info-activator", :html_attrs => { :cols => '34', :rows => '4', :class => 'best_in_place'} %>
        </div>
    </div>

<% else %>

    <h3 class="text-center m-t-md">An <strong>Account</strong> is where you group multiple contacts together, like a company or team. See them listed here. You can also share and collaborate contacts with coworkers.</h3>

    <p class="text-center m-t-xl">
        <a class="btn btn-primary btn-lg m-b-sm start plus-start" data-amount=500 data-plan="plus-monthly-v1" href="/plans/new" target="_blank"> Try now for free</a>
        <br>
        14 days trial on <%= link_to 'Plus Plan.', new_plan_path, class: 'links-light', target: '_blank' %>
        <br>
        No credit card required.
    </p>

<% end %>
