<style>
    *, .gray-bg {
        background-color: white;
    }
</style>

<div class = "ibox-content">
    <div class="row" style="width: 90%; margin: 0;">
        <% if current_user.pro? %>
            <%= render partial: 'extension/tracking_reports_dashboard' %>
        <% else %>
            <%= render partial: 'extension/tracking_reports_dashboard_example' %>
        <% end %>
    </div>
</div>

<%= javascript_include_tag "https://code.highcharts.com/highcharts.js" %>
<%= javascript_include_tag "https://code.highcharts.com/stock/highstock.js" %>
<%= javascript_include_tag "https://code.highcharts.com/highcharts-more.js" %>
<%= javascript_include_tag "https://code.highcharts.com/modules/exporting.js" %>

<script>
    Highcharts.chart('activity-container', {
        chart: {
            type: 'areaspline'
        },
        title: {
            text: 'Messages Sent/opened (past month)'
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 50,
            y: 20,
            floating: true,
            borderWidth: 1,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
        xAxis: {
            //type: 'datetime',
            categories: <%= @event_dates.to_json.html_safe %>,
            tickInterval: 2
        },
        yAxis: [{
            title: {
                text: 'Total Messages'
            },
            minTickInterval: 1
        }],
        tooltip: {
            //xDateFormat: '%b %e',
            shared: true
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            areaspline: {
                fillOpacity: 0.5
            }
        }
    });

    var HOUROFDAY = ["12a", "1a", "2a", "3a", "4a", "5a", "6a", "7a", "8a", "9a", "10a", "11a", "12p", "1p", "2p", "3p", "4p", "5p", "6p", "7p", "8p", "9p", "10p", "11p"];
    var DAYOFWEEK = ['Sun', 'Mon', 'Tue', 'Wed', "Thu", "Fri", "Sat"];
    Highcharts.chart('punchcard-container', {
        chart: {
            type: 'bubble',
            zoomType: 'xy'
        },

        title: {
            text: 'Messages Sent/opened by Day, Hour (past month)'
        },
        xAxis: {
            title: {
                text: 'Hour of the Day'
            },
            min: 0,
            max: HOUROFDAY.length - 1,
            categories: HOUROFDAY
        },
        yAxis: {
            title: {
                text: 'Day of the Week'
            },
            min: 0,
            max: DAYOFWEEK.length - 1,
            categories: DAYOFWEEK,
            reversed: true
        },
        plotOptions: {
            bubble: {
                minSize: 3,
                maxSize: 38
            }
        },
        tooltip: {
            headerFormat:  '',
            pointFormatter: function() {
                return DAYOFWEEK[this.y] + ' ' + this.category + '<br><span style="color: ' + this.color + ';">\u25CF</span> ' + this.series.name + ': <b>' + this.z + '</b>' ;
            }
        }
    });
</script>