<h3 class="text-center m-t-lg"><strong>This account is not in ContextSmith.</strong></h3>

<p class="text-center m-t-lg"><%= link_to "Create #{@domain}", '#new_account_modal', 'data-toggle' => 'modal', class: 'btn btn-primary' %></p>

<p class="text-center m-t-md" style="line-height: 1.15em">All your sales activities and contacts tracked automatically in a single timeline — you won't miss a thing!</p>

<div class="m-t-md" style="display:block; margin:auto">
	<img src="<%= root_url %>/assets/images/tutorial/chrome_timeline_shadow.png" alt="Timeline sample" title="Timeline sample" style="display:block; margin:auto; width:<%= (288 * 0.65).round %>px; height:<%= (551 * 0.65).round %>px;"/>
</div>

<%= render 'accounts/modal', modal_id: 'new_account_modal' %>
