<h3 class="text-center m-t-lg"><strong>This account is not in ContextSmith.</strong></h3>

<p class="text-center m-t-lg"><%= link_to "Create #{@domain}", '#new_account_modal', 'data-toggle' => 'modal', class: 'btn btn-primary' %></p>

<h3 class="text-center m-t-md" style="line-height: 1.15em">By creating this account in ContextSmith, all your e-mails, meetings and contacts will be tracked automatically in a single timeline — so that you won't miss a thing!</h3>

<div style="display:block; margin:auto">
	<h3 class="m-t-md" style="font-style:italic; font-size:14px;">Sample timeline:</h3>
	<img src="<%= root_url %>/assets/images/tutorial/chrome_timeline_shadow.png" alt="Timeline sample" title="Timeline sample" style="display:block; margin:auto; width:<%= (288 * 0.65).round %>px; height:<%= (551 * 0.65).round %>px;"/>
</div>

<%= render 'accounts/modal', modal_id: 'new_account_modal' %>
