<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Home</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li class="active">
                <strong>Dashboard</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-7">
            <div class="btn-group">
                <div class="font-bold m-b-xs">Account Type:</div>
                <a href="<%= root_path %>" class="btn btn-sm <% if params[:type] %>btn-white<% else %>btn-default<% end %>" type="button">&nbsp;&nbsp;All&nbsp;&nbsp;</a>
                <a href="<%= root_path %>?type=Customer" class="btn btn-sm <% if params[:type] == "Customer" %>btn-default<% else %>btn-white<% end %>" type="button">Customer</a>
                <a href="<%= root_path %>?type=Partner" class="btn btn-sm <% if params[:type] == "Partner" %>btn-default<% else %>btn-white<% end %>" type="button">&nbsp;Partner&nbsp;</a>
                <a href="<%= root_path %>?type=Prospect" class="btn btn-sm <% if params[:type] == "Prospect" %>btn-default<% else %>btn-white<% end %>" type="button">Prospect</a>
                <a href="<%= root_path %>?type=Vendor" class="btn btn-sm <% if params[:type] == "Vendor" %>btn-default<% else %>btn-white<% end %>" type="button">&nbsp;Vendor&nbsp;</a>
                <a href="<%= root_path %>?type=Other" class="btn btn-sm <% if params[:type] == "Other" %>btn-default<% else %>btn-white<% end %>" type="button">&nbsp;Other&nbsp;</a>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="alert alert-info" style="margin-bottom:0;">
                <p><strong><i class="fa fa-lightbulb-o"></i> Tip: &nbsp;</strong> 
                Gain complete insight into all your customers communications, projects and alerts by askin your team to sign up!</p>
            </div>
        </div>
    </div>

    <!-- Metrics -->
    <div class="row m-t-lg">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label pull-right">Last 7 days</span>
                    <h5>Touches </h5>
                    <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="Total number of emails sent by your team and received from your customers. (Top 5)"></i>
                    <div class="btn-group m-l-sm">
                        <a id="most-touches" type="button" class="btn btn-xs btn-white active">Most</a>
                        <a id="least-touches" type="button" class="btn btn-xs btn-white">Least</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="touches-chart" style="min-width: 310px; max-width: 800px; height: 200px; margin: 0 auto"><h2 class="text-center" style="padding-top:70px;">No data</h2></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label pull-right">Last 7 days vs Prev 7 days</span>
                    <h5>Biggest Movers</h5>
                    <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="Percent change in email activities during Last 7 Days vs Previous 7 Days. (Top 5)"></i>
                    <div class="btn-group m-l-sm">
                        <a id="most-change" type="button" class="btn btn-xs btn-white active">Gain</a>
                        <a id="least-change" type="button" class="btn btn-xs btn-white">Decline</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="percent-change-chart" style="min-width: 310px; max-width: 800px; height: 200px; margin: 0 auto"><h2 class="text-center" style="padding-top:70px;">No data</h2></div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label pull-right">14 day trend</span>
                    <h5><%= params[:type] %> Activities Over Time</h5>
                    <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="Activities by project, trending over Last 14 Days."></i>
                </div>
                <div class="ibox-content">
                    <div class="m-b-md">
                        <select data-placeholder="Choose a Project..." style="width:97%;" class="chosen-select" id="project-chosen-select" multiple="" tabindex="-1">
                            <option value=""></option>
                            <% @projects.each do |p| %>
                                <option value="<%= p.id %>" <% if @project_max.map(&:id).include?(p.id) %> selected <% end %>><%= p.name %></option>
                            <% end %>
                        </select>
                    </div>
                    <div id="activities-trend-chart" style="min-width: 310px; max-width: 800px; height: 220px; margin: 0 auto"><h2 class="text-center" style="padding-top:70px;">No data</h2></div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Overdue for Follow Up</h5>
                    <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="Top 5 stale projects."></i>
                </div>
                <div class="ibox-content">
                    <% if !@project_follow_up.nil? %>
                        <% @project_follow_up.each do |p| %>
                            <div class="m-t-sm m-b-sm">
                                <h3 style="margin-bottom:0;"><a href="<%= project_path(p) %>"><%= p.name %></a> &nbsp;<span class="label"><%= p.category %></span></h3>
                                <small class="text-muted">Last activity <strong><%= time_ago_in_words(Time.at(p.last_sent_date.to_i)) %> ago</strong> by <strong><%= p.from[0]['personal'] %></strong></small>
                            </div>
                        <% end %>
                    <% else %>
                        <h2 class="text-center" style="padding-top:10px;">No data</h2>
                    <% end %>
                </div>
            </div>
        </div>

    </div>

</div>

<script>
    /* Tooltip */
    $('[data-toggle="tooltip"]').tooltip();

    /* Toggle Private */
    $('.best_in_place.toggle-private').on('ajax:success', function() {
        if ($(this).data('activity').is_public) {
            $(this).data('activity').is_public = false;
            $(this).parents('.vertical-timeline-content').children('h3').children('#private').show();
            $(this).parents('.pinned-content').children('h3').children('#private').show();
        }
        else {
            $(this).data('activity').is_public = true;
            $(this).parents('.vertical-timeline-content').children('h3').children('#private').hide();
            $(this).parents('.pinned-content').children('h3').children('#private').hide();
        }
    });


    <% if !@projects.empty? %>

    /* Highcharts support functions */
    function redraw_activities_trend_chart(chart, project_ids) {
        // Delete all the series.
        while (chart.series.length > 0) {
          chart.series[0].remove(false);
        }
        
        if (project_ids != null) {
            // Add the new series.
            <% @projects.each do |p| %>
                if (project_ids.indexOf("<%= p.id %>") > -1) {
                    chart.addSeries({
                            name: '<%= p.name %>',
                            pointInterval: <%= 1.day * 1000 %>,
                            pointStart: <%= 13.days.ago.at_midnight.to_i * 1000 %>,
                            data: <%= get_num_activities(13.days.ago.to_date..Date.current, @project_trend, p.id) %>
                        });
                }
            <% end %>
        }
        
        chart.redraw();
    }

    function redraw_touches_chart(chart, max) {
        // Delete all the series.
        while (chart.series.length > 0) {
          chart.series[0].remove(false);
        }

        if(max) {
            chart.xAxis[0].setCategories(<%= @project_max.map(&:name).to_json.html_safe %>);
            chart.addSeries({
                    name: 'Touches',
                    data: <%= @project_max.map(&:num_activities).to_json.html_safe %>,
                    color: '#7cb5ec'
                });
            
        } else {
            chart.xAxis[0].setCategories(<%= @project_min.map(&:name).to_json.html_safe %>);
            chart.addSeries({
                    name: 'Touches',
                    data: <%= @project_min.map(&:num_activities).to_json.html_safe %>,
                    color: '#7cb5ec'
                });
        }

        chart.redraw();
    }

    function redraw_changes_chart(chart, max) {
        // Delete all the series.
        while (chart.series.length > 0) {
          chart.series[0].remove(false);
        }

        if(max) {
            chart.xAxis[0].setCategories(<%= @project_max_chg.map(&:name).to_json.html_safe %>);
            chart.addSeries({
                    name: 'Gain',
                    data: <%= @project_max_chg.map(&:pct_from_prev).to_json.html_safe %>,
                    color: '#32B232'
                });
            
        } else {
            chart.xAxis[0].setCategories(<%= @project_min_chg.map(&:name).to_json.html_safe %>);
            chart.addSeries({
                    name: 'Decline',
                    data: <%= @project_min_chg.map(&:pct_from_prev).to_json.html_safe %>,
                    color: '#FF5050'
                });
        }

        chart.redraw();
    }

    /* Highcharts */
    $(function () {
        $('#touches-chart').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: <%= @project_max.map(&:name).to_json.html_safe %>
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [{
                name: 'Touches',
                data: <%= @project_max.map(&:num_activities).to_json.html_safe %>,
                color: '#7cb5ec'
            }]
        });
    });

    $(function () {
        $('#percent-change-chart').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: <%= @project_max_chg.map(&:name).to_json.html_safe %>
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                },
                labels: {
                    format: '{value}%'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                valueSuffix: '%'
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [{
                name: 'Gain',
                data: <%= @project_max_chg.map(&:pct_from_prev).to_json.html_safe %>,
                color: '#32B232'
            }]
        });
    });

    $(function () {
        $('#activities-trend-chart').highcharts({
            title: {
                text: ''
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: ''
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }],
                min: 0
            },
            tooltip: {
                valueSuffix: ''
            },
            legend: {
                layout: 'horizontal',
                align: 'center',
                y: 20,
                itemStyle: {
                 fontSize:'10px'
                },
                itemDistance: 10
            },
            series: [
            <% @project_max.each_with_index do |p,i| %>
                {
                name: '<%= p.name %>',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 13.days.ago.at_midnight.to_i * 1000 %>,
                data: <%= get_num_activities(13.days.ago.to_date..Date.current, @project_trend, p.id) %>
                }<% if i != @project_max.size - 1 %>,<% end %>
            <% end %>
            ]

        });
    });

    /* Event Handlers */
    var projects_chosen;

    $('#project-chosen-select').on('change', function(evt) {
        projects_chosen = $(evt.target).val();
        chart = $('#activities-trend-chart').highcharts();
        redraw_activities_trend_chart(chart, projects_chosen);
    });

    $('#most-touches').click(function() {
        chart = $('#touches-chart').highcharts();
        $(this).addClass("active");
        $('#least-touches').removeClass("active");
        redraw_touches_chart(chart, true);
    });

    $('#least-touches').click(function() {
        chart = $('#touches-chart').highcharts();
        $(this).addClass("active");
        $('#most-touches').removeClass("active");
        redraw_touches_chart(chart, false);
    });

    $('#most-change').click(function() {
        chart = $('#percent-change-chart').highcharts();
        $(this).addClass("active");
        $('#least-change').removeClass("active");
        redraw_changes_chart(chart, true);
    });

    $('#least-change').click(function() {
        chart = $('#percent-change-chart').highcharts();
        $(this).addClass("active");
        $('#most-change').removeClass("active");
        redraw_changes_chart(chart, false);
    });

    <% end %>
</script>

