

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>My Open Smart Alerts</h5>
                    <i class="fa fa-question-circle m-l-xs m-t-xs" data-toggle="tooltip" data-placement="top" data-original-title="Number of open tasks across my accounts."></i>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><%= @open_risks.size %></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>My Overdue Tasks</h5>
                    <i class="fa fa-question-circle m-l-xs m-t-xs" data-toggle="tooltip" data-placement="top" data-original-title="Number of overdue tasks across my accounts."></i>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><%= @overdue_tasks.size %></h1>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>My Open Smart Tasks</h5>
                    <i class="fa fa-question-circle m-l-xs m-t-xs" data-toggle="tooltip" data-placement="top" data-original-title="Number of open tasks across my accounts."></i>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><%= @open_total_tasks.size %></h1>
                </div>
            </div>
        </div> -->
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>My Account Streams</h5>
                    <i class="fa fa-question-circle m-l-xs m-t-xs" data-toggle="tooltip" data-placement="top" data-original-title="Account Streams that I own."></i>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><%= @projects.empty? ? "0" : @projects.size %></h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Metrics -->
    <div class="row ibox float-e-margins">
        <div class="col-lg-12">
            <div class="ibox-title">
                <h1>My Smart Tasks</h1>
            </div>
            <div class="ibox-content">
                <h2>Open Risks and Alerts</h2>
                    <div class="col-lg-12 m-b-md">
                        <% if @open_risks.empty? %>
                            <p>Great, we did not find any risks from your account streams.</p>
                        <% else %>
                            <%= render "notifications/table", :notifications => @open_risks %>
                        <% end %>
                    </div>
                <h2>Overdue / Due Today</h2>
                    <div class="col-lg-12 m-b-md">
                        <% if @overdue_tasks.empty? %>
                            <p>Hooray, no tasks due immediately!</p>
                        <% else %>
                            <%= render "notifications/table", :notifications => @overdue_tasks %>
                        <% end %>
                    </div>
                <!-- <h2>Open Tasks</h2>
                     <div class="col-lg-12 m-b-md">
                        <% if @open_tasks_not_overdue.empty? %>
                            <p>Nothing here, nice.</p>
                        <% else %>
                            <%= render "notifications/table", :notifications => @open_tasks_not_overdue %>
                        <% end %>
                    </div> -->
                <p><a href="<%= notifications_path %>/?type=incomplete&assignee=me">See more Smart Tasks &raquo;</a>
            </div>
        </div>
    </div>

    <div class="row ibox float-e-margins">
        <div class="col-lg-12">

                <div class="ibox-title">
                    <h2>My Account Streams</h2>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover responsive no-wrap" id="projects-table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Stream</th>
                                <th>Type</th>
                                <th></th>
                                <th></th>
                                <th>Risk Score</th>
                                <th>Open Tasks</th>
                                <th>Status</th>
                                <th>Last 7d Activity</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @projects.each do |p| %>
                                <tr style="height:70px;">
                                    <td>
                                        <div><a href="<%= project_path(p) %>"><%= p.name %></a></div>
                                        <div class="m-t-xs"><small><a class="link-muted" href="<%= account_path(p.account) %>"><%= p.account.name %></a><small></div>
                                    </td>
                                    <td style="width: 120px"><%= best_in_place p, :category, :as => :select, :collection => Project::CATEGORY, :class => 'btn btn-outline btn-xs fa-caret-down' %></td>
                                    <td style="width: 40px"><span data-toggle="tooltip" data-placement="right" data-html="true" data-original-title="<%= ((p.users+p.contacts).collect {|u| get_full_name(u)}).join('<br>') %>"><i class="fa fa-users" style="color:#888"></i> <%= (p.users.size + p.contacts.size) %></span></td>
                                    <td style="width: 40px"><span data-toggle="tooltip" data-placement="right" data-html="true" data-original-title="<%= (p.activity_count) %> conversations"><i class="fa fa-comments" style="color:#888"></i> <%= (p.activity_count) %></span></td>
                                    <td style="text-align:right;" class="<%= risk_color(@risk_scores[p.id]) %>"><%= @risk_scores[p.id] %></td>
                                    <td style="text-align:center" class="<%= @open_risk_count[p.id] > 0 ? 'text-danger' : '' %>"><%=@open_risk_count[p.id].to_s %></td>
                                    <td><div class="index-circle rag-circle<%=@rag_status[p.id]%>"></div><div style="display:none;"><%=@rag_status[p.id]%></div></td>
                                    <td><div id="sparkline-<%= p.id.split('-').first %>" style="margin:auto;width:70%;padding-top:25px;"></div></td>
                                    <td><% if !p.is_public %>
                                            <span class="label label-warning pull-right">Private</span>
                                        <% else %>
                                            <span class="label label-default pull-right">Public</span>
                                        <% end %>
                                    </td>

                                </tr>

                                <script>
                                $("#sparkline-<%= p.id.split('-').first %>").sparkline(<%= @metrics[p.id] %>, {
                                    type: 'bar',
                                    height: '20',
                                    barWidth: 12,
                                    barSpacing: 2,
                                    barColor: '#5DA5DA',
                                    zeroAxis: false,
                                    zeroColor: '#ed5565'
                                });
                                </script>
                            <% end %>

                        </tbody>
                    </table>

                </div>

        </div>

    </div>

</div>

<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>
<%= javascript_include_tag "notifications_table" %>
