<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Home</h2>
    </div>
</div>

<div class="row wrapper wrapper-content animated fadeInRight">

<!--
    <div class="col-lg-9 col-lg-offset-1">
        <div class="ibox float-e-margins catchup">
            <div class="ibox-title catchup-title">
                <a class="pull-left text-left"><i class="fa fa-arrow-circle-left m-r-xs" style="font-size:20px"></i>Tuesday, September 20</a>
                <a class="pull-right text-right">Wednesday, September 22<i class="fa fa-arrow-circle-right m-l-xs" style="font-size:20px"></i></a>
                <h2 class="text-center">Daily Summary<br/>Monday, September 21</h2>
            </div>
            <div class="ibox-content catchup">
                <div class="m-b-lg projects">
                    <h2>3 projects updated</h2>
                    <ul>
                        <li><h3><a href="#">ACME-PROD-003: 2015 Q4 Deal</a> <small class="m-l-sm"><a class="text-muted">Acme, Inc.</a></small></h3></li>
                             <div class="team-members">
                                <a href="#"><img alt="member" class="img-circle" src="<%= image_path('a1.jpg') %>"></a>
                                <a href="#"><img alt="member" class="img-circle" src="<%= image_path('a2.jpg') %>"></a>
                                <a href="#"><img alt="member" class="img-circle" src="<%= image_path('a3.jpg') %>"></a>
                            </div>
                        <li><h3><a href="#">STARK-PROD-002: Iron Man Implementation</a> <small class="m-l-sm"><a class="text-muted">Stark Industries </a></small></h3></li>
                            <div class="team-members">
                                <a href="#"><img alt="member" class="img-circle" src="<%= image_path('a4.jpg') %>"></a>
                                <a href="#"><img alt="member" class="img-circle" src="<%= image_path('a5.jpg') %>"></a>
                                <a href="#"><img alt="member" class="img-circle" src="<%= image_path('a7.jpg') %>"></a>
                                <a href="#"><img alt="member" class="img-circle" src="<%= image_path('a6.jpg') %>"></a>
                            </div>
                        <li><h3><a href="#">UM-PILOT-001: Customer Onboarding Project</a> <small class="m-l-sm"><a class="text-muted">Umbrella Corporations </a></small></h3></li>
                            <div class="team-members">
                                <a href="#"><img alt="member" class="img-circle" src="<%= image_path('a4.jpg') %>"></a>
                                <a href="#"><img alt="member" class="img-circle" src="<%= image_path('a2.jpg') %>"></a>
                            </div>
                    </ul>
                </div>


                <h2>2 new pinned items</h2>
                 <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td style="vertical-align:middle;"><i class="fa fa-thumb-tack text-warning"></i></td>
                            <td>
                                <h3>Create project for mobile interface<small class="pull-right">Ewald, Jonathan, Kelton, me (8)</small></h3>
                                <p class="text-muted">
                                    What do you guys think about new interface that works on smartphones? Here are my thoughts:
                                    <br/><ul><li>Easy to use</li><li>Track phone calls</li><ul>
                                </p>
                            </td>
                            <td style="vertical-align:middle;">9/15</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle;"><i class="fa fa-thumb-tack text-warning"></i></td>
                            <td>
                                <h3>Proposed Project Timeline <small class="pull-right">me, Brandon</small></h3>
                                <p class="text-muted">
                                    Because we're effectively communicating with ContextSmith, we are ahead of schedule!
                                </p>
                            </td>
                            <td style="vertical-align:middle;">9/10</td>
                        </tr>
                    </tbody>
                </table>

                <h2 class="catchup-project"><span>ACME-PROD-003: 2015 Q4 Deal</span></h2>
                <div class="row m-t-md m-l-sm">
                <div class="col-lg-12">
                    <div id="vertical-timeline" class="vertical-container dark-timeline">
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon info-bg">
                                <i class="fa fa-envelope"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h3>Proposed Project Timeline <small class="pull-right">Ewald, Jonathan, me (3)</small></h3>
                                <p>
                                    Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.
                                </p>
                                <span class="vertical-date left">Today <br />
                                    <small>3:23pm</small>
                                </span>
                            </div>

                            <div class="comment">
                                <div class="feed-element">
                                    <a href="#" class="pull-left">
                                        <img alt="image" class="img-circle" src="<%= image_path('a1.jpg') %>">
                                    </a>
                                    <div class="vertical-timeline-content">
                                        <p><strong class="m-r-xs">Monica Momot</strong> Sales is going well! I have put together a report and will invite you to the meeting.  Let's discuss further during that meeting.</p>
                                        <span class="vertical-date left">Today <br/><small class="text-muted">4:15pm</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="comment">
                                <div class="feed-element">
                                    <a href="#" class="pull-left">
                                        <img alt="image" class="img-circle" src="<%= image_path('a2.jpg') %>">
                                    </a>
                                    <div class="vertical-timeline-content">
                                        <p><strong class="m-r-xs">Michael Wong</strong> Great!  Looking forward to it.</p>
                                        <span class="vertical-date left">Today <br/><small class="text-muted">5:05pm</small>
                                    </div>
                                </div>
                            </div>
                            <div class="comment">
                                <div class="feed-element">
                                    <a href="#" class="pull-left">
                                        <img alt="image" class="img-circle" src="<%= image_path('a3.jpg') %>">
                                    </a>
                                    <div class="vertical-timeline-content">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Add a comment...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon warning-bg">
                                <i class="fa fa-file-text"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <p>The project is going well with no significant issues.  Here is what happened last week. </p>
                                <ul>
                                    <li>Upgraded customer to version 2.0.</li>
                                    <li>Thanks to Jessica for providing a full dinner for the everyone who helped to stay after hours to complete the upgrade.</li>
                                    <li>On track to hit next project milestone.</li>
                                </ul>
                                <span class="vertical-date left">Yesterday <br /><small>10:23am</small></span>
                            </div>
                            <div class="comment">
                                <div class="feed-element">
                                    <a href="#" class="pull-left">
                                        <img alt="image" class="img-circle" src="<%= image_path('a2.jpg') %>">
                                    </a>
                                    <div class="vertical-timeline-content">
                                        <p><strong class="m-r-xs">Michael Wong</strong> Great job team!</p>
                                        <span class="vertical-date left">Today <br/><small class="text-muted">5:05pm</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon success-bg">
                                <i class="fa fa-calendar"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h3>Meeting with Customer <small class="pull-right">Ewald, Jonathan, Kelton, me (8)</small></h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                                <span class="vertical-date left">
                                    Today <br />
                                    <small>3:23pm</small>
                                </span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon warning-bg">
                                <i class="fa fa-file-text"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h3>Weekly Project Status <small class="pull-right">me, Brandon</small></h3>
                                <p>Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
                                <span class="vertical-date left"> Yesterday <br /><small>3:23pm</small></span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon danger-bg">
                                <i class="fa fa-phone"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h3>Weekly Sync Up Meeting <small class="pull-right">Ewald, Jonathan, Kelton, Moshe, me</small></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                                <span class="vertical-date left">Yesterday <br /><small>3:23pm</small></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
-->

</div>
