
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row m-b-sm filter-group">
        <!-- Empty div here to push close date filter to right side -->
        <div class="col-sm-9"></div>
        <select id="close-date-filter" class="col-sm-3" data-placeholder="Filter by Close Date">
            <option value="Any"></option> <!-- no filter -->
            <optgroup label="By Close Date">
                <option <%= 'selected' if params[:close_date] == Project::CLOSE_DATE_RANGE[:Open] %> ><%= Project::CLOSE_DATE_RANGE[:Open] %></option>
                <option <%= 'selected' if params[:close_date] == Project::CLOSE_DATE_RANGE[:Closed] %> ><%= Project::CLOSE_DATE_RANGE[:Closed] %></option>
            </optgroup>
            <optgroup label="Quarter">
                <option <%= 'selected' if params[:close_date] == Project::CLOSE_DATE_RANGE[:ThisQuarter] %> ><%= Project::CLOSE_DATE_RANGE[:ThisQuarter] %></option>
                <option <%= 'selected' if params[:close_date] == Project::CLOSE_DATE_RANGE[:LastQuarter] %> ><%= Project::CLOSE_DATE_RANGE[:LastQuarter] %></option>
                <option <%= 'selected' if params[:close_date] == Project::CLOSE_DATE_RANGE[:NextQuarter] %> ><%= Project::CLOSE_DATE_RANGE[:NextQuarter] %></option>
            </optgroup>
            <optgroup label="x-To-Date">
                <option <%= 'selected' if params[:close_date] == Project::CLOSE_DATE_RANGE[:QTD] %> ><%= Project::CLOSE_DATE_RANGE[:QTD] %></option>
                <option <%= 'selected' if params[:close_date] == Project::CLOSE_DATE_RANGE[:YTD] %> ><%= Project::CLOSE_DATE_RANGE[:YTD] %></option>
            </optgroup>
        </select>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>Most Active (7d)</h2>
                    <!-- <i class="fa fa-question-circle m-l-xs m-t-xs" data-toggle="tooltip" data-placement="top" data-original-title="Opportunities with most activity during the last 7 days."></i> -->
                </div>
                <div id="chart-left" class="ibox-content opp-chart"></div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>Least Active (7d)</h2>
                    <!-- <i class="fa fa-question-circle m-l-xs m-t-xs" data-toggle="tooltip" data-placement="top" data-original-title="Opportunities with least activity during the last 7 days."></i> -->
                </div>
                <div id="chart-center" class="ibox-content opp-chart"></div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>Most Open Alerts & Tasks</h2>
                    <!-- <i class="fa fa-question-circle m-l-xs m-t-xs" data-toggle="tooltip" data-placement="top" data-original-title="Opportunities with the most open Alerts & Tasks"></i> -->
                </div>
                <div id="chart-right" class="ibox-content opp-chart"></div>
            </div>
        </div>
    </div>

    <!-- Metrics -->
    <div class="row ibox float-e-margins">
        <div class="col-lg-12">
            <div class="ibox-title">
                <h2>My Alerts & Tasks</h2>
            </div>
            <div class="ibox-content">
                <!-- <h2>Open and Alerts</h2> -->
                    <div class="col-lg-12 m-b-md">
                        <% if @open_total_tasks.blank? %>
                            <p>Great, no open tasks on your Opportunities.</p>
                        <% else %>
                            <%= render "notifications/table", :notifications => @open_total_tasks %>
                        <% end %>
                    </div>
                <p><a href="<%= notifications_path %>/?type=incomplete&assignee=me">See more Alerts & Tasks &raquo;</a>
            </div>
        </div>
    </div>

    <div class="row ibox float-e-margins">
        <div class="col-lg-12">
            <div class="ibox-title">
                <table>
                    <tbody>
                        <tr>
                            <td><h2 id="opportunities">My Opportunities<h2></h2>
                            <td>&nbsp;<i class="fa fa-question-circle m-l-xs m-t-xs" data-toggle="tooltip" data-placement="top" data-original-title="You own or to which you are subscribed."></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="ibox-content">
                <table class="table table-hover nowrap" id="projects-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th><%= Project::MAPPABLE_FIELDS_META["stage"] %></th>
                            <th><%= Project::MAPPABLE_FIELDS_META["amount"] %></th>
                            <th><%= Project::MAPPABLE_FIELDS_META["forecast"] %></th>
                            <th>Owner</th>
                            <th></th>
                            <th>Next Steps</th>
                            <th>Next Meeting</th>
                            <th>Alerts & Tasks</th>
                            <th>Last 7d Activity</th>
                            <th>Days Inactive</th>
                            <th>Days to Close</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @projects.each do |p| %>
                            <tr>
                                <td>
                                    <div><a href="<%= project_path(p) %>"><%= p.name %></a></div>
                                    <div class="m-t-xs"><small><a class="link-muted" href="<%= account_path(p.account) %>"><%= p.account.name %></a></small></div>
                                </td>
                                <td class="editable-field project-editable-field project-stage-td-<%= p.id %>"><%= best_in_place p, :stage, :as => :select, :collection => @opportunity_stages.map {|s| [s,s]}, inner_class: 'bip-select-input', activator: '.project-stage-td-'+p.id %>&nbsp;&nbsp;<i class="fa fa-pencil editable-field-activator"></i> </td>
                                <td class="editable-field project-editable-field project-amount-td-<%= p.id %>"><%= best_in_place p, :amount, display_with: lambda { |v| v.blank? ? '-' : '$' + number_to_human(v) }, inner_class: 'bip-text-input', activator: '.project-amount-td-'+p.id %>&nbsp;&nbsp;<i class="fa fa-pencil editable-field-activator"></i> </td>
                                <td class="editable-field project-editable-field project-forecast-td-<%= p.id %>"><%= best_in_place p, :forecast, :as => :select, :collection => @opportunity_forecast_categories.map {|s| [s,s]}, inner_class: 'bip-select-input', activator: '.project-forecast-td-'+p.id %>&nbsp;&nbsp;<i class="fa fa-pencil editable-field-activator"></i> </td>
                                <td class="editable-field project-editable-field project-owner-td-<%= p.id %>"><% if (p.owner_id.nil? || p.owner_id == current_user.id) || current_user.admin? %>
                                    <%= best_in_place p, :owner_id, :as => :select, :collection => @users_reverse, inner_class: 'bip-select-input', activator: '.project-owner-td-'+p.id %>&nbsp;&nbsp;<i class="fa fa-pencil editable-field-activator"></i>
                                  <% else %>
                                    <%= get_full_name(p.project_owner) %>
                                  <% end %></td>
                                <td style="width: 40px">
                                <% all_members_size = p.users.count + p.contacts.count %>
                                <span><i class="fa fa-users" style="color:#888"></i> <%= all_members_size %></span></td>
                                <td class="editable-field project-editable-field project-next-steps-td-<%= p.id %>"><%= best_in_place p, :next_steps, as: :textarea, ok_button: 'Ok', ok_button_class: 'btn btn-xs btn-primary', inner_class: 'bip-textarea-input', display_with: lambda { |v| simple_format(truncate(word_wrap(CGI.escape_html(v.blank? ? '(none)' : v), line_width: 160), length: 300, separator: '\n') ) }, activator: '.project-next-steps-td-'+p.id %>&nbsp;&nbsp;<i class="fa fa-pencil editable-field-activator"></i> </td>
                                <% next_meeting = @next_meetings[p.id].nil? ? "-" : @next_meetings[p.id].strftime('%l:%M%p on %B %-d') %>
                                <% next_meeting_ts = @next_meetings[p.id].nil? ? 0 : @next_meetings[p.id].to_i %>
                                <td data-order="<%= next_meeting_ts %>" style="text-align:center"><%= next_meeting %></td>
                                <td style="text-align:center;" class="<%= @open_risk_count[p.id] > 0 ? 'text-danger' : '' %>"><%=@open_risk_count[p.id].to_s %></td>
                                <td data-sparkline="<%= @sparkline[p.id].join(', ') %>; column"></td>

                                <td style="text-align:center"><%= @project_days_inactive[p.id].nil? ? "-" : @project_days_inactive[p.id] %></td>
                                <td style="text-align:center;" class=""><%= @days_to_close[p.id].nil? ? "-" : @days_to_close[p.id].to_s %></td>

                                <td style="width: 120px">
                                    <span data-toggle="tooltip" data-placement="left" data-original-title="Subscribe to daily updates and alerts." data-delay='{"show":"300"}'>
                                    <% if p.daily %>
                                        <%= link_to "<i class=\"fa fa-check\"></i> Daily".html_safe, project_project_subscriber_path(project_id: p.id, user_id: current_user.id) + "?type=daily", remote: true, method: :delete, id: "project-index-unfollow-daily-#{p.id}", class: "block m-b-xs", title: "Following daily" %>
                                    <% else %>
                                        <%= link_to "<i class=\"fa fa-bell-o\"></i> Daily".html_safe, project_project_subscribers_path(project_id: p.id, user_id: current_user.id) + "&type=daily", remote: true, method: :post, id: "project-index-follow-daily-#{p.id}", class: "block m-b-xs", title: "Follow daily" %>
                                    <% end %>
                                    </span>
                                    <span data-toggle="tooltip" data-placement="left" data-original-title="Subscribe to weekly updates and alerts." data-delay='{"show":"300"}'>
                                    <!-- TODO: Uncomment below to undo #1011 -->
                                    <% if p.weekly %>
                                        <!-- < %= link_to "<i class=\"fa fa-check\"></i> Weekly".html_safe, project_project_subscriber_path(project_id: p.id, user_id: current_user.id) + "?type=weekly", remote: true, method: :delete, id: "project-index-unfollow-weekly-#{p.id}", class: "block m-b-xs", title: "Following weekly" %> -->
                                    <% else %>
                                        <!-- < %= link_to "<i class=\"fa fa-bell-o\"></i> Weekly".html_safe, project_project_subscribers_path(project_id: p.id, user_id: current_user.id) + "&type=weekly", remote: true, method: :post, id: "project-index-follow-weekly-#{p.id}", class: "block m-b-xs", title: "Follow weekly" %> -->
                                    <% end %>
                                    </span>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

   
</div>

<%= javascript_include_tag "notifications_table" %>

<script type="text/javascript">
    $(document).ready(function() {

        $('#chart-left').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: ''
            },
            // subtitle: {
            //     text: ' ',
            //     align: 'center',
            //     y: 40
            // },
            xAxis: {
                max: undefined,
                crosshair: true,
                labels: {
                    style: {"cursor": "pointer"}, // whiteSpace: 'nowrap', textOverflow: 'none'
                    formatter: function () {
                        // this.value = [project_name, deal_size, close_date, project_id]
                        return '<a href="/projects/' + this.value[3] + '">' + this.value[0] + '</a><br/>' + this.value[1] + (this.value[1] != "" && this.value[2] != "" ? ", " : "" ) + this.value[2];
                    }
                }
            },
            yAxis: {
                min: 0,
                // max: 100,
                opposite: true,
                title: {
                    text: ''
                },
                gridLineWidth: 0,
                labels: {
                    enabled: false
                },
                stackLabels: {
                    enabled: true
                }
            },
            tooltip: {
                headerFormat:  '',
                pointFormatter: function() {
                    // this.category = [project_name, deal_size, close_date]
                    return '<span style="font-size: 10px">' + this.category[0] + '</span><br/><span style="color:' + this.color + '">\u25CF</span>  ' + this.series.name + ': <b>' + this.y + '</b>';
                }
            },
            legend: {
              enabled: false,
              // verticalAlign: 'top',
              // itemStyle: {
              //     fontWeight: 'light',
              //     fontSize: 12         
              // }
            },
            plotOptions: {
                series: {
                    stacking: 'normal',
                    cursor: 'pointer',
                    pointWidth: 33,
                    //maxPointWidth: 75,
                    point: {
                        events: {
                            click: function () {
                                window.location.assign("/projects/"+ this.options.id);
                                //window.open("/projects/"+ this.options.id);
                            }
                        }
                    }
                },
                allowPointSelect: false
            },
            credits: {
                enabled: false
            }
        });

        $('#chart-center').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: ''
            },
            // subtitle: {
            //     text: ' ',
            //     align: 'center',
            //     y: 40
            // },
            xAxis: {
                max: undefined,
                crosshair: true,
                labels: {
                    style: {"cursor": "pointer"}, // whiteSpace: 'nowrap', textOverflow: 'none'
                    formatter: function () {
                        // this.value = [project_name, deal_size, close_date, project_id]
                        return '<a href="/projects/' + this.value[3] + '">' + this.value[0] + '</a><br/>' + this.value[1] + (this.value[1] != "" && this.value[2] != "" ? ", " : "" ) + this.value[2];
                    }
                }
            },
            yAxis: {
                min: 0,
                // max: 100,
                opposite: true,
                title: {
                    text: ''
                },
                gridLineWidth: 0,
                labels: {
                    enabled: false
                },
                stackLabels: {
                    enabled: true
                }
            },
            tooltip: {
                headerFormat:  '',
                pointFormatter: function() {
                    // this.category = [project_name, deal_size, close_date]
                    return '<span style="font-size: 10px">' + this.category[0] + '</span><br/><span style="color:' + this.color + '">\u25CF</span>  ' + this.series.name + ': <b>' + this.y + '</b>';
                }
            },
            legend: {
              enabled: false,
              // verticalAlign: 'top',
              // itemStyle: {
              //     fontWeight: 'light',
              //     fontSize: 12         
              // }
            },
            plotOptions: {
                series: {
                    stacking: 'normal',
                    cursor: 'pointer',
                    pointWidth: 33,
                    //maxPointWidth: 75,
                    point: {
                        events: {
                            click: function () {
                                window.location.assign("/projects/"+ this.options.id);
                            }
                        }
                    }
                },
                allowPointSelect: false
            },
            credits: {
                enabled: false
            }
        });

        $('#chart-right').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: ''
            },
            // subtitle: {
            //     text: ' ',
            //     align: 'center',
            //     y: 40
            // },
            xAxis: {
                max: undefined,
                crosshair: true,
                labels: {
                    style: {"cursor": "pointer"}, // whiteSpace: 'nowrap', textOverflow: 'none'
                    formatter: function () {
                        // this.value = [project_name, deal_size, close_date, project_id]
                        return '<a href="/projects/' + this.value[3] + '">' + this.value[0] + '</a><br/>' + this.value[1] + (this.value[1] != "" && this.value[2] != "" ? ", " : "" ) + this.value[2];
                    }
                }
            },
            yAxis: {
                min: 0,
                // max: 100,
                opposite: true,
                title: {
                    text: ''
                },
                gridLineWidth: 0,
                labels: {
                    enabled: false
                },
                stackLabels: {
                    enabled: true
                }
            },
            tooltip: {
                headerFormat:  '',
                pointFormatter: function() {
                    // this.category = [project_name, deal_size, close_date]
                    //return '<span style="font-size: 10px">' + this.category[0] + '</span><br/><span style="color:' + this.color + '">\u25CF</span>  ' + this.series.name + ': <b>' + this.y + '</b>';
                    return this.category[0];
                }
            },
            legend: {
              enabled: false,
              // verticalAlign: 'top',
              // itemStyle: {
              //     fontWeight: 'light',
              //     fontSize: 12         
              // }
            },
            plotOptions: {
                series: {
                    stacking: 'normal',
                    cursor: 'pointer',
                    pointWidth: 33,
                    //maxPointWidth: 75,
                    point: {
                        events: {
                            click: function () {
                                window.location.assign("/projects/"+ this.options.id);
                            }
                        }
                    }
                },
                allowPointSelect: false
            },
            credits: {
                enabled: false
            }
        });

        <%= render partial: "home/top_dashboard.js" %>

        // handle clicking on all parts of the opportunity label
        $('.highcharts-xaxis-labels text').click(function() {
            $(this).children(0)[0].onclick(); // use the first tspan's onclick() method
        });

    });
</script>
