<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>BaseCamp Integration</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li>
                <a href="<%= settings_path%>">Settings</a>
            </li>
            <li class="active">
                <strong>BaseCamp Integration</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
          <% if @basecamp2_user %>
            <h3>Hello <%=@basecamp2_user['oauth_user_name'] %></h3>
            <p>Basecamp is Enabled in your Streams!</p>
            <a class="btn btn-primary btn-sm"  style="font-size:12px;" href="#">Disconnect BaseCamp2</a><br>
          <% else %>
            <a class="btn btn-primary btn-sm"  style="font-size:12px;" href="/users/auth/basecamp2">Connect BaseCamp2</a><br>
          <% end %>
            Must be a BaseCamp admin. Please contact <a href="mailto:support@contextsmith.com?subject=Salesforce%20Integration%20Setup" target="_blank">support@contextsmith.com</a> for setup instructions.
            <div><p><%=@climber%></p></div>
            <div><p><%=@hiker%></p></div>
            

              <!-- Salesforce nav to Account / Opportunities -->
          <nav class="navbar navbar-default">
  
              <!-- Collect the nav links, forms, and other content for toggling -->
              <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Step 1: Map Accounts</a></li>
                  <li><a href="#">Step 2: Map Opportunities</a></li>
                  <li><a href="#">Step 3: Map Activities</a></li>
                </ul> -->
              <!-- </div> -->
          </nav>
        </div>
    </div>
</div>

    
        

