<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Settings</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= authenticated_root_path %>">Home</a>
            </li>
            <li class="active">
                <strong>Settings</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" style="font-size:18px">
        <div class="col-md-6">
            <h1>Email Subscriptions</h1>
            <div class="ibox-content">
                <ul class="list-group clear-list">
                    <li class="list-group-item"><%= best_in_place current_user, :email_weekly_tracking, :as => 'checkbox', :data => {:user => current_user}, collection: {false: raw('<i class="fa fa-square-o bip_activator"></i>'), true: raw('<i class="fa fa-check-square-o bip_activator"></i>')}%> &nbsp; Weekly email tracking summary <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="Every Sunday, we send a weekly summary of your email and CRM activities."></i> </li>
                    <li class="list-group-item"><%= best_in_place current_user, :email_new_features, :as => 'checkbox', :data => {:user => current_user}, collection: {false: raw('<i class="fa fa-square-o bip_activator"></i>'), true: raw('<i class="fa fa-check-square-o bip_activator"></i>')}%> &nbsp; New feature updates <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="Very occassional updates on news and new features."></i> </li>
                    <li class="list-group-item">&nbsp;</li>
                    <!-- <li class="list-group-item">Opportunities I'm following: <br> <small><%= @current_user_subscriptions.select('projects.name').pluck(:name).sort_by {|n| n.upcase}.join('&nbsp;&nbsp; | &nbsp;&nbsp;').html_safe %> </small></li> -->
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <h1>Team Settings</h1>
            <div class="ibox-content">
                <ul class="list-group clear-list">
    <!--                     <li class="list-group-item first-item"><strong>My Title:</strong> <%= best_in_place current_user, :title, :as => 'input', :place_holder => '(none)', :activator => "#title-activator" %><i id="title-activator" class="fa fa-pencil bip_activator text-mute-gray m-l-xs"></i></li>
                    <li class="list-group-item"><strong>My Department:</strong> <%= best_in_place current_user, :department, :as => 'input', :place_holder => '(none)', :activator => "#dept-activator" %><i id="dept-activator" class="fa fa-pencil bip_activator text-mute-gray m-l-xs"></i></li>
    -->                <li class="list-group-item">My team name<i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="Team name is used for communications shared with other users in the team."></i>: <%= best_in_place @organization, :name, :as => 'input', :place_holder => '(none)', :activator => "#org-activator" %><i id="org-activator" class="fa fa-pencil bip_activator text-mute-gray m-l-xs"></i></li>
                    <li class="list-group-item">Users in my team: <%= @user_count %> <span style="font-size:12px;margin-left:10px"><a href="<%= settings_users_path %>">Manage users</a></span></li>
                    <li class="list-group-item">My Plan:<strong> <%= current_user.role %> </strong>
                        <span style="font-size:12px;margin-left:10px"><a href="/plans/new">Change plan</a></span>
                        <% if current_user.role == "Basic" %><br><span style="color: #aaa;font-size:12px">Basic plan has limit of 20 saved contacts. You used <%= @contacts_count_in_org %>.</span><% end %>
                        <% if current_user.superadmin? %><i style="color: gold" class="fa fa-star" data-toggle="tooltip" data-placement="top" data-original-title="Superadmin!"></i><% end %>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <h1>CRM Custom Fields</h1>
    <div class="row">
<!--
        <div class="col-md-4">
            <div class="ibox-content text-center <% if !current_user.admin? %>settings-element-disabled<% end %>">
                <h1>Alerts</h1>
                <div class="m-b-md">
                    <i class="fa fa-bell fa-4x"></i>
                </div>
                
                <p>4 Alerts set</p>
                <% if current_user.admin? %>
                    <p><a href="<%= settings_alerts_path %>">Configure alerts</a></p>
                <% else %>
                    <p>Only Admin can access this page</p>
                <% end %>

            </div>
        </div>
-->

        <div class="col-md-4">
            <div class="ibox-content text-center <% if !current_user.pro? %>settings-element-disabled<% end %>">
                <div class="m-b-sm">
                    <i class="fa fa-pencil-square-o fa-4x"></i>
                </div>
                
                <% if current_user.pro? %>
                    <h3><a href="<%= settings_custom_fields_path %>">Create/Edit custom fields</a></h3>
                    <p>Create any field that suits your business. <br/>For example, "Invoice #" or "Account Status".</p>
                <% else %>
                    <p>Upgrade to Pro plan and create custom CRM fields</p>
                <% end %>
            </div>
        </div>

        <div class="col-md-4">
            <div class="ibox-content text-center <% if !current_user.pro? %>settings-element-disabled<% end %>">
                <div class="m-b-sm">
                    <i class="fa fa-list fa-4x"></i>
                </div>
                
                <% if current_user.pro? %>
                    <h3><a href="<%= settings_custom_lists_path %>">Create/Edit custom lists</a></h3>
                    <p>Fields that requires a list of options, create the list here. <br/>For example, "Account Status" can have "Open", "Closed", "Pending".</p>
                <% else %>
                    <p>Upgrade to Pro plan and create custom CRM fields</p>
                <% end %>
            </div>
        </div>

    </div>

    <h1>Integrations </h1>
    <div class="row">
        <div class="col-md-4">
            <div class="ibox-content text-center">
                <h1>Coming soon</h1>
                <div class="m-b-sm">
                    <img src="assets/images/slack.png"/ style="height:75px;"/>
                </div>
                    <p>Send all notifications to Slack</p>
            </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="ibox-content text-center">
                <h1>Salesforce</h1>
                <div class="m-b-sm">
                    <img src="assets/images/salesforce.png"/ style="height:75px;"/>
                </div>

                <% if @individual_salesforce_user.nil? %>
                    <a class="btn btn-primary btn-sm" style="font-size:12px;" href="<%= user_omniauth_auth_helper_path(provider: "salesforce") %>">Log in to Salesforce</a> <a class="btn btn-primary btn-sm" style="font-size:12px; display: none" href="/users/auth/salesforcesandbox">Log in to Salesforce Sandbox</a> <br>
                <% else %>
                    <p>Connected as <%= @individual_salesforce_user.oauth_user_name %></p><p><a class="btn btn-danger btn-sm btn-outline" style="font-size:12px;" href="<%= salesforce_disconnect_path(id: @individual_salesforce_user.id) %>">Disconnect!</a></p></p>
                <% end %>
            </div>
        </div> -->
    </div>

<!--
    <h1>Organization Integrations</h1>
    <h4>Integrate across your whole organization. Only available for Business plan users.</h4>
    <div class="row">
        <div class="col-md-4">
            <div class="ibox-content text-center <% if !current_user.admin? %>settings-element-disabled<% end %>">
                <h1>Salesforce</h1>
                <div class="m-b-sm">
                    <img src="assets/images/salesforce.png"/ style="height:75px;"/>
                </div>

                <% if current_user.admin? %>
                
                    <% if @salesforce_user.nil?%>
                        <p>Not connected</p>
                    <% else %>
                        <p>Connected</p>
                    <% end %>
                    <p><a href="<%= settings_salesforce_fields_path(:standard) %>">Configure settings</a></p>

                <% else %>
                     <p>Only Admin role can access this page</p>
                <% end %>

            </div>
        </div>

        <div class="col-md-4">
            <div class="ibox-content text-center <% if !current_user.admin? %>settings-element-disabled<% end %>">
                <h1>Zendesk</h1>
                <div class="m-b-sm">
                    <img src="assets/images/zendesk.png"/ style="height:70px;"/>
                </div>
                
                <% if current_user.admin? %>
                    <p class="m-t-md">Webhook URL: <span class="well well-sm" style="line-height:3">https://<%= request.host %>/hooks/zendesk</span></p>
                    <p><a href="https://contextsmith.zendesk.com/hc/en-us/articles/235244287" target="_blank">Get connected</a></p>
                <% else %>
                     <p>Only Admin role can access this page</p>
                <% end %>

            </div>
        </div>

        <div class="col-md-4">
            <div class="ibox-content text-center <% if !current_user.admin? %>settings-element-disabled<% end %>">
                <h1>Jira</h1>
                <div class="m-b-sm">
                    <img src="assets/images/jira.png"/ style="height:75px;"/>
                </div>
             
                <% if current_user.admin? %>    
                    <p class="m-t-md">Webhook URL: <span class="well well-sm" style="line-height:3">https://<%= request.host %>/hooks/jira</span></p>
                    <p><a href="https://contextsmith.zendesk.com/hc/en-us/articles/230918807" target="_blank">Get connected</a></p>
                <% else %>
                     <p>Only Admin role can access this page</p>
                <% end %>

            </div>
        </div>
    </div>
-->
    <div class="row m-t-md">
        
    </div>
</div>