<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>My Settings</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li class="active">
                <strong>Settings</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-content row">
            <h1>General Settings</h1>
            <div class="col-lg-12">
              <h2>Users</h2>
              <p><%= @user_count %> total users, <%= @registered_user_count %> registered users</p>
              <p><a href="<%= settings_users_path %>">See details</a></p>
            </div>

            <div class="col-lg-12 m-t-md">
              <h2>Alerts</h2>
              <p><a href="<%= settings_alerts_path %>">See details</a></p>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content row">
            <h1>Integrations</h1>

            <div class="col-lg-12 m-t-md">
              <h2>Salesforce Settings</h2>
              <% if @salesforce_user.nil?%>
                <p>Not connected</p>
              <% else %>
                <p>Connected</p>
              <% end %>
              <p><a href="<%= settings_salesforce_path %>">See details</a></p>
            </div>
            <div class="col-lg-12 m-t-md">
              <h2>BaseCamp 2 Settings</h2>
                <p>Not Connected</p>
              <p><a href="<%=settings_basecamp_path%>">See details</a></p>
            </div>
            
            <div class="col-lg-12 m-t-md">
              <h2>JIRA Webhook</h2>
              <p>Webhook URL: <span class="well well-sm">https://<%= request.host %>/hooks/jira</span></p>
              <p><a href="https://contextsmith.zendesk.com/hc/en-us/articles/230918807" target="_blank">Get connected</a></p>
            </div>
            
            <div class="col-lg-12 m-t-md">
              <h2>Zendesk Webhook</h2>
              <p>Webhook URL: <span class="well well-sm">https://<%= request.host %>/hooks/zendesk</span></p>
              <p><a href="https://contextsmith.zendesk.com/hc/en-us/articles/235244287" target="_blank">Get connected</a></p>
            </div>
        </div>
    </div>
</div>



<script>
$('[data-toggle="tooltip"]').tooltip();

$('.contextsmith_account_box').on('change',function(evt,params){
  if(params){
    $(".salesforce_account").show();
    $('input[name=account_id]').val(params["selected"]);
  }
  else{
    $('input[name=account_id]').val('');
    $(".salesforce_account").hide();
  }    
});

function removeSpin() {
  $('.fa.fa-refresh').removeClass('fa-spin');
  // $('.salesforce-refresh').removeAttr("disabled"); 
}

$('.salesforce-refresh').click(function(){
  // $.ajax({url:'/salesforce_refresh'});

  $.ajax('/salesforce_refresh', {
        async: true
    });
  $('.fa.fa-refresh').addClass('fa-spin');
  // $('.salesforce-refresh').attr("disabled", "disabled");
  setTimeout(removeSpin, 30000);

  return;

});
</script>