<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>My Settings</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li class="active">
                <strong>Settings</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <h1>My Settings</h1>
    <div class="row">
        <div class="ibox-content text-center" style="font-size:18px;">
            <div class="col-md-6">
                <ul class="list-group clear-list">
                    <li class="list-group-item first-item"><strong>My Title:</strong> <%= best_in_place current_user, :title, :as => 'input', :place_holder => '(none)', :activator => "#title-activator" %><i id="title-activator" class="fa fa-pencil bip_activator text-mute-gray m-l-xs"></i></li>
                    <li class="list-group-item"><strong>My Department:</strong> <%= best_in_place current_user, :department, :as => 'input', :place_holder => '(none)', :activator => "#dept-activator" %><i id="dept-activator" class="fa fa-pencil bip_activator text-mute-gray m-l-xs"></i></li>
                    <li class="list-group-item"><strong>My User Role:</strong> <%= current_user.role %>  <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="Only Admin can change this."></i></li>
                    <li class="list-group-item"><strong>Email and calendar refresh:</strong> <%= current_user.refresh_inbox %> <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="Whether inbox and calendar are connected. Only Admin can change this."></i></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group clear-list">
                    <li class="list-group-item first-item"><strong>Opportunities I'm a part of: <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="You own or you contribute to these opportunities."></i></strong> <br> <small><%= @current_user_projects.pluck(:name).sort_by {|n| n.upcase}.join('&nbsp;&nbsp; | &nbsp;&nbsp;').html_safe %> </small></li>
                    <li class="list-group-item"><strong>Opportunities I subscribed to: <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="You subscribed to these active opportunities to receive Daily or Weekly updates."></i></strong><br> <small><%= @current_user_subscriptions.select('projects.name').pluck(:name).sort_by {|n| n.upcase}.join('&nbsp;&nbsp; | &nbsp;&nbsp;').html_safe %> </small></li>
                </ul>
            </div>
            <span>&nbsp;</span>
        </div>
    </div>

    <% if current_user.power_or_trial_only? %>
        <h1>My Integrations </h1>
        <div class="row">
            <div class="ibox-content text-center">
                <h1>Salesforce</h1>
                <div class="m-b-sm">
                    <img src="assets/images/salesforce.png"/ style="height:75px;"/>
                </div>

                <% if @individual_salesforce_user.nil? %>
                    <a class="btn btn-primary btn-sm" style="font-size:12px;" href="<%= user_omniauth_auth_helper_path(provider: "salesforce") %>">Log in to Salesforce</a> <a class="btn btn-primary btn-sm" style="font-size:12px; display: none" href="/users/auth/salesforcesandbox">Log in to Salesforce Sandbox</a> <br>
                <% else %>
                    <p>Connected as <%= @individual_salesforce_user.oauth_user_name %><span>&nbsp;&nbsp;&nbsp;<a class="btn btn-danger btn-sm btn-outline"  style="font-size:12px;" href="<%= salesforce_disconnect_path(id: @individual_salesforce_user.id) %>">Disconnect!</a></span></p>
                <% end %>
            </div>
        </div>
    <% end %>

    <h1>Organization Settings</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="ibox-content text-center">
                <h1>Users</h1>
                <div class="m-b-sm">
                    <i class="fa fa-users fa-4x"></i>
                </div>
                
                <p><%= @user_count %> total users, <%= @registered_user_count %> registered users</p>
                <p><a href="<%= settings_users_path %>">Manage users</a></p>

            </div>
        </div>

        <div class="col-md-4">
            <div class="ibox-content text-center <% if !current_user.admin? %>settings-element-disabled<% end %>">
                <h1>Alerts</h1>
                <div class="m-b-md">
                    <i class="fa fa-bell fa-4x"></i>
                </div>
                
                <p>4 Alerts set</p>
                <% if current_user.admin? %>
                    <p><a href="<%= settings_alerts_path %>">Configure alerts</a></p>
                <% else %>
                    <p>Only Admin role can access this page</p>
                <% end %>

            </div>
        </div>

        <div class="col-md-4">
            <div class="ibox-content text-center <% if !current_user.admin? %>settings-element-disabled<% end %>">
                <h1>Custom Fields</h1>
                <div class="m-b-sm">
                    <i class="fa fa-pencil-square-o fa-4x"></i>
                </div>
                
                <% if current_user.admin? %>
                    <p><a href="<%= settings_custom_fields_path %>">Edit custom fields</a></p>
                    <p><a href="<%= settings_custom_lists_path %>">Edit custom lists</a></p>
                <% else %>
                    <p>Only Admin role can access this page</p>
                <% end %>

            </div>
        </div>
    </div>

    <h1>Organization Integrations</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="ibox-content text-center <% if !current_user.admin? %>settings-element-disabled<% end %>">
                <h1>Salesforce</h1>
                <div class="m-b-sm">
                    <img src="assets/images/salesforce.png"/ style="height:75px;"/>
                </div>

                <% if current_user.admin? %>
                
                    <% if @salesforce_user.nil?%>
                        <p>Not connected</p>
                    <% else %>
                        <p>Connected</p>
                    <% end %>
                    <p><a href="<%= settings_salesforce_fields_path(:standard) %>">Configure settings</a></p>

                <% else %>
                     <p>Only Admin role can access this page</p>
                <% end %>

            </div>
        </div>

        <div class="col-md-4">
            <div class="ibox-content text-center <% if !current_user.admin? %>settings-element-disabled<% end %>">
                <h1>Basecamp 2</h1>
                <div class="m-b-md">
                    <img src="assets/images/basecamp2.png"/ style="height:75px;"/>
                </div>

                <% if current_user.admin? %>
                    <% if @basecamp2_user.nil?%>
                        <p>Not Connected</p>
                    <% else %>
                        <p>Connected</p>
                    <% end %>

                    <p><a href="<%=settings_basecamp_path%>">Configure settings</a></p>
                <% else %>
                     <p>Only Admin role can access this page</p>
                <% end %>

            </div>
        </div>

        <div class="col-md-4">
            <div class="ibox-content text-center <% if !current_user.admin? %>settings-element-disabled<% end %>">
                <h1>Jira</h1>
                <div class="m-b-sm">
                    <img src="assets/images/jira.png"/ style="height:75px;"/>
                </div>
             
                <% if current_user.admin? %>    
                    <p class="m-t-md">Webhook URL: <span class="well well-sm" style="line-height:3">https://<%= request.host %>/hooks/jira</span></p>
                    <p><a href="https://contextsmith.zendesk.com/hc/en-us/articles/230918807" target="_blank">Get connected</a></p>
                <% else %>
                     <p>Only Admin role can access this page</p>
                <% end %>

            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-md-4">
            <div class="ibox-content text-center <% if !current_user.admin? %>settings-element-disabled<% end %>">
                <h1>Zendesk</h1>
                <div class="m-b-sm">
                    <img src="assets/images/zendesk.png"/ style="height:70px;"/>
                </div>
                
                <% if current_user.admin? %>
                    <p class="m-t-md">Webhook URL: <span class="well well-sm" style="line-height:3">https://<%= request.host %>/hooks/zendesk</span></p>
                    <p><a href="https://contextsmith.zendesk.com/hc/en-us/articles/235244287" target="_blank">Get connected</a></p>
                <% else %>
                     <p>Only Admin role can access this page</p>
                <% end %>

            </div>
        </div>
    </div>
</div>