<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Super User Settings</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li class="active">
                <strong>Settings</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <table class="table table-striped table-bordered table-hover responsive no-wrap" id="users-table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Org</th>
                        <th>Onbrd</th>
                        <th>Created At</th>
                        <th>Last Signed In</th>
                        <th>Count</th>
                        <th>Acct / Proj</th>
                        <th>Time Zone</th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |u| %>
                    <tr>
                        <td><%= link_to "<i class=\"fa fa-trash-o\"></i>".html_safe, u, method: :delete, data: {confirm: "All accounts and projects that belongs to this user will be deleted! Are you sure?"} %></td>
                        <td><%= get_full_name(u) %></td>
                        <td><%= u.email %></td>
                        <td><%= u.organization.name %></td>
                        <td><%= u.onboarding_step %></td>
                        <td><%= u.created_at.to_date %></td>
                        <td><%= u.current_sign_in_at.to_date unless u.current_sign_in_at.nil? %></td>
                        <td><%= u.sign_in_count %></td>
                        <td><%= u.accounts.count.to_s %> / <%= u.projects_owner_of.count.to_s %></td>
                        <td><%= u.time_zone %></td>
                    </tr>
                    <% end %>
            </table>
        </div>
    </div>
</div>

<script>
$('[data-toggle="tooltip"]').tooltip();
</script>