<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Users Settings</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li>
                <a href="<%= settings_path%>">Settings</a>
            </li>
            <li class="active">
                <strong>Users</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <h1> Users </h1>
            <table class="table table-striped table-bordered table-hover responsive no-wrap" id="users-table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Email</th>
                        <th style="text-align:center">Title</th>
                        <th style="text-align:center">Department</th>
                        <th style="text-align:center">Joined ContextSmith</th>
                        <th style="text-align:center">Time Zone</th>
                        <th style="text-align:center">Private Email <i class="fa fa-question-circle"data-toggle="tooltip" data-placement="top" data-original-title="If checked, 1-on-1 emails are automatically set to private."></i></th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |u| %>
                    <tr>
                        <td><%= get_full_name(u) %></td>
                        <td><%= u.email %></td>
                        <td style="text-align:center"><%= best_in_place u, :title, :as => 'input', :place_holder => '(none)', :activator => "#user-#{u.id}-title-activator" %><i id="user-<%= u.id %>-title-activator" class="fa fa-pencil bip_activator text-mute-gray m-l-xs"></i></td>
                        <td style="text-align:center"><%= best_in_place u, :department, :as => 'input', :place_holder => '(none)', :activator => "#user-#{u.id}-dept-activator" %><i id="user-<%= u.id %>-dept-activator" class="fa fa-pencil bip_activator text-mute-gray m-l-xs"></i></td>
                        <td style="text-align:center">
                            <% if u.onboarding_step == -1 and !u.cluster_create_date.nil?%>
                                <%= u.cluster_create_date.to_date %>
                            <% else %>
                                <%= link_to 'Invite', "/settings/invite_user/#{u.id}", 'class' => 'btn btn-primary btn-sm', 'method' => 'post', 'remote' => true, 'id' => "#{u.id}", 'data-toggle' => "tooltip", 'data-placement' => "right", 'data-original-title' => "We will send an email invitation." %>
                            <% end %>
                        </td>
                        <td><%= u.time_zone %></td>
                        <td><%= best_in_place u, :mark_private, :as => 'checkbox', :data => {:user => u}, collection: {false: raw('<i class="fa fa-square-o bip_activator"></i>'), true: raw('<i class="fa fa-check-square-o bip_activator"></i>')}%></td>
                    </tr>
                    <% end %>
            </table>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    //DataTable
    $('#users-table').DataTable( {
        "scrollX": false,
        "responsive": true,
        "order": [[5, "desc"]],
        "dom":' <"col-sm-4 row"f><"top">rt<"col-sm-5"l><"col-sm-5"p><"bottom"i><"clear">',
        "lengthMenu": [[50, 100, -1], [50, 100, "All"]],
        "language": {
          search: "_INPUT_",
          searchPlaceholder: "Start typing to filter list..."
        }
    } );
    
    $('input[type=search]').attr('size', '50');
});
</script>