<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>User Analytics Settings</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li class="active">
                <strong>Settings</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
     <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Activity by Event type</h5>
                    <i class="fa fa-question-circle m-l-xs m-t-xs" data-toggle="tooltip" data-placement="top" data-original-title="Events Organized by View/Clicks/Changes/Submitted"></i>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"></h1>
                    <div id="event-type-container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Activity by Oranization</h5>
                    <i class="fa fa-question-circle m-l-xs m-t-xs" data-toggle="tooltip" data-placement="top" data-original-title="Displays activity events compared to other organizations"></i>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"></h1>
                    <div id="organization-container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>User Activity Last Week</h5>
                    <i class="fa fa-question-circle m-l-xs m-t-xs" data-toggle="tooltip" data-placement="top" data-original-title="User activity in the past 7 days"></i>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">2,531 Events</h1>
                </div>
            </div>
        </div>
    </div>
    <div class = "ibox-content">
        <h3>Raw Ahoy_events from the last 30 days includes contextsmith members</h3>
        <div id="activity-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <h3>non-contextsmith users Last activities in the past 30 days  </h3>
        <table class="table table-striped table-bordered table-hover responsive no-wrap" id="users-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Properties</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% @latest_user_activity.each do |u| %>
                        <tr>
                            <td></td>
                            <td><%=u.date%></td>
                            <td><%=u.email%></td>
                            <td><%=u.name%></td>
                            <td><%=u.properties%></td>
                        </tr>
                    <%end%>
                </table>

    </div>
<!--  <% @users.each do |org, users| %>
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <h1><%= best_in_place org, :name, :as => 'input' %>
                
                // Is Active? <%= best_in_place org, :is_active, :as => 'checkbox', :data => {:organization => org}, collection: {false: raw('<i class="fa fa-square-o bip_activator"></i>'), true: raw('<i class="fa fa-check-square-o bip_activator"></i>')}%>
                </h1>
                <div id="<%=org.name%>-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                <table class="table table-striped table-bordered table-hover responsive no-wrap" id="users-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Use Frequencies in Last (14 days)</th>
                            <th>Last Recorded Event</th>
                            <th>Clicked</th>
                            <th>Changed</th>
                            <th>Submitted</th>
                            <th>Last Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.each do |u| %> 
                        <tr>
                            <td></td>
                            <td><%= get_full_name(u) %></td>
                            <td><%= u.email %></td>
                            <td>in progress</td>
                            <td>in progress</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                       <% end %> 
                </table>
            </div>
        </div>
  <% end %>  -->
</div>


<script>
//HighChart Activity per Organization
// <% @institution.each do |org| %>
// Highcharts.chart('<%=org['name']%>-container', {
//     chart: {
//         type: 'areaspline'
//     },
//     title: {
//         text: 'Average Active Usage in two weeks'
//     },
//     legend: {
//         layout: 'vertical',
//         align: 'left',
//         verticalAlign: 'top',
//         x: 150,
//         y: 100,
//         floating: true,
//         borderWidth: 1,
//         backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
//     },
//     xAxis: {
//         categories: [
//             'Start',
//             'Tuesday',
//             'Wednesday',
//             'Thursday',
//             'Friday',
//             'Saturday',
//             'Sunday',
//             'Monday',
//             'Tuesday',
//             'Wednesday',
//             'Thursday',
//             'Friday',
//             'Saturday',
//             'End'
//         ]
//     },
//     yAxis: {
//         title: {
//             text: 'Activity'
//         }
//     },
//     tooltip: {
//         shared: true,
//         valueSuffix: ' units'
//     },
//     credits: {
//         enabled: false
//     },
//     plotOptions: {
//         areaspline: {
//             fillOpacity: 0.5
//         }
//     },
//     series: [{
//         name: 'Support',
//         data: [3, 4, 3, 5, 4, 10, 12, 3, 4, 3, 5, 4, 10, 12]
//     }, {
//         name: 'Service',
//         data: [1, 3, 4, 3, 3, 5, 4, 1, 3, 4, 3, 3, 5, 4]
//     }, {
//       name: 'Target Test',
//       data: [2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 10]
//     }]
// });
// <%end%>
//Highchart for Main Ahoy Event Activity

Highcharts.chart('activity-container', {
    chart: {
        type: 'areaspline'
    },
    title: {
        text: 'Total Active Event Count in two weeks'
    },
    legend: {
        layout: 'vertical',
        align: 'left',
        verticalAlign: 'top',
        x: 150,
        y: 100,
        floating: true,
        borderWidth: 1,
        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
    },
    xAxis: {
        categories: <%= @event_date.to_json.html_safe %>
    },
    yAxis: {
        title: {
            text: 'Total Event Count'
        }
    },
    tooltip: {
        shared: true,
        valueSuffix: ' event(s)'
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        areaspline: {
            fillOpacity: 0.5
        }
    },
    series: [{
        color: '#b3ff99',
        name: 'Ahoy Event Activity',
        data: <%= @event_count.to_json.html_safe %>
    }]
});

Highcharts.chart('event-type-container', {
    chart: {
        type: 'bar'
    },
    title: {
        text: 'Stacked bar chart'
    },
    xAxis: {
        categories: ['Views', 'Clicks', 'Changes', 'Submitted']
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Total Event Types'
        }
    },
    legend: {
        reversed: true
    },
    plotOptions: {
        series: {
            stacking: 'normal'
        }
    },
    series: [{
        name: 'John',
        data: [5, 3, 4, 7, 2]
    }, {
        name: 'Jane',
        data: [2, 2, 3, 2, 1]
    }, {
        name: 'Joe',
        data: [3, 4, 4, 2, 5]
    }]
});


</script>
