<div class="chat-message <%= is_internal_domain?(m.from[0].address) ? "left" : "right" %>">
    
    <%= get_profile_pic(m.from[0].personal, m.from[0].address, "message-avatar") %>
    
    <div class="message">
        <span class="message-author" href="#"> <%= m.from[0].personal %> </span> to All
        <span class="message-date"><%= Time.zone.at(m.sentDate).strftime("%b %d") %></span>
        <hr class="message-divider"/>
            <span class="message-content">
                 <p>
                    <%= truncate(m.previewContent, length: 200, separator: ' ') %>
                </p>
            </span>
    </div>
</div>