<% remote ||= false %>
<%= simple_form_for @project, remote: remote, html: {role: :form, 'data-model' => 'project'} do |f| %>

  <%# Added Bootstrap classes, and help-block container for error messages %>
  
    <div class="col-xs-12">
      <%= f.input :name %>
      <span class="help-block" style="color:red"></span>
    </div>
  
    <%= f.input :account_id, wrapper_html: { class: 'col-xs-8'}, collection: @account_names, selected: @project.account.nil? ? @account_names[0] : @project.account.id %>
    <%= f.input :start_date, wrapper_html: { class: 'col-xs-4'}, as: 'string', input_html: { class: 'start_date_datepicker' } %>
    
  <%# Added Bootstrap classes %>
  <div class="actions pull-right">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>

<% end %>