  <%# Added Bootstrap classes, and help-block container for error messages %>  

  <span class="help-block" style="color:red"></span>
  <%= f.input :name, wrapper_html: { class: 'col-md-8'} %>
  <%= f.input :category, wrapper_html: { class: 'col-md-4'}, collection: @stream_types, selected: @project.category %>
  <% if @account.blank? %>
    <%= f.input :account_id, wrapper_html: { class: 'col-md-8'}, collection: @account_names, selected: @project.account.nil? ? @account_names[0] : @project.account.id %>
  <% else %>
    <%= f.input :account_id, as: :hidden, value: @account.id %>
  <% end %>

  
  <div class="col-md-4">
    <label class="select optional control-label" for="project_account_id">Open Collaboration &nbsp;&nbsp;<i data-toggle="tooltip" data-placement="top" title="" data-original-title="When enabled, everyone in your organization can view and collaborate." class="fa fa-question-circle"></i></label>
    <% if modal_id == 'edit_project_modal' %>
      <%= best_in_place @project, :is_public, :as => 'checkbox', collection: {false: raw("<input type=\"checkbox\" class=\"is_public-switch\" />"), true: raw("<input type=\"checkbox\" class=\"is_public-switch\" checked/>")}, :class => 'switch col-xs-3' %>
    <% else %>
      <div class="switch col-xs-3">
        <%= f.check_box :is_public, checked: true, class: 'is_public-switch' %>
      </div>
    <% end %>
  </div>
