<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Projects</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li class="active">
                <strong>Projects</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-lg-12">
            <% if @projects.empty? %>
                <div class="text-center">
                    <h3>This is where your projects will show up once you add them.</h3>
                    <%= link_to 'Create New Project', '#new_project_modal', 'data-toggle' => 'modal', 'class' => 'btn btn-primary' %>
                </div>
            <% else %>
                <div class="row">
                    <div class="col-lg-12 projects">
                        <!-- account, projects -->
                        <% @projects.each do |account,projects| %>
                            <div class="clear">
                                <h2><%= account.name %></h2>
                                <!-- projects -->
                                <% projects.each do |p| %>
                                    <div class="col-lg-12">
                                        <div class="ibox-content" style="padding-bottom: 15px;">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <h3><a href="<%= project_path(p) %>"><%= p.name %></a></h3>
                                                </div>
                                                <div class="col-sm-2">
                                                    <p class="text-center">Last Activity</p> <p class="text-center"><strong><%= @project_last_activity_date[p.id].nil? ? "N/A" : time_ago_in_words(@project_last_activity_date[p.id]) %></strong></p>
                                                </div>
                                                <div class="col-sm-2">
                                                    <p class="text-center">Activities (last 7d)</p>
                                                    <div id="sparkline-<%= p.id.split('-').first %>" style="margin:auto;width:70%;"></div>
                                                </div>
                                                <div class="col-md-2 team-members">
                                                    <p class="text-center">Collaborators (<%= (p.users.size + p.contacts.size) %>)</p>
                                                    <div style="margin:-6px 0 0 12px;">
                                                        <% (p.users+p.contacts).each_with_index do |u,i| %>
                                                            <% if i <= 2 %>
                                                                <div style="padding-right:3px;float:left;"><%= get_profile_pic(get_full_name(u), u.email, "") %></div>
                                                            <% end %>
                                                        <% end %>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <%= best_in_place p, :category, :as => :select, :collection => Project::CATEGORY, :class => 'btn btn-default btn-xs fa fa-caret-down pull-right', :style => 'font-size:12px;' %>
                                                    <br/>
                                                    <% if !p.is_public %>
                                                        <span class="label label-warning pull-right">Private</span>
                                                    <% else %>
                                                        <span class="label label-default pull-right">Public</span>
                                                    <% end %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                    $("#sparkline-<%= p.id.split('-').first %>").sparkline(<%= @metrics[p.id] %>, {
                                        type: 'bar',
                                        height: '20',
                                        barWidth: 12,
                                        barSpacing: 2,
                                        barColor: '#5DA5DA',
                                        zeroAxis: false,
                                        zeroColor: '#ed5565'
                                    });
                                    </script>
                                <% end %>
                                <!-- projects -->
                            </div>
                        <% end %>
                        <!-- end account, projects -->
                    </div>
                </div>
            <% end %>
        </div>
        <!-- <div class="col-lg-3">
            <div class="row m-t-md">
                <h3>Filter by:</h3>
                <div class="col-lg-12 m-t-sm">
                    <div class="btn-group">
                        <div class="font-bold m-b-xs">Project Status:</div>
                        <button class="btn btn-sm btn-white" type="button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        <button class="btn btn-sm btn-default" type="button">&nbsp;&nbsp;&nbsp;Active&nbsp;&nbsp;&nbsp;</button>
                        <button class="btn btn-sm btn-white" type="button">Archived</button>
                    </div>
                </div>
            
                <div class="col-lg-12 m-t-lg">
                    <div class="btn-group">
                        <div class="font-bold m-b-xs">Project Role:</div>
                        <button class="btn btn-sm btn-default" type="button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        <button class="btn btn-sm btn-white" type="button">I'm Project Owner</button>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

<%= render 'projects/modal', modal_id: 'new_project_modal' %>
