<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Streams</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li class="active">
                <strong>Streams</strong>
            </li>
        </ol>
    </div>
    <% if current_user.power_user? %>
    <div class="col-lg-2">
        <%= link_to '+ New Stream', '#new_project_modal', 'data-toggle' => 'modal', 'class' => 'btn btn-primary m-t-lg' %>
    </div>
    <% end %>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-lg-6 filter-group">
          <div class="font-bold m-b-xs">Filter:</div>
          <select class="category_filter col-sm-3" data-placeholder="Select Type">
            <option value="0"></option>
            <% @stream_types.each do |k,v| %>
            <option value="<%= v %>" <% if params[:type] == v %>selected<% end %> >
              <%= v %>
            </option>
            <% end %>
          </select>
          <select class="owner_filter col-sm-3" data-placeholder="Select Owner">
            <option value="0"></option>
            <option value="<%= current_user.id %>" <% if params[:owner]==current_user.id %> selected <% end %> >  
              Owner: Me
            </option>
            <% @owners.each do |u| %> <!-- diff between @owners vs users_reverse -->
              <% if u.id != current_user.id %>
                <option value="<%= u.id %>" <% if params[:owner]==u.id %> selected <% end %> >
                  <%= get_full_name(u) %>
                </option>
              <% end %>
            <% end %>
            <option value="none" <% if params[:owner]=="none" %> selected  <% end %> >
              Unassigned
            </option>
          </select>
        </div>

        <% if current_user.admin? %>
        <div class="col-lg-6 bulk-group">
            <div class="font-bold m-b-xs">Bulk Operation:</div>
            <button type="button" class="btn btn-sm btn-white" id="bulk-delete" disabled> Delete </button>
            <select class="category_box col-sm-3" data-placeholder="Change Type" id="bulk-type" disabled>
              <option value="0"></option>
              <% @stream_types.each do |k,v| %>
              <option value="<%=v %>" ><%=v %></option>
              <% end %>
            </select>
            <select class="owner_box col-sm-3" data-placeholder="Change Owner" id="bulk-owner" disabled>
              <option value="0"></option>
              <% @owners.each do |u|    %>
              <option value="<%=u.id %>" ><%= get_full_name(u) %></option>
               <% end %>
            </select>
            <select class="status_box col-sm-3" data-placeholder="Change Status" id="bulk-status" disabled>
              <option value="0"></option>
              <% Project::STATUS.each do |s|    %>
              <option value="<%=s %>" ><%=s %></option>
               <% end %>
            </select>
        </div>
        <% end %>

    </div>

    <div class="row">
        <div class="col-sm-12 m-t-md">
            <% if @projects.empty? %>
                <div class="text-center m-t-lg">
                    <h3>No streams found. Did you filter them out?</h3>
                </div>
            <% else %>
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <table class="table table-hover responsive no-wrap" id="projects-table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Stream</th>
                                    <th>Stage</th>
                                    <th>Deal Size</th>
                                    <th>Owner</th>
                                    <th></th>
                                    <th>Risk Score</th>
                                    <th>Open Alert</th>
                                    <th>Last 7d Activity</th>
                                    <th>Days Inactive</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @projects.each do |p| %>
                                    <tr>
                                        <td>
                                            <input type="checkbox" class="bulk-project" value="<%=p.id  %>"<% if not current_user.admin? %>hidden<% end %> />
                                        </td>
                                        <td>
                                            <div><a href="<%= project_path(p) %>"><%= p.name %></a></div>
                                            <div class="m-t-xs"><small><a class="link-muted" href="<%= account_path(p.account) %>"><%= p.account.name %></a><small></div>
                                        </td>
                                        <td style="width: 120px"><%= (p.stage.nil? or p.stage.empty?) ? "-" : p.stage %></td>
                                        <td style="width: 120px"><%= (p.amount.nil?) ? "-" : "$"+number_to_human(p.amount) %></td>
                                        <td>
                                            <div><%= get_full_name(p.project_owner) %></div>
                                        </td>
                                        <td style="width: 40px"><span data-toggle="tooltip" data-placement="right" data-html="true" data-original-title="<%= ((p.users+p.contacts).collect {|u| get_full_name(u)}).join('<br>') %>"><i class="fa fa-users" style="color:#888"></i> <%= (p.users.size + p.contacts.size) %></span></td>
                                        <td style="text-align: center;" class="<%= risk_color(@risk_scores[p.id]) %>"><%= @risk_scores[p.id] %></td>
                                        <td style="text-align: center;" class="<%= @open_risk_count[p.id] > 0 ? 'text-danger' : '' %>"><%=@open_risk_count[p.id].to_s %></td>
                                        <td data-sparkline="<%= @sparkline[p.id].join(', ') %>; column"></td>

                                        <td style="text-align:center"><%= @project_days_inactive[p.id].nil? ? "-" : @project_days_inactive[p.id] %></td>
                                        <td><% if p.is_public %>
                                                <span class="label label-default pull-right">Public</span>
                                            <% else %>
                                                <span class="label label-warning pull-right">Private</span>
                                            <% end %>
                                        </td>
                                        <td style="width: 120px"> 
                                            <span data-toggle="tooltip" data-placement="left" data-original-title="Subscribe to daily updates and alerts." data-delay='{"show":"300"}'>
                                            <% if p.daily %>
                                                <%= link_to "<i class=\"fa fa-check\"></i> Daily".html_safe, project_project_subscriber_path(project_id: p.id, user_id: current_user.id) + "?type=daily", remote: true, method: :delete, id: "project-index-unfollow-daily-#{p.id}", class: "block m-b-xs", title: "Following daily" %>
                                            <% else %>
                                                <%= link_to "<i class=\"fa fa-bell-o\"></i> Daily".html_safe, project_project_subscribers_path(project_id: p.id, user_id: current_user.id) + "&type=daily", remote: true, method: :post, id: "project-index-follow-daily-#{p.id}", class: "block m-b-xs", title: "Follow daily" %>
                                            <% end %>
                                            </span>
                                            <span data-toggle="tooltip" data-placement="left" data-original-title="Subscribe to weekly updates and alerts." data-delay='{"show":"300"}'>
                                            <% if p.weekly %>
                                                <%= link_to "<i class=\"fa fa-check\"></i> Weekly".html_safe, project_project_subscriber_path(project_id: p.id, user_id: current_user.id) + "?type=weekly", remote: true, method: :delete, id: "project-index-unfollow-weekly-#{p.id}", class: "block m-b-xs", title: "Following weekly" %>
                                            <% else %>
                                                <%= link_to "<i class=\"fa fa-bell-o\"></i> Weekly".html_safe, project_project_subscribers_path(project_id: p.id, user_id: current_user.id) + "&type=weekly", remote: true, method: :post, id: "project-index-follow-weekly-#{p.id}", class: "block m-b-xs", title: "Follow weekly" %>
                                            <% end %>
                                            </span>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
<%= render 'projects/modal', modal_id: 'new_project_modal', remote: true %>
