<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Project Streams</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li class="active">
                <strong>Project Streams</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <div class="btn-group">
                        <div class="font-bold m-b-xs">Project Type:</div>
                        <a href="<%= projects_path %>" class="btn btn-sm <% if params[:type] %>btn-white<% else %>btn-default<% end %>" type="button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="<%= projects_path %>?type=Implementation" class="btn btn-sm <% if params[:type] == "Implementation" %>btn-default<% else %>btn-white<% end %>" type="button">Implementation</a>
                        <a href="<%= projects_path %>?type=Onboarding" class="btn btn-sm <% if params[:type] == "Onboarding" %>btn-default<% else %>btn-white<% end %>" type="button">&nbsp;Onboarding&nbsp;</a>
                        <a href="<%= projects_path %>?type=Pilot" class="btn btn-sm <% if params[:type] == "Pilot" %>btn-default<% else %>btn-white<% end %>" type="button">&nbsp;&nbsp;&nbsp;Pilot&nbsp;&nbsp;&nbsp;</a>
                        <a href="<%= projects_path %>?type=Support" class="btn btn-sm <% if params[:type] == "Support" %>btn-default<% else %>btn-white<% end %>" type="button">&nbsp;&nbsp;Support&nbsp;&nbsp;</a>
                        <a href="<%= projects_path %>?type=Other" class="btn btn-sm <% if params[:type] == "Other" %>btn-default<% else %>btn-white<% end %>" type="button">&nbsp;&nbsp;&nbsp;Other&nbsp;&nbsp;&nbsp;</a>
                    </div>
                </div>
            </div>

            <% if @projects.empty? %>
                <div class="text-center m-t-lg">
                    <h3>No projects found. Did you filter them out?</h3>
                </div>
            <% else %>
                <div class="row">
                    <div class="col-lg-12 projects">
                        <!-- account, projects -->
                        <% @projects.each do |account,projects| %>
                            <h2><%= account.name %></h2>
                            <div class="row m-l-xs">
                                <!-- projects -->
                                <% projects.each do |p| %>
                                    <div class="col-lg-12 <%= p.id %>">
                                        <div class="ibox-content" style="padding-bottom: 15px;">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <h3><a href="<%= project_path(p) %>"><%= p.name %></a></h3>
                                                </div>
                                                <div class="col-sm-1">
                                                    <span data-toggle="tooltip" data-placement="right" data-html="true" data-original-title="<%= ((p.users+p.contacts).collect {|u| get_full_name(u)}).join('<br>') %>"><i class="fa fa-users" style="color:#888"></i> <%= (p.users.size + p.contacts.size) %></span>
                                                </div>
                                                <div class="col-sm-2">
                                                    <p class="text-center">Last Activity</p> <p class="text-center"><strong><%= @project_last_activity_date[p.id].nil? ? "N/A" : time_ago_in_words(@project_last_activity_date[p.id]) %></strong></p>
                                                </div>
                                                <div class="col-sm-2">
                                                    <p class="text-center">Emails (last 7d)</p>
                                                    <div id="sparkline-<%= p.id.split('-').first %>" style="margin:auto;width:70%;"></div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <%= best_in_place p, :category, :as => :select, :collection => Project::CATEGORY, :class => 'btn btn-default btn-xs fa fa-caret-down pull-right', :style => 'font-size:12px;' %>
                                                    <br/>
                                                    <% if !p.is_public %>
                                                        <span class="label label-warning pull-right">Private</span>
                                                    <% else %>
                                                        <span class="label label-default pull-right">Public</span>
                                                    <% end %>
                                                </div>
                                                <div class="col-sm-1">
                                                    <span class="pull-right m-t-xs">
                                                        <%= link_to "<i class=\"fa fa-trash-o\"></i>".html_safe, p, method: :delete, remote: true, data: {confirm: "All conversations and notes in this project will be deleted! Are you sure?"} %>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                    $("#sparkline-<%= p.id.split('-').first %>").sparkline(<%= @metrics[p.id] %>, {
                                        type: 'bar',
                                        height: '20',
                                        barWidth: 12,
                                        barSpacing: 2,
                                        barColor: '#5DA5DA',
                                        zeroAxis: false,
                                        zeroColor: '#ed5565'
                                    });
                                    </script>
                                <% end %>
                                <!-- projects -->
                            </div>
                        <% end %>
                        <!-- end account, projects -->
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<%= render 'projects/modal', modal_id: 'new_project_modal' %>

<script>
$('[data-toggle="tooltip"]').tooltip();
</script>
