<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Streams</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li class="active">
                <strong>Streams</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <%= link_to '+ New Stream', '#new_project_modal', 'data-toggle' => 'modal', 'class' => 'btn btn-primary m-t-lg' %>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-lg-6 filter-group">
          <div class="font-bold m-b-xs">Filter:</div>
          <select class="category_filter col-sm-3" data-placeholder="Select Type">
            <option value="0"></option>
            <% Project::CATEGORY.each do |k,v| %>
            <option value="<%= v %>" <% if params[:type] == v %>selected<% end %> >
              <%= v %>
            </option>
            <% end %>
          </select>
          <select class="owner_filter col-sm-3" data-placeholder="Select Owner">
            <option value="0">
            </option>
            <option value="<%= current_user.id %>" <% if params[:owner]==current_user.id %> selected <% end %> >  
              Owner: Me
            </option>

            <% @owners.each do |u| %> <!-- diff between @owners vs users_reverse -->
              <% if u.id != current_user.id %>
                <option value="<%= u.id %>" <% if params[:owner]==u.id %> selected <% end %> >
                  <%= get_full_name(u) %>
                </option>
              <% end %>
            <% end %>

            <option value="none" <% if params[:owner]=="none" %> selected  <% end %> >
              Unassigned
            </option>
          </select>
        </div>
        <div class="col-lg-6 bulk-group">
            <div class="font-bold m-b-xs">Bulk Operation:</div>
            <button type="button" class="btn btn-sm btn-white" id="bulk-delete" disabled> Delete </button>
            <select class="category_box col-sm-3" data-placeholder="Change Type" id="bulk-type" disabled>
              <option value="0"></option>
              <% Project::CATEGORY.each do |k,v| %>
              <option value="<%=v %>" ><%=v %></option>
              <% end %>
            </select>
            <select class="owner_box col-sm-3" data-placeholder="Change Owner" id="bulk-owner" disabled>
              <option value="0"></option>
              <% @owners.each do |u|    %>
              <option value="<%=u.id %>" ><%= get_full_name(u) %></option>
               <% end %>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 m-t-md">
            <% if @projects.empty? %>
                <div class="text-center m-t-lg">
                    <h3>No streams found. Did you filter them out?</h3>
                </div>
            <% else %>
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <table class="table table-hover responsive no-wrap" id="projects-table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Stream</th>
                                    <th>Type</th>
                                    <th>Owner</th>
                                    <th></th>
                                    <th></th>
                                    <th>Risk Score</th>
                                    <th>Open Smart Tasks</th>
                                    <th>Status</th>
                                    <th>Last 7d Activity</th>
                                    <th>Inactive Days</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @projects.each do |p| %>
                                    <% #projects.each do |p| %>
                                        <tr style="height:70px;">
                                            <td><input type="checkbox" class="bulk-project" value="<%=p.id  %>"</td>
                                            <td>
                                                <div><a href="<%= project_path(p) %>"><%= p.name %></a></div>
                                                <div class="m-t-xs"><small><a class="link-muted" href="<%= account_path(p.account) %>"><%= p.account.name %></a><small></div>
                                            </td>
                                            <td style="width: 120px"><%= best_in_place p, :category, :as => :select, :collection => Project::CATEGORY, :class => 'btn btn-outline btn-xs fa-caret-down' %></td>
                                            <td>
                                                <%= best_in_place p, :owner_id, :as => :select, :collection => @users_reverse, :place_holder => '(none)', :activator => "#project-#{p.id}-owner-activator" %>
                                                <i id="project-<%= p.id %>-owner-activator" class="fa fa-caret-down bip_activator text-mute-gray"></i>
                                            </td>
                                            <td style="width: 40px"><span data-toggle="tooltip" data-placement="right" data-html="true" data-original-title="<%= ((p.users+p.contacts).collect {|u| get_full_name(u)}).join('<br>') %>"><i class="fa fa-users" style="color:#888"></i> <%= (p.users.size + p.contacts.size) %></span></td>
                                            <td style="width: 40px"><span data-toggle="tooltip" data-placement="right" data-html="true" data-original-title="<%= (p.activity_count) %> conversations"><i class="fa fa-comments" style="color:#888"></i> <%= (p.activity_count) %></span></td>
                                            <td style="text-align: center;" class="<%= risk_color(@risk_scores[p.id]) %>"><%= @risk_scores[p.id] %></td>
                                            <td style="text-align: center;" class="<%= @open_risk_count[p.id] > 0 ? 'text-danger' : '' %>"><%=@open_risk_count[p.id].to_s %></td>
                                            <td style="text-align:center"><div class="index-circle rag-circle<%=@rag_status[p.id]%>"></div><div style="display:none;"><%=@rag_status[p.id].to_i%></div></td>
                                            <td><div id="sparkline-<%= p.id.split('-').first %>" style="margin:auto;width:70%;padding-top:25px;"></div></td>

                                            <td style="text-align:center"><%= @project_days_inactive[p.id].nil? ? "-" : @project_days_inactive[p.id] %></td>
                                            <td><% if p.is_public %>
                                                    <span class="label label-warning pull-right">Public</span>
                                                <% else %>
                                                    <span class="label label-default pull-right">Private</span>
                                                <% end %>
                                            </td>
                                            <td style="width: 120px"> 
                                                <span data-toggle="tooltip" data-placement="left" data-original-title="Subscribe to daily updates and alerts." data-delay='{"show":"300"}'>
                                                <% if p.daily %>
                                                    <%= link_to "<i class=\"fa fa-check\"></i> Daily".html_safe, project_project_subscriber_path(project_id: p.id, user_id: current_user.id) + "?type=daily", remote: true, method: :delete, id: "project-index-unfollow-daily-#{p.id}", class: "block m-b-xs", title: "Following daily" %>
                                                <% else %>
                                                    <%= link_to "<i class=\"fa fa-bell-o\"></i> Daily".html_safe, project_project_subscribers_path(project_id: p.id, user_id: current_user.id) + "&type=daily", remote: true, method: :post, id: "project-index-follow-daily-#{p.id}", class: "block m-b-xs", title: "Follow daily" %>
                                                <% end %>
                                                </span>
                                                <span data-toggle="tooltip" data-placement="left" data-original-title="Subscribe to weekly updates and alerts." data-delay='{"show":"300"}'>
                                                <% if p.weekly %>
                                                    <%= link_to "<i class=\"fa fa-check\"></i> Weekly".html_safe, project_project_subscriber_path(project_id: p.id, user_id: current_user.id) + "?type=weekly", remote: true, method: :delete, id: "project-index-unfollow-weekly-#{p.id}", class: "block m-b-xs", title: "Following weekly" %>
                                                <% else %>
                                                    <%= link_to "<i class=\"fa fa-bell-o\"></i> Weekly".html_safe, project_project_subscribers_path(project_id: p.id, user_id: current_user.id) + "&type=weekly", remote: true, method: :post, id: "project-index-follow-weekly-#{p.id}", class: "block m-b-xs", title: "Follow weekly" %>
                                                <% end %>
                                                </span>
                                            </td>
                                        </tr>

                                        <script>        
                                        $("#sparkline-<%= p.id.split('-').first %>").sparkline(<%= @metrics[p.id] %>, {       
                                            type: 'bar',      
                                            height: '20',     
                                            barWidth: 12,     
                                            barSpacing: 2,        
                                            barColor: '#5DA5DA',      
                                            zeroAxis: false,      
                                            zeroColor: '#ed5565'      
                                        });       
                                        </script>
                                    <% #end %>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            <% end %>
        </div>
    </div>

</div>

<%= render 'projects/modal', modal_id: 'new_project_modal' %>

<script>
$('[data-toggle="tooltip"]').tooltip();
</script>
