<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Project Streams</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li class="active">
                <strong>Project Streams</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <div class="btn-group">
                        <div class="font-bold m-b-xs">Project Type:</div>
                        <a href="<%= projects_path %>" class="btn btn-sm <% if params[:type] %>btn-white<% else %>btn-default<% end %>" type="button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="<%= projects_path %>?type=Implementation" class="btn btn-sm <% if params[:type] == "Implementation" %>btn-default<% else %>btn-white<% end %>" type="button">Implementation</a>
                        <a href="<%= projects_path %>?type=Onboarding" class="btn btn-sm <% if params[:type] == "Onboarding" %>btn-default<% else %>btn-white<% end %>" type="button">&nbsp;Onboarding&nbsp;</a>
                        <a href="<%= projects_path %>?type=Pilot" class="btn btn-sm <% if params[:type] == "Pilot" %>btn-default<% else %>btn-white<% end %>" type="button">&nbsp;&nbsp;&nbsp;Pilot&nbsp;&nbsp;&nbsp;</a>
                        <a href="<%= projects_path %>?type=Support" class="btn btn-sm <% if params[:type] == "Support" %>btn-default<% else %>btn-white<% end %>" type="button">&nbsp;&nbsp;Support&nbsp;&nbsp;</a>
                        <a href="<%= projects_path %>?type=Other" class="btn btn-sm <% if params[:type] == "Other" %>btn-default<% else %>btn-white<% end %>" type="button">&nbsp;&nbsp;&nbsp;Other&nbsp;&nbsp;&nbsp;</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 m-t-md">
                <% if @projects.empty? %>
                    <div class="text-center m-t-lg">
                        <h3>No projects found. Did you filter them out?</h3>
                    </div>
                <% else %>
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <table class="table table-hover responsive no-wrap" id="projects-table" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Project Stream</th>
                                        <th>Type</th>
                                        <th>Owner</th>
                                        <th>Emails (last 7d)</th>
                                        <th style="text-align:center">Inactive Days</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @projects.each do |account,projects| %>
                                        <% projects.each do |p| %>
                                            <tr style="height:70px;">
                                                <td>
                                                    <div><a href="<%= project_path(p) %>"><%= p.name %></a></div>
                                                    <div class="m-t-xs"><small><a class="link-muted" href="<%= account_path(account) %>"><%= account.name %></a><small></div>
                                                </td>
                                                <td><%= best_in_place p, :category, :as => :select, :collection => Project::CATEGORY, :class => 'btn btn-outline btn-xs fa fa-caret-down', :style => 'font-size:12px;' %></td>
                                                <td><%= get_full_name(p.project_owner) %></td>
                                                <td><div id="sparkline-<%= p.id.split('-').first %>" style="margin:auto;width:70%;"></div></td>
                                                <td style="text-align:center"><%= @project_last_activity_date[p.id].nil? ? "" : ((Time.current - @project_last_activity_date[p.id])/86400).to_i %></td>
                                                <td><% if !p.is_public %>
                                                        <span class="label label-warning pull-right">Private</span>
                                                    <% else %>
                                                        <span class="label label-default pull-right">Public</span>
                                                    <% end %>
                                                </td>
                                                <td><a><i class="fa fa-bell"></i> Follow </a></td>
                                                <td><%= link_to "<i class=\"fa fa-trash-o\"></i>".html_safe, p, method: :delete, remote: true, data: {confirm: "All conversations and notes in this project will be deleted! Are you sure?"} %></td>
                                            </tr>
                                        <% end %>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<%= render 'projects/modal', modal_id: 'new_project_modal' %>

<script>
$('[data-toggle="tooltip"]').tooltip();
</script>
