<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><%= @project.name %> <% if @project.owner_id == current_user.id %> &nbsp;&nbsp;&nbsp;&nbsp;<a href="#edit_project_modal" data-toggle="modal" class="btn btn-white btn-xs">Edit</a> <% end %></h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li>
                <a href="<%= projects_path %>">Project Streams</a>
            </li>
            <li>
                <a href="<%= account_path(@project.account) %>"><%= @project.account.name %></a>
            </li>
            <li class="active">
                <%= @project.name %>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 m-t-md">
        <span class="btn btn-white btn-sm btn-outline">
        <% if @project.subscribers.map(&:user_id).include?(current_user.id) %>
            <%= link_to "<i class=\"fa fa-check\"></i> Following".html_safe, project_project_subscriber_path(project_id: @project.id, user_id: current_user.id), remote: true, method: :delete, id: "follow-#{@project.id}" %>
        <% else %>
            <%= link_to "<i class=\"fa fa-bell-o\"></i> Follow ".html_safe, project_project_subscribers_path(project_id: @project.id, user_id: current_user.id), remote: true, method: :post, id: "follow-#{@project.id}" %>
        <% end %>
        </span>
    </div>
</div>

<div class="row">
    <div class="col-lg-9">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">

                    <div class="panel blank-panel">
                        <div class="panel-heading">
                            <div class="panel-options">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a id="newsfeed-link" href="#conversations" data-toggle="tab">Conversations</a></li>
                                    <li class=""><a id="pinned-link" href="#pinned" data-toggle="tab"><i class="fa fa-thumb-tack"></i> Pinned Items (<%= @pinned_activities.size %>)</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="conversations">

                                    <!-- Form -->
                                    <div style="margin-top:-37px;padding-bottom:15px">
                                        <div class="row comment-header-box">
                                            <div class="col-lg-12">
                                                <span class="row">
                                                    <a id="add-note" type="button" class="btn btn-w-m btn-primary btn-sm active">ADD NOTE</a>
                                                    <!-- <button type="button" class="btn btn-w-m btn-link btn-sm">ADD PROJECT STATUS</button> -->
                                                    <script>
                                                        $('#add-note').click(function(){
                                                            $('#add-note-form').toggle();
                                                            $('#add-note').toggleClass('btn-primary');
                                                            $('#add-note').toggleClass('btn-link');
                                                        });
                                                    </script>
                                                </span>
                                                <div id="add-note-form" class="col-lg-12" style="padding-top:7px;display:none;">
                                                    
                                                    <%= render 'activities/form', :project_id => @project.id %>  
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    
                                </div>

                                <div class="tab-pane" id="pinned">
                                    <%= render 'pinned_tab', pinned_activities: @pinned_activities %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Activities -->
            <div id="newsfeed">
                <div class="alert alert-info">
                    <p><strong><i class="fa fa-lightbulb-o"></i> Tip: &nbsp;What shows up in the stream?</strong></p>  
                    <p>Only external communications are being tracked, and internal emails are completely excluded. One-on-one emails are automatically tagged as "Private", which can be toggled to "Public" to share with the team.</p>
                    <p style="text-align:center"><a style="text-align:center" class="btn btn-xs btn-primary" href="<%= settings_path %>">Invite collaborators to connect their inbox</a></p>
                </div>
                <div class="row m-t-md">
                    <div class="col-lg-12">
                        <div id="vertical-timeline" class="vertical-container light-timeline">

                            <% @activities.each do |a| %>
                                <%= render 'activities/timeline_block', a: a %>
                            <% end %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Right sidebar -->
    <div class="col-lg-3">
        <div class="row wrapper wrapper-content project-manager">
            <div class="m-t-md"><strong>Project Description:</strong></div>

            <small><%= best_in_place @project, :description, :as => 'textarea', :place_holder => '(Add description)', :display_with => :simple_format, :inner_class => 'col-sm-12',
                                :cancel_button => 'Cancel', :cancel_button_class => 'btn btn-secondary btn-xs', :ok_button => 'Ok', :ok_button_class => 'btn btn-primary btn-xs' %></small>

            <ul class="list-group clear-list m-t-sm">
                <li class="list-group-item first-item">
                    <strong>Type:</strong>
                    <span class="pull-right">
                        <%= best_in_place @project, :category, :as => :select, :collection => Project::CATEGORY, :class => 'btn btn-default btn-sm fa-caret-down' %>
                    </span>
                </li>
                <li class="list-group-item first-item">
                    <strong>Open Collaboration:</strong>
                    <% if @project.is_public %>
                        <span class="label label-default pull-right" style="font-size:12px">Public</span>
                    <% else %>
                        <span class="label label-warning pull-right" style="font-size:12px">Private</span>
                    <% end %>
                </li>
                <li class="list-group-item">
                    <strong>Project Owner:</strong>
                    <span class="pull-right"><%= get_full_name(@project.project_owner) %></span>
                </li>
                <li class="list-group-item">
                    <strong>Account:</strong>
                    <span class="pull-right"><a href="<%= account_path(@project.account) %>"><%= @project.account.name %></a></span>
                </li>
                <li class="list-group-item small m-t-md first-item">
                    <span class="pull-right"><%= @project.updated_at.to_date.to_formatted_s(:long) %></span>
                    Last Updated:
                </li>
                <li class="list-group-item small">
                    <span class="pull-right"><%= @project.created_at.to_date.to_formatted_s(:long) %></span>
                    Created:
                </li>
            </ul>

            <div class="m-t-md">
                <strong>Project Collaborators</strong>
                <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="People who are currently working on this project."></i>
            </div>
            <dl>
                <dd class="project-people">
                    <% @project_members.each do |pm| %>
                      <% m = get_user_or_contact_from_pm(pm) %>
                        <div class="row m-b-sm member <%= pm.id %>">
                            <div class="col-sm-2">
                                <%= get_profile_pic(get_full_name(m), m.email, "message-avatar") %>
                            </div>
                            <div class="col-sm-7 project-team-title">
                                <span><%= get_full_name(m) %></span><br>
                                <span><small><%= m.title %> <%= get_short_name_account_path(m) %></small></span>
                            </div>
                            <div class="col-sm-3 m-t-xs delete-member">
                                <%= link_to "<i class=\"fa fa-times\"></i>".html_safe, pm, method: :delete, style: "color:#bbb", title: "Remove", data: {confirm: "Are you sure you want to remove this member from the project?"}, remote: true %>
                            </div>
                        </div>
                    <% end %>
                    
                </dd>
            </dl>
            <div class="m-t-md">
                <strong>Project Subscribers</strong>
                <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="People who will receive updates about this project."></i>
            </div>
        <% if (!@project_subscribers.empty?) %>
            <dl>
                <dd class="project-people">
                    <% @project_subscribers.each do |ps| %>
                    <!-- FOR NOW, SUBSCRIBERS ARE ONLY INTERNAL USERS AND CANNOT BE CONTACTS. NEED TO FIX HERE IF SUBS CAN BE CONTACTS. SEE PROJECT MEMBERS FOR EXAMPLE -->
                      <% s = ps.user %>
                        <div class="row m-b-sm member <%= ps.id.to_s + ps.user_id %>">
                            <div class="col-sm-2">
                                <%= get_profile_pic(get_full_name(s), s.email, "message-avatar") %>
                            </div>
                            <div class="col-sm-7 project-team-title">
                                <span><%= get_full_name(s) %></span><br>
                                <span><small><%= s.title %> <%= get_short_name_account_path(s) %></small></span>
                            </div>
                            <div class="col-sm-3 m-t-xs delete-member">
                                <%= link_to "<i class=\"fa fa-times\"></i>".html_safe, project_subscribers_destroy_other_path(id: ps.id), method: :delete, style: "color:#bbb", title: "Remove", data: {confirm: "Are you sure you want to remove this subscriber from the project?"}, remote: true %>
                            </div>
                        </div>
                    <% end %>
                    
                </dd>
            </dl>
        <% end %>
            <%= form_tag(project_project_subscribers_create_all_path(project_id: @project.id), :method => "post", id: "search-form", class: "navbar-form-custom", remote: true) do %>
                <input type="search" name="user_id" id="search-subs" class="contacts" placeholder="Add subscribers">
                <%= submit_tag "Add" %>
            <%end%>
        </div>
    </div>
</div>

<%= render 'modal', modal_id: 'edit_project_modal' %>

<script>
    /* Tabs */
    $('#newsfeed-link').click(function() {
        $('#newsfeed').show();
    });
    $('#pinned-link').click(function() {
        $('#newsfeed').hide();
    });

    $('[data-toggle="tooltip"]').tooltip();

    /* Pins */
    $('.best_in_place.pin').on("ajax:success", function(){ 
        if ($(this).data('activity').is_pinned) {
            // remove from pinned tab
            $(this).data('activity').is_pinned = false;
            var id = $(this).data('activity').id;
            $("tr#pin-"+id).fadeOut(400, function() {$("tr#pin-"+id).remove();});   
        }
        else {
            // add to pinned tab
            $(this).data('activity').is_pinned = true;
            $.ajax({url:'/projects/<%=@project.id%>/render_pinned_tab'});
        }
    });

    /* Toggle Private */
    $('.best_in_place.toggle-private').on('ajax:success', function() {
        if ($(this).data('activity').is_public) {
            $(this).data('activity').is_public = false;
            $(this).parents('.vertical-timeline-content').children('h3').children('#private').show();
            $(this).parents('.pinned-content').children('h3').children('#private').show();
        }
        else {
            $(this).data('activity').is_public = true;
            $(this).parents('.vertical-timeline-content').children('h3').children('#private').hide();
            $(this).parents('.pinned-content').children('h3').children('#private').hide();
        }
    });

    /* Switchery */
    var elem = document.querySelector('.is_public-switch');
    new Switchery(elem);
    $('.best_in_place.switch').bind("ajax:success", function () { new Switchery($(this).children('.is_public-switch')[0], { }); });
</script>