<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><%= @project.name %> &nbsp;&nbsp;&nbsp;&nbsp;<a href="#edit_project_modal" data-toggle="modal" class="btn btn-white btn-xs">Edit project</a></h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li>
                <a href="<%= projects_path %>">Projects</a>
            </li>
            <li>
                <a href="<%= account_path(@project.account) %>"><%= @project.account.name %></a>
            </li>
            <li class="active">
                <%= @project.name %>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <%= link_to '+ New Project', '#new_project_modal', 'data-toggle' => 'modal', 'class' => 'btn btn-primary m-t-lg' %>
    </div>
</div>

<div class="row">
    <div class="col-lg-9">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-md-12">
                                <div class="vdivide">
                                    <div class="row vdivide">
                                    <div class="col-sm-4 text-center">
                                            <span>Last Activity</span>
                                            <strong><%= time_ago_in_words(@project.created_at) + ' ago' %></strong>
                                        </div>
                                    <div class="col-sm-4 text-center">
                                        <strong>28</strong>
                                            <span>Conversations</span>
                                        </div>
                                    <div class="col-sm-4 text-center">
                                        <strong>8</strong>
                                            <span>Collaborators</span>
                                        </div>
                                  </div>
                                </div>
                        </div>
                    </div>  
                </div>
            
                <div class="ibox-content">

                    <div class="panel blank-panel">
                        <div class="panel-heading">
                            <div class="panel-options">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#conversations" data-toggle="tab">Conversations</a></li>
                                    <li class=""><a href="#pinned" data-toggle="tab"><i class="fa fa-thumb-tack"></i> Pinned Items (5)</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="conversations">

                                    <!-- Form -->
                                    <div style="margin-top:-37px;">
                                        <div class="row comment-header-box">
                                            <div class="col-lg-12">
                                                <span class="row">
                                                    <button type="button" class="btn btn-w-m btn-link btn-sm active">ADD NOTES</button>
                                                    <!-- <button type="button" class="btn btn-w-m btn-link btn-sm">ADD PROJECT STATUS</button> -->
                                                </span>
                                                <div class="col-lg-10" style="padding-top:7px;">
                                                    <div class="form-group arrow_box">
                                                      <textarea class="form-control" rows="3" id="comment" style="resize:none;border:none;" placeholder="Add a note or meeting minutes..."></textarea>
                                                    </div>
                                                </div>
                                                <div class="m-t-lg">
                                                    <%= link_to 'Add Note', '#', 'class' => 'btn btn-primary btn-sm' %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    
                                </div>

                                <div class="tab-pane" id="pinned">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align:middle;">
                                                    <span class="btn btn-warning btn-circle"><i class="fa fa-check"></i></span>
                                                </td>
                                                <td>
                                                    <h3>Create project for mobile phones <small class="pull-right">Ewald, Jonathan, Kelton, me (8)</small></h3>
                                                    <p class="text-muted">
                                                        Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
                                                    </p>
                                                </td>
                                                <td style="vertical-align:middle;">9/15</td>

                                            </tr>
                                            <tr>
                                                <td style="vertical-align:middle;">
                                                    <span class="label label-default"><i class="fa fa-lock"></i> Private</span>
                                                </td>
                                                <td>
                                                    <h3>Remember to add Richard to call</h3>
                                                    <p class="text-muted">
                                                        Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                                    </p>
                                                </td>
                                                <td style="vertical-align:middle;">9/10</td>
                                            </tr>
                                            <tr>
                                                <td style="vertical-align:middle;">
                                                    <span class="label label-warning"><i class="fa fa-check"></i> Public</span>
                                                </td>

                                                <td>
                                                    <h3>Proposed Project Timeline <small class="pull-right">me, Brandon</small></h3>
                                                    <p class="text-muted">
                                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which
                                                    </p>
                                                </td>
                                                <td style="vertical-align:middle;">9/10</td>
                                            </tr>
                                            <tr>
                                                <td style="vertical-align:middle;">
                                                    <span class="label label-warning"><i class="fa fa-check"></i> Public</span>
                                                </td>

                                                <td>
                                                    <p>The project is going well with no significant issues.  Here is what happened last week. </p>
                                                        <ul>
                                                            <li>Upgraded customer to version 2.0.</li>
                                                            <li>Thanks to Jessica for providing a full dinner for the everyone who helped to stay after hours to complete the upgrade.</li>
                                                            <li>On track to hit next project milestone.</li>
                                                        </ul>
                                                </td>
                                                <td style="vertical-align:middle;">9/9</td>
                                            </tr>
                                            <tr>
                                                <td style="vertical-align:middle;">
                                                    <span class="label label-default"><i class="fa fa-lock"></i> Private</span>
                                                </td>
                                                <td>
                                                    <h3>Weekly Project Status</h3>
                                                    <p class="text-muted">
                                                        The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                                    </p>
                                                </td>
                                                <td style="vertical-align:middle;">9/9</td>
                                            </tr>
                                            <tr>
                                                <td style="vertical-align:middle;">
                                                    <span class="label label-warning"><i class="fa fa-check"></i> Public</span>
                                                </td>
                                                <td>
                                                    <h3>Sync up meeting with Exec team</h3>
                                                    <p class="text-muted">
                                                        The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                                    </p>
                                                </td>
                                                <td style="vertical-align:middle;">9/8</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Activities -->
            <div class="row m-t-md">
                <div class="col-lg-12">
                    <div id="vertical-timeline" class="vertical-container light-timeline">

                        <% @activities.each do |a| %>
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon white-bg">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="vertical-timeline-button">
                                    <button class="btn btn-primary btn-xs" type="button"><i class="fa fa-thumb-tack"></i> &nbsp;&nbsp;Pin it</button>
                                </div>
                                <span class="vertical-date left"><%= a.last_sent_date.strftime("%b %d") %><br />
                                    <small><%= a.last_sent_date.strftime("%l:%M%P") %></small>
                                </span>

                                <div class="vertical-timeline-content">
                                    <h3><%= a.title %>
                                        <small class="pull-right"><%= get_conversation_member_names(a.from, a.to, a.cc) %></small>
                                    </h3>
                                    
                                    <div class="chat-discussion">
                                        <% if a.email_messages.size > 1 %>
                                            <div class="more-messages">
                                                <a id="show-more-<%= a.backend_id %>"><i class="fa fa-plus-square"></i> &nbsp; <%= pluralize((a.email_messages.size - 1), 'older message') %></a>
                                            </div>
                                        <% end %>

                                        <% a.email_messages.each do |m| %>
                                            <% if a.email_messages.last != m %>
                                                <div class="hidden-chat-message-<%= a.backend_id %>" style="display:none;">
                                                    <%= render 'projects/chat_message', :m => m %>
                                                </div>
                                            <% else %>
                                                <%= render 'projects/chat_message', :m => m %>
                                            <% end %>

                                        <% end %>
                                        
                                        <script>
                                            $("#show-more-<%= a.backend_id %>").click(function() {
                                                $(".hidden-chat-message-<%= a.backend_id %>").each(function() {
                                                    console.log($(this));
                                                    $(this).show();
                                                });
                                                $("#show-more-<%= a.backend_id %>").hide();
                                            });
                                        </script>
                                    </div> <!-- chat discussion -->

                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-lg-3">
        <div class="row wrapper wrapper-content project-manager">
            <div class="m-t-md"><strong>Project Team</strong></div>
            <dl>
                <dd class="project-people">
                    <% @team.each do |m| %>
                        <div class="row m-b-sm">
                            <div class="col-sm-2">
                                <%= get_profile_pic(get_full_name(m), m.email, "message-avatar") %>
                            </div>
                            <div class="col-sm-10 project-team-title">
                                <span><%= get_full_name(m) %></span><br>
                                <span><small><%= m.title %> <%= get_short_name_account_path(m) %></small></span>
                            </div>
                        </div>
                    <% end %>
                    
                </dd>
            </dl>

            <div class="m-t-md"><strong>Project Description:</strong></div>
            <% if @project.description.nil? or @project.description.empty? %>
            <small><a href="">(Add description)</a></small>
            <% else %>
            <%= @project.description %>
            <% end %>

            <ul class="list-group clear-list m-t-sm">
                <li class="list-group-item first-item">
                    <strong>Status:</strong>
                    <span class="label label-default pull-right">Active</span>
                </li>
                <li class="list-group-item">
                    <strong>Project Owner:</strong>
                    <span class="pull-right"><%= get_full_name(@project.project_owner) %></span>
                </li>
                <li class="list-group-item">
                    <strong>Account:</strong>
                    <span class="pull-right"><a href="<%= account_path(@project.account) %>"><%= @project.account.name %></a></span>
                </li>
                <li class="list-group-item small m-t-md first-item">
                    <span class="pull-right"><%= @project.updated_at.to_formatted_s(:long) %></span>
                    Last Updated:
                </li>
                <li class="list-group-item small">
                    <span class="pull-right"><%= @project.created_at.to_formatted_s(:long) %></span>
                    Created:
                </li>
            </ul>

        </div>
    </div>
</div>

<%= render 'modal', modal_id: 'edit_project_modal' %>

