<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h2 class="in-bl"><%= @project.name %></h2>
        <% if @project.subscribers.map(&:user_id).include?(current_user.id) %>
            <%= link_to "<i class=\"fa fa-check\"></i> Following".html_safe, project_project_subscriber_path(project_id: @project.id, user_id: current_user.id), remote: true, method: :delete, id: "follow-#{@project.id}", class: "btn btn-primary btn-sm btn-outline m-l-md m-t-n-sm" %>
        <% else %>
            <%= link_to "<i class=\"fa fa-bell-o\"></i> Follow ".html_safe, project_project_subscribers_path(project_id: @project.id, user_id: current_user.id), remote: true, method: :post, id: "follow-#{@project.id}", class: "btn btn-primary btn-sm btn-outline m-l-md m-t-n-sm" %>
        <% end %>
        <% if @project.owner_id == current_user.id %>
            <a href="#edit_project_modal" data-toggle="modal" class="btn btn-primary btn-outline btn-sm m-t-n-sm">Edit</a>
            <!--<a href="#share_project_modal" data-toggle="modal" class="btn btn-primary btn-outline btn-sm m-t-n-sm">Share</a>-->
            <%= link_to "<i class=\"fa fa-refresh\"></i> Refresh".html_safe, project_path(@project) + "/refresh", method: :post, class: "btn btn-sm btn-primary btn-outline m-t-n-sm", id: "btn-refresh" %>
            <i class="fa fa-question-circle m-t-n-sm text-primary" style="vertical-align:text-top;" data-toggle="tooltip" data-placement="top" data-original-title="Retrieve latest emails and meetings from members."></i>
        <% end %>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li>
                <a href="<%= projects_path %>">Streams</a>
            </li>
            <li>
                <a href="<%= account_path(@project.account) %>"><%= @project.account.name %></a>
            </li>
            <li class="active">
                <%= @project.name %>
            </li>
        </ol>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-xs-2">
                <div class="metric <%= if @project_risk_score > 80.0
                                         "text-danger"
                                        elsif @project_risk_score > 60.0
                                         "text-warning"
                                        else
                                         "text-success"
                                        end %>">
                    <div class="metric-title" align="center">
                        <h5><%= if @project_risk_score > 80.0
                                    "High"
                                elsif @project_risk_score > 60.0 
                                    "Medium"
                                else
                                    "Low"
                                end %> Risk</h5>
                    </div>
                    <div class="metric-content" align="center">
                        <h3><%= @project_risk_score %>%</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="metric text-danger">
                    <div class="metric-title" align="center">
                        <h5>Open Risks</h5>
                    </div>
                    <div class="metric-content" align="center">
                        <h3><%= @project_open_risks_count %></h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="metric">
                    <div class="metric-title" align="center">
                        <h5>Last Activity</h5>
                    </div>
                    <div class="metric-content" align="center">
                        <h3><small><%= @project_last_activity_date ? time_ago_in_words(@project_last_activity_date) + " ago" : "--" %></small></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-9">
        <div class="wrapper animated fadeInUp">
            <div class="panel blank-panel">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="nav-tab"><a id="newsfeed-link" href="<%= project_path(@project) %>" class="white-bg"><i class="fa fa-comments"></i> Activities</a></li>
                        <li class="nav-tab"><a id="pinned-link" href="<%= project_path(@project) %>/pinned" class="white-bg"><i class="fa fa-thumb-tack"></i> Key Activities (<%= @project_pinned_count %>)</a></li>
                        <li class="nav-tab"><a id="tasks-link" href="<%= project_path(@project) %>/tasks" class="white-bg"><i class="fa fa-list-ul"></i> Smart Tasks (<%= @project_open_tasks_count %>)</a></li>
                        <li class="nav-tab"><a id="insights-link" href="<%= project_path(@project) %>/insights" class="white-bg"><i class="fa fa-lightbulb-o"></i> Insights</a></li>
                    </ul>
                </div>
            </div>

            <%= render 'timeline' if params[:action] == "show" %>
            <%= render 'pinned_tab', pinned_activities: @pinned_activities if params[:action] == "pinned_tab" %>
            <%= render 'notifications/project' if params[:action] == "tasks_tab" %>
            <%= render 'insights_tab', project_id: @project.id if params[:action] == "insights_tab" %>

        </div>
    </div>

    <!-- Right sidebar -->
    <div class="col-lg-3">
        <div class="row wrapper wrapper-content project-manager">
            <div class="row m-t-md toggle-open">
                <div class="col-sm-2">
                    <span class="fa fa-caret-right toggle-icon"></span>
                </div>
                <div class="col-sm-10">
                    <strong>Stream Details</strong>
                </div>
            </div>
            <!-- empty span here for proper toggle-open event handler traversal -->
            <span></span>
            <div class="no-display">
                <div class="m-t-md">
                    <strong>Description:</strong>
                    <i id="proj-desc-activator" class="fa fa-pencil pull-right bip_activator text-mute-gray"></i>
                </div>

                <small><%= best_in_place @project, :description, :as => 'textarea', :place_holder => '(no description)', :display_with => :simple_format, :inner_class => 'col-sm-12', :cancel_button => 'Cancel', :cancel_button_class => 'btn btn-secondary btn-xs', :ok_button => 'Ok', :ok_button_class => 'btn btn-primary btn-xs', :activator => '#proj-desc-activator' %></small>

                <ul class="list-group clear-list m-t-sm">
                    <li class="list-group-item first-item">
                        <strong>Type:</strong>
                        <span class="pull-right">
                            <%= best_in_place @project, :category, :as => :select, :collection => Project::CATEGORY, :class => 'btn btn-default btn-sm fa-caret-down' %>
                        </span>
                    </li>
                    <li class="list-group-item first-item">
                        <strong>Open Collaboration:</strong>
                        <% if @project.is_public %>
                            <span class="label label-default pull-right" style="font-size:12px">Public</span>
                        <% else %>
                            <span class="label label-warning pull-right" style="font-size:12px">Private</span>
                        <% end %>
                    </li>
                    <li class="list-group-item">
                        <strong>Stream Owner:</strong>
                        <span class="pull-right">                            
                            <%=best_in_place @project, :owner_id, :as => :select, :collection => @users_reverse, :place_holder => '(none)', :activator => "#project-owner-activator" %>       
                            <i id="project-owner-activator" class="fa fa-caret-down bip_activator text-mute-gray"></i>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <strong>Account:</strong>
                        <span class="pull-right"><a href="<%= account_path(@project.account) %>"><%= @project.account.name %></a></span>
                    </li>
                    <li class="list-group-item small m-t-md first-item">
                        <span class="pull-right"><%= @project.updated_at.to_date.to_formatted_s(:long) %></span>
                        Last Updated:
                    </li>
                    <li class="list-group-item small">
                        <span class="pull-right"><%= @project.created_at.to_date.to_formatted_s(:long) %></span>
                        Created:
                    </li>
                </ul>
            </div>
            <!-- SUGGESTED MEMBERS SECTION -->
            <div class="row m-t-md toggle-open">
                <div class="col-sm-2">
                    <span class="fa fa-caret-right toggle-icon"></span>
                </div>
                <div class="col-sm-10">
                    <strong><span id="suggested-length"><%= @suggested_members.length %></span> Suggested Members</strong>
                    <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="People we picked up in your emails who might be involved in this stream. Click the ✔ or X to confirm or reject our suggestions."></i>
                </div>
            </div>
            <!-- empty span here for proper toggle-open event handler traversal -->
            <span></span>
            <dl class="no-display">
                <dd class="project-people suggested-members">
                    <% @suggested_members.each do |pm| %>
                        <%= render 'project_members/member', pm: pm %>
                    <% end %>
                </dd>
            </dl>
            <!-- PROJECT MEMBERS SECTION -->
            <div class="row m-t-md toggle-open">
                <div class="col-sm-2">
                    <span class="fa fa-caret-right toggle-icon"></span>
                </div>
                <div class="col-sm-10">
                    <strong><span id="pm-length"><%= @project_members.length %></span> Members</strong>
                    <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="People who are currently working on this project."></i>
                </div>
            </div>
            <div class="row member">
                <div class="col-sm-2">
                    <i class="fa fa-plus-circle fa-2x" style="margin-top: 8px;margin-left:5px;color:#aaa"></i>
                </div>
                <div class="col-sm-9 project-team-title">
                    <%= form_tag("/project_members/", :method => "post", id: "search-form", class: "fix-height", remote: true) do %>
                         <input type="search" name="email" id="member-search" class="contacts z-top" placeholder="Add members...">
                        <%= hidden_field_tag 'project_id', @project.id %>
                        <%= submit_tag "Add member", class: "hide-submit-button" %>
                    <%end%>
                </div>
            </div>
            <dl class="no-display">
                <dd class="project-people members">
                    <% @project_members.each do |pm| %>
                        <%= render 'project_members/member', pm: pm %>
                    <% end %>
                </dd>
            </dl>
            <!-- PROJECT SUBSCRIBERS SECTION -->
            <div class="row m-t-md toggle-open">
                <div class="col-sm-2">
                    <span class="fa fa-caret-right toggle-icon"></span>
                </div>
                <div class="col-sm-10">
                    <strong><span id="ps-length"><%= @project_subscribers.length %></span> Followers</strong>
                    <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="Internal users who will receive updates about this project."></i>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <i class="fa fa-plus-circle fa-2x" style="margin-top: 8px;margin-left:5px;color:#aaa"></i>
                </div>
                <div class="col-sm-9 project-team-title">
                    <%= form_tag(project_project_subscribers_create_all_path(project_id: @project.id), :method => "post", id: "search-form", class: "fix-height", remote: true) do %>
                        <input type="search" name="user_id" id="search-subs" class="contacts" placeholder="Add followers...">
                        <%= submit_tag "Add subscriber", class: "hide-submit-button" %>
                    <%end%>
                </div>
            </div>
            <dl class="no-display">
                <dd class="project-people subs">
                    <% @project_subscribers.each do |ps| %>
                        <%= render 'project_subscribers/subscriber', ps: ps %>
                    <% end %>
                </dd>
            </dl>
        </div>
    </div>
</div>

<%= render 'modal', modal_id: 'edit_project_modal' %>

<div class="modal inmodal fade" id="share_project_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Share this stream with others</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <h4>You can only share with people in your "Followers" list</h4>
                </div>
    
                <div class="col-lg-12">
                    <div class="input-group m-b">
                        <input type="text" class="form-control">
                        <div class="input-group-btn">
                            <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button" aria-expanded="false">Permission <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Can view</a></li>
                                <li><a href="#">Can add note</a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
      
        <div class="modal-footer">
          <button class="btn btn-primary pull-left">Done</button>
        </div>
      
    </div>
  </div>
</div>

<script>
    $('[data-toggle="tooltip"]').tooltip();

    /* Pins */
    $('.best_in_place.pin').on("ajax:success", function(){ 
        if ($(this).data('activity').is_pinned) {
            // remove from pinned tab
            $(this).data('activity').is_pinned = false;
            var id = $(this).data('activity').id;
            $("tr#pin-"+id).fadeOut(400, function() {$("tr#pin-"+id).remove();});   
        }
        else {
            // add to pinned tab
            $(this).data('activity').is_pinned = true;
            $.ajax({url:'/projects/<%=@project.id%>/render_pinned_tab'});
        }
    });

    /* Toggle Private */
    $('.best_in_place.toggle-private').on('ajax:success', function() {
        if ($(this).data('activity').is_public) {
            $(this).data('activity').is_public = false;
            $(this).parents('.vertical-timeline-content').children('h3').children('#private').show();
            $(this).parents('.pinned-content').children('h3').children('#private').show();
        }
        else {
            $(this).data('activity').is_public = true;
            $(this).parents('.vertical-timeline-content').children('h3').children('#private').hide();
            $(this).parents('.pinned-content').children('h3').children('#private').hide();
        }
    });

    /* Switchery */
    var elem = document.querySelector('.is_public-switch');
    new Switchery(elem);
    $('.best_in_place.switch').bind("ajax:success", function () { new Switchery($(this).children('.is_public-switch')[0], { }); });

    /* Toggle Show Project Subs */
    $('.toggle-open').click( function () {
        $(this).find(".toggle-icon").toggleClass("fa-caret-right fa-caret-down");
        $(this).next().next().toggle(400);
    })

    /* Spin the refresh icon to show that refresh is running */
    $('#btn-refresh').click( function () {
        $('.fa.fa-refresh').addClass('fa-spin');
    })


    <% if params[:action] == "show" %>
    
    // $('.comment_category').chosen({ disable_search: false, allow_single_deselect: true});

    // $('.user_filter').chosen({disable_search: false, allow_single_deselect: true});  

    $(function () {
      Highcharts.setOptions({                                            
      // This is for all plots, change Date axis to local timezone
        global : {
          // timezoneOffset: -7 * 60,
          useUTC : false
        },
        lang: {
            resetZoom: "Clear date filter"
        }
      });
      $('#time-filter-highcharts').highcharts({
        chart: {
            events:{
              load: function(event) {
                var extremes = this.yAxis[0].getExtremes();
                this.yAxis[0].setExtremes(0, extremes.dataMax);
            },
              selection: function(event) {

                if(event.xAxis !=null){
                  g_minDate = event.xAxis[0].min/1000;
                  g_maxDate = event.xAxis[0].max/1000;
                  console.log('----------------');
                  console.log(g_minDate);
                  console.log(g_maxDate);
                  console.log('----------------');
                  applyFilter();

                  // activityTimeFilter(event.xAxis[0].min/1000,event.xAxis[0].max/1000);

                }
                else{
                  // console.log("selection: reset");
                  // activityTimeFilterReset();
                  g_minDate = 0; 
                  g_maxDate = 0;
                  applyFilter();
                }

              }

            },
            zoomType: 'x',
            backgroundColor: '#f3f3f4'
        },
        credits: {
            enabled: false
        },
        title: {
            text: ''
        },
        // subtitle: {
        //     text: document.ontouchstart === undefined ?
        //             'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        // },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            title: { text: '' },
            labels: { enabled: false },
            gridLineWidth: 0,
            minorGridLineWidth: 0
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'column',
            name: 'Activity Count',
            data: [ <% @activities_by_date.each_with_index do |a, i| %>
                        <%='['+a.utc_milli_timestamp.inspect + ','+ a.count.inspect+']' %> <%= ',' unless i + 1 == @activities_by_date.length %>
                    <% end %> 
            ]                
        }]
    });
  });

    <% end %>

  $(document).ready(function(){
    $('.comment_category').chosen({ disable_search: false, allow_single_deselect: true, width: $('.comment_category_div').width() + 'px'});

  $('.user_filter').chosen({disable_search: false, allow_single_deselect: true, width: $('.user_filter_div').width() + 'px'});  
    $('#timeline-filters').hide();
  });
</script>
<% if params[:action] == "tasks_tab" %>
<%= javascript_include_tag 'notifications' %>
<% end %>