<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h2 class="in-bl"><%= @project.name %></h2>
        <span class="btn btn-white btn-sm btn-outline m-l-md">
        <% if @project.subscribers.map(&:user_id).include?(current_user.id) %>
            <%= link_to "<i class=\"fa fa-check\"></i> Following".html_safe, project_project_subscriber_path(project_id: @project.id, user_id: current_user.id), remote: true, method: :delete, id: "follow-#{@project.id}" %>
        <% else %>
            <%= link_to "<i class=\"fa fa-bell-o\"></i> Follow ".html_safe, project_project_subscribers_path(project_id: @project.id, user_id: current_user.id), remote: true, method: :post, id: "follow-#{@project.id}" %>
        <% end %>
        </span>
        <% if @project.owner_id == current_user.id %>
            <a href="#edit_project_modal" data-toggle="modal" class="btn btn-white btn-xs m-l-md">Edit</a>
            <!-- UI component for merging projects -->
            <!-- <div class="merge-wrapper in-bl m-l-md">
                <div class="input-group input-group-sm">
                    <span class="input-group-btn">
                        <button class="btn btn-white" type="button">Merge with:</button>
                    </span>
                    <select id="search-account-projects" class="form-control" name="other-project">
                    <% @account_projects.each do |p| %>
                        <option value="<%= p[0] %>"><%= p[1] %></option>
                    <% end %>
                    </select>
                </div>
            </div> -->
        <% end %>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li>
                <a href="<%= projects_path %>">Project Streams</a>
            </li>
            <li>
                <a href="<%= account_path(@project.account) %>"><%= @project.account.name %></a>
            </li>
            <li class="active">
                <%= @project.name %>
            </li>
        </ol>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-xs-3">
                <div class="metric open-task">
                    <div class="metric-title">
                        <h5>Open Tasks</h5>
                    </div>
                    <div class="metric-content">
                        <h3><%= @project_open_tasks %></h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="metric touch-by">
                    <div class="metric-title">
                        <h5>Last Touch By</h5>
                    </div>
                    <div class="metric-content">
                        <h3><%= @project_last_touch_by %></h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="metric">
                    <div class="metric-title">
                        <h5>Last Activity</h5>
                    </div>
                    <div class="metric-content">
                        <h3><%= time_ago_in_words(@project_last_activity_date) %> ago</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-9">
        <div class="wrapper animated fadeInUp">
            <div class="panel blank-panel">
                <div class="panel-heading">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active nav-tab"><a id="newsfeed-link" href="#conversations" data-toggle="tab" class="white-bg"><i class="fa fa-comments"></i> Conversations</a></li>
                            <li class="nav-tab"><a id="pinned-link" href="#pinned" data-toggle="tab" class="white-bg"><i class="fa fa-thumb-tack"></i> Pinned Items (<%= @pinned_activities.size %>)</a></li>
                            <li class="nav-tab"><a id="tasks-link" href="#tasks" data-toggle="tab" class="white-bg"><i class="fa fa-list-ul"></i> Smart Tasks</a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="conversations">

                            <!-- Form -->
                            <div style="margin-top:-37px;padding-bottom:15px">
                                <div class="row comment-header-box white-bg">
                                    <div class="col-lg-12">
                                        <div id="add-note-form" style="padding-top:10px;padding-bottom:10px;">
                                            
                                            <%= render 'activities/form', :project_id => @project.id %>  
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                        </div>

                        <div class="tab-pane" id="pinned">
                            <%= render 'pinned_tab', pinned_activities: @pinned_activities %>
                        </div>

                        <div class="tab-pane" id="tasks">
                            This is the tasks tab!!!
                        </div>
                    </div>
                </div>
            </div>

            <!-- Activities -->
            <div id="newsfeed">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="vertical-timeline" class="vertical-container light-timeline">

                            <% @activities.each do |a| %>
                                <%= render 'activities/timeline_block', a: a %>
                            <% end %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Right sidebar -->
    <div class="col-lg-3">
        <div class="row wrapper wrapper-content project-manager">
            <div class="m-t-md"><strong>Project Description:</strong></div>

            <small><%= best_in_place @project, :description, :as => 'textarea', :place_holder => '(Add description)', :display_with => :simple_format, :inner_class => 'col-sm-12',
                                :cancel_button => 'Cancel', :cancel_button_class => 'btn btn-secondary btn-xs', :ok_button => 'Ok', :ok_button_class => 'btn btn-primary btn-xs' %></small>

            <ul class="list-group clear-list m-t-sm">
                <li class="list-group-item first-item">
                    <strong>Type:</strong>
                    <span class="pull-right">
                        <%= best_in_place @project, :category, :as => :select, :collection => Project::CATEGORY, :class => 'btn btn-default btn-sm fa-caret-down' %>
                    </span>
                </li>
                <li class="list-group-item first-item">
                    <strong>Open Collaboration:</strong>
                    <% if @project.is_public %>
                        <span class="label label-default pull-right" style="font-size:12px">Public</span>
                    <% else %>
                        <span class="label label-warning pull-right" style="font-size:12px">Private</span>
                    <% end %>
                </li>
                <li class="list-group-item">
                    <strong>Project Owner:</strong>
                    <span class="pull-right"><%= get_full_name(@project.project_owner) %></span>
                </li>
                <li class="list-group-item">
                    <strong>Account:</strong>
                    <span class="pull-right"><a href="<%= account_path(@project.account) %>"><%= @project.account.name %></a></span>
                </li>
                <li class="list-group-item small m-t-md first-item">
                    <span class="pull-right"><%= @project.updated_at.to_date.to_formatted_s(:long) %></span>
                    Last Updated:
                </li>
                <li class="list-group-item small">
                    <span class="pull-right"><%= @project.created_at.to_date.to_formatted_s(:long) %></span>
                    Created:
                </li>
            </ul>
            <div class="row m-t-md">
                <div class="col-sm-10">
                    <strong><span id="pm-length"><%= @project_members.length %></span> Collaborators</strong>
                    <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="People who are currently working on this project."></i>
                </div>
                <div class="col-sm-2">
                    <span class="fa fa-plus toggle-open"></span>
                </div>
            </div>
            <div class="row member">
                <div class="col-sm-2">
                    <i class="fa fa-plus-circle fa-2x" style="margin-top: 8px;margin-left:5px;color:#aaa"></i>
                </div>
                <div class="col-sm-9 project-team-title">
                    <%= form_tag("/project_members/", :method => "post", id: "search-form", class: "fix-height", remote: true) do %>
                         <input type="search" name="email" id="member-search" class="contacts top" placeholder="Add collaborators...">
                        <%= hidden_field_tag 'project_id', @project.id %>
                        <%= submit_tag "Add member", class: "hide-submit-button" %>
                    <%end%>
                </div>
            </div>
            <dl class="no-display">
                <dd class="project-people members">
                    <% @project_members.each do |pm| %>
                        <%= render 'project_members/member', pm: pm %>
                    <% end %>
                    
                </dd>
            </dl>
            <div class="row m-t-md">
                <div class="col-sm-10">
                    <strong><span id="ps-length"><%= @project_subscribers.length %></span> Followers</strong>
                    <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="Internal users who will receive updates about this project."></i>
                </div>
                <div class="col-sm-2">
                    <span class="fa fa-plus toggle-open"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <i class="fa fa-plus-circle fa-2x" style="margin-top: 8px;margin-left:5px;color:#aaa"></i>
                </div>
                <div class="col-sm-9 project-team-title">
                    <%= form_tag(project_project_subscribers_create_all_path(project_id: @project.id), :method => "post", id: "search-form", class: "fix-height", remote: true) do %>
                        <input type="search" name="user_id" id="search-subs" class="contacts" placeholder="Add followers...">
                        <%= submit_tag "Add subscriber", class: "hide-submit-button" %>
                    <%end%>
                </div>
            </div>
            <dl class="no-display">
                <dd class="project-people subs">
                    <% @project_subscribers.each do |ps| %>
                        <%= render 'project_subscribers/subscriber', ps: ps %>
                    <% end %>
                    
                </dd>
            </dl>
        </div>
    </div>
</div>

<%= render 'modal', modal_id: 'edit_project_modal' %>

<script>
    /* Tabs */
    $('#newsfeed-link').click(function() {
        $('#newsfeed').show();
        $('.panel-body').removeClass('white-bg');
    });
    $('#pinned-link').click(function() {
        $('#newsfeed').hide();
        $('.panel-body').addClass('white-bg');
    });
    $('#tasks-link').click(function() {
        $('#newsfeed').hide();
        $('.panel-body').addClass('white-bg');
    });

    $('[data-toggle="tooltip"]').tooltip();

    /* Pins */
    $('.best_in_place.pin').on("ajax:success", function(){ 
        if ($(this).data('activity').is_pinned) {
            // remove from pinned tab
            $(this).data('activity').is_pinned = false;
            var id = $(this).data('activity').id;
            $("tr#pin-"+id).fadeOut(400, function() {$("tr#pin-"+id).remove();});   
        }
        else {
            // add to pinned tab
            $(this).data('activity').is_pinned = true;
            $.ajax({url:'/projects/<%=@project.id%>/render_pinned_tab'});
        }
    });

    /* Toggle Private */
    $('.best_in_place.toggle-private').on('ajax:success', function() {
        if ($(this).data('activity').is_public) {
            $(this).data('activity').is_public = false;
            $(this).parents('.vertical-timeline-content').children('h3').children('#private').show();
            $(this).parents('.pinned-content').children('h3').children('#private').show();
        }
        else {
            $(this).data('activity').is_public = true;
            $(this).parents('.vertical-timeline-content').children('h3').children('#private').hide();
            $(this).parents('.pinned-content').children('h3').children('#private').hide();
        }
    });

    /* Switchery */
    var elem = document.querySelector('.is_public-switch');
    new Switchery(elem);
    $('.best_in_place.switch').bind("ajax:success", function () { new Switchery($(this).children('.is_public-switch')[0], { }); });

    /* Toggle Show Project Subs */
    $('.fa.toggle-open').click( function () {
        $(this).toggleClass("fa-plus fa-minus");
        $(this).parent().parent().next().next().toggle(400);
    })
</script>