<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-7">
        <img class="pull-left m-r-sm m-t-sm" style="max-height:75px;max-width:75px" src="https://logo.clearbit.com/<%= @clearbit_domain %>"/>
        <h2 class="in-bl"><%= @project.name %></h2>
        <% if @user_subscription.present? && @user_subscription.daily %>
            <%= link_to "<i class=\"fa fa-check\"></i> Following daily".html_safe, project_project_subscriber_path(project_id: @project.id, user_id: current_user.id)+"?type=daily", remote: true, method: :delete, id: "project-show-unfollow-daily-#{@project.id}", class: "btn btn-primary btn-sm btn-outline m-l-md m-t-n-sm", title: "Following daily" %>
        <% else %>
            <%= link_to "<i class=\"fa fa-bell-o\"></i> Follow daily".html_safe, project_project_subscribers_path(project_id: @project.id, user_id: current_user.id)+"&type=daily", remote: true, method: :post, id: "project-show-follow-daily-#{@project.id}", class: "btn btn-primary btn-sm btn-outline m-l-md m-t-n-sm", title: "Follow daily" %>
        <% end %>
        <% if @user_subscription.present? && @user_subscription.weekly %>
            <%= link_to "<i class=\"fa fa-check\"></i> Following weekly".html_safe, project_project_subscriber_path(project_id: @project.id, user_id: current_user.id)+"?type=weekly", remote: true, method: :delete, id: "project-show-unfollow-weekly-#{@project.id}", class: "btn btn-primary btn-sm btn-outline m-t-n-sm", title: "Following weekly" %>
        <% else %>
            <%= link_to "<i class=\"fa fa-bell-o\"></i> Follow weekly".html_safe, project_project_subscribers_path(project_id: @project.id, user_id: current_user.id)+"&type=weekly", remote: true, method: :post, id: "project-show-follow-weekly-#{@project.id}", class: "btn btn-primary btn-sm btn-outline m-t-n-sm", title: "Follow weekly" %>
        <% end %>
        <% if (@project.owner_id.nil? || @project.owner_id == current_user.id) or current_user.admin? %>
            <a href="#edit_project_modal" data-toggle="modal" class="btn btn-primary btn-outline btn-sm m-t-n-sm">Edit</a>
            <%= link_to "<i class=\"fa fa-refresh\"></i> Refresh".html_safe, project_path(@project) + "/refresh", method: :post, class: "btn btn-sm btn-primary btn-outline m-t-n-sm", id: "btn-refresh" %>
            <i class="fa fa-question-circle m-t-n-sm text-primary" style="vertical-align:text-top;" data-toggle="tooltip" data-placement="top" data-original-title="Retrieve latest emails and meetings from members."></i>
        <% end %>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li>
                <a href="<%= projects_path %>">Streams</a>
            </li>
            <li>
                <a href="<%= account_path(@project.account) %>"><%= @project.account.name %></a>
            </li>
            <li class="active">
                <strong><%= @project.name %></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-5">
        <div class="row">
            <div class="col-xs-3">
                <div class="metric <%= risk_color(@project_risk_score) %>">
                    <div class="metric-title" align="center">
                        <h5>Risk Score</h5>
                    </div>
                    <div class="metric-content" align="center">
                        <h3><%= @project_risk_score %></h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="metric text-danger">
                    <div class="metric-title" align="center">
                        <h5>Open Smart Tasks</h5>
                    </div>
                    <div class="metric-content" align="center">
                        <h3><%= @project_open_tasks_count %></h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="metric">
                    <div class="metric-title" align="center">
                        <h5>Status</h5>
                    </div>
                    <div class="metric-content" align="center">
                      <div class="large-circle rag-circle<%=@project_rag_status%>"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-9">
        <div class="wrapper animated fadeInUp">
            <div class="panel blank-panel">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="nav-tab"><a id="newsfeed-link" href="<%= project_path(@project) %>" class="white-bg"><i class="fa fa-comments"></i> Activities</a></li>
                        <li class="nav-tab"><a id="pinned-link" href="<%= project_path(@project) %>/pinned" class="white-bg"><i class="fa fa-thumb-tack"></i> Key Activities (<%= @project_pinned_count %>)</a></li>
                        <li class="nav-tab"><a id="tasks-link" href="<%= project_path(@project) %>/tasks" class="white-bg"><i class="fa fa-list-ul"></i> Smart Tasks (<%= @project_open_tasks_count %>)</a></li>
                        <li class="nav-tab"><a id="arg-link" href="<%= project_path(@project) %>/arg" class="white-bg"><i class="fa fa-users"></i> Relationship Graph</a></li>
                        <li class="nav-tab"><a id="insights-link" href="<%= project_path(@project) %>/insights" class="white-bg"><i class="fa fa-lightbulb-o"></i> Insights</a></li>
                    </ul>
                </div>
            </div>

            <%= render 'activities_tab' if params[:action] == "show" %>
            <%= render 'pinned_tab', pinned_activities: @pinned_activities if params[:action] == "pinned_tab" %>
            <%= render 'notifications/project' if params[:action] == "tasks_tab" %>
            <%= render 'arg_tab', project_id: @project.id if params[:action] == "arg_tab" %>
            <%= render 'insights_tab', project_id: @project.id if params[:action] == "insights_tab" %>

        </div>
    </div>

    <!-- Right sidebar -->
    <div class="col-lg-3">
        <div class="row wrapper wrapper-content project-manager">
            <div class="row m-t-md toggle-open">
                <div class="col-sm-2">
                    <span class="fa fa-caret-right toggle-icon"></span>
                </div>
                <div class="col-sm-10">
                    <strong>Details</strong>
                </div>
            </div>
            <!-- empty span here for proper toggle-open event handler traversal -->
            <span></span>
            <div class="no-display">
                <div class="m-t-md">
                    <strong>Linked to SFDC:</strong>
                    <span class="pull-right">
                        <% if @project.salesforce_opportunity.nil? and @project.account.salesforce_accounts.empty? %>
                            Not linked
                        <% else %>
                            <% if @project.salesforce_opportunity.nil? %>
                                <% @project.account.salesforce_accounts.each do |sfa| %>
                                  <a href="<%= @salesforce_base_URL + "/" + sfa.salesforce_account_id %>" title="View '<%= sfa.salesforce_account_name %>' in Salesforce" target="_blank"><%= sfa.salesforce_account_name %><br></a>
                                <% end %> 
                            <% else %>
                                <a href="<%= @salesforce_base_URL + "/" + @project.salesforce_opportunity.salesforce_opportunity_id %>" title="View '<%= @project.salesforce_opportunity.name %>' in Salesforce" target="_blank"><%= @project.salesforce_opportunity.name %></a>
                            <% end %>
                        <% end %>
                    </span>
                </div>

                <div class="m-t-md">
                    <strong>Description:</strong>
                    <i id="proj-desc-activator" class="fa fa-pencil pull-right bip_activator text-mute-gray"></i>
                </div>

                <small><%= best_in_place @project, :description, :as => 'textarea', :place_holder => '(no description)', :display_with => :simple_format, :inner_class => 'col-sm-12', :cancel_button => 'Cancel', :cancel_button_class => 'btn btn-secondary btn-xs', :ok_button => 'Ok', :ok_button_class => 'btn btn-primary btn-xs', :activator => '#proj-desc-activator' %></small>

                <ul class="list-group clear-list m-t-sm">
                    <li class="list-group-item m-b-sm first-item">
                        <strong>Type:</strong>
                        <span class="pull-right"><%= best_in_place @project, :category, :as => :select, :collection => @stream_types, :class => 'btn btn-default btn-sm fa-caret-down', :style => "color:#DDD;" %></span>
                    </li>
                    <li class="list-group-item m-b-sm">
                        <strong>Open Collaboration:</strong>
                        <% if @project.is_public %>
                            <span class="label label-default pull-right" style="font-size:12px">Public</span>
                        <% else %>
                            <span class="label label-warning pull-right" style="font-size:12px">Private</span>
                        <% end %>
                    </li>
                    <li class="list-group-item m-b-sm">
                        <strong>Owner:</strong>
                        <span class="pull-right">
                            <% if (@project.owner_id.nil? || @project.owner_id == current_user.id) or current_user.admin? %>
                                <%=best_in_place @project, :owner_id, :as => :select, :collection => @users_reverse, :place_holder => '(none)', :activator => "#project-owner-activator" %>
                                <i id="project-owner-activator" class="fa fa-caret-down bip_activator text-mute-gray"></i>
                            <% else %>
                                <%= get_full_name(@project.project_owner) %>
                            <% end %>
                        </span>
                    </li>
                    <li class="list-group-item m-b-sm">
                        <strong>Account:</strong>
                        <span class="pull-right"><a href="<%= account_path(@project.account) %>"><%= @project.account.name %></a></span>
                    </li>
                    <!-- Custom fields -->
                    <% @project.custom_fields.each.with_index do |cf, i| %>
                        <li class="list-group-item m-b-sm">
                            <strong><%= cf.custom_fields_metadatum.name %>:</strong>
                            <% if cf.custom_fields_metadatum.data_type == CustomFieldsMetadatum::DATA_TYPE[:List] and not cf.custom_fields_metadatum.custom_lists_metadatum.nil? and not cf.custom_fields_metadatum.custom_lists_metadatum.custom_lists.empty? %>
                                <span class="pull-right md-m-0"><%= best_in_place cf, :value, :as => :select, :place_holder => '(none)', :collection => @custom_lists[cf.custom_fields_metadatum.custom_lists_metadatum.name], :class => 'btn btn-default btn-sm fa-caret-down', :style => "color:#DDD;" %></span>
                            <% else %>
                                <% if cf.custom_fields_metadatum.data_type == CustomFieldsMetadatum::DATA_TYPE[:List] and (cf.custom_fields_metadatum.custom_lists_metadatum.nil? or cf.custom_fields_metadatum.custom_lists_metadatum.custom_lists.empty?) %>
                                    <i style="color:#3d8dc5" class="fa fa-exclamation-triangle m-l-xs pull-right" data-toggle="tooltip" data-placement="top" data-original-title="This field's data type='List', but no list is assigned or the list assigned has no options."></i>
                                <% end %>
                                <i id="proj-customfield<%=i%>-activator" class="fa fa-pencil pull-right bip_activator text-mute-gray"></i>
                                <span class="pull-right m-r-xs"><%= best_in_place cf, :value, :as => :input, :place_holder => '(none)', :display_with => :simple_format, :inner_class => 'col-sm-12', :activator => "#proj-customfield#{i}-activator" %></span>
                            <% end %>
                        </li>
                    <% end %>  
                    <!-- End: custom fields -->
                    <li class="list-group-item small m-t-md first-item">
                        <span class="pull-right"><%= @project.updated_at.to_date.to_formatted_s(:long) %></span>
                        Last Updated:
                    </li>
                    <li class="list-group-item small">
                        <span class="pull-right"><%= @project.created_at.to_date.to_formatted_s(:long) %></span>
                        Created:
                    </li>
                </ul>
            </div>
            <!-- SUGGESTED MEMBERS SECTION -->
            <div class="row m-t-md toggle-open">
                <div class="col-sm-2">
                    <span class="fa fa-caret-right toggle-icon"></span>
                </div>
                <div class="col-sm-10">
                    <strong><span id="suggested-length"><%= @suggested_members.length %></span> Suggested People</strong>
                    <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="People we picked up in your emails who might be part of this account stream. Click the ✔ or X to confirm or reject our suggestions."></i>
                </div>
            </div>
            <!-- empty span here for proper toggle-open event handler traversal -->
            <span></span>
            <dl class="no-display">
                <dd class="project-people suggested-members">
                    <% @suggested_members.each do |pm| %>
                        <%= render 'project_members/member', pm: pm %>
                    <% end %>
                </dd>
            </dl>
            <!-- STREAM MEMBERS SECTION -->
            <div class="row m-t-md toggle-open">
                <div class="col-sm-2">
                    <span class="fa fa-caret-right toggle-icon"></span>
                </div>
                <div class="col-sm-10">
                    <strong><span id="pm-length"><%= @project_members.length %></span> People</strong>
                    <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="People who are currently working on this account stream."></i>
                </div>
            </div>
            <div class="row member">
                <div class="col-sm-2">
                    <i class="fa fa-plus-circle fa-2x" style="margin-top: 8px;margin-left:5px;color:#aaa"></i>
                </div>
                <div class="col-sm-9 project-team-title">
                    <%= form_tag("/project_members/", :method => "post", id: "search-form", class: "fix-height", remote: true) do %>
                         <input type="search" name="email" id="member-search" class="contacts z-3" placeholder="Add people...">
                        <%= hidden_field_tag 'project_id', @project.id %>
                        <%= submit_tag "Add member", class: "hide-submit-button" %>
                    <%end%>
                </div>
            </div>
            <dl class="no-display">
                <dd class="project-people members">
                    <% @project_members.each do |pm| %>
                        <%= render 'project_members/member', pm: pm %>
                    <% end %>
                </dd>
            </dl>
            <!-- DAILY SUBSCRIBERS SECTION -->
            <div class="row m-t-md toggle-open">
                <div class="col-sm-2">
                    <span class="fa fa-caret-right toggle-icon"></span>
                </div>
                <div class="col-sm-10">
                    <strong><span id="ps-daily-subs"><%= @daily_subscribers.length %></span> Daily Followers</strong>
                    <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="Internal users who will receive updates about this stream every day."></i>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <i class="fa fa-plus-circle fa-2x" style="margin-top: 8px;margin-left:5px;color:#aaa"></i>
                </div>
                <div class="col-sm-9 project-team-title">
                    <%= form_tag(project_project_subscribers_create_all_path(project_id: @project.id)+"?type=daily", :method => "post", id: "search-form", class: "fix-height", remote: true) do %>
                        <input type="search" name="user_id" class="contacts search-daily-subs z-2" placeholder="Add followers...">
                        <%= submit_tag "Add subscriber", class: "hide-submit-button" %>
                    <%end%>
                </div>
            </div>
            <dl class="no-display">
                <dd class="project-people daily-subs">
                    <% @daily_subscribers.each do |ps| %>
                        <%= render 'project_subscribers/subscriber', ps: ps, type: "daily" %>
                    <% end %>
                </dd>
            </dl>
            <!-- WEEKLY SUBSCRIBERS SECTION -->
            <div class="row m-t-md toggle-open">
                <div class="col-sm-2">
                    <span class="fa fa-caret-right toggle-icon"></span>
                </div>
                <div class="col-sm-10">
                    <strong><span id="ps-weekly-subs"><%= @weekly_subscribers.length %></span> Weekly Followers</strong>
                    <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="Internal users who will receive updates about this stream every week."></i>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <i class="fa fa-plus-circle fa-2x" style="margin-top: 8px;margin-left:5px;color:#aaa"></i>
                </div>
                <div class="col-sm-9 project-team-title">
                    <%= form_tag(project_project_subscribers_create_all_path(project_id: @project.id)+"?type=weekly", :method => "post", id: "search-form", class: "fix-height", remote: true) do %>
                        <input type="search" name="user_id" class="contacts search-weekly-subs" placeholder="Add followers...">
                        <%= submit_tag "Add subscriber", class: "hide-submit-button" %>
                    <%end%>
                </div>
            </div>
            <dl class="no-display">
                <dd class="project-people weekly-subs">
                    <% @weekly_subscribers.each do |ps| %>
                        <%= render 'project_subscribers/subscriber', ps: ps, type: "weekly"  %>
                    <% end %>
                </dd>
            </dl>
        </div>
    </div>
</div>

<%= render 'modal', modal_id: 'edit_project_modal' %>

<div class="modal inmodal fade" id="share_project_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Share this stream</h4>
        </div>
        <div class="modal-body">
            <div class="row m-b-sm">
                <div class="col-lg-12">
                    <h3>Grant access to this stream</h3>
                </div>

                <div class="col-lg-12">
                    <div class="input-group m-b">
                        <input type="text" class="form-control" placeholder="Enter email address...">
                        <div class="input-group-btn">
                            <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button" aria-expanded="false">Permission <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Can view</a></li>
                                <li><a href="#">Can add note</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h3>Shareable link</h3>
                </div>

                <div class="col-lg-12">
                    <input type="text" class="form-control" value="https://app.contextsmith.com/projects/a2cba6e0-317a-4d13-99ff-9803587d5a3a/guest_view" readonly="readonly">
                    <span class="help-block m-b-none">People with access can use this link.</span>
                </div>
            </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary pull-left">Done</button>
        </div>

    </div>
  </div>
</div>

<script>
    /* Pins */
    $('.best_in_place.pin').on("ajax:success", function(){
        if ($(this).data('activity').is_pinned) {
            // remove from pinned tab
            $(this).data('activity').is_pinned = false;
            var id = $(this).data('activity').id;
            $("tr#pin-"+id).fadeOut(400, function() {$("tr#pin-"+id).remove();});
            $(this).parents('.vertical-timeline-content').children('h3').children('#pinned').hide();
        }
        else {
            // add to pinned tab
            $(this).data('activity').is_pinned = true;
            $(this).parents('.vertical-timeline-content').children('h3').children('#pinned').show();
        }
    });

    /* Toggle Private */
    $('.best_in_place.toggle-private').on('ajax:success', function() {
        if ($(this).data('activity').is_public) {
            $(this).data('activity').is_public = false;
            $(this).parents('.vertical-timeline-content').children('h3').children('#private').show();
        }
        else {
            $(this).data('activity').is_public = true;
            $(this).parents('.vertical-timeline-content').children('h3').children('#private').hide();
        }
    });


    /* Toggle Show Stream Subs */
    $('.toggle-open').click( function () {
        $(this).find(".toggle-icon").toggleClass("fa-caret-right fa-caret-down");
        $(this).next().next().toggle(400);
    })

    /* Spin the refresh icon to show that refresh is running */
    $('#btn-refresh').click( function () {
        $('.fa.fa-refresh').addClass('fa-spin');
    })

    // Fix best_in_place bug/side-effect that adds paragraph tags to the .html of custom field dropdown lists, causing the value to be displayed awkwardly
    $('.best_in_place').bind('ajax:success', function(){ 
        this.innerHTML = this.innerHTML.replace('\<p\>', '').replace('\<\/p\>', '');
    });
</script>
