<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Set Up Jira WebHook</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-3">WebHook URL</div>
        <div class="col-lg-9">https://<%= request.host %>/hooks/jira</div>
    </div>
    <div>request.domain: <%= request.domain %></div>
    <div>request.host: <%= request.host %></div>
    <div>request.host_with_port: <%= request.host_with_port %></div>
    <div>request.raw_host_with_port: <%= request.raw_host_with_port %></div>
    <div>request.subdomain: <%= request.subdomain %></div>
</div>