<div class="wrapper wrapper-content animated fadeInRight text-center">

<div class="row">
    <div class="alert alert-info col-lg-6 col-lg-offset-3">
        <h2>Configure your projects and their privacy settings</h2>
        <p class="text-left m-l-xl m-t-md">We applied 3 privacy rules to <strong>all your emails</strong>, no exceptions.</p>
        <ul class="text-left m-r-lg m-l-xl">
            <li>Only external communications show up. Internal emails are completely filtered out.</li>
            <li>One-on-one emails are also filtered out.</li>
            <li>External members (e.g. your customers) are not able to access any information, unless you explicitly share with them.</li>
        </ul>
    </div>
</div>

<% if !@same_projects.empty? or !@overlapping_projects.empty? %>
<div style="margin-bottom:50px">
    <h3>You've been added to <%= pluralize((@same_projects+@overlapping_projects).size, 'project') %></h3>
    <p>These projects were created by your colleagues.</p>
    <% (@same_projects+@overlapping_projects).each do |p| %>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="ibox-content" style="padding-bottom:5px;">
                    <div class="row">
                        <div class="col-lg-5 text-left">
                            <h3><%= p.name %></h3>
                            <p class="small">Account: <%= p.account.name %></p>
                        </div>
                        <div class="col-sm-3">
                            <p class="text-center">Last Activity</p><p> <strong><%= @project_last_email_date[p.id].nil? ? "N/A" : time_ago_in_words(@project_last_email_date[p.id]) %> ago</strong></p>
                        </div>
                        <div class="col-md-4">
                            <p><%= (p.users+p.contacts).size %> Collaborators</p>
                            <div style="margin:-6px 0 0 12px;">
                                <% (p.users+p.contacts).each_with_index do |u,i| %>
                                    <% if i <= 3 %>
                                        <div style="padding-right:3px;float:left;"><%= get_profile_pic(get_full_name(u), u.email, "") %></div>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
<% end %>

<% if !@new_projects.empty? %>
<div>
    <h3>We found <strong><%= pluralize(@new_projects.size, 'project') %></strong> not in our system</h3>
    <h2>Please take a minute to review your new accounts and projects. <br><small>(You can also modify them later in projects settings.)</small></h2>
	<% @new_projects.each do |p| %>
        <div class="row <%= p.id %>">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="ibox">
                    <div class="ibox-title">
                        <h3 style="font-weight:500;"><%= best_in_place p, :name, :as => 'input', :class => 'fa fa-pencil' %></h3>
                        <div class="small"></div>
                        <div class="row">
                            <p>Account: <%= best_in_place p.account, :name, :as => 'input', :class => 'fa fa-pencil' %>
                            &nbsp;&nbsp;&nbsp;&nbsp;Type: <%= best_in_place p.account, :category, :as => :select, :collection => Account::CATEGORY, :class => 'btn btn-sm btn-default fa fa-caret-down', :style => 'font-size:12px;' %></p>
                        </div>
                        
                        <div class="row m-t-md">
                            
                            <div class="col-sm-3 text-right" style="padding-right:0">Open collaboration &nbsp;<small><i data-toggle="tooltip" data-placement="top" title="" data-original-title="When enabled, everyone in your organization can view and collaborate." class="fa fa-question-circle"></i></small></div>
                            <div class="col-sm-1"><%= best_in_place p, :is_public, :as => 'checkbox', collection: {false: raw("<input type=\"checkbox\" class=\"is_public-switch\" />"), true: raw("<input type=\"checkbox\" class=\"is_public-switch\" checked/>")}, :class => 'switch' %></div>
                            <div class="col-sm-offset-5 col-sm-3">Don't want this? <span style="font-size:15px" title="Delete"><%= link_to "<i class=\"fa fa-trash-o\"></i>".html_safe, p, method: :delete, remote: true %></span></div>
                        </div>
                        
                    </div>
                    <div class="ibox-content" style="overflow: auto;">
                        <ul class="agile-list text-left">

                            <% (p.contacts + p.users).each do |m| %>
                                <span class="col-lg-6">
                                <li class="success-element" style="overflow: auto;">
                                    <div class="col-sm-2" style="padding: 0;">
                                        <%= get_profile_pic(get_full_name(m), m.email, "message-avatar") %>
                                    </div>
                                    <div class="col-sm-10 project-team-title">
                                        <span><%= get_full_name(m) %></span><br>
                                        <span><small><%= m.email %></small></span>
                                    </div>
                                </li>
                                </span>
                            <% end %>

                        </ul>
                    
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
<% end %>

<div class="m-t-xl">
    <h1>All done.</h1>
    <a href="<%= root_path %>"><button type="button" class="btn btn-primary btn-lg">Let's get started &rarr;</button></a>
</div>

</div>

<script>
   $('[data-toggle="tooltip"]').tooltip();

   /* Switchery */
  var elems = Array.prototype.slice.call(document.querySelectorAll('.is_public-switch'));
  elems.forEach(function(html) {
    new Switchery(html, { size: 'small' });
  });
  $('.best_in_place.switch').bind("ajax:success", function () { new Switchery($(this).children('.is_public-switch')[0], { size: 'small' }); });
</script>
