<div class="wrapper wrapper-content animated fadeInRight text-center">

<!-- <div class="row">
    <div class="alert alert-info col-lg-6 col-lg-offset-3">
        <h3>Your privacy is our highest priority</h3>
        <p class="text-left m-l-xl m-t-md">We applied 3 privacy rules to <strong>all your e-mail communications</strong>, no exceptions.</p>
        <ul class="text-left m-r-lg m-l-xl">
            <li>Only external communications show up in the streams. Internal e-mails are completely excluded.</li>
            <li>One-on-one e-mails are automatically tagged as "Private".</li>
            <li>External members (e.g. your customers) are not able to access any information, unless you explicitly share with them.</li>
        </ul>
    </div>
</div> -->

<% if !@new_projects.empty? %>
<div style="margin-bottom:50px">
    <div class="row">
        <div class="alert alert-info col-lg-6 col-lg-offset-3">
            <h3>We found <strong><%= pluralize(@new_projects.size, 'Stream') %></strong> not in our system.</h3>
            <h3>Get the most out of ContextSmith by completing our onboarding!</h3>
            <ol class="text-left m-t-md" style="font-size: 20px;font-weight:300;">
                <li>We suggested the names of your Streams. <br><span style="font-size:15px">Feel free to change them to something more meaningful.</span></li>
                <li>Each stream can be tagged "Public" or "Private". <br><span style="font-size:15px">Note that only invited members can access "Private" Streams.</span></li>
                <li>We recommend deleting streams that you don't want us to track.<br><span style="font-size:15px">We sometimes pick up noise from your inbox - those can be deleted.</span></li>
            </ol>
        </div>
    </div>

	<% @new_projects.each do |p| %>
        <div class="row <%= p.id %>">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="ibox">
                    <div class="ibox-title">
                        <div class="row">
                            <div class="col-sm-5">
                                <h3 style="font-weight:500;"><%= best_in_place p, :name, :as => 'input', :activator => "#proj-#{p.id}-name-activator" %><i id="proj-<%= p.id %>-name-activator" class="fa fa-pencil m-l-xs text-mute-gray"></i></h3>
                            </div>
                            <div class="clearfix visible-xs-block"></div>
                            <div class="col-sm-4 m-t-xs text-left">
                                <p>Account: <%= best_in_place p.account, :name, :as => 'input', :activator => "#proj-#{p.id}-acc-activator" %><i id="proj-<%= p.id %>-acc-activator" class="fa fa-pencil m-l-xs text-mute-gray"></i></p>
                            </div>
                            <div class="col-sm-3 text-left">
                                <p><%= Project::MAPPABLE_FIELDS_META["category"] %>: <%= best_in_place p.account, :category, :as => :select, :collection => @account_types, :class => 'btn btn-sm btn-default fa-caret-down', :style => 'font-size:12px;' %></p>
                            </div> 
                        </div>
                        
                        <div class="row m-t-md">
                            
                            <div class="col-sm-3 text-right" style="padding-right:0">Public Stream &nbsp;<small><i data-toggle="tooltip" data-placement="top" title="" data-original-title="When public, everyone in your organization can view and collaborate." class="fa fa-question-circle"></i></small></div>
                            <div class="col-sm-1"><%= best_in_place p, :is_public, :as => 'checkbox', collection: {false: raw("<input type=\"checkbox\" class=\"is_public-switch\" />"), true: raw("<input type=\"checkbox\" class=\"is_public-switch\" checked/>")}, :class => 'switch' %></div>
                            <div class="col-sm-offset-5 col-sm-3">Don't track this: <span style="font-size:15px" title="Delete"><%= link_to "<i class=\"fa fa-trash-o\"></i>".html_safe, p, method: :delete, remote: true %></span></div>
                        </div>
                        
                    </div>
                    <div class="ibox-content" style="overflow: auto;">
                        <ul class="agile-list text-left">

                            <% (p.contacts + p.users).each do |m| %>
                                <span class="col-lg-6">
                                <li class="success-element" style="overflow: auto;">
                                    <div class="col-sm-2" style="padding: 0;">
                                        <%= get_profile_pic(get_full_name(m), m.email, "message-avatar") %>
                                    </div>
                                    <div class="col-sm-10 project-team-title">
                                        <span><%= get_full_name(m) %></span><br>
                                        <span><small><%= m.email %></small></span>
                                    </div>
                                </li>
                                </span>
                            <% end %>

                        </ul>
                    
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
<% end %>

<% if !@same_projects.empty? or !@overlapping_projects.empty? %>
<div style="margin-bottom:50px">
    <h3>You've been added to <%= pluralize((@same_projects+@overlapping_projects).size, 'Stream') %></h3>
    <p>These Streams were created by your colleagues.</p>
    <% (@same_projects+@overlapping_projects).each do |p| %>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="ibox-content" style="padding-bottom:5px;">
                    <div class="row">
                        <div class="col-lg-5 text-left">
                            <h3><%= p.name %></h3>
                            <p class="small">Account: <%= p.account.name %></p>
                        </div>
                        <div class="col-sm-3">
                            <p class="text-center">Last Activity</p><p> <strong><%= @project_last_email_date[p.id].nil? ? "N/A" : time_ago_in_words(@project_last_email_date[p.id]) %> ago</strong></p>
                        </div>
                        <div class="col-md-4">
                            <p><%= (p.users+p.contacts).size %> Collaborators</p>
                            <div style="margin:-6px 0 0 12px;">
                                <% (p.users+p.contacts).each_with_index do |u,i| %>
                                    <% if i <= 3 %>
                                        <div style="padding-right:3px;float:left;"><%= get_profile_pic(get_full_name(u), u.email, "") %></div>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
<% end %>

<% if @same_projects.empty? and @overlapping_projects.empty? and @new_projects.empty? %>
    <h3 style="margin-bottom:50px">No Streams to configure.</h3>
<% end %>

<div class="m-t-xl">
    <h1>All done.</h1>
    <a href="<%= root_path %>"><button type="button" class="btn btn-primary btn-lg">Let's get started &rarr;</button></a>
</div>

</div>

<script>
   $('[data-toggle="tooltip"]').tooltip();

   /* Switchery */
  var elems = Array.prototype.slice.call(document.querySelectorAll('.is_public-switch'));
  elems.forEach(function(html) {
    new Switchery(html, { size: 'small' });
  });
  $('.best_in_place.switch').bind("ajax:success", function () { new Switchery($(this).children('.is_public-switch')[0], { size: 'small' }); });
</script>
