<div id="loader" class="overlay-loader">
	<div class="loader-background color-flip"></div>
	<img class="loader-icon spinning-cog" src="<%= image_path('cogs/cog01.svg') %>" data-cog="cog01">
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog02.svg') %>" data-cog="cog02">
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog03.svg') %>" data-cog="cog03">
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog04.svg') %>" data-cog="cog04">
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog05.svg') %>" data-cog="cog05">
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog06.svg') %>" data-cog="cog06"> 
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog07.svg') %>" data-cog="cog07">
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog08.svg') %>" data-cog="cog08">
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog09.svg') %>" data-cog="cog09">
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog10.svg') %>" data-cog="cog10">
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog11.svg') %>" data-cog="cog11"> 		
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog12.svg') %>" data-cog="cog12">
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog13.svg') %>" data-cog="cog13">
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog14.svg') %>" data-cog="cog14">
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog15.svg') %>" data-cog="cog15">
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog16.svg') %>" data-cog="cog16"> 
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog17.svg') %>" data-cog="cog17">
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog18.svg') %>" data-cog="cog18">
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog19.svg') %>" data-cog="cog19">
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog20.svg') %>" data-cog="cog20">
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog21.svg') %>" data-cog="cog21"> 	
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog22.svg') %>" data-cog="cog22">
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog23.svg') %>" data-cog="cog23"> 	
	<img class="loader-icon spinning-cog hidden" src="<%= image_path('cogs/cog24.svg') %>" data-cog="cog24">
	<div class="switches">
		<a href="#" class="button switch active" data-trigger="cog01"><img class="switch-icon" src="<%= image_path('cogs/cog01.svg') %>"></a>
		<a href="#" class="button switch" data-trigger="cog02"><img class="switch-icon" src="<%= image_path('cogs/cog02.svg') %>"></a>
		<a href="#" class="button switch" data-trigger="cog03"><img class="switch-icon" src="<%= image_path('cogs/cog03.svg') %>"></a>
		<a href="#" class="button switch" data-trigger="cog04"><img class="switch-icon" src="<%= image_path('cogs/cog04.svg') %>"></a>
		<a href="#" class="button switch" data-trigger="cog05"><img class="switch-icon" src="<%= image_path('cogs/cog05.svg') %>"></a>
		<a href="#" class="button switch" data-trigger="cog06"><img class="switch-icon" src="<%= image_path('cogs/cog06.svg') %>"></a>
		<a href="#" class="button switch" data-trigger="cog07"><img class="switch-icon" src="<%= image_path('cogs/cog07.svg') %>"></a>
		<a href="#" class="button switch" data-trigger="cog08"><img class="switch-icon" src="<%= image_path('cogs/cog08.svg') %>"></a>
		<a href="#" class="button switch" data-trigger="cog09"><img class="switch-icon" src="<%= image_path('cogs/cog09.svg') %>"></a>
		<a href="#" class="button switch" data-trigger="cog10"><img class="switch-icon" src="<%= image_path('cogs/cog10.svg') %>"></a>
		<a href="#" class="button switch" data-trigger="cog11"><img class="switch-icon" src="<%= image_path('cogs/cog11.svg') %>"></a> 
		<a href="#" class="button switch" data-trigger="cog12"><img class="switch-icon" src="<%= image_path('cogs/cog12.svg') %>"></a> 
		<br>
		<a href="#" class="button switch" data-trigger="cog13"><img class="switch-icon" src="<%= image_path('cogs/cog13.svg') %>"></a>    	
		<a href="#" class="button switch" data-trigger="cog14"><img class="switch-icon" src="<%= image_path('cogs/cog14.svg') %>"></a>
		<a href="#" class="button switch" data-trigger="cog15"><img class="switch-icon" src="<%= image_path('cogs/cog15.svg') %>"></a>
		<a href="#" class="button switch" data-trigger="cog16"><img class="switch-icon" src="<%= image_path('cogs/cog16.svg') %>"></a>
		<a href="#" class="button switch" data-trigger="cog17"><img class="switch-icon" src="<%= image_path('cogs/cog17.svg') %>"></a>
		<a href="#" class="button switch" data-trigger="cog18"><img class="switch-icon" src="<%= image_path('cogs/cog18.svg') %>"></a>  
		<a href="#" class="button switch" data-trigger="cog19"><img class="switch-icon" src="<%= image_path('cogs/cog19.svg') %>"></a>
		<a href="#" class="button switch" data-trigger="cog20"><img class="switch-icon" src="<%= image_path('cogs/cog20.svg') %>"></a>
		<a href="#" class="button switch" data-trigger="cog21"><img class="switch-icon" src="<%= image_path('cogs/cog21.svg') %>"></a>
		<a href="#" class="button switch" data-trigger="cog22"><img class="switch-icon" src="<%= image_path('cogs/cog22.svg') %>"></a>
		<a href="#" class="button switch" data-trigger="cog23"><img class="switch-icon" src="<%= image_path('cogs/cog23.svg') %>"></a> 
		<a href="#" class="button switch" data-trigger="cog24"><img class="switch-icon" src="<%= image_path('cogs/cog24.svg') %>"></a>
	</div>
	<a href="#" class="button again">Play again!</a>
  <div class="credits">
    <h1>Hang tight!</h1>
    <h1> We're processing your emails and analyzing the projects.</h1><br>
    <p>This will take a few minutes. We'll send you an email to <span style="color:#fff;font-weight:500"><%= current_user.email %></span> to let you know we're done.</p>
  </div>
</div>