<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Getting Started with ContextSmith</title>

  <!-- Bootstrap -->
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/animate.min.css">


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <style>
    .bs-wizard {margin-top: 40px;}

    /*Form Wizard*/
    .bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
    .bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
    .bs-wizard > .bs-wizard-step + .bs-wizard-step {}
    .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 13px; margin-bottom: 5px;}
    .bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 12px;}
    .bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #77afd7; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
    .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #3c6bc5; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
    .bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
    .bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #77afd7;}
    .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
    .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
    .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
    .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
    .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
    .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
    .bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
    .bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
    .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
    /*END Form Wizard*/

    #Second_section, #Third_section, #Fourth_section {
      padding: 15px 0;
    }

    .free {
      color: #EEE;
    }

    @media only screen and (min-width: 1024px) {
      .img-responsive {
        width: 1024px;
      }
    }

  </style>
</head>
<body>
<!-- header -->
<header>
  <div class="container">
    <div class="rowsample">
      <div class="col-md-6 col-xs-6 col-sm-6">
        <img id="logo" src="/assets/logo-white.png">
      </div>
      <div class="col-md-6 col-xs-6 col-sm-6">
        <!--<button class="btn btn-default first-btn">Skip Tutorial</button>-->
      </div>
    </div>
  </div>
</header>
<!-- header-end -->
<!-- first_section -->
<section id="first_section" class="extension-tutorial">
  <div class="container">
    <div class="rowsample" style="margin-bottom: 50px;margin-top:50px;">
      <% if current_user %>
          <h4>Thank you for signing up, <%= current_user.first_name.present? ? current_user.first_name : "my friend" %></h4>
      <% elsif @referral_user %>
          <h2><%= @referral_user.first_name.present? ? @referral_user.first_name : @referral_user.email %> would like you to sign up for ContextSmith</h2>
      <% else %>
      Welcome to the free ContextSmith Google Mail add-on!
      <% end %>
      <h4>Get to know ContextSmith in 3 simple steps.</h4>
    </div>

      <div class="container">
            <div class="row bs-wizard" style="border-bottom:0;margin-bottom:100px;">
                
                <div class="col-xs-4 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum">1. COMPOSE EMAIL</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a data-scroll href="#Second_section" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"></div>
                </div>
                
                <div class="col-xs-4 bs-wizard-step complete"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">2. TRACK EMAIL OPEN</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a data-scroll href="#Third_section" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"></div>
                </div>
                
                <div class="col-xs-4 bs-wizard-step active"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">3. SEE PROFILE</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a data-scroll href="#Fourth_section" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"></div>
                </div>
          </div>     
      </div>

      <a data-scroll href="#Second_section"><img class="down-arrow display-inline" src="/assets/images/tutorial/DownIcon.png"></a>
    </div>
  </div>
</section>

<!-- first_section -->
<section id="Second_section" class="extension-tutorial">
  <div class="container">
    <div class="rowsample">
      <h3>
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
          <strong class="fa-stack-1x circled-number" style="color: #2578B6;">1</strong>
        </span>
        Compose or reply to any email - now with superpower tracking.
      </h3>
      <img class="img-responsive display-inline" src="/assets/images/tutorial/step1.png" alt="Compose Track Outgoing">
      <br>
      <a data-scroll href="#Third_section"><img class="down-arrow display-inline" src="/assets/images/tutorial/DownIcon2.png"></a>
    </div>
  </div>
</section>
<!-- Second_section -->
<section id="Third_section" class="extension-tutorial">
  <div class="container">
    <div class="rowsample">
      <h3><span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
          <strong class="fa-stack-1x circled-number" style="color: white">2</strong>
        </span>
        See which emails were read. Know when it was read and on what device.</h3>
      <img class="img-responsive display-inline" src="/assets/images/tutorial/step2.png" alt="View Tracked Emails">
      <br>
      <a data-scroll href="#Fourth_section"><img class="down-arrow display-inline" src="/assets/images/tutorial/DownIcon.png"></a>
    </div>
  </div>
</section>
<!-- Third_section -->
<section id="Fourth_section" class="extension-tutorial">
  <div class="container">
    <div class="rowsample">
      <h3><span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
          <strong class="fa-stack-1x circled-number" style="color: #2578B6;">3</strong>
        </span>
        Click on any email to see contact profiles in Gmail sidebar.</h3>
      <img class="img-responsive display-inline" src="/assets/images/tutorial/step3.png" alt="See Contact Information">
      <div class="text-center">
        <% if current_user %>
            <a href="<%= extension_path(login: true) %>"><button class="btn btn-default first-btn">Get Started</button></a>
        <% else %>
            <a href="<%= user_omniauth_authorize_path(:google_oauth2, extension: true, ref: params[:ref]) %>">
              <img class="google-oauth-btn" src="/assets/images/google_signin_buttons/web/2x/btn_google_signin_dark_normal_web@2x.png" style="margin-top: 1em" title="Sign up using Google"></a>
            <br><span class="free">It's free!</span>
            <p class="oauth" style="font-size:10px;margin-top:5em;">By clicking this button, you agree to our
              <br><a href="https://www.contextsmith.com/terms/" style="color: #eee;" target="_blank">Terms of Service</a>.</p>

        <% end %>
      </div>

    </div>
  </div>
</section>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" %>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" %>
<script src="/assets/javascripts/smooth-scroll.min.js"></script>
<script src="/assets/javascripts/wow.min.js"></script>
<script>
  smoothScroll.init({speed: 500, easing: 'easeInOutCubic', updateURL: false});
  wow = new WOW({mobile:true,})
  wow.init();

</script>

<!-- Google Analytics -->
<% if ENV["RAILS_ENV"] == 'production' %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68686500-2', 'auto');
      ga('send', 'pageview');
    </script>
<% end %>
</body>
</html>
