<div class="text-center loginscreen animated fill_in_info">
  <div style="margin: 100px 0;">
      <div class="ibox-content middle-box" style="max-width: 600px;">
          <h1 class="logo-name oauth">Almost there...</h1>
          <p class="oauth" style="margin-bottom:40px;">We just need a few details to get you started.</p>

          <div class="row">
        		<%= simple_form_for current_user, url: onboarding_fill_in_info_update_path(current_user), method: 'post' do |f| %>

              <%# Added Bootstrap classes, and help-block container for error messages %> 
              <%= f.input :mark_private,  as: :radio_buttons, label: 'Are you a VP or C-level executive?', label_html: { style: 'font-size:22px;font-weight:400;color:#999;margin-right:20px' } %>
              <%= f.input :title, wrapper_html: { class: 'col-md-12 m-b-lg'}, input_html: { class: 'text-center', style: 'font-size:24px;height:50px' }, label: false, placeholder: "What's your title?" %>
              <%= f.input :department, wrapper_html: { class: 'col-md-12 m-b-lg'}, input_html: { class: 'text-center', style: 'font-size:24px;height:50px' }, label: false, placeholder: "Which department?" %>     
              
              <%# Added Bootstrap classes %>
              <%= f.button :submit, 'Next →', class: 'btn-primary btn-lg form-group text-center' %>

            <% end %>
          </div>
      </div>

  </div>
</div>