<% m = get_user_or_contact_from_pm(pm) %>
<% if m.present? %>
<div class="row m-b-sm member <%= pm.id %>">
    <div class="col-xs-2">
        <%= get_profile_pic(get_full_name(m), m.email) %>
    </div>
    <div class="col-xs-7 project-team-title">
        <span><% if m.first_name.blank? && m.last_name.blank? %>
                    <%= get_local_part(m.email) %>
                <% else %>
                    <%= get_full_name(m)  %>
                <% end %>

                <% if m.is_internal_user? %>
                    <% if m.onboarding_step == nil %>
                    <%= link_to '(Invite)', "/settings/invite_user/#{m.id}", 'style' => 'font-size:10px', 'method' => 'post', 'remote' => true, 'id' => "#{m.id}", 'data-toggle' => "tooltip", 'data-placement' => "top", 'data-original-title' => "We will send an e-mail invitation." %>
                    <% end %>
                <% else %>
                    <% if m.is_source_from_salesforce? %>
                        <% if @salesforce_base_URL.present? && m.external_source_id.present? %>
                            <a href="<%= @salesforce_base_URL + "/" + m.external_source_id %>" target="_blank" class="m-l-xs">
                        <% end %>
                                <img id="sfdc-icon" style="height:8%;width:8%" src="/assets/images/salesforce.png" style="width:0px;" title="View contact in Salesforce"/>
                        <% if @salesforce_base_URL.present? && m.external_source_id.present? %>
                            </a>
                        <% end %>
                    <% end %>
                    <small><a href="https://www.linkedin.com/search/results/people/?company=<%= get_domain(m.email) %>&keywords=<%= m.first_name + '%20' + m.last_name %>" target="_blank" class="m-l-xs" title="Search contact in LinkedIn"><i class="fa fa-linkedin"></i></a></small>
                <% end %>
        </span><br>
        <% if !m.is_internal_user? %>
        <span><small>
            <a href="https://mail.google.com/mail/?view=cm&authuser=<%= current_user.email %>&to=<%= m.email %>" target="GmailCompose" onclick="openGmailComposePopup(this.href, this.target); return false;"><%= m.email %></a>
            <% if m.phone.present? || m.mobile.present? %>
                &nbsp;•&nbsp;&nbsp;<%= m.phone.present? ? m.phone : m.mobile %>
            <% end %>
        </small></span><br>
        <% end %>
        <span><small><%= m.title %> <%= get_short_name_account_path(m) %></small></span>
    </div>
    <% if pm.status == ProjectMember::STATUS[:Confirmed] %>
    <div class="col-xs-3 m-t-xs delete-member">
        <%= link_to "<i class=\"fa fa-times\"></i>".html_safe, pm, method: :delete, style: "color:#bbb", title: "Remove", data: {confirm: "Are you sure you want to remove this person from the opportunity?"}, remote: true %>
    </div>
    <% else %>
    <div class="col-xs-3 m-t-xs">
        <%= link_to "<i class=\"fa fa-check-circle fa-lg\"></i>".html_safe, pm, method: :put, class: "text-primary", title: "Confirm", data: {confirm: "Confirm this suggested person?"}, remote: true %>
        <%= link_to "<i class=\"fa fa-times-circle fa-lg\"></i>".html_safe, pm, method: :delete, class: "text-muted", title: "Reject", data: {confirm: "Reject this suggested person?"}, remote: true %>
    </div>
    <% end %>
</div>
<% else %>
    <% puts "ERROR: Something wrong with ProjectMember(id=#{pm.id.inspect}, project_id=#{pm.project_id.inspect}, user_id=#{pm.user_id.inspect}, contact_id=#{pm.contact_id.inspect}), rendering skipped!" %>
<% end %>

