<div class="vertical-timeline-block extension-block">

    <% if a.category == Activity::CATEGORY[:Conversation] %>
        <div class="vertical-timeline-icon secondary-bg">
            <i class="fa fa-envelope"></i>
        </div>
    <% elsif a.category == Activity::CATEGORY[:Note] %>
        <div class="vertical-timeline-icon sticky-bg">
            <i class="fa fa-sticky-note"></i>
        </div>
    <% elsif a.category == Activity::CATEGORY[:Meeting] %>
        <div class="vertical-timeline-icon warning-bg">
            <i class="fa fa-calendar"></i>
        </div>
    <% elsif a.category == Activity::CATEGORY[:JIRA] %>
        <div class="vertical-timeline-icon jira-bg">
            <i class="jira-logo"></i>
        </div>
    <% elsif a.category == Activity::CATEGORY[:Zendesk] %>
        <div class="vertical-timeline-icon zd-bg">
            <i class="zd-logo"></i>
        </div>
    <% elsif a.category == Activity::CATEGORY[:Salesforce] %>
        <div class="vertical-timeline-icon salesforce-bg">
            <i class="salesforce-logo"></i>
        </div>
    <% elsif a.category == Activity::CATEGORY[:Basecamp2] %>
        <div class="vertical-timeline-icon basecamp2-bg">
            <i class="basecamp2-logo"></i>
        </div>
    <% elsif a.category == Activity::CATEGORY[:Alert] %>
        <div class="vertical-timeline-icon danger-bg">
            <i class="fa fa-exclamation"></i>
        </div>
    <% end %>

    <div class="extension-timeline-content" <% if a.category == Activity::CATEGORY[:Note] %> style="background-color: #fff7db" <% end %> >
        <% if a.category == Activity::CATEGORY[:Conversation] %>
            <h4><strong><%= truncate(a.title, length: 35, separator: ' ') %></strong> (<%= a.email_messages.size %>)</h4>
            <small><%= get_conversation_member_names(a.from, a.to, a.cc, 'other', 2) %></small>
            <% m = a.email_messages.last %>
            <p><%= if m.content.nil? || m.content.is_a?(String)
                  truncate(m.content, length: 100, separator: ' ')
                else
                  truncate(m.content.body, length: 100, separator: ' ')
                end %></p>
            <p class="time-ago">By <%= m.from.first.personal %> <%= time_ago_in_words(Time.zone.at(m.sentDate)) %> ago</p>
            <p class="time-ago"><a href="/projects/<%= a.project.id + '/#' + a.backend_id %>" target="_blank">View in ContextSmith <i class="fa fa-external-link"></i></a></p>

        <% elsif a.category == Activity::CATEGORY[:Note] %>
            <div class="rag-bar<%=a['rag_score']%> p-xxs">
                <h4><strong><%= get_full_name(a.user) %></strong> wrote: </h4>
                <p><%= truncate(a.note, length: 100, separator: ' ') %></p>
                <p class="time-ago">By <%= get_full_name(a.user) %> <%= time_ago_in_words(Time.zone.at(a.last_sent_date)) %> ago</small>
                <p class="time-ago"><a href="/projects/<%= a.project.id + '/#' + a.id.to_s %>" target="_blank">View in ContextSmith <i class="fa fa-external-link"></i></a></p>
            </div>

        <% elsif a.category == Activity::CATEGORY[:Meeting] %>
            <h4><strong><%= truncate(a.title, length: 35, separator: ' ') %></strong></h4>
            <small><%= get_calendar_member_names(a.to, 'other', 1) %></small>
            <p class="time-ago"><%= time_ago_in_words(a.last_sent_date) %> ago &nbsp;&nbsp; <a href="/projects/<%= a.project.id + '/#' + a.id.to_s %>" target="_blank">View in ContextSmith <i class="fa fa-external-link"></i></a></p>

        <% elsif a.category == Activity::CATEGORY[:Salesforce] %>
            <h4><strong><%= truncate(a.title, length: 35, separator: ' ') %></strong></h4>
            <small><%= a.from[0].personal ? a.from[0].personal : a.from[0].address %></small>
            <p><%= simple_format(truncate(a.note, length: 100, separator: ' ')) %></p>
            <p class="time-ago"><%= time_ago_in_words(a.last_sent_date) %> ago &nbsp;&nbsp; <a href="<%= @salesforce_base_URL + "/" + a.email_messages.first["Id"] %>" target="_blank">View in Salesforce <i class="fa fa-external-link"></i></a></p>

        <% elsif a.category == Activity::CATEGORY[:Basecamp2] %>
            <h4><strong><%= truncate(a.title, length: 35, separator: ' ') %></strong> (<%= a.email_messages.size %>)</h4>
            
        <% elsif a.category == Activity::CATEGORY[:JIRA] %>
            <h4><strong><%= truncate(a.title, length: 35, separator: ' ') %></strong></h4>
            <% c = a.email_messages.first.issue.fields.comment.comments.last %>
            <% if c.present? %>
                <p><%= truncate(c.body, length: 80, separator: ' ') %></p>
                <p class="time-ago">By <%= c.author.displayName %> <%= time_ago_in_words(c.updated.to_time) %> ago &nbsp;&nbsp; <a href="<%= a.email_messages.first.issue.self.sub(/(?<=atlassian\.net\/).*/, "browse/" + a.email_messages.first.issue['key']) %>" target="_blank">View in JIRA <i class="fa fa-external-link"></i></a></p>
            <% else %>
                <p><%= truncate(a.note, length: 80, separator: ' ') %></p>
                <p class="time-ago">By <%= a.from.first.personal %> <%= time_ago_in_words(a.last_sent_date) %> ago &nbsp;&nbsp; <a href="<%= a.email_messages.first.issue.self.sub(/(?<=atlassian\.net\/).*/, "browse/" + a.email_messages.first.issue['key']) %>" target="_blank">View in JIRA <i class="fa fa-external-link"></i></a></p>
            <% end %>

        <% elsif a.category == Activity::CATEGORY[:Zendesk] %>
            <h4><strong><%= truncate(a.title, length: 35, separator: ' ') %></strong></h4>
            <p><%= truncate(a.email_messages.first.comments.last.text, length: 80, separator: ' ') %></p>
            <p class="time-ago">Last updated <%= time_ago_in_words(a.last_sent_date) %> ago &nbsp; &nbsp; <a href="<%= a.email_messages.first.link %>" target="_blank">View in Zendesk <i class="fa fa-external-link"></i></a></p>

        <% elsif a.category == Activity::CATEGORY[:Alert] %>
            <h4><strong>Alert: <%= truncate(a.title, length: 30, separator: ' ') %></strong></h4>
            <p><%= truncate(a.note, length: 80, separator: ' ') %></p>
            <p class="time-ago"><%= time_ago_in_words(a.last_sent_date) %> ago</p>

        <% end %>
    </div>
</div>