<div class="vertical-timeline-block extension-block <%= 'future-activity' if a.category == Activity::CATEGORY[:Meeting] && Time.zone.at(a.last_sent_date) > Time.current %>" >

    <% if a.category == Activity::CATEGORY[:Conversation] %>
        <div class="vertical-timeline-icon secondary-bg">
            <i class="fa fa-envelope"></i>
        </div>
    <% elsif a.category == Activity::CATEGORY[:Note] %>
        <div class="vertical-timeline-icon sticky-bg">
            <i class="fa fa-sticky-note"></i>
        </div>
    <% elsif a.category == Activity::CATEGORY[:Meeting] %>
        <div class="vertical-timeline-icon warning-bg">
            <i class="fa fa-calendar"></i>
        </div>
    <% elsif a.category == Activity::CATEGORY[:JIRA] %>
        <div class="vertical-timeline-icon jira-bg">
            <i class="jira-logo"></i>
        </div>
    <% elsif a.category == Activity::CATEGORY[:Zendesk] %>
        <div class="vertical-timeline-icon zd-bg">
            <i class="zd-logo"></i>
        </div>
    <% elsif a.category == Activity::CATEGORY[:Salesforce] %>
        <div class="vertical-timeline-icon salesforce-bg">
            <i class="salesforce-logo"></i>
        </div>
    <% elsif a.category == Activity::CATEGORY[:Basecamp2] %>
        <div class="vertical-timeline-icon basecamp2-bg">
            <i class="basecamp2-logo"></i>
        </div>
    <% elsif a.category == Activity::CATEGORY[:Alert] %>
        <div class="vertical-timeline-icon danger-bg">
            <i class="fa fa-exclamation"></i>
        </div>
    <% end %>

    <div class="extension-timeline-content" <% if a.category == Activity::CATEGORY[:Note] %> style="background-color: #fff7db" <% end %> >
        <% if a.category == Activity::CATEGORY[:Conversation] %>
            <h4><strong><%= truncate(a.title, length: 35, separator: ' ') %></strong> (<%= a.email_messages.size %>)</h4>
            <% m = a.email_messages.last %>
            <small><%= get_conversation_member_names(a.from, a.to, a.cc, 'other', 2) %> <span class="time-ago" style="float:right"><%= time_ago_in_words(Time.zone.at(m.sentDate)) %> ago</span><br/></small>
            <%= if m.content.nil? || m.content.is_a?(String)
                   get_expandable_text_html(text: m.content, id: a.id, length: 100, max_length: 500, separator: ' ').html_safe
                else
                   get_expandable_text_html(text: m.content.body, id: a.id, length: 100, max_length: 500, separator: ' ').html_safe
                end %>
            <p class="time-ago"><a href="/projects/<%= a.project.id + '/#' + a.backend_id %>" target="_blank">View in ContextSmith <i class="fa fa-external-link"></i></a></p>

        <% elsif a.category == Activity::CATEGORY[:Note] %>
            <div class="rag-bar<%=a['rag_score']%> p-xxs">
                <h4><strong><%= get_full_name(a.user) %></strong> wrote: </h4>
                <small class="time-ago"><%= time_ago_in_words(Time.zone.at(a.last_sent_date)) %> ago<br/></small>
                <%= get_expandable_text_html(text: a.note, id: a.id, length: 100, max_length: 450, separator: ' ').html_safe %>
                <p class="time-ago"><a href="/projects/<%= a.project.id + '/#' + a.id.to_s %>" target="_blank">View in ContextSmith <i class="fa fa-external-link"></i></a></p>
            </div>

        <% elsif a.category == Activity::CATEGORY[:Meeting] %>
            <h4><strong><%= truncate(a.title, length: 35, separator: ' ') %></strong></h4>
            <small><%= get_calendar_member_names(a.to, 'other', 1) %> <span class="time-ago" style="float:right"><%= time_ago_in_words(a.last_sent_date) %> <%= Time.zone.at(a.last_sent_date) > Time.current ? "from now" : "ago" %></span><br/></small>
            <p class="time-ago"><a href="/projects/<%= a.project.id + '/#' + a.id.to_s %>" target="_blank">View in ContextSmith <i class="fa fa-external-link"></i></a></p>

        <% elsif a.category == Activity::CATEGORY[:Salesforce] %>
            <h4><strong><%= truncate(a.title, length: 35, separator: ' ') %></strong></h4>
            <small><%= a.from[0].personal ? a.from[0].personal : a.from[0].address %> <span class="time-ago" style="float:right"><%= time_ago_in_words(a.last_sent_date) %> ago</span><br/></small>
            <%= get_expandable_text_html(text: a.note, id: a.id, length: 100, max_length: 500, separator: ' ').html_safe %> 
            <% if @salesforce_base_URL.present? %><p class="time-ago"><a href="<%= @salesforce_base_URL + "/" + a.email_messages.first["Id"] %>" target="_blank">View in Salesforce <i class="fa fa-external-link"></i></a></p><% end %>

        <% elsif a.category == Activity::CATEGORY[:Basecamp2] %>
            <h4><strong><%= truncate(a.title, length: 35, separator: ' ') %></strong> (<%= a.email_messages.size %>)</h4>
            
        <% elsif a.category == Activity::CATEGORY[:JIRA] %>
            <h4><strong><%= truncate(a.title, length: 35, separator: ' ') %></strong></h4>
            <% c = a.email_messages.first.issue.fields.comment.comments.last %>
            <small>By <%= c.author.displayName %> <span class="time-ago" style="float:right"><%= time_ago_in_words(c.updated.to_time) %> ago</span><br/></small>
            <% if c.present? %>
                <%= get_expandable_text_html(text: c.body, id: a.id, length: 80, max_length: 500, separator: ' ').html_safe %>
                <p class="time-ago"><a href="<%= a.email_messages.first.issue.self.sub(/(?<=atlassian\.net\/).*/, "browse/" + a.email_messages.first.issue['key']) %>" target="_blank">View in JIRA <i class="fa fa-external-link"></i></a></p>
            <% else %>
                <%= get_expandable_text_html(text: a.note, id: a.id, length: 80, max_length: 500, separator: ' ').html_safe %>
                <p class="time-ago">By <%= a.from.first.personal %> <%= time_ago_in_words(a.last_sent_date) %> ago &nbsp;&nbsp; <a href="<%= a.email_messages.first.issue.self.sub(/(?<=atlassian\.net\/).*/, "browse/" + a.email_messages.first.issue['key']) %>" target="_blank">View in JIRA <i class="fa fa-external-link"></i></a></p>
            <% end %>

        <% elsif a.category == Activity::CATEGORY[:Zendesk] %>
            <h4><strong><%= truncate(a.title, length: 35, separator: ' ') %></strong></h4>
            <small class="time-ago">Last updated <%= time_ago_in_words(a.last_sent_date) %> ago<br/></small>
            <%= get_expandable_text_html(text: a.email_messages.first.comments.last.text, id: a.id, length: 80, max_length: 500, separator: ' ').html_safe %>
            <p class="time-ago"><a href="<%= a.email_messages.first.link %>" target="_blank">View in Zendesk <i class="fa fa-external-link"></i></a></p>

        <% elsif a.category == Activity::CATEGORY[:Alert] %>
            <h4><strong>Alert: <%= truncate(a.title, length: 30, separator: ' ') %></strong></h4>
            <small class="time-ago"><%= time_ago_in_words(a.last_sent_date) %> ago<br/></small>
            <%= get_expandable_text_html(text: a.note, id: a.id, length: 80, max_length: 200, separator: ' ').html_safe %>

        <% end %>
    </div>
</div>

<!-- TODO: move this script to extension.js -->
<script type="text/javascript">
    function toggle_visibility_for_pair(id) {
        console.log(id + ", " + id+"-short");
        toggle_visibility(id+"-short");
        toggle_visibility(id);
    }

    function toggle_visibility(id) {
        console.log("toggling: " + id)
        var e = document.getElementById(id);
        if(e.style.display == 'block')
            e.style.display = 'none';
        else
            e.style.display = 'block';
    }
</script>