<!-- Filter Section -->
<div class="filter_section col-lg-12">
  <h4 id="filter-timeline-expand" class="text-primary m-t">
    <span><i class="fa fa-filter" style="font-size:16px;" aria-hidden="true"></i> FILTER TIMELINE <i class="fa fa-caret-down" style="font-size:16px;" aria-hidden="true"></i></span>
  </h4>
  
  <div id="timeline-filters" class="m-l" style="display: none;">
    <div class="row">
      <div class="col-sm-6">
        <div class="pull-left in-bl">
          <i class="fa fa-tasks m-t-sm" aria-hidden="true"></i>
        </div>
        <div class="m-l-md"> 
          <select class="comment_category" data-placeholder="  Filter by activity type" multiple="true">
            <% @categories.each do |v| %>
              <option value="<%= v %>" <% if @filter_category.include?(v) %> selected <% end %> ><%= v %></option>
            <% end %> 
          </select>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="pull-left in-bl">
          <i class="fa fa-users m-t-sm" aria-hidden="true"></i>
        </div>
        <div class="m-l-md">
          <select class="user_filter" data-placeholder="  Filter by people" multiple="true">
            <% @final_filter_user.each do |u| %>
              <option value="<%= u.email %>" <% if @filter_email.include?(u.email) %> selected <% end %> >
                <% if u.first_name.include?('@')%>
                    <%= u.first_name %>
                <% else %>
                    <%= get_full_name(u)+' @'+  get_short_name(get_domain(u.email)) %>
                <% end %>         
              </option>
            <% end %>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h4 class="m-t-sm"><i class="fa fa-clock-o m-r-xs" aria-hidden="true"></i> Filter by date <small>(Click and drag in graph to filter)</small></h4>
        <div id="time-filter-highcharts" style="height:100px;"></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function () {
  // Show/Hide Filter Area
  $("#filter-timeline-expand").click(function() {
    $("#timeline-filters").toggle();
    $('.comment_category, .user_filter').trigger('chosen:updated'); // update chosen to show full placeholder
    $('#time-filter-highcharts').highcharts().reflow(); // reflow chart to fit to parent container
  });

  // Category Filter & Person Filter
  $('.comment_category, .user_filter')
    .chosen({ width: '100%'})
    .change( function (event, params) {
      $('#vertical-timeline').html('<div class="text-center"><i class="fa fa-spinner fa-3x fa-pulse"></i></div>');
      // Build URL for AJAX call for filtered data
      var url = "<%= project_path(@project) %>/filter?";
      var params = [];
      var timeAxis = $('#time-filter-highcharts').highcharts().xAxis[0];
      if (timeAxis.min > timeAxis.dataMin || timeAxis.max < timeAxis.dataMax) {
        params.push("time=" +  timeAxis.min/1000 + "," + timeAxis.max/1000);
      } 
      if ($('.comment_category').val()) { 
        params.push("category=" + $('.comment_category').val()); 
      }
      if ($('.user_filter').val()) { 
        params.push("emails=" + $('.user_filter').val()); 
      }
      url += params.join('&');
      $.getScript(url)
    });

  // Time Filter
  Highcharts.setOptions({                                            
  // This is for all plots, change Date axis to local timezone
    global : {
      useUTC : false
    },
    lang: {
        resetZoom: "Clear date filter"
    }
  });

  $('#time-filter-highcharts').highcharts({
    chart: {
      events: {
        load: function(event) {
          var extremes = this.yAxis[0].getExtremes();
          this.yAxis[0].setExtremes(0, extremes.dataMax);
        },
        selection: function(event) {
          $('#vertical-timeline').html('<div class="text-center"><i class="fa fa-spinner fa-3x fa-pulse"></i></div>');
          // Build URL for AJAX call for filtered data
          var url = "<%= project_path(@project) %>/filter?";
          var params = [];
          var timeAxis = this.xAxis[0];
          if (!event.resetSelection) {
            // trigger zoom and redraw to get new min/max of chart (otherwise not available until after selection event ends)
            timeAxis.zoom(event.xAxis[0].min, event.xAxis[0].max);
            this.redraw();
            params.push("time=" + timeAxis.min/1000 + "," + timeAxis.max/1000);
          }
          if ($('.comment_category').val()) { 
            params.push("category=" + $('.comment_category').val()); 
          }
          if ($('.user_filter').val()) { 
            params.push("emails=" + $('.user_filter').val()); 
          }
          url += params.join('&');
          $.getScript(url)
        }
      },
      zoomType: 'x',
      backgroundColor: '#f3f3f4'
    },
    credits: {
      enabled: false
    },
    title: {
      text: ''
    },
    xAxis: {
      type: 'datetime'
    },
    yAxis: {
      title: { text: '' },
      labels: { enabled: false },
      gridLineWidth: 0,
      minorGridLineWidth: 0
    },
    legend: {
      enabled: true,
      y: -20,
      floating: true,
      verticalAlign: 'top',
      itemStyle: {
         color: '#555555',
         fontSize: 9,
         fontWeight: 300
      },
      symbolHeight: 8,
      symbolPadding: 0,
      itemDistance: 10
    },
    plotOptions: {
      series: {
        stacking: 'normal',
        borderWidth: 0
      }
    },
    series: [
      <% @activities_by_category_date.each do |category, activities_by_date| %>
      {
        type: 'column',
        name: '<%= category %>',
        color: '<%= highcharts_series_color(category) %>',
        data: [ <% activities_by_date.each_with_index do |a, i| %>
          <%='['+(a.last_sent_date.to_i * 1000).to_s + ','+ a.activity_count.to_s+']' %> <%= ',' unless i + 1 == activities_by_date.length %>
          <% end %> 
        ]
      },
      <% end %>
      // Dummy data series to make sure axis still shown when there is no data
      {     
        type: 'column',
        data: [],
        showInLegend: false
      }
    ]
  });

});
</script>