<%= simple_form_for(Activity.new, remote: true, html: { class: 'row', style: 'display:flex;'} ) do |f| %>
  <div class="col-lg-11">
    <div class="input-group">
      <span class="input-group-btn vtop" style="padding-top:18px;">
        <!-- <button class="sticky-bg btn-icon" disabled="true">
          <i class="fa fa-sticky-note"></i>
        </button> -->

      </span>
      <%=f.collection_radio_buttons(:rag_score, [[1, "<div class='small-circle rag-border-color1'></div>"] ,[2, "<div class='small-circle rag-border-color2'></div>"],[3, "<div class='small-circle rag-border-color3'></div>"]], :first, :last) do |b| %>
        <%=b.radio_button + b.text.html_safe %>
      <%end%>

      <%= f.input :note, label: false, as: 'text', input_html: { class: 'input-border', style: 'resize:none;overflow:hidden;margin-bottom:8px;', rows: "1" }, placeholder: "Post a note or status..." %>
    </div>
  </div>
  <input value="<%= project_id %>" class="hidden form-control" type="hidden" name="project_id" id="project_id">
  <div class="col-lg-1" style="align-self:flex-end;">
    <%= f.button :submit, "Post", class: "btn-note sticky-bg pull-right m-b font-bold", disabled: "true" %>
  </div>

<% end %>
<script type="text/javascript">
  // Auto resize textarea with pop out for button
  $("#activity_note").on("focus keyup input", function () {
    $(this).css('height', 'auto').css('height', Math.max(this.scrollHeight, 104));
  }).blur ( function () {
    $(this).css('height', 'auto').css('height', Math.max(this.scrollHeight, 32));
  }).keyup( function () {
    if ($(this).val()) {
      $(".btn-note").prop('disabled', false);
    }
    else {
      $(".btn-note").prop('disabled', true);
    }
  });

  $("#activity_rag_score_1, #activity_rag_score_2, #activity_rag_score_3").on("click", function(){
    if($(this).val()){
      $(".btn-note").prop('disabled', false);
    }
    else{
      $(".btn-note").prop('disabled', true);
    }
  });

</script>
