<%= simple_form_for(Activity.new, remote: true, html: { class: 'row', style: 'display:flex;'} ) do |f| %>
  <div class="col-lg-11">
    <div class="input-group">
      <span class="input-group-btn vtop">
        <button class="sticky-bg btn-icon" disabled="true">
          <i class="fa fa-sticky-note"></i>
        </button>
      </span>
      <%= f.collection_radio_buttons :rag_score, [[1, 'Red' ],[ 2, 'Yellow'],[3,'Green']], :first, :last, {:item_wrapper_class => 'radio-inline'}, {:class => "create-project", :style=> 'width: 650px' }  %>
      <%= f.input :note, label: false, as: 'text', input_html: { class: 'input-border', style: 'resize:none;overflow:hidden;margin-bottom:15px;', rows: "1" }, placeholder: "Post a note..." %>
    </div>
  </div>
  <input value="<%= project_id %>" class="hidden form-control" type="hidden" name="project_id" id="project_id">
  <div class="col-lg-1" style="align-self:flex-end;">
    <%= f.button :submit, "Post", class: "btn-note sticky-bg pull-right m-b font-bold", disabled: "true" %>
  </div>

<% end %>
<script type="text/javascript">
  // Auto resize textarea with pop out for button
  $("#activity_note").on("focus keyup input", function () {
    $(this).css('height', 'auto').css('height', Math.max(this.scrollHeight, 52));
  }).blur ( function () {
    $(this).css('height', 'auto').css('height', Math.max(this.scrollHeight, 32));
  }).keyup( function () {
    if ($(this).val()) {
      $(".btn-note").prop('disabled', false);
    }
    else {
      $(".btn-note").prop('disabled', true);
    }
  });
</script>
