
<tr id="pin-<%=a.id%>">
    <td>
        <% if a.category == Activity::CATEGORY[:Conversation] %>
            <div class="vertical-timeline-icon primary-bg pinned">
                <i class="fa fa-envelope"></i>
            </div>
        <% elsif a.category == Activity::CATEGORY[:Note] %>
            <div class="vertical-timeline-icon sticky-bg pinned">
                <i class="fa fa-sticky-note"></i>
            </div>
        <% elsif a.category == Activity::CATEGORY[:Meeting] %>
            <div class="vertical-timeline-icon warning-bg pinned">
                <i class="fa fa-calendar"></i>
            </div>
        <% elsif a.category == Activity::CATEGORY[:JIRA] %>
            <div class="vertical-timeline-icon info-bg pinned">
                <i class="fa fa-exclamation"></i>
            </div>
        <% end %>
    </td>
    <td <% if a.category == Activity::CATEGORY[:Note] %>style="background-color: #fff7db"<% end %> class="pinned-content">
        <% if a.category == Activity::CATEGORY[:Conversation] %>
        <h3 class="font-bold">
            <%= a.title %>
            <small class="m-l-md font-normal"><%= get_conversation_member_names(a.from, a.to, a.cc) %></small>
            <span id="private" <% if a.is_public %>style="display:none"><% end %><i class="fa fa-lock pull-right" style="color:#ed5565;" title="Private"></i></span>
        </h3>
        
        <div class="chat-discussion">
            <% if a.email_messages.size > 1 %>
                <div class="more-messages">
                    <a class="show-more-<%= a.id.to_s %>"><i class="fa fa-plus-square"></i> &nbsp; <%= pluralize((a.email_messages.size - 1), 'older message') %></a>
                </div>
            <% end %>

            <% a.email_messages.each do |m| %>
                <div class="hidden-chat-message-<%= a.id.to_s %>"  <% if a.email_messages.last != m %> style="display:none;" <% end %>>
                    <div class="chat-message <%= is_internal_domain?(m.from[0].address) ? "left" : "right" %>">
                        <%= get_profile_pic(m.from[0].personal, m.from[0].address, "message-avatar") %>
                        <div class="message">
                            <span class="message-author" href="#"> <%= m.from[0].personal %> </span> to <%= get_conversation_member_names([], m.to, m.cc, "All") %>
                            <span class="message-date"><%= Time.zone.at(m.sentDate).strftime("%b %d") %></span>
                            <hr class="message-divider"/>
                            <span class="message-content">
                                <%= if m.content.nil? || m.content.is_a?(String) 
                                      simple_format(m.content)
                                    else
                                        simple_format(m.content.body)
                                    end %>
                            </span>
                        </div>
                    </div>
                </div>
            <% end %>

            <div class="col-4-lg action-links">
                <%= best_in_place a, :is_pinned, :as => 'checkbox', :data => {:activity => a}, collection: {false: raw("<a id=\"pin-link\">Pin as Key Activity</a>"), true: raw("<strong><a id=\"pin-link\"><i class=\"fa fa-thumb-tack\"></i> Pinned</a></strong>")}, :class => 'pin' %>
                 &sdot; <a class="comment-link-<%= a.id %>">Comment</a> 
                 &sdot;
                    <%= best_in_place a, :is_public, :as => 'checkbox', :data => {:activity => a}, :class => 'toggle-private', collection: {
                      false: raw('<strong><a><i class="fa fa-lock"></i> Private</a></strong>'),
                      true: raw('<a>Mark Private</a>')
                    }  %>
            </div>
        </div> 

        <% elsif a.category == Activity::CATEGORY[:Note] %>
        <div class="chat-discussion">
            <p class="note-author"><strong><%= get_full_name(a.user) %></strong> wrote:</p>
            <%= simple_format(a.note) %>
            
            <div class="col-4-lg action-links">
                <%= best_in_place a, :is_pinned, :as => 'checkbox', :data => {:activity => a}, collection: {false: raw("<a id=\"pin-link\">Pin as Key Activity</a>"), true: raw("<strong><a id=\"pin-link\"><i class=\"fa fa-thumb-tack\"></i> Pinned</a></strong>")}, :class => 'pin' %>
                 &sdot; <a class="comment-link-<%= a.id %>">Comment</a> 
            </div>
        </div>

        <% elsif a.category == Activity::CATEGORY[:Meeting] %>
        <h3 class="font-bold">
            <%= a.title %>
            <span class="m-l-md font-normal"><%= get_calendar_interval(a) %></span>
            <span id="private" <% if a.is_public %>style="display:none"><% end %><i class="fa fa-lock pull-right" style="color:#ed5565;" title="Private"></i></span>
        </h3>
        
        <div class="chat-discussion">
            <strong>Meeting Organizer:</strong> <%= a.from[0].personal ? a.from[0].personal : a.from[0].address %>
            <strong class="m-l-md">Attendees:</strong> <%= get_calendar_member_names(a.to) %>

            <div class="col-4-lg action-links">
                <%= best_in_place a, :is_pinned, :as => 'checkbox', :data => {:activity => a}, collection: {false: raw("<a id=\"pin-link\">Pin as Key Activity</a>"), true: raw("<strong><a id=\"pin-link\"><i class=\"fa fa-thumb-tack\"></i> Pinned</a></strong>")}, :class => 'pin' %>
                 &sdot; <a class="comment-link-<%= a.id %>">Comment</a> 
                 &sdot;
                    <%= best_in_place a, :is_public, :as => 'checkbox', :data => {:activity => a}, :class => 'toggle-private', collection: {
                      false: raw('<strong><a><i class="fa fa-lock"></i> Private</a></strong>'),
                      true: raw('<a>Mark Private</a>')
                    }  %>
            </div>
        </div>
        <% elsif a.category == Activity::CATEGORY[:JIRA] %>
        <h3 class="font-bold">
            <a href="<%= a.email_messages.first.issue.self.sub(/(?<=atlassian\.net\/).*/, "browse/" + a.email_messages.first.issue['key']) %>"><%= a.title %></a>
            <small class="m-l-md font-normal"><%= get_conversation_member_names(a.from, a.to, a.cc) %></small>
            <span class="label pull-right"><%= a.email_messages.first.issue.fields.status.name %></span>
            <span id="private" <% if a.is_public %>style="display:none;"<% end %>><i class="fa fa-lock pull-right" style="color:#ed5565" title="Private"></i></span>
        </h3>

        <div class="chat-discussion">
            <div><strong>Description:</strong> <%= a.note %></div>
            <% if a.email_messages.first.issue.fields.comment.total > 0 %>
                <div class="more-messages">
                    <a class="show-more-<%= a.id.to_s %>"><i class="fa fa-plus-square"></i> &nbsp; <%= pluralize(a.email_messages.first.issue.fields.comment.total, 'comment') %> on JIRA</a>
                </div>
            <% end %>

            <% a.email_messages.first.issue.fields.comment.comments.each do |c| %>
                <div class="hidden-message-filter hidden-chat-message-<%= a.id.to_s %>" style="display:none;" >
                    <div class="chat-message left">
                        <%= get_profile_pic(c.author.displayName, c.author.emailAddress, "message-avatar") %>
                        <div class="message">
                            <span class="message-author" href="#"> <%=c.author.displayName %> </span> added a comment - <%= time_ago_in_words(c.updated.to_time) %> ago
                            <span class="message-content"><%= simple_format(c.body) %></span>
                        </div>
                    </div>
                </div>
            <% end %>
            <div class="action-links">
              <%= best_in_place a, :is_pinned, :as => 'checkbox', :data => {:activity => a}, collection: {false: raw("<a id=\"pin-link\">Pin as Key Activity</a>"), true: raw("<strong><a id=\"pin-link\"><i class=\"fa fa-thumb-tack\"></i> Pinned</a></strong>")}, :class => 'pin' %>
              &sdot;
                <%= best_in_place a, :is_public, :as => 'checkbox', :data => {:activity => a}, :class => 'toggle-private', collection: {
                  false: raw('<strong><a><i class="fa fa-lock"></i> Private</a></strong>'),
                  true: raw('<a>Mark Private</a>')
                }  %>
              &sdot; <a class="comment-link-<%= a.id %>">Comments (<%= a.comments.size %>)</a>
              &sdot; <a href="<%= a.email_messages.first.issue.self.sub(/(?<=atlassian\.net\/).*/, "browse/" + a.email_messages.first.issue['key']) %>">View in JIRA <i class="fa fa-external-link"></i></a>
            </div>
        </div> <!-- chat discussion --> 
        <% end %>

        <div class="content-footer footer-<%= a.id %>">
               
            <% a.comments.each do |c| %>
                <%= render "comments/comment", :c => c %>
            <% end %>

            <div class="social-comment form-<%= a.id %> row" style="display:none;">
                <div class="col-sm-1">
                    <%= get_profile_pic(get_full_name(current_user), current_user.email, "") %>
                </div>
                <div class="col-sm-11">
                    <%= render 'comments/form', :activity => a %>
                </div>
            </div>
        </div>                

    </td>
    <td style="vertical-align:middle;font-size:11px;">
        <%= Time.zone.at(a.last_sent_date).strftime("%_m/%d") %>
    </td>
</tr>

<%= render 'activities/show_more_js', :a => a %>
