<script>
// Show More
$(document).ready(function() {
    $(".show-more-<%= a.id.to_s %>").click(function() {
        $(".hidden-chat-message-<%= a.id.to_s %>").each(function() {
            $(this).show();
        });
        $(".show-more-<%= a.id.to_s %>").hide();
    });

    $(".comment-link-<%= a.id %>").click(function() {
        $(".footer-<%= a.id %>").toggle();
    });
    $(".tasks-link-<%= a.id %>").click(function() {
        $(".tasks-footer-<%= a.id %>").toggle();
    });

    // $(".<%= a.id.to_s + a.category %> .suggested-action").bsTooltip();

    $(".<%= a.id.to_s + a.category %> .suggested-action").each( function () {
        $(this).popover({
            html: true,
            content: '<%= form_tag notifications_create_from_suggestion_path, remote: true %><input type="text" class="form-control" name="notification[name]" placeholder="Name" value="<%= a.title %>"><textarea class="form-control" name="notification[description]" placeholder="Description" rows="2">' + $(this).text() + '</textarea><button class="btn btn-primary btn-block">Create</button><input type="hidden" name="notification[project_id]" value="<%= a.project_id %>"><input type="hidden" name="notification[message_id]" value="' + $(this).data("message") +'"><input type="hidden" name="notification[conversation_id]" value="<%= a.backend_id %>"><input type="hidden" name="notification[activity_id]" value="<%= a.id %>"></form>'
        });
    });
});
</script>