<div class="vertical-timeline-block <%= a.id.to_s + a.category %> <%= 'future-activity' if a.category == Activity::CATEGORY[:Meeting] && Time.zone.at(a.last_sent_date) > Time.current %>">
    <% if a.category == Activity::CATEGORY[:Conversation] %>
        <div class="vertical-timeline-icon secondary-bg" id="<%= a.backend_id.to_s %>">
            <i class="fa fa-envelope"></i>
        </div>
    <% elsif a.category == Activity::CATEGORY[:Note] %>
        <div class="vertical-timeline-icon sticky-bg" id="<%= a.id.to_s %>">
            <i class="fa fa-sticky-note"></i>
        </div>
    <% elsif a.category == Activity::CATEGORY[:Meeting] %>
        <div class="vertical-timeline-icon warning-bg" id="<%= a.id.to_s %>">
            <i class="fa fa-calendar"></i>
        </div>
    <% elsif a.category == Activity::CATEGORY[:JIRA] %>
        <div class="vertical-timeline-icon jira-bg">
            <i class="jira-logo"></i>
        </div>
    <% elsif a.category == Activity::CATEGORY[:Zendesk] %>
        <div class="vertical-timeline-icon zd-bg">
            <i class="zd-logo"></i>
        </div>
    <% elsif a.category == Activity::CATEGORY[:Salesforce] %>
        <div class="vertical-timeline-icon salesforce-bg">
            <i class="salesforce-logo"></i>
        </div>
    <% elsif a.category == Activity::CATEGORY[:Basecamp2] %>
        <div class="vertical-timeline-icon basecamp2-bg">
            <i class="basecamp2-logo"></i>
        </div>
    <% elsif a.category == Activity::CATEGORY[:Alert] %>
        <div class="vertical-timeline-icon danger-bg" id="<%= a.id.to_s %>">
            <i class="fa fa-exclamation"></i>
        </div>
    <% elsif a.category == Activity::CATEGORY[:NextSteps] %>
        <div class="vertical-timeline-icon primary-bg" id="<%= a.id.to_s %>">
            <i class="fa fa-chevron-right"></i>
        </div>
    <% end %>

    <span class="vertical-date left">
        <%= if Time.zone.at(a.last_sent_date).to_date == Date.current
                "Today"
            elsif Time.zone.at(a.last_sent_date).to_date == (Date.current + 1.day)
                "Tomorrow"
            else
                Time.zone.at(a.last_sent_date).strftime("%b %d")
            end %><br />
        <small><%= Time.zone.at(a.last_sent_date).strftime("%l:%M%P") %></small>
    </span>

    <div class="vertical-timeline-content" <% if a.category == Activity::CATEGORY[:Note] %> style="background-color: #fff7db" <% end %> >
        <% if a.category == Activity::CATEGORY[:Conversation] %>
            <% has_open_alerts = a.notifications.any?{|n| !n.is_complete} %>
            <h3><%= a.title %>
                <small class="m-l-md" data-toggle="tooltip" data-placement="top" data-original-title="<%= get_conversation_member_names(a.from, a.to, a.cc, '', 99) %>"><%= get_conversation_member_names(a.from, a.to, a.cc) %></small>
                <% if not_in_current_user_inbox(a) %><span id="not-in-inbox"><i class="fa fa-eye pull-right" style="font-size:14px;" data-toggle="tooltip" data-placement="top" data-original-title="This conversation is not in your inbox"></i></span><% end %>
                <span <% if a.is_public %>style="display:none;"<% end %>><i class="fa fa-lock pull-right" title="Private"></i></span>
                <% if a.is_pinned %>
                  <% index = @pinned_ids.index(a.id) + 1 %>
                  <span class="fa-stack pull-right" style="margin-top: -8px;">
                    <i class="fa fa-star fa-stack-1x" title="Key Activity"></i>
                    <small class="fa-stack-1x text-white text-stack"><%= index %></small>
                  </span>
                <% end %>
            </h3>

            <div class="chat-discussion">
                <% if a.email_messages.size > 1 %>
                    <div class="more-messages">
                        <a class="show-more-<%= a.id.to_s %>"><i class="fa fa-plus-square"></i> &nbsp; Show <%= pluralize((a.email_messages.size - 1), 'older message') %></a>
                        <a class="show-more-<%= a.id.to_s %>" style="display: none;"><i class="fa fa-minus-square"></i> &nbsp; Hide <%= pluralize((a.email_messages.size - 1), 'older message') %></a>
                    </div>
                <% end %>

                <% a.email_messages.each do |m| %>
                    <div <% if a.email_messages.last != m %> class="hidden-chat-message-<%= a.id.to_s %>" style="display:none;" <% end %>>
                        <div class="chat-message <%= is_internal_domain?(m.from[0].address) ? "left" : "right" %>">
                            <%= get_profile_pic(m.from[0].personal, m.from[0].address, "message-avatar") %>
                            <div class="message">
                                <span class="message-author" href="#"> <%= m.from[0].personal.nil? ? m.from[0].address : m.from[0].personal %> </span> to <%= get_conversation_member_names([], m.to, m.cc, "All") %>
                                <span class="message-date"><%= Time.zone.at(m.sentDate).strftime("%b %d") %></span>
                                <hr class="message-divider"/>
                                <span class="message-content">
                                    <%= smart_email_body(m, @users_reverse.present?) %>
                                </span>
                                <% if m.attachments? %>
                                <hr class="message-divider"/>
                                  <% m.attachments.each do |att| %>
                                  <p><i class="fa fa-paperclip fa-rotate-90"></i>&nbsp;<%= att.name %></p>
                                  <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>

                <div class="action-links">
                  <% if current_user.oauth_provider == User::AUTH_TYPE[:Gmail] %>
                    <strong><a href="https://mail.google.com/mail/?view=cm&authuser=<%= current_user.email %>&to=<%= last_msg_recipients(a) %>&su=<%= last_msg_subject(a) %>&body=<%= last_msg_body(a) %>" target="GmailCompose" onclick="openGmailComposePopup(this.href, this.target); return false;"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply Email</a></strong>
                    &sdot;
                  <% end %>
                    <%= best_in_place a, :is_pinned, :as => 'checkbox', :data => {:activity => a}, collection: {false: raw("<a id=\"pin-link\">Mark as Key Activity</a>"), true: raw("<strong><a id=\"pin-link\"><i class=\"fa fa-star\"></i> Key Activity</a></strong>")}, :class => 'pin' %>
                    &sdot;
                    <%= best_in_place a, :is_public, :as => 'checkbox', :data => {:activity => a}, :class => 'toggle-private', collection: {
                      false: raw('<strong><a><i class="fa fa-lock"></i> Private</a></strong>'),
                      true: raw('<a>Mark Private</a>')
                    }  %>
                    &sdot; <a class="comment-link-<%= a.id %>">Comments (<%= a.comments.size %>)</a>
                  <% unless params[:action] == "daily_summary" %>
                    &sdot; <a class="tasks-link-<%= a.id %>" <%= "style=color:red;font-weight:bold" if has_open_alerts %> >Alerts (<span id="tasks-count-<%= a.id %>"><%= a.notifications.size %></span>)
                      </a>
                  <% end %>
                </div>
            </div> <!-- chat discussion -->
            <%= render 'activities/attachments', attachments: a.attachments %>
          <% unless (params[:action] == "daily_summary" || params[:actiontype] == "show") %> <!-- if not for Home > Daily summary and not for Salesforce Controller -->
            <div class="tasks-footer tasks-footer-<%= a.id %>" <%= "style=display:block" if has_open_alerts %> >
            <%= render "notifications/table", :multi_table => "timeline-block-notification-table", :notifications => a.notifications %>
            </div>
          <% end %>

        <% elsif a.category == Activity::CATEGORY[:Note] %>
            <div class="chat-discussion timeline-note rag-bar<%=a['rag_score']%>">
              <p class="note-author"><strong><%= get_full_name(a.user) %></strong> wrote:</p>
                <% if a.is_pinned %>
                  <% index = @pinned_ids.index(a.id) + 1 %>
                <span class="fa-stack pull-right" style="margin-top: -8px;">
                  <i class="fa fa-star fa-stack-1x" title="Key Activity"></i>
                  <small class="fa-stack-1x text-white text-stack"><%= index %></small>
                </span>
                <% end %>
              <% if a.user == current_user %>
                  <%= link_to "<i class=\"fa fa-trash-o text-mute-gray m-r-xs pull-right delete-note\"></i>".html_safe, a, method: :delete, title: "Remove", data: {confirm: "Are you sure you want to delete this note?"}, remote: true %>
                  <i id="note-<%= a.id %>-activator" class="fa fa-pencil bip_activator text-mute-gray m-r-xs pull-right delete-note"></i>
              <% end %>

              <%= best_in_place_if a.user == current_user, a, :note, :as => 'textarea', :place_holder => rag_note(a['rag_score']), :display_as => :note_for_display, :inner_class => 'col-sm-12', :ok_button => 'Ok', :ok_button_class => 'btn btn-primary btn-xs', :cancel_button => 'Cancel', :cancel_button_class => 'btn btn-secondary btn-xs', :activator => "#note-#{a.id}-activator" %>
                <div class="action-links">
                    <%= best_in_place a, :is_pinned, :as => 'checkbox', :data => {:activity => a}, collection: {false: raw("<a id=\"pin-link\">Mark as Key Activity</a>"), true: raw("<strong><a id=\"pin-link\"><i class=\"fa fa-star\"></i> Key Activity</a></strong>")}, :class => 'pin' %>
                     &sdot; <a class="comment-link-<%= a.id %>">Comments (<%= a.comments.size %>)</a>
                </div>
            </div>

        <% elsif a.category == Activity::CATEGORY[:Meeting] %>
            <h3><%= a.title %>
                <small class="m-l-md"><%= get_calendar_interval(a) %></small>
                <span <% if a.is_public %>style="display:none;"<% end %>><i class="fa fa-lock pull-right" title="Private"></i></span>
                <% if a.is_pinned %>
                  <% index = @pinned_ids.index(a.id) + 1 %>
                  <span class="fa-stack pull-right" style="margin-top: -8px;">
                    <i class="fa fa-star fa-stack-1x" title="Key Activity"></i>
                    <small class="fa-stack-1x text-white text-stack"><%= index %></small>
                  </span>
                <% end %>
            </h3>

            <div class="chat-discussion">
                <div class="row">
                    <div class="col-lg-3"><strong>Meeting Organizer:</strong> <%= a.from[0].personal ? a.from[0].personal : a.from[0].address %></div>
                    <div class="col-lg-9"><strong>Attendees:</strong> <%= get_calendar_member_names(a.to) %></div>
                </div>
                <div class="action-links">
                  <%= best_in_place a, :is_pinned, :as => 'checkbox', :data => {:activity => a}, collection: {false: raw("<a id=\"pin-link\">Mark as Key Activity</a>"), true: raw("<strong><a id=\"pin-link\"><i class=\"fa fa-star\"></i> Key Activity</a></strong>")}, :class => 'pin' %>
                  &sdot;
                    <%= best_in_place a, :is_public, :as => 'checkbox', :data => {:activity => a}, :class => 'toggle-private', collection: {
                      false: raw('<strong><a><i class="fa fa-lock"></i> Private</a></strong>'),
                      true: raw('<a>Mark Private</a>')
                    }  %>
                  &sdot; <a class="comment-link-<%= a.id %>">Comments (<%= a.comments.size %>)</a>
                </div>
            </div> <!-- chat discussion -->

        <% elsif a.category == Activity::CATEGORY[:Salesforce] %>
            <h3><%= a.title %>
                <small class="m-l-md"><%= a.from[0].personal ? a.from[0].personal : a.from[0].address %></small>
                <span class="label pull-right"><%= a.email_messages.first["ActivityType"] %></span>
                <span <% if a.is_public %>style="display:none;"<% end %>><i class="fa fa-lock pull-right" title="Private"></i></span>
                <% if a.is_pinned %>
                  <% index = @pinned_ids.index(a.id) + 1 %>
                  <span class="fa-stack pull-right" style="margin-top: -8px;">
                    <i class="fa fa-star fa-stack-1x" title="Key Activity"></i>
                    <small class="fa-stack-1x text-white text-stack"><%= index %></small>
                  </span>
                <% end %>
            </h3>

            <div class="chat-discussion">
                <div class="row">
                    <div class="col-xs-11">
                        <%= simple_format(a.note) %>
                    </div>
                </div>

                <div class="action-links">
                  <%= best_in_place a, :is_pinned, :as => 'checkbox', :data => {:activity => a}, collection: {false: raw("<a id=\"pin-link\">Mark as Key Activity</a>"), true: raw("<strong><a id=\"pin-link\"><i class=\"fa fa-star\"></i> Key Activity</a></strong>")}, :class => 'pin' %>
                  &sdot;
                    <%= best_in_place a, :is_public, :as => 'checkbox', :data => {:activity => a}, :class => 'toggle-private', collection: {
                      false: raw('<strong><a><i class="fa fa-lock"></i> Private</a></strong>'),
                      true: raw('<a>Mark Private</a>')
                    }  %>
                  &sdot; <a class="comment-link-<%= a.id %>">Comments (<%= a.comments.size %>)</a>
                  <% if @salesforce_base_URL.present? %>&sdot; <a href="<%= @salesforce_base_URL + "/" + a.backend_id %>" target="_blank">View in Salesforce <i class="fa fa-external-link"></i></a><% end %>
                </div>
            </div> <!-- chat discussion -->
        <% elsif a.category == Activity::CATEGORY[:Basecamp2] %>
            <h3><%= a.title %>
              <small class="m-l-md"><%= get_conversation_member_names(a.from, a.to, a.cc) %></small>
              <span class="label pull-right"></span>                
              <span <% if a.is_public %>style="display:none;"<% end %>><i class="fa fa-lock pull-right" title="Private"></i></span>
                <% if a.is_pinned %>
                  <% index = @pinned_ids.index(a.id) + 1 %>
                <span class="fa-stack pull-right" style="margin-top: -8px;">
                  <i class="fa fa-star fa-stack-1x" title="Key Activity"></i>
                  <small class="fa-stack-1x text-white text-stack"><%= index %></small>
                </span>
                <% end %>
            </h3>
            <div class="chat-discussion">
                <% if a.email_messages.length > 1 %>
                  <div class="more-messages">
                    <a class="show-more-<%= a.id.to_s %>"><i class="fa fa-plus-square"></i> &nbsp; Show <%= pluralize(a.email_messages.length - 1, 'older comment') %> on BaseCamp2</a>
                    <a class="show-more-<%= a.id.to_s %>" style="display: none;"><i class="fa fa-minus-square"></i> &nbsp; Hide <%= pluralize(a.email_messages.length - 1, 'older comment') %> on BaseCamp2</a>
                  </div>
                <% end %>
                <% a.email_messages.reverse.each_with_index do |c, i| %>
                  <div <% unless a.email_messages.size - 1 == i %> class="hidden-chat-message-<%= a.id.to_s %>" style="display:none;" <% end %> >
                      <% if c.eventable %>
                      <div class="chat-message <%= is_internal_domain?(c.user_email) ? "left" : "right" %>">
                          <%= get_profile_pic(c.creator.name, c.creator.name, "message-avatar") %>
                          <div class="message">
                            <% if c.action == 'commented on'%>
                              <span class="message-author" href="#"> <%=c.creator.name %> </span> added a comment - <%=c.created_at.to_date %>
                              <% if simple_format(c[:excerpt]).include? "..."%>
                                  <span class="message-content"><%= simple_format(c[:excerpt]) %></span><a style="font-size:10px;" href="<%=a.email_messages.first.html_url%>" target="_blank">(view more)</a>
                                <% else %>
                                  <span class="message-content"><%= simple_format(c[:excerpt]) %></span>
                                <%end%>
                            <% else %>
                              <span class="message-author" href="#"> <%=c.creator.name %> </span> created discussion - <%=c.created_at.to_date %>
                                <% if simple_format(c[:excerpt]).include? "..."%>
                                  <span class="message-content"><%= simple_format(c[:excerpt]) %><a style="font-size:10px;" href="<%=a.email_messages.first.html_url%>" target="_blank">(view more)</a></span>
                                <% else %>
                                  <span class="message-content"><%= simple_format(c[:excerpt]) %></span>
                                <%end%>
                              <%end%>
                          </div>
                      </div>
                      <%end%>
                  </div>
                  <% end %>
                  <div class="action-links">
                        <%= best_in_place a, :is_pinned, :as => 'checkbox', :data => {:activity => a}, collection: {false: raw("<a id=\"pin-link\">Mark as Key Activity</a>"), true: raw("<strong><a id=\"pin-link\"><i class=\"fa fa-star\"></i> Key Activity</a></strong>")}, :class => 'pin' %>
                      
                        &sdot; <a class="comment-link-<%= a.id %>">Comments (<%= a.comments.size %>)</a>
                        &sdot; <a href="<%=a.email_messages.first.html_url%>" target="_blank">View in BaseCamp 2 <i class="fa fa-external-link"></i></a>
                  </div><!-- action-links -->
            </div> <!-- chat discussion -->

        <% elsif a.category == Activity::CATEGORY[:JIRA] %>
            <h3>
                <%= a.title %>
                <small class="m-l-md"><%= get_conversation_member_names(a.from, a.to, a.cc) %></small>
                <span class="label pull-right"><%= a.email_messages.first.issue.fields.status.name %></span>
                <span <% if a.is_public %>style="display:none;"<% end %>><i class="fa fa-lock pull-right" title="Private"></i></span>
                <% if a.is_pinned %>
                  <% index = @pinned_ids.index(a.id) + 1 %>
                  <span class="fa-stack pull-right" style="margin-top: -8px;">
                    <i class="fa fa-star fa-stack-1x" title="Key Activity"></i>
                    <small class="fa-stack-1x text-white text-stack"><%= index %></small>
                  </span>
                <% end %>
            </h3>

            <div class="chat-discussion">
                <div><strong>Description:</strong> <%= a.note %></div>
                <% if a.email_messages.first.issue.fields.comment.total > 1 %>
                    <div class="more-messages">
                        <a class="show-more-<%= a.id.to_s %>"><i class="fa fa-plus-square"></i> &nbsp; Show <%= pluralize(a.email_messages.first.issue.fields.comment.total - 1, 'older comment') %> on JIRA</a>
                        <a class="show-more-<%= a.id.to_s %>" style="display: none;"><i class="fa fa-minus-square"></i> &nbsp; Hide <%= pluralize(a.email_messages.first.issue.fields.comment.total - 1, 'older comment') %> on JIRA</a>
                    </div>
                <% end %>

                <% a.email_messages.first.issue.fields.comment.comments.each_with_index do |c, i| %>
                    <div <% unless a.email_messages.first.issue.fields.comment.total - 1 == i %> class="hidden-chat-message-<%= a.id.to_s %>" style="display:none;" <% end %> >
                        <div class="chat-message left">
                            <%= get_profile_pic(c.author.displayName, c.author.emailAddress, "message-avatar") %>
                            <div class="message">
                                <span class="message-author" href="#"> <%=c.author.displayName %> </span> added a comment - <%= time_ago_in_words(c.updated.to_time) %> ago
                                <span class="message-content"><%= simple_format(c.body) %></span>
                            </div>
                        </div>
                    </div>
                <% end %>
                <div class="action-links">
                  <%= best_in_place a, :is_pinned, :as => 'checkbox', :data => {:activity => a}, collection: {false: raw("<a id=\"pin-link\">Mark as Key Activity</a>"), true: raw("<strong><a id=\"pin-link\"><i class=\"fa fa-star\"></i> Key Activity</a></strong>")}, :class => 'pin' %>
                  &sdot;
                    <%= best_in_place a, :is_public, :as => 'checkbox', :data => {:activity => a}, :class => 'toggle-private', collection: {
                      false: raw('<strong><a><i class="fa fa-lock"></i> Private</a></strong>'),
                      true: raw('<a>Mark Private</a>')
                    }  %>
                  &sdot; <a class="comment-link-<%= a.id %>">Comments (<%= a.comments.size %>)</a>
                  &sdot; <a href="<%= a.email_messages.first.issue.self.sub(/(?<=atlassian\.net\/).*/, "browse/" + a.email_messages.first.issue['key']) %>" target="_blank">View in JIRA <i class="fa fa-external-link"></i></a>
                </div>
            </div>

        <% elsif a.category == Activity::CATEGORY[:Zendesk] %>
            <h3>
                <%= a.title %>
                <small class="m-l-md"><%= get_conversation_member_names(a.from, a.to, a.cc) %></small>
                <span class="label pull-right"><%= a.email_messages.first.status %></span>
                <span <% if a.is_public %>style="display:none;"<% end %>><i class="fa fa-lock pull-right" title="Private"></i></span>
                <% if a.is_pinned %>
                  <% index = @pinned_ids.index(a.id) + 1 %>
                  <span class="fa-stack pull-right" style="margin-top: -8px;">
                    <i class="fa fa-star fa-stack-1x" title="Key Activity"></i>
                    <small class="fa-stack-1x text-white text-stack"><%= index %></small>
                  </span>
                <% end %>
            </h3>

            <div class="chat-discussion">
                <% if a.email_messages.first.comments.length > 1 %>
                    <div class="more-messages">
                        <a class="show-more-<%= a.id.to_s %>"><i class="fa fa-plus-square"></i> &nbsp; Show <%= pluralize(a.email_messages.first.comments.length - 1, 'older comment') %> on Zendesk</a>
                        <a class="show-more-<%= a.id.to_s %>" style="display: none;"><i class="fa fa-minus-square"></i> &nbsp; Hide <%= pluralize(a.email_messages.first.comments.length - 1, 'older comment') %> on Zendesk</a>
                    </div>
                <% end %>

                <% a.email_messages.first.comments.each_with_index do |c, i| %>
                    <div <% unless a.email_messages.first.comments.length - 1 == i %> class="hidden-chat-message-<%= a.id.to_s %>" style="display:none;" <% end %> >
                        <div class="chat-message left">
                            <%= get_profile_pic(c.author, c.author, "message-avatar") %>
                            <div class="message">
                                <span class="message-author" href="#"> <%= c.author %> </span> added a comment - <%= c.created_at %>
                                <span class="message-content"><%= simple_format(c.text) %></span>
                            </div>
                        </div>
                    </div>
                <% end %>
                <div class="action-links">
                  <%= best_in_place a, :is_pinned, :as => 'checkbox', :data => {:activity => a}, collection: {false: raw("<a id=\"pin-link\">Mark as Key Activity</a>"), true: raw("<strong><a id=\"pin-link\"><i class=\"fa fa-star\"></i> Key Activity</a></strong>")}, :class => 'pin' %>
                  &sdot;
                    <%= best_in_place a, :is_public, :as => 'checkbox', :data => {:activity => a}, :class => 'toggle-private', collection: {
                      false: raw('<strong><a><i class="fa fa-lock"></i> Private</a></strong>'),
                      true: raw('<a>Mark Private</a>')
                    }  %>
                  &sdot; <a class="comment-link-<%= a.id %>">Comments (<%= a.comments.size %>)</a>
                  &sdot; <a href="<%= a.email_messages.first.link %>" target="_blank">View in Zendesk <i class="fa fa-external-link"></i></a>
                </div>
            </div>
        
        <% elsif a.category == Activity::CATEGORY[:Alert] %>
            <h3>
                Alert: <%= a.title %>
                <% if a.is_pinned %>
                  <% index = @pinned_ids.index(a.id) + 1 %>
                  <span class="fa-stack pull-right" style="margin-top: -8px;">
                    <i class="fa fa-star fa-stack-1x" title="Key Activity"></i>
                    <small class="fa-stack-1x text-white text-stack"><%= index %></small>
                  </span>
                <% end %>
            </h3>

            <div class="chat-discussion">
                <div> <%= a.note %></div>

                <div class="action-links">
                  <%= best_in_place a, :is_pinned, :as => 'checkbox', :data => {:activity => a}, collection: {false: raw("<a id=\"pin-link\">Mark as Key Activity</a>"), true: raw("<strong><a id=\"pin-link\"><i class=\"fa fa-star\"></i> Key Activity</a></strong>")}, :class => 'pin' %>
                  &sdot; <a class="comment-link-<%= a.id %>">Comments (<%= a.comments.size %>)</a>
                </div>
            </div>

        <% elsif a.category == Activity::CATEGORY[:NextSteps] %>

            <div class="chat-discussion">
              <p class="note-author"><strong><%= get_full_name(a.user) %></strong> changed next steps to:</p>
              <%= simple_format(CGI.escape_html(a.title)) %>

                <div class="action-links">
                  <%= best_in_place a, :is_pinned, :as => 'checkbox', :data => {:activity => a}, collection: {false: raw("<a id=\"pin-link\">Mark as Key Activity</a>"), true: raw("<strong><a id=\"pin-link\"><i class=\"fa fa-star\"></i> Key Activity</a></strong>")}, :class => 'pin' %>
                  &sdot; <a class="comment-link-<%= a.id %>">Comments (<%= a.comments.size %>)</a>
                </div>
            </div>

        <% end %>

        <div class="content-footer footer-<%= a.id %>" style="display: none;">

            <% a.comments.each do |c| %>
                <% if !(c.nil? or c.user.nil?) %>
                    <%= render "comments/comment", :c => c %>
                <% end %>
            <% end %>

            <div class="social-comment form-<%= a.id %> row">
                <div class="col-sm-1">
                    <%= get_profile_pic(get_full_name(current_user), current_user.email, "") %>
                </div>
                <div class="col-sm-11">
                    <%= render 'comments/form', :activity => a %>
                </div>
            </div>
        </div>

    </div>
</div>

<%= render 'activities/show_more_js', :a => a %>
