<div class="vertical-timeline-block <%= a.id.to_s + a.category %>" id="<%= a.backend_id.to_s %>" data-myvalue='block'>
    
    <% if a.category == "Conversation" %>
        <div class="vertical-timeline-icon primary-bg">
            <i class="fa fa-envelope"></i>
        </div>
    <% elsif a.category == "Note" %>
        <div class="vertical-timeline-icon sticky-bg">
            <i class="fa fa-sticky-note"></i>
        </div>
    <% elsif a.category == "Calendar" %>
        <div class="vertical-timeline-icon warning-bg">
            <i class="fa fa-calendar"></i>
        </div>
    <% end %>
    
    <span class="vertical-date left"><%= Time.zone.at(a.last_sent_date).strftime("%b %d") %><br />
        <small><%= Time.zone.at(a.last_sent_date).strftime("%l:%M%P") %></small>
    </span>

<<<<<<< HEAD
    <div class="vertical-timeline-content" <% if a.category == Activity::CATEGORY[:Note] %> style="background-color: #fff7db" <% end %> data-mytype="<%= a.category %>" data-myemail= "<% if a.category==Activity::CATEGORY[:Note] %>
        <% if a.user.nil? %> <%=a.user.email %>  <% end %>
        <% else %>
        <% if a.email_addresses.nil? %> <%=a.email_addresses.to_a.join(',') %>  <% end %>
        <% end %>  ">
=======
    <div class="vertical-timeline-content" <% if a.category == Activity::CATEGORY[:Note] %> style="background-color: #fff7db" <% end %> data-mytype="<%= a.category %>" data-myemail= <% if a.category==Activity::CATEGORY[:Note] %>
        "<%=a.user.email %>" 
        <% else %>
        "<%=a.email_addresses.to_a.join(',') %>" 
        <% end %>  >
>>>>>>> upstream/develop
        <% if a.category == Activity::CATEGORY[:Conversation] %>
            <h3><%= a.title %>
                <small class="m-l-md"><%= get_conversation_member_names(a.from, a.to, a.cc) %></small>
                <% if not_in_current_user_inbox(a) %><span id="not-in-inox"><i class="fa fa-eye pull-right" style="font-size:14px;" data-toggle="tooltip" data-placement="top" data-original-title="This conversation is not in your inbox"></i></span><% end %>
                <span id="private" <% if a.is_public %>style="display:none;"<% end %>><i class="fa fa-lock pull-right" style="color:#ed5565" title="Private"></i></span>
            </h3>

            <div class="chat-discussion">
                <% if a.email_messages.size > 1 %>
                    <div class="more-messages">
                        <a class="show-more-<%= a.id.to_s %>"><i class="fa fa-plus-square"></i> &nbsp; <%= pluralize((a.email_messages.size - 1), 'older message') %></a>
                    </div>
                <% end %>

                <% a.email_messages.each do |m| %>
                    <div class="hidden-message-filter hidden-chat-message-<%= a.id.to_s %>" data-myvalue="<%= m.sentDate %>" <% if a.email_messages.last != m %> style="display:none;" <% end %>>
                        <div class="chat-message <%= is_internal_domain?(m.from[0].address) ? "left" : "right" %>">
                            <%= get_profile_pic(m.from[0].personal, m.from[0].address, "message-avatar") %>
                            <div class="message">
                                <span class="message-author" href="#"> <%= m.from[0].personal %> </span> to <%= get_conversation_member_names([], m.to, m.cc, "All") %>
                                <span class="message-date"><%= Time.zone.at(m.sentDate).strftime("%b %d") %></span>
                                <hr class="message-divider"/>
                                    <span class="message-content">
                                         <div>
                                            <%= if m.content.is_a?(String) 
                                                  simple_format(m.content)
                                                else
                                                    simple_format(m.content.body)
                                                end%>
                                            
                                        </div>
                                    </span>
                            </div>
                        </div>
                    </div>
                <% end %>

                <div class="col-4-lg action-links">
                  <%= best_in_place a, :is_pinned, :as => 'checkbox', :data => {:activity => a}, collection: {false: raw("<a id=\"pin-link\">Pin as Key Activity</a>"), true: raw("<strong><a id=\"pin-link\"><i class=\"fa fa-thumb-tack\"></i> Pinned</a></strong>")}, :class => 'pin' %>
                  &sdot;
                    <%= best_in_place a, :is_public, :as => 'checkbox', :data => {:activity => a}, :class => 'toggle-private', collection: {
                      false: raw('<strong><a><i class="fa fa-lock"></i> Private</a></strong>'),
                      true: raw('<a>Mark Private</a>')
                    }  %>
                  &sdot; <a class="comment-link-<%= a.id %>">Comments (<%= a.comments.size %>)</a>
                  &sdot; <a class="tasks-link-<%= a.id %>">Smart Tasks (<%= @notifications.where(conversation_id: a.backend_id).size %>)</a>
                </div>
            </div> <!-- chat discussion -->
            <div class="tasks-footer tasks-footer-<%= a.id %>"><%= render "notifications/table", :multi_table => true, :notifications => @notifications.where(conversation_id: a.backend_id) %></div>
        
        <% elsif a.category == Activity::CATEGORY[:Note] %>
            <div class="chat-discussion timeline-note" data-myvalue="<%= a.last_sent_date_epoch %>">
                <div class="row">
                    <div class="col-xs-11">
                        <p class="note-author"><strong><%= get_full_name(a.user) %></strong> wrote:</p>
                        <%= best_in_place_if a.user == current_user, a, :note, :as => 'textarea', :place_holder => '(Add text)', :display_with => :simple_format, :inner_class => 'col-sm-12', :ok_button => 'Ok', :ok_button_class => 'btn btn-primary btn-xs', :cancel_button => 'Cancel', :cancel_button_class => 'btn btn-secondary btn-xs', :activator => "#note-#{a.id}-activator" %>
                    </div>
                    <% if a.user == current_user %>
                        <div class="col-xs-1 delete-note">
                            <i id="note-<%= a.id %>-activator" class="fa fa-pencil bip_activator text-mute-gray m-r-xs"></i>
                            <%= link_to "<i class=\"fa fa-times text-mute-gray\"></i>".html_safe, a, method: :delete, title: "Remove", data: {confirm: "Are you sure you want to delete this note?"}, remote: true %>
                        </div>
                    <% end %>
                </div>
                <div class="col-4-lg action-links">
                    <%= best_in_place a, :is_pinned, :as => 'checkbox', :data => {:activity => a}, collection: {false: raw("<a id=\"pin-link\">Pin as Key Activity</a>"), true: raw("<strong><a id=\"pin-link\"><i class=\"fa fa-thumb-tack\"></i> Pinned</a></strong>")}, :class => 'pin' %>
                     &sdot; <a class="comment-link-<%= a.id %>">Comments (<%= a.comments.size %>)</a> 
                </div>
            </div>

        <% elsif a.category == "Calendar" %>
            <h3>Event: <%= a.title %>
                <small class="m-l-md"><%= get_calendar_interval(a) %></small>
                <span id="private" <% if a.is_public %>style="display:none;"<% end %>><i class="fa fa-lock pull-right" style="color:#ed5565" title="Private"></i></span>
            </h3>

            <div class="chat-discussion" data-myvalue="<%= a.last_sent_date_epoch %>">
                <strong>Organizer:</strong> <%= a.from[0].personal ? a.from[0].personal : a.from[0].address %>
                <strong class="m-l-md">Attendees:</strong> <%= get_calendar_member_names(a.to) %>
                <div class="col-4-lg action-links">
                  <%= best_in_place a, :is_pinned, :as => 'checkbox', :data => {:activity => a}, collection: {false: raw("<a id=\"pin-link\">Pin as Key Activity</a>"), true: raw("<strong><a id=\"pin-link\"><i class=\"fa fa-thumb-tack\"></i> Pinned</a></strong>")}, :class => 'pin' %>
                  &sdot;
                    <%= best_in_place a, :is_public, :as => 'checkbox', :data => {:activity => a}, :class => 'toggle-private', collection: {
                      false: raw('<strong><a><i class="fa fa-lock"></i> Private</a></strong>'),
                      true: raw('<a>Mark Private</a>')
                    }  %>
                  &sdot; <a class="comment-link-<%= a.id %>">Comments (<%= a.comments.size %>)</a>
                </div>
            </div> <!-- chat discussion -->
        <% end %>
        
        <div class="content-footer footer-<%= a.id %>" style="display: none;">
            
            <% a.comments.each do |c| %>
                <% if !(c.nil? or c.user.nil?) %>
                    <%= render "comments/comment", :c => c %>
                <% end %>
            <% end %>

            <div class="social-comment form-<%= a.id %> row">
                <div class="col-sm-1">
                    <%= get_profile_pic(get_full_name(current_user), current_user.email, "") %>
                </div>
                <div class="col-sm-11">
                    <%= render 'comments/form', :activity => a %>
                </div>
            </div>
        </div>

    </div>
</div>

<%= render 'activities/show_more_js', :a => a %>
