<style>
  table.plan th {
    text-align:center;
  }

  table.plan td {
    text-align: center;
  }

  table.plan tr td.header {
    text-align: left;
    font-weight: bold;
  }

  table.plan tr td.subheader {
    text-align: left;
    padding-left: 25px;
  }

  div.plan-action {
    vertical-align: bottom;
  }

    .btn-default.btn-on.active{background-color: #5BB75B;color: white;}
 .btn-default.btn-off.active{background-color: #5BB75B;color: white;}

  table th h1 {
    font-size: 40px;
  }

    a.start {
      margin-right:2px;
    }

</style>

<div class="container center-block">
  <% if flash[:error].present? %>
      <div class="well" id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
  <% end %>
  <%= form_tag plans_path, :id => 'upgrade' do %>
      <input type="hidden" name="plan" id="plan" value="">
      <input type="hidden" name="stripeToken" id="stripeToken">
  <% end %>
  <div class="container">
	<div class="row">
	<table class="plan table table-hover table-bordered table-striped text-center">
    <thead>
    <tr>
      <th colspan="6">
        
      </th>

      <th colspan="2">
        <h2>Basic</h2>
        <h5 class="text-muted">For frequent emailers</h5>

        <div class="" >
          <hr>
          <div style="width: 13em"></div>
          <!--<div class="btn-group" id="status" data-toggle="buttons">
            <label class="btn btn-default btn-on btn-sm active basic-yearly">
              <input type="radio" value="1" name="basic-v1" checked="checked">Yearly</label>
            <label class="btn btn-default btn-off btn-sm basic-monthly">
              <input type="radio" value="0" name="pro-monthly-v1">Monthly</label>
          </div> -->
          <div><h1 class="basic-price">Free</h1></div>
        </div>
        <p class="muted"><h3>&nbsp;</h3><h3>&nbsp;</h3><br>
        </p>

        <div class="plan-action">
          <a class="btn btn-primary btn-block btn-large" disabled href="#"><%= (current_user.plus? || current_user.pro?) ? 'Included' : 'Your current plan' %></a>
        </div>
      </th>


      <th colspan="2">
        <h2>Plus</h2>
        <h5 class="text-muted">For people managing customers</h5>

        <div class="">
          <hr>
          <!-- <div class="btn-group" id="status" data-toggle="buttons">
            <label class="btn btn-default btn-on btn-sm active plus-yearly">
              <input type="radio" value="1" name="plus-v1" checked="checked">Yearly</label>
            <label class="btn btn-default btn-off btn-sm plus-monthly">
              <input type="radio" value="0" name="plus-monthly-v1">Monthly</label>
          </div> -->
          <div><h1 class="plus-price">$5/mo</h1></div>
        </div>

        <p class="muted"><h3>14 days free trial</h3><h3>One month of Plus free for each referral</h3><br>
        </p>

        <div class="plan-action">
          <% if current_user.pro? %>
              <a class="btn btn-primary btn-block btn-large" disabled href="#">Included</a>
          <% else %>
              <div class="btn-group">
                <a class="share-action btn btn-primary btn-large btn-outline"><i class="fa fa-gift"></i> Refer a friend!</a>
                <% if !current_user.plus? %>
                    <a class="btn btn-primary btn-large start plus-start" data-amount=0 data-plan="plus-monthly-v1" href="#">Start Free Trial</a>
                <% else %>
                    <% if @trial_expiration_time && (@trial_expiration_time > Time.now) %>
                        <a class="btn btn-primary btn-large" disabled href="#"><%= @time_remaining_until_expiration_str %> remaining in free trial</a>
                    <% elsif @subscription_expiration_time && (@subscription_expiration_time > Time.now) %>
                        <a class="btn btn-primary btn-large" disabled href="#">Your current plan</a>
                    <% else %>
                        <a class="btn btn-primary btn-large upgrade plus-upgrade" data-amount=500 data-plan="plus-monthly-v1" href="#">Upgrade Now</a>
                    <% end %>
                <% end %>
              </div>
          <% end %>
        </div>

      </th>

      <th colspan="2">
        <h2>Pro</h2>
        <h5 class="text-muted">For professionals using Salesforce</h5>
        <hr>
        <div class="">
<!--           <div class="btn-group" id="status" data-toggle="buttons">
            <label class="btn btn-default btn-on btn-sm active pro-yearly">
              <input type="radio" value="1" name="pro-v1" checked="checked">Yearly</label>
            <label class="btn btn-default btn-off btn-sm pro-monthly">
              <input type="radio" value="0" name="pro-monthly-v1">Monthly</label>
          </div> -->
          <div><h1 class="pro-price">$35/mo</h1></div>
        </div>

        <p class="muted"><h3>(coming soon)</h3><h3>&nbsp;</h3><br>
        </p>

        <div class="plan-action">
          <% if current_user.biz? %>
              <a class="btn btn-primary btn-block btn-large" disabled href="#">Included</a>
          <% else %>
              <div class="btn-group">
                <a class="share-action btn btn-primary btn-large btn-outline"><i class="fa fa-gift"></i> Refer a friend!</a>
                <!-- <% if !current_user.pro? %>
                    <a class="btn btn-primary btn-large start pro-start" data-amount=42000 data-plan="pro-v1" href="#">Start Free Trial</a>
                <% else %>
                    <% if @trial_expiration_time && (@trial_expiration_time > Time.now) %>
                        <a class="btn btn-primary btn-large" disabled href="#"><%= @time_remaining_until_expiration_str %> remaining in free trial</a>
                    <% elsif @subscription_expiration_time && (@subscription_expiration_time > Time.now) %>
                        <a class="btn btn-primary btn-large" disabled href="#">Your current plan</a>
                    <% else %>
                        <a class="btn btn-primary btn-large upgrade pro-upgrade" data-amount=42000 data-plan="pro-v1" href="#">Upgrade Now</a>
                    <% end %>
                <% end %> -->
              </div>
          <% end %>
        </div>

      </th>

    </tr>
        </thead>

        <tbody>
            <tr><td colspan="12" class="header">Gmail Integration</td></tr>
            <tr>
              <td colspan="6" class="subheader">Email tracking
                <i class="fa fa-question-mark fa-question-circle" data-toggle="tooltip" data-trigger="hover click" data-title="See when and where your email was opened"></i></td>
              <td colspan="2"><i class="fa fa-check"></i></td>
              <td colspan="2"><i class="fa fa-check"></i></td>
              <td colspan="2"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <td colspan="6" class="subheader">Profiles
                <i class="fa fa-question-mark fa-question-circle" data-toggle="tooltip" data-trigger="hover click" data-title="See job title, social media profiles, and company data of your contacts"></i>
              </td>
              <td colspan="2"><i class="fa fa-check"></i></td>
              <td colspan="2"><i class="fa fa-check"></i></td>
              <td colspan="2"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <td colspan="6" class="subheader">Auto forward to CRM
                <i class="fa fa-question-mark fa-question-circle" data-toggle="tooltip" data-trigger="hover click" data-title="Automatically forward emails to your CRM, so you don't have to do it manually"></i>
              </td>
              <td colspan="2"><i class="fa fa-check"></i></td>
              <td colspan="2"><i class="fa fa-check"></i></td>
              <td colspan="2"><i class="fa fa-check"></i></td>
            </tr>

            <tr><td colspan="12" class="header">Productivity</td></tr>
            <tr>
              <td colspan="6" class="subheader"><i class="fa fa-bar-chart" style="color: green"></i> Tracking dashboard
              <i class="fa fa-question-mark fa-question-circle" data-toggle="tooltip" data-trigger="hover click" data-title="See when are the popular times that your contacts were opening your emails"></i>
              </td>
              <td colspan="2"></td>
              <td colspan="2"><i class="fa fa-check"></i></td>
              <td colspan="2"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <td colspan="6" class="subheader">Auto-organize email attachments
              <i class="fa fa-question-mark fa-question-circle" data-toggle="tooltip" data-trigger="hover click" data-title="Attachments buried in email threads? We organize them for you in one place"></i>
              </td>
              <td colspan="2"></td>
              <td colspan="2"><i class="fa fa-check"></i></td>
              <td colspan="2"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <td colspan="6" class="subheader">Contacts management
              <i class="fa fa-question-mark fa-question-circle" data-toggle="tooltip" data-trigger="hover click" data-title="Save, edit, and search your contacts"></i>
              </td>
              <td colspan="2"></td>
              <td colspan="2"><i class="fa fa-check"></i></td>
              <td colspan="2"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <td colspan="6" class="subheader">Add notes to contacts (coming soon)
                <i class="fa fa-question-mark fa-question-circle" data-toggle="tooltip" data-trigger="hover click" data-title="Add notes to your contacts, so you never forget their birthdays or kids' names"></i></td>
              <td colspan="2"></td>
              <td colspan="2"><i class="fa fa-check"></i></td>
              <td colspan="2"><i class="fa fa-check"></i></td>
            </tr>

            <tr><td colspan="12" class="header">Salesforce Integration with Gmail</td></tr>
            <tr>
              <td colspan="6" class="subheader">Update Salesforce with spreadsheet-like grid
              <i class="fa fa-question-mark fa-question-circle" data-toggle="tooltip" data-trigger="hover click" data-title="Edit Opportunities and Contacts fields directly from Gmail"></i>
              </td>
              <td colspan="2"></td>
              <td colspan="2"></td>
              <td colspan="2"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <td colspan="6" class="subheader">Sync Contacts
              <i class="fa fa-question-mark fa-question-circle" data-toggle="tooltip" data-trigger="hover click" data-title="Automatically enrich contacts and add them to Salesforce. Never manually create a contact again"></i>
            </td>
              <td colspan="2"></td>
              <td colspan="2"></td>
              <td colspan="2"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <td colspan="6" class="subheader">Sync Emails and Meetings
              <i class="fa fa-question-mark fa-question-circle" data-toggle="tooltip" data-trigger="hover click" data-title="Automatically sync email and meeting activities to Salesforce Accounts"></i>
            </td>
              <td colspan="2"></td>
              <td colspan="2"></td>
              <td colspan="2"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <td colspan="6" class="subheader"><i class="fa fa-bar-chart" style="color: green"></i> Bookings, forecast, and productivity dashboard
              <i class="fa fa-question-mark fa-question-circle" data-toggle="tooltip" data-trigger="hover click" data-title="Get real-time data on how you're trending and hitting your target, and where you're spending time across customers"></i>
            </td>
              <td colspan="2"></td>
              <td colspan="2"></td>
              <td colspan="2"><i class="fa fa-check"></i></td>
            </tr>

            <tr>
              <td colspan="6" class="header">Exchange Online and Office365 Integration</td>
              <td colspan="2"></td>
              <td colspan="2"></td>
              <td colspan="2"><a href="https://www.contextsmith.com/demo/">Contact Us</a></td>
            </tr>


        </tbody>
  </table>
  </div>
    <h2 class="text-center m-b-xl m-t-xl">Looking for Business or Enterprise plans? Please <a href="https://www.contextsmith.com/demo/">contact us</a>.</h2>
  </div>

</div>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
    $.fn.extend({
        animateCss: function (animationName) {
            var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
            this.addClass('animated ' + animationName).one(animationEnd, function() {
                $(this).removeClass('animated ' + animationName);
            });
            return this;
        }
    });
    function togglePrice(target, priceTarget, priceAction, price, amount, planID) {
        $(target).click(function(evt) {
            $(priceTarget).text('$' + price + '/mo').animateCss('fadeInUp');
            $(priceAction).attr({'data-amount': amount, 'data-plan': planID});
            return true;
        });
    }

    // togglePrice('.plus-yearly', '.plus-price', '.plus-upgrade', 5, 500, 'plus-v1');
    // togglePrice('.plus-monthly', '.plus-price', '.plus-upgrade', 5, 500, 'plus-monthly-v1');
    // togglePrice('.pro-yearly', '.pro-price', '.pro-upgrade', 35, 42000, 'pro-v1');
    // togglePrice('.pro-monthly', '.pro-price', '.pro-upgrade', 39, 3900, 'pro-monthly-v1');
    //$('.stripe-button-el span').attr('style', null);
    //$('.stripe-button-el').removeClass('stripe-button-el').addClass('btn btn-primary btn-block btn-large')

    var handler = StripeCheckout.configure({
        key: '<%= Rails.configuration.stripe[:publishable_key] %>',
        email: '<%= current_user.email if current_user %>',
        allowRememberMe: false,
        zipCode: true,
        locale: 'auto',
        name: 'ContextSmith',
        description: 'Secured by Stripe',
        panelLabel: 'Pay {amount} after 14 days',

        token: function(token) {
            $('input#stripeToken').val(token.id);
            $('form#upgrade').submit();
        }
    });

    $('.start').click(function(evt) {
        evt.preventDefault();
        $('input#plan').val(evt.target.dataset.plan);
        $('form#upgrade').submit();
    });

    $('.upgrade').click(function(evt) {
        evt.preventDefault();
        $('input#plan').val(evt.target.dataset.plan);
        handler.open({
            amount: +evt.target.dataset.amount
        });
    });

    // Close Checkout on page navigation
    $(window).on('popstate', function() {
        handler.close();
    });

    $('.share-action').click(e => {
        e.preventDefault();
        popupCenter('/extension/share', 'Share the goodness', 775, 525);
    });

    function popupCenter(url, title, w, h) {
        var left = (screen.width / 2) - (w / 2);
        var top = (screen.height / 2) - (h / 2);
        return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
    }

    $('[data-toggle="tooltip"]').tooltip({'placement': 'right'});

</script>
