<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Opportunities Dashboard</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="font-bold col-md-12">Filter:</div>
            <div class="col-md-12 m-t-sm filter-space">
                <!-- Account Type -->
                <select id="account-filter" class="category_filter col-md-3" data-placeholder="Select Account Type">
                     <option value=""></option>  <!-- no filter -->
                    <% @account_types.each do |k,v| %>
                      <option <% if params[:account] == v %> selected <% end %> ><%= v %></option>
                    <% end %>
                </select>
                <!-- Stream Type -->
                <select id="category-filter" class="category_filter col-md-3" data-placeholder="Select Opportunity Type">
                    <option value=""></option> <!-- no filter -->
                    <% @stream_types.each do |k,v|    %>
                      <option <% if params[:category] == v %> selected <% end %> ><%= v %></option>
                    <% end %>
                </select>
                <!-- Owner -->
                <select id="owner-filter" class="category_filter col-md-3" data-placeholder="Select Owner">
                    <option value=""></option> <!-- no filter -->
                    <option value="<%= current_user.id %>" <% if params[:owner]==current_user.id %> selected <% end %> >Owner: Me</option>
                    <% @owners.each do |u| %>
                        <% if u.id != current_user.id %>
                            <option value="<%= u.id %>" <% if params[:owner]==u.id %> selected <% end %> >
                                <%= get_full_name(u) %>
                            </option>
                        <% end %>
                    <% end %>
                    <option value="none" <% if params[:owner]=="none" %> selected  <% end %> >Unassigned</option>
                </select>
                <!-- <div class="col-md-3"></div> -->
            </div>
        </div>
    </div>

    <div class="row border-bottom white-bg dashboard-header">
            <!-- LEFT -->
            <div class="col-lg-5">
                <h4 class="m-l-md">Metric:
                    <select id="sort-type" class="metric_filter col-lg-8" data-placeholder="Select Metric">
                    <% ReportsController::ACCOUNT_DASHBOARD_METRIC.each do |k,label| %>
                        <option <%= "selected" if params[:sort] == label %>><%= label %></option>
                    <% end %>
                    </select>
                </h4>
                <div id="left-chart" class="left-chart" style="height:1200px;"></div>
            </div>

            <!-- RIGHT -->
            <div class="col-lg-7" style="margin-top:45px;">
                <div id="account-data">
                    <div class="row" style="margin-top:50px;">
                        <h3>&larr; Click on a bar to see details about the opportunity.</h3>
                    </div>
                </div>
            </div>
        </div>
</div>

<%= render "teaser" if current_user.trial? %>

<script type="text/javascript">
    $(document).ready(function() {
        $('#sort-type, #account-filter, #owner-filter, #category-filter').change( function () {
            // Clear stream data ("right") chart
            $('#account-data').html("<div class=row style=margin-top:50px;><h3>&larr; Click on a bar to see details about the opportunity.</h3></div>");

            // Build URL for AJAX call for filtered data
            var url = "ad_sort_data/" + encodeURIComponent($('#sort-type').val()) + "?" + $.param({ account: $('#account-filter').val(), category: $('#category-filter').val(), owner: $('#owner-filter').val() });
            $.getScript(url)
        });

        $('#left-chart').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: <%= @data.map(&:name).to_json.html_safe %>,
                crosshair: true
            },
            yAxis: {
                min: null,
                max: null,
                opposite: true,
                title: {
                    text: ''
                },
                gridLineWidth: 0
            },
            legend: {
                enabled: true,
                verticalAlign: 'top',
                itemStyle: {
                    fontWeight: 'light',
                    fontSize: 12         
                }
            },
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    maxPointWidth: 75,
                    point: {
                        events: {
                            click: function () {
                                $.get("ad_account_data/" + this.options.id, function (data) {
                                    $("#account-data").html(data);
                                    renderCharts(this.y);
                                })
                            }
                        }
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Average',
                type: 'line',
                lineWidth: 2,
                color: '#7cb5ec',
                marker: { enabled: false, radius: 0 },
                data: <%= Array.new(@data.length, @average).to_json.html_safe %>,
                zIndex: 2,
                showInLegend: false  // for "Activities (Last 14d)" metric, hide average
            }, {
                name: '',  // to be updated below
                data: [],
                zIndex: 1
            }]
        });

        <%= render partial: "reports/accounts_dashboard.js" %>
    });

</script>
