<div id="account-header">
    <div class="row m-b-sm">
        <div class="col-lg-8">
            <h2><%= @account.name %></h2>
        </div>
        <div class="col-lg-4">
            <small>Date range: </small><input type="text" name="daterange" class="form-control daterange">
        </div>
    </div>
    
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="metric <%= if @risk_score > 80.0
                                         "text-danger"
                                        elsif @risk_score > 60.0
                                         "text-warning"
                                        else
                                         "text-success"
                                        end %>">
                    <div class="metric-title">
                        <h4><%= if @risk_score > 80.0
                                    "High"
                                elsif @risk_score > 60.0 
                                    "Medium"
                                else
                                    "Low"
                                end %> Risk</h4>
                    </div>
                    <div class="metric-content">
                        <h2 style="font-weight:600;font-size:46px"><%= @risk_score %></h2>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="metric text-danger">
                    <div class="metric-title">
                        <h4>Open Risks</h4>
                    </div>
                    <div class="metric-content">
                        <h2 style="font-weight:600;font-size:46px"><%= @open_risks_count %></h2>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="metric">
                    <div class="metric-title">
                        <h4>Last Touch</h4>
                    </div>
                    <div class="metric-content">
                        <h2 style="line-height:50px;"><%= @last_activity_date ? time_ago_in_words(@last_activity_date) + " ago" : "--" %></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <h3><%= link_to "See risks &rarr;".html_safe, project_path(@account)+"/tasks", class: "btn btn-outline btn-primary btn-xs" %></h3>
        </div>
    </div>
</div>
<!-- end id="account-header" -->

<div id="account-charts">
    <div id="charts-container" class="ibox-content">
        <div class="row m-t-md">
            <div id="risk-chart" style="height:240px;"></div>
        </div>

        <div class="row m-t-md">
            <div id="risk-detection-chart"></div>
        </div>
        
        <div class="row m-t-md">
            <div id="activities-chart"></div>
        </div>

        <div class="row m-t-lg text-center">
            <h3><%= link_to "See activities &rarr;".html_safe, project_path(@account), class: "btn btn-outline btn-primary btn-xs" %></h3>
        </div>
    </div>

    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-6" id="activities-breakdown" style="height:200px"></div>
            <div class="col-lg-6" id="top-contributors" style="height:200px;"></div>
        </div>

        <div class="row m-t-lg text-center">
            <h3><a href="https://demo-contextsmith.herokuapp.com/projects/63785ef0-af65-475e-be6b-d2451b5dc565/insights" class="btn btn-outline btn-primary btn-xs">See Account Relationship Graph &rarr;</a></h3>
        </div>
    </div>
</div>
<script type="text/javascript">
    
    /***********
    Sychronize Charts
    ************/

     /**
     * In order to synchronize tooltips and crosshairs, override the
     * built-in events with handlers defined on the parent element.
     */
    $('#charts-container').bind('mousemove touchmove touchstart', function (e) {
        var chart,
            point,
            i,
            event;

        // console.log(Highcharts.charts);

        for (i = 3; i < Highcharts.charts.length; i = i + 1) { // i=3 to exclude first chart #left-chart
            chart = Highcharts.charts[i];
            event = chart.pointer.normalize(e.originalEvent); // Find coordinates within the chart
            point = chart.series[0].searchPoint(event, true); // Get the hovered point

            if (point) {
                point.highlight(e);
            }
        }
    });


    /**
     * Synchronize zooming through the setExtremes event handler.
     */
    function syncExtremes(e) {
        var thisChart = this.chart;

        if (e.trigger !== 'syncExtremes') { // Prevent feedback loop
            Highcharts.each(Highcharts.charts, function (chart) {
                if (chart !== thisChart) {
                    if (chart.xAxis[0].setExtremes) { // It is null while updating
                        chart.xAxis[0].setExtremes(e.min, e.max, undefined, false, { trigger: 'syncExtremes' });
                    }
                }
            });
        }
    }

    /*****
    Render right charts
    ******/

    function renderCharts(riskScore) {
        /**
         * Override the reset function, we don't need to hide the tooltips and crosshairs.
         */
        Highcharts.Pointer.prototype.reset = function () {
            return undefined;
        };

        /**
         * Highlight a point by showing tooltip, setting hover state and draw crosshair
         */
        Highcharts.Point.prototype.highlight = function (event) {
            this.onMouseOver(); // Show the hover marker
            this.series.chart.tooltip.refresh(this); // Show the tooltip
            this.series.chart.xAxis[0].drawCrosshair(event, this); // Show the crosshair
        };


        $('#activities-breakdown').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            credits: false,
            title: {
                text: "Activities By Team",
                align: 'left',
                margin: 0,
                x: 35,
                style: {
                    color: '#555555',
                    fontSize: '16px'
                }
            },
            tooltip: {
                pointFormat: '{point.percentage:.1f}%'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false,
                        distance: -25,
                        format: '{point.name}',
                    }
                }
            },
            series: [{
                name: 'Team',
                colorByPoint: true,
                data: [
                <% @activities_by_dept.each do |dept, count| %>
                {
                    name: "<%= dept %>",
                    y: <%= count %>
                },
                <% end %>
                ]
            }]
        });

        $('#top-contributors').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Most Active Contributors',
                align: 'left',
                margin: 0,
                x: 35,
                style: {
                    color: '#555555',
                    fontSize: '15px'
                }
            },
            credits: { enabled: false },
            xAxis: {
                categories: <%= @team_leaderboard.map(&:email).to_json.html_safe %>
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [{
                name: 'Inbound',
                data: <%= @team_leaderboard.map(&:inbound_count).to_json.html_safe %>
            }, {
                name: 'Outbound',
                data: <%= @team_leaderboard.map(&:outbound_count).to_json.html_safe %>
            }]
        });

        $('#risk-chart').highcharts({
            title: {
                text: "Risk Score Trend",
                align: 'left',
                margin: 0,
                x: 35,
                style: {
                    color: '#555555',
                    fontSize: '16px'
                }
            },
            xAxis: {
                type: 'datetime',
                crosshair: true,
                events: {
                    setExtremes: syncExtremes
                }
            },
            yAxis: {
                title: {
                    text: ''
                },
                labels: { enabled: true },
                gridLineWidth: 0,
                minorGridLineWidth: 0,
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }],
                min: 0,
                max: 100,
                plotBands: [ { // Low Risk
                    from: 0,
                    to: 60,
                    color: 'rgba(170, 252, 174, 0.1)',
                    label: {
                        text: 'Low Risk',
                        style: {
                            color: '#606060'
                        }
                    }
                    }, { // Medium Risk
                        from: 60,
                        to: 80,
                        color: 'rgba(246, 188, 42, 0.1)',
                        label: {
                            text: 'Medium Risk',
                            style: {
                                color: '#606060'
                            }
                        }
                    }, { // High Risk
                        from: 80,
                        to: 100,
                        color: 'rgba(246, 42, 46, 0.1)',
                        label: {
                            text: 'High Risk',
                            style: {
                                color: '#606060'
                            }
                        }
                    }]
                },
                tooltip: {
                    positioner: function () {
                        return {
                            x: this.chart.chartWidth - this.label.width, // right aligned
                            y: -15 // align to title
                        };
                    },
                    borderWidth: 0,
                    backgroundColor: 'none',
                    pointFormat: '{point.y}',
                    xDateFormat: '%b %e',
                    shadow: false,
                    style: {
                        fontSize: '16px',
                        color: '#555555'
                    }
                },
                credits: {
                    enabled: false
                },
                legend: {
                    enabled: false
                },
                series: [{
                    pointInterval: <%= 1.day * 1000 %>,
                    pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                    data: <%= get_risk_score_by_project(@risk_score_trend, @account.id) %>
                }]
            });

        $('#risk-detection-chart').highcharts({
            chart: {
                height: 140,
                events:{
                  load: function(event) {
                    var extremes = this.yAxis[0].getExtremes();
                    this.yAxis[0].setExtremes(0, extremes.dataMax);
                    }
                },
            },
            credits: {
                enabled: false
            },
            title: {
                text: "Risk Volume",
                    align: 'left',
                    margin: 0,
                    x: 35,
                    style: {
                        color: '#555555',
                        fontSize: '16px'
                    }
            },
            xAxis: {
                type: 'datetime',
                crosshair: true,
                events: {
                    setExtremes: syncExtremes
                }
            },
            yAxis: {
                title: { text: '' },
                labels: { enabled: true },
                minorGridLineWidth: 0
            },
            legend: {
                enabled: false
            },
            tooltip: {
                positioner: function () {
                    return {
                        x: this.chart.chartWidth - this.label.width, // right aligned
                        y: -15 // align to title
                    };
                },
                borderWidth: 0,
                backgroundColor: 'none',
                pointFormat: '{point.y}',
                xDateFormat: '%b %e',
                shadow: false,
                style: {
                    fontSize: '16px',
                    color: '#555555'
                }
            },
            series: [{
                type: 'column',
                name: 'New Risks',
                color: '#FF5050',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: <%= @risks_by_date.to_json.html_safe  %>
            }]
        });

        $('#activities-chart').highcharts({
            chart: {
                height: <%= @activities_by_category_date.blank? ? 140 : 240 %>,
                events:{
                  load: function(event) {
                    var extremes = this.yAxis[0].getExtremes();
                    this.yAxis[0].setExtremes(0, extremes.dataMax);
                    }
                },
            },
            credits: {
                enabled: false
            },
            title: {
                text: "Engagement Volume",
                    align: 'left',
                    margin: 0,
                    x: 35,
                    style: {
                        color: '#555555',
                        fontSize: '16px'
                    }
            },
            xAxis: {
                type: 'datetime',
                crosshair: true,
                events: {
                    setExtremes: syncExtremes
                }
            },
            yAxis: {
                title: { text: '' },
                labels: { enabled: true },
                minorGridLineWidth: 0
            },
            legend: {
                enabled: true
            },
            tooltip: {
                positioner: function () {
                    return {
                        x: this.chart.chartWidth - this.label.width, // right aligned
                        y: -15 // align to title
                    };
                },
                borderWidth: 0,
                backgroundColor: 'none',
                pointFormat: '{point.stackTotal}',
                xDateFormat: '%b %e',
                shadow: false,
                style: {
                    fontSize: '16px',
                    color: '#555555'
                }
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [
            <% @activities_by_category_date.each do |category, activities_by_date| %>
            {
                type: 'column',
                name: '<%= category %>',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: <%= activities_by_date.to_json.html_safe %>
            },
            <% end %>
            // Dummy data series to make sure axis still shown when there is no data
            {     
                type: 'column',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: <%= Array.new(14, 0) %>,
                showInLegend: false
            }]
        });

    };
</script>