<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Accounts Dashboard</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-4">
            <div class="">
                <div class="font-bold col-lg-4">Account Type:</div>
                <select class="category_filter col-lg-8">
                    <% Account::CATEGORY.each{|k,v|    %>
                    <option value="<%=v %>"  <% if params[:type] == v  %> selected   <% end %> ><%=v %></option>
                     <% } %> 
                </select> 
            </div>
        </div>
        <div class="col-lg-4 filter-space">
            <div class="">
                <div class="font-bold col-lg-4">Stream Type:</div>
                <select class="category_filter col-lg-8">
                    <% Project::CATEGORY.each{|k,v|    %>
                    <option value="<%=v %>"  <% if params[:type] == v  %> selected   <% end %> ><%=v %></option>
                     <% } %> 
                </select> 
            </div>
        </div>
        <div class="col-lg-4 filter-space">
        </div>
    </div>
    
    <div class="row border-bottom white-bg dashboard-header">
            <!-- LEFT -->
            <div class="col-lg-5">
                <h4 class="m-l-md">Sort by: 
                <select class="metric_filter col-lg-8" data-placeholder="Select Type">
                    <option value="1">Days Inactive</option>
                    <option value="2">Engagement Last 7d</option>
                    <option value="3" selected="true">Risk Score Today</option>
                    <option value="4">Risk / Engagement Ratio</option>
                    <option value="5">Total Open Risks</option>
                    <option value="6">Total Overdue Tasks</option>
                  </select>    
               
                </h4>
                <div id="left-chart" class="left-chart" style="height:1200px;"></div>
                
                <h5><a href="" class="btn btn-outline btn-primary btn-xs m-l-lg">&larr; Previous 25</a>
                <a href="" class="btn btn-outline btn-primary btn-xs m-l-sm">Next 25 &rarr;</a></h5>
            </div>

            <!-- RIGHT -->
            <div class="col-lg-7" style="margin-top:45px;">
                <div id="account-data">
                    <div class="row" style="margin-top:50px;">
                        <h3>&larr; Click on a bar to see details about the account stream.</h3>
                    </div>
                </div>
            </div>
        </div>
</div>

<script>
    $(function () {

        $('#left-chart').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: <%= @risk_scores.map(&:name).to_json.html_safe %>,
                crosshair: true
            },
            yAxis: {
                min: 0,
                max: 100,
                opposite: true,
                title: {
                    text: ''
                },
                gridLineWidth: 0
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function () {
                                // console.log(this.options.id)
                                $.get("account_data/" + this.options.id, function (data) {
                                    $("#account-data").html(data);
                                    renderCharts(this.y);
                                })
                            }
                        }
                    }
                }   
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Risk Score',
                data: [
                <% @risk_scores.each do |r| %>
                {
                    y: <%= r.score %>,
                    id: "<%= r.id %>"
                }, 
                <% end %>
                ],
            }, {
                name: 'Average',
                type: 'line',
                lineWidth: 2,
                color: '#FFA500',
                marker: { enabled: false, radius: 0 },
                data: <%= Array.new(@risk_scores.length, 55).to_json.html_safe %>
            }]
        });

    });
</script>