<div id="account-header">
    <div class="row m-b-sm">
        <div class="col-lg-12">
            <h2><a href="<%= project_path(@project) %>"><%= @project.name %></a></h2>
        </div>
    </div>

    <div class="ibox-content">
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="metric">
                    <div class="metric-title">
                        <h4><%= Project::MAPPABLE_FIELDS_META["stage"] %></h4>
                    </div>
                    <div class="metric-content">
                        <h2 style="margin:20px 0"><%= @project.stage.blank? ? "-" : @project.stage %></h2>
                    </div>
                </div>
            </div>

            <div class="col-md-3 text-center">
                <div class="metric">
                    <div class="metric-title">
                        <h4>Days to Close</h4>
                    </div>
                    <div class="metric-content">
                        <h2 style="font-weight:600;font-size:46px"><%= @project.close_date.nil? ? "-" : (@project.close_date - Date.today).to_i %></h2>
                    </div>
                </div>
            </div>

            <div class="col-md-3 text-center">
                <div class="metric">
                    <div class="metric-title">
                        <h4><%= Project::MAPPABLE_FIELDS_META["amount"] %></h4>
                    </div>
                    <div class="metric-content">
                        <h2 style="font-weight:600;font-size:46px;"><%= @project.amount.nil? ? "-" : "$"+number_to_human(@project.amount) %></h2>
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-3 text-center">
                <div class="metric <%= risk_color(@risk_score) %>">
                    <div class="metric-title">
                        <h4><%= risk_level(@risk_score) %></h4>
                    </div>
                    <div class="metric-content">
                        <h2 style="font-weight:600;font-size:46px"><%= @risk_score %></h2>
                    </div>
                </div>
            </div> -->

            <div class="col-md-3 text-center">
                <div class="metric text-danger">
                    <div class="metric-title">
                        <h4>Open Alerts</h4>
                    </div>
                    <div class="metric-content">
                        <h2 style="font-weight:600;font-size:46px"><%= @open_tasks_count %></h2>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row text-center">
            <h3><%= link_to "See Alerts & Next Steps &rarr;".html_safe, project_path(@project)+"/tasks", class: "btn btn-outline btn-primary btn-xs" %></h3>
        </div>
    </div>
</div>
<!-- end id="account-header" -->

<div id="account-charts">
    <div id="charts-container" class="ibox-content">

        <!-- <div class="row m-t-md">
            <div id="risk-detection-chart" style='margin-right:10px;margin-left:14px;'></div>
        </div> -->

        <div class="row m-t-md">
            <div id="activities-chart"></div>
        </div>

        <!-- <div class="row m-t-md">
            <div id="risk-chart" style="height:240px;margin-right:13px;margin-left:5px"></div>
        </div> -->

        <div class="row m-t-lg text-center">
            <h3><%= link_to "See activities &rarr;".html_safe, project_path(@project), class: "btn btn-outline btn-primary btn-xs" %></h3>
        </div>
    </div>

    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-6" id="activities-breakdown" style="height:200px"></div>
            <div class="col-lg-6" id="usage-report" style="height:200px;"></div>
        </div>

        <div class="row m-t-lg text-center">
            <h3><a href="<%= project_path(@project) %>/arg" class="btn btn-outline btn-primary btn-xs">See Account Relationship Graph &rarr;</a></h3>
        </div>
    </div>
</div>
<script type="text/javascript">

    /***********
    Synchronize Charts
    ************/

     /**
     * In order to synchronize tooltips and crosshairs, override the
     * built-in events with handlers defined on the parent element.
     */
    $('#charts-container').bind('mousemove touchmove touchstart', function (e) {
        var chart,
            point,
            i,
            event;

        // console.log(Highcharts.charts);

        for (i = 3; i < Highcharts.charts.length; i = i + 1) { // i=3 to exclude first chart #left-chart
            chart = Highcharts.charts[i];
            event = chart.pointer.normalize(e.originalEvent); // Find coordinates within the chart
            point = chart.series[0].searchPoint(event, true); // Get the hovered point

            if (point) {
                point.highlight(e);
            }
        }
    });


    /**
     * Synchronize zooming through the setExtremes event handler.
     */
    function syncExtremes(e) {
        var thisChart = this.chart;

        if (e.trigger !== 'syncExtremes') { // Prevent feedback loop
            Highcharts.each(Highcharts.charts, function (chart) {
                if (chart !== thisChart) {
                    if (chart.xAxis[0].setExtremes) { // It is null while updating
                        chart.xAxis[0].setExtremes(e.min, e.max, undefined, false, { trigger: 'syncExtremes' });
                    }
                }
            });
        }
    }

    /*****
    Render right charts
    ******/

    function renderCharts(riskScore) {
        /**
         * Override the reset function, we don't need to hide the tooltips and crosshairs.
         */
        Highcharts.Pointer.prototype.reset = function () {
            return undefined;
        };

        /**
         * Highlight a point by showing tooltip, setting hover state and draw crosshair
         */
        Highcharts.Point.prototype.highlight = function (event) {
            this.onMouseOver(); // Show the hover marker
            this.series.chart.tooltip.refresh(this); // Show the tooltip
            this.series.chart.xAxis[0].drawCrosshair(event, this); // Show the crosshair
        };



        $('#activities-breakdown').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            credits: false,
            title: {
                text: "Activities By Team",
                align: 'left',
                margin: 0,
                x: 35,
                style: {
                    color: '#555555',
                    fontSize: '16px'
                }
            },
            tooltip: {
                pointFormat: '{point.percentage:.1f}%'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        distance: 10,
                        style: {
                            fontSize: 10,
                            fontWeight: 'normal'
                        },
                        format: '{point.name}',
                    }
                }
            },
            series: [{
                name: 'Team',
                colorByPoint: true,
                data: [
                <% @activities_by_dept.each do |dept, count| %>
                {
                    name: "<%= dept %>",
                    y: <%= count %>
                },
                <% end %>
                ]
            }]
        });

        $('#usage-report').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Interaction Time',
                align: 'center',
                margin: 0,
                style: {
                    color: '#555555',
                    fontSize: '16px'
                }
            },
            subtitle: {
                text: '(Estimated time in hh:mm, last 14 days)',
                align: 'center',
                style: {
                    fontSize: '10px'
                }
            },
            credits: { enabled: false },
            xAxis: {
                categories: <%= @in_outbound_report['full_name'].to_json.html_safe %>
            },
            yAxis: {
                min: 0,
                labels: {
                    format: '{value} hrs'
                },
                title: {
                    enabled: false
                },
                stackLabels: {
                    enabled: true,
                    formatter: function () {
                        return convert_secs_to_ddhhmm(this.total);
                    }
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                headerFormat: '',
                pointFormat: '<b>{series.name}:</b> {point.y:.2f} hrs<br/><b>Total:</b> {point.stackTotal:.2f} hrs'
            },
            plotOptions: {
                series: {
                    stacking: 'normal',
                    dataLabels: {
                        format: '{y.1f}',
                        style: {
                            fontWeight: 'bold',
                            fontSize: '8px'
                        }
                    }
                }
            },
            series: [ {
                name: 'Meetings',
                color: "<%= highcharts_series_color('Meetings') %>",
                data: <%= @meeting_report.to_json.html_safe %> 
            }, {
                name: 'Sent',
                color: "<%= highcharts_series_color('Sent E-mails') %>",
                data: <%= @in_outbound_report['outbound'].to_json.html_safe %>
            }, {
                name: 'Read',
                color: "<%= highcharts_series_color('Read E-mails') %>",
                data: <%= @in_outbound_report['inbound'].to_json.html_safe %>
            }]
        });


        // $('#risk-chart').highcharts({
        //     title: {
        //         text: "Risk Score (Last 14 days)",
        //         align: 'left',
        //         margin: 0,
        //         x: 35,
        //         style: {
        //             color: '#555555',
        //             fontSize: '16px'
        //         }
        //     },
        //     xAxis: {
        //         type: 'datetime',
        //         crosshair: true,
        //         events: {
        //             setExtremes: syncExtremes
        //         }
        //     },
        //     yAxis: {
        //         title: {
        //             text: ''
        //         },
        //         labels: { enabled: true },
        //         gridLineWidth: 0,
        //         minorGridLineWidth: 0,
        //         plotLines: [{
        //             value: 0,
        //             width: 1,
        //             color: '#808080'
        //         }],
        //         min: 0,
        //         max: 100,
        //         plotBands: [ { // Low Risk
        //             from: 0,
        //             to: 60,
        //             color: 'rgba(170, 252, 174, 0.1)',
        //             label: {
        //                 text: 'Low Risk',
        //                 style: {
        //                     color: '#606060'
        //                 }
        //             }
        //             }, { // Medium Risk
        //                 from: 60,
        //                 to: 80,
        //                 color: 'rgba(246, 188, 42, 0.1)',
        //                 label: {
        //                     text: 'Medium Risk',
        //                     style: {
        //                         color: '#606060'
        //                     }
        //                 }
        //             }, { // High Risk
        //                 from: 80,
        //                 to: 100,
        //                 color: 'rgba(246, 42, 46, 0.1)',
        //                 label: {
        //                     text: 'High Risk',
        //                     style: {
        //                         color: '#606060'
        //                     }
        //                 }
        //             }]
        //         },
        //         tooltip: {
        //             positioner: function () {
        //                 return {
        //                     x: this.chart.chartWidth - this.label.width, // right aligned
        //                     y: -15 // align to title
        //                 };
        //             },
        //             borderWidth: 0,
        //             backgroundColor: 'none',
        //             pointFormat: '{point.y}',
        //             xDateFormat: '%b %e',
        //             shadow: false,
        //             style: {
        //                 fontSize: '16px',
        //                 color: '#555555'
        //             }
        //         },
        //         credits: {
        //             enabled: false
        //         },
        //         legend: {
        //             enabled: false
        //         },
        //         series: [{
        //             pointInterval: <%= 1.day * 1000 %>,
        //             pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
        //             data: <%= @risk_score_trend %>
        //         }]
        //     });

        // $('#risk-detection-chart').highcharts({

        //     chart: {
        //         height: 140,
        //         events:{
        //           load: function(event) {
        //             var extremes = this.yAxis[0].getExtremes();
        //               if(extremes.dataMax == 0){
        //                 extremes.max = 100;
        //                 this.yAxis[0].setExtremes(0, 100);
        //               }

        //             }
        //         }
        //     },
        //     credits: {
        //         enabled: false
        //     },
        //     title: {
        //         text: "% Negative Sentiment / Engagement",
        //             align: 'left',
        //             margin: 0,
        //             x: 35,
        //             style: {
        //                 color: '#555555',
        //                 fontSize: '16px'
        //             }
        //     },
        //     xAxis: {
        //         type: 'datetime',
        //         crosshair: true,
        //         events: {
        //             setExtremes: syncExtremes
        //         }
        //     },
        //     yAxis: {
        //         title: { text: '' },
        //         labels: { enabled: true },
        //         minorGridLineWidth: 0
        //     },
        //     legend: {
        //         enabled: false
        //     },
        //     tooltip: {
        //         positioner: function () {
        //             return {
        //                 x: this.chart.chartWidth - this.label.width, // right aligned
        //                 y: -15 // align to title
        //             };
        //         },
        //         borderWidth: 0,
        //         backgroundColor: 'none',
        //         pointFormat: '{point.y:.0f}'+"%" ,
        //         xDateFormat: '%b %e',
        //         shadow: false,
        //         style: {
        //             fontSize: '16px',
        //             color: '#555555'
        //         }
        //     },
        //     plotOptions: {
        //         series: {
        //             stacking: 'normal'
        //         }
        //     },
        //     series: [{
        //         type: 'area',
        //         name: 'New Risk',
        //         color: '#FF5050',
        //         pointInterval: < %= 1.day * 1000 %>,
        //         pointStart: < %= 14.days.ago.at_midnight.to_i * 1000 %>,
        //         data: < %= @risk_activity_engagement.to_json.html_safe  %>,
        //     }

        //   ]
        // });

        $('#activities-chart').highcharts({
            chart: {
                height: 240,
                events:{
                  load: function(event) {
                    var extremes = this.yAxis[0].getExtremes();
                    if(extremes.dataMax == 0){
                      extremes.max = 1;
                      this.yAxis[0].setExtremes(0,1);
                    } else{
                      this.yAxis[0].setExtremes(0, extremes.dataMax);
                    }
                    }
                }
            },
            credits: {
                enabled: false
            },
            title: {
                text: "Activities (Last 14 days)",
                    align: 'left',
                    margin: 0,
                    x: 35,
                    style: {
                        color: '#555555',
                        fontSize: '16px'
                    }
            },
            xAxis: {
                type: 'datetime',
                crosshair: true,
                events: {
                    setExtremes: syncExtremes
                }
            },
            yAxis: {
                title: { text: '' },
                labels: { enabled: true },
                minorGridLineWidth: 0,
                min: 0
            },
            legend: {
                enabled: true
            },
            tooltip: {
                positioner: function () {
                    return {
                        x: this.chart.chartWidth - this.label.width, // right aligned
                    };
                },
                borderWidth: 0,
                backgroundColor: 'none',
                pointFormat: '{point.stackTotal}',
                xDateFormat: '%b %e',
                shadow: false,
                style: {
                    fontSize: '16px',
                    color: '#555555'
                }
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [
            <% @activities_by_category_date.each do |category, activities_by_date| %>
            {
                type: 'column',
                name: '<%= category %>',
                color: '<%= highcharts_series_color(category) %>',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: <%= activities_by_date.map {|c| c.num_activities }.to_json.html_safe %>
            },
            <% end %>
            {
                type: 'spline',
                name: '30-day Average',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: <%= @activities_moving_avg %>,
                marker: {
                    lineWidth: 2,
                    lineColor: Highcharts.getOptions().colors[4],
                    fillColor: 'white'
                }
            }]
        });
    };

</script>
