<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Customer Report</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li class="active">
                <strong>Customer Report</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-5 filter-space">
            <div class="btn-group">
                <div class="font-bold m-b-xs">Account Type:</div>
                <a href="<%= reports_customer_path %>" class="btn btn-sm btn-default" type="button">&nbsp;&nbsp;All (<%= @projects.size %>)&nbsp;&nbsp;</a>
                <a href="<%= reports_customer_path %>?type=Customer" class="btn btn-sm btn-white" type="button">Customer (<%= @projects.select { |p| p.account.category == "Customer" }.size %>)</a>
                <a href="<%= reports_customer_path %>?type=Partner" class="btn btn-sm btn-white" type="button">&nbsp;Partner (<%= @projects.select { |p| p.account.category == "Partner" }.size %>)&nbsp;</a>
                <a href="<%= reports_customer_path %>?type=Prospect" class="btn btn-sm btn-white" type="button">Prospect (<%= @projects.select { |p| p.account.category == "Prospect" }.size %>)</a>
                <a href="<%= reports_customer_path %>?type=Vendor" class="btn btn-sm btn-white" type="button">&nbsp;Vendor (<%= @projects.select { |p| p.account.category == "Vendor" }.size %>)&nbsp;</a>
                <a href="<%= reports_customer_path %>?type=Other" class="btn btn-sm btn-white" type="button">&nbsp;Other (<%= @projects.select { |p| p.account.category == "Other" }.size %>)&nbsp;</a>
            </div>
        </div>
        <div class="col-lg-7 filter-space">
            <div class="btn-group">
                <div class="font-bold m-b-xs">Project Type:</div>
                <a href="<%= reports_customer_path %>" class="btn btn-sm btn-default" type="button">&nbsp;&nbsp;All (<%= @projects.size %>)&nbsp;&nbsp;</a>
                <a href="<%= reports_customer_path %>?type=Customer" class="btn btn-sm btn-white" type="button">Implementation (<%= @projects.select { |p| p.category == "Implementation" }.size %>)</a>
                <a href="<%= reports_customer_path %>?type=Partner" class="btn btn-sm btn-white" type="button">Onboarding (<%= @projects.select { |p| p.category == "Onboarding" }.size %>)</a>
                <a href="<%= reports_customer_path %>?type=Prospect" class="btn btn-sm btn-white" type="button">Opportunity (<%= @projects.select { |p| p.category == "Opportunity" }.size %>)</a>
                <a href="<%= reports_customer_path %>?type=Vendor" class="btn btn-sm btn-white" type="button">&nbsp;Pilot (<%= @projects.select { |p| p.category == "Pilot" }.size %>)&nbsp;</a>
                <a href="<%= reports_customer_path %>?type=Vendor" class="btn btn-sm btn-white" type="button">&nbsp;Support (<%= @projects.select { |p| p.category == "Support" }.size %>)&nbsp;</a>
                <a href="<%= reports_customer_path %>?type=Other" class="btn btn-sm btn-white" type="button">&nbsp;Other (<%= @projects.select { |p| p.category == "Other" }.size %>)&nbsp;</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 filter-space">
            <div class="font-bold m-b-xs">Date:</div>

            <input type="text" name="daterange" class="form-control daterange">
        </div>
        <div class="col-lg-8 filter-space">
            <div class="font-bold m-b-xs">Projects:</div>
            <select data-placeholder="Choose a Project..." class="chosen-select" id="project-chosen-select" multiple="" tabindex="-1">
                <option value=""></option>
                <% @projects.each do |p| %>
                    <option value="<%= p.id %>" <% if @project_all_touches[0,5].map(&:id).include?(p.id) %> selected <% end %>><%= p.name %></option>
                <% end %>
            </select>
        </div>
    </div>
    

    <!-- Metrics -->
    <div class="row m-t-lg">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label pull-right">Last 7 days</span>
                    <h5>Touches </h5>
                    <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="Total number of emails sent by your team and received from your customers."></i>
                    <div class="btn-group m-l-sm">
                        <a id="most-touches" type="button" class="btn btn-xs btn-white active">Most</a>
                        <a id="least-touches" type="button" class="btn btn-xs btn-white">Least</a>
                    </div>
                    <!-- <div class="btn-group m-l-sm">
                        <a id="top-touches" type="button" class="btn btn-xs btn-white active">Top/Bottom 5</a>
                        <a id="all-touches" type="button" class="btn btn-xs btn-white">All</a>
                    </div> -->
                </div>
                <div class="ibox-content">
                    <div id="touches-chart" class="customer-chart"class="customer-chart" style="">
                      <h2 class="text-center" style="padding-top:70px;">No data</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label pull-right">Last 7 days vs Prev 7 days</span>
                    <h5>% Change</h5>
                    <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="Percent change in email activities during Last 7 Days vs Previous 7 Days."></i>
                    <div class="btn-group m-l-sm">
                        <a id="most-change" type="button" class="btn btn-xs btn-white active">Gain</a>
                        <a id="least-change" type="button" class="btn btn-xs btn-white">Decline</a>
                    </div>
                    <!-- <div class="btn-group m-l-sm">
                        <a id="top-change" type="button" class="btn btn-xs btn-white active">Top/Bottom 5</a>
                        <a id="all-change" type="button" class="btn btn-xs btn-white">All</a>
                    </div> -->
                </div>
                <div class="ibox-content">
                    <div id="percent-change-chart" class="customer-chart" style="">
                      <h2 class="text-center" style="padding-top:70px;">No data</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
   /* Highcharts */
    $(function () {
        $('#touches-chart').highcharts({
            chart: {
                type: 'bar',
                height: <%= 250 + 5 * 25 %>
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: <%= @project_all_touches[0,5].map(&:name).to_json.html_safe %>
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                }
            },
            legend: {
                enabled: false
            },
            credits: {
              enabled: false
            },
            plotOptions: {
              series: {
                cursor: 'pointer',
                point: {
                  events: {
                    click: function () {
                      location.pathname = this.options.path;
                    }
                  }
                }
              }
            },
            series: [{
                name: 'Touches',
                data: <%= @project_all_touches[0,5].map {|p| { :y => p.num_activities, :path => "/projects/#{p.id}" } }.to_json.html_safe %>,
                color: '#7cb5ec'
            }]
        });
    });
</script>

