<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Opportunities Dashboard</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-3 filter-space">
            <div>
                <div class="font-bold col-lg-3 m-t-sm">Team:</div>
                <select class="category_filter col-lg-8">
                    <option>NA - West</option>
                    <option>NA - East</option>
                    <option>NA - South</option>
                    <option>EMEA</option>
                    <option>APAC</option>
                </select>
            </div>
        </div>

        <div class="col-lg-4 filter-space">
            <div class="">
                <div class="font-bold col-lg-3 m-t-sm">Owner:</div>
                <select class="category_filter col-lg-8">
                    <!-- sorted by % target -->
                    <option selected="true">(All)</option>
                    <option>Michael Bachman - 90% ($2.42M)</option>
                    <option>Neil Anderson - 85% ($2.15M)</option>
                    <option>Kevin Lius - 63% ($1.5M)</option>
                    <option>Steven Yellen - 62% ($1.2M)</option>
                    <option>Ben Shorty - 36% ($450K)</option>
                </select>
            </div>
        </div>

        <div class="col-lg-3 filter-space">
            <div class="">
                <div class="font-bold col-lg-3 m-t-sm">Time:</div>
                <select class="category_filter col-lg-8">
                    <optgroup label="Quarter">
                        <option selected="true">This Quarter</option>
                        <option value="Sales">Last Quarter</option>
                    </optgroup>
                    <optgroup label="Month">
                        <option value="Sales">This Month</option>
                        <option value="Sales">Last Month</option>
                    </optgroup>
                    <optgroup label="Last x Days">
                        <option value="Sales">Last 14 days</option>
                        <option>Last 30 days</option>
                    </optgroup>
                </select>
                <!-- <input type="text" name="daterange" class="form-control daterange"> -->
            </div>
        </div>
    </div>

    <div class="row border-bottom ">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Forecast</h3>
                </div>
                <div id="forecast-chart" class="ibox-content forecast-chart" style="height:260px;padding-bottom:0"></div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Stages</h3>
                </div>
                <div id="stage-chart" class="ibox-content stage-chart" style="height:260px;padding-bottom:0"></div>
            </div>
        </div>
    </div>

    <div class="row border-bottom white-bg dashboard-header">
            <div class="row">
                <div class="col-lg-5">
                    <h4 class="m-l-md">Metric:
                    <select class="metric_filter col-lg-8" data-placeholder="Select Type">
                        <option>Days Inactive</option>
                        <option value="2" selected="true">Time Spent</option>
                        <option value="2">Deal Size</option>
                        <option value="1">Activities</option>
                        <option>Days to Close</option>
                        <option value="5">Total Open Alerts</option>
                        <option value="6">Total Overdue Tasks</option>
                    </select>
                    </h4>
                </div>
            </div>
            <!-- LEFT -->
            <div class="col-lg-5">
                <div id="left-chart" class="left-chart" style="height:1200px;"></div>

                <h5><a href="" class="btn btn-outline btn-primary btn-xs m-l-lg">&larr; Previous 25</a>
                <a href="" class="btn btn-outline btn-primary btn-xs m-l-sm">Next 25 &rarr;</a></h5>
            </div>

            <!-- RIGHT -->
            <div class="col-lg-7" style="margin-top:45px;">
                <div id="intro-account-header">
                    <div class="row" style="margin-top:50px;">
                        <h3>&larr; Click on a bar to see details about the opportunity.</h3>
                    </div>
                </div>

                <div id="account-header" style="display:none;">
                    <div class="row m-b-sm">
                        <div class="col-lg-10">
                            <h1 ><a href="https://app.contextsmith.com/projects/502b8160-0536-48da-9021-1561b957434e">Stark Industries</a></h1>
                            <h4 ><span style="color: #aaa;font-weight: bold; font-size:0.8em">OWNER:</span> <a href="https://app.contextsmith.com/reports/d_team_sales">Neil Anderson</a> &nbsp;&nbsp;&nbsp; <span style="color: #aaa;font-weight: bold; font-size:0.8em">FORECAST:</span> Commit &nbsp;&nbsp;&nbsp; <span style="color: #aaa;font-weight: bold; font-size:0.8em">STAGE:</span> Negotation</h4>
                        </div>
                        <div class="col-lg-2">
                            
                        </div>
                    </div>

                    <div class="ibox-content">
                        <div class="row">

                            <div class="col-md-3 text-center">
                                <div class="metric">
                                    <div class="metric-title">
                                        <h4>Deal Size</h4>
                                    </div>
                                    <div class="metric-content">
                                        <h2 style="font-weight:600;font-size:46px;">$750K</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 text-center">
                                <div class="metric">
                                    <div class="metric-title">
                                        <!-- <h4>Days to Renewal</h4> -->
                                        <h4>Days to Close</h4>
                                    </div>
                                    <div class="metric-content">
                                        <h2 style="font-weight:600;font-size:46px">25</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 text-center">
                                <div class="metric text-warning">
                                    <div class="metric-title">
                                        <h4>Risk</h4>
                                    </div>
                                    <div class="metric-content">
                                        <h2 style="font-weight:600;font-size:40px">Medium</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 text-center">
                                <div class="metric text-danger">
                                    <div class="metric-title">
                                        <h4>Open Alerts</h4>
                                    </div>
                                    <div class="metric-content">
                                        <h2 style="font-weight:600;font-size:46px">4</h2>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <!-- end id="account-header" -->


                <div id="account-charts" style="display:none;">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12" id="heatmap-chart" style="height:350px"></div>
                            <!-- <div class="col-lg-6" id="top-contributors" style="height:200px;"></div> -->
                        </div>

                        <div class="row">
                            <div class="col-lg-12" id="activities-breakdown" style="height:350px"></div>
                            <!-- <div class="col-lg-6" id="top-contributors" style="height:200px;"></div> -->
                        </div>

                        <div class="row m-t-lg text-center">
                            <h3><a href="https://app.contextsmith.com/projects/502b8160-0536-48da-9021-1561b957434e/arg" class="btn btn-outline btn-primary btn-xs">See Account Relationship Graph &rarr;</a></h3>
                        </div>
                    </div>

                    <div id="charts-container" class="ibox-content">
                        <div class="row m-t-md">
                            <h3><i class="fa fa-bell-o"></i> Alerts & Tasks</h3>
                            <ul class="todo-list m-t">
                                <li>
                                    <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                                    <span class="m-l-xs">Inactive for 25 days</span>
                                    <small class="label label-danger"> Alert</small>
                                </li>
                                <li>
                                    <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                                    <span class="m-l-xs">No emails from economic buyer</span>
                                    <small class="label label-danger"> Alert</small>
                                </li>
                                <li>
                                    <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                                    <span class="m-l-xs">No meetings setup over next 2 weeks</span>
                                    <small class="label label-danger"> Alert</small>
                                </li>
                                <li>
                                    <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                                    <span class="m-l-xs">Negative sentiment: "Difficult to budget"</span>
                                    <small class="label label-danger"> Alert</small>
                                </li>
                                <li>
                                    <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                                    <span class="m-l-xs">Send legal documents to Mike</span>
                                    <small class="label label-info"> To-do</small><small class="label label-primary"><i class="fa fa-clock-o"></i> Due Aug 12</small>
                                </li>
                            </ul>
                            <!-- <div id="risk-chart" style="height:220px;padding-right:15px;padding-left:5px;"></div> -->
                        </div>

                        <div class="row m-t-md">
                            <h3 class="m-t-md"><i class="fa fa-calendar"></i>  Next Meeting</h3>
                            <p style="color:#ed5565">No meetings setup</p>
                        </div>

                        <div class="row text-center m-t-md">
                            <h3><a href="https://app.contextsmith.com/projects/502b8160-0536-48da-9021-1561b957434e/tasks" class="btn btn-outline btn-primary btn-xs">See Alerts and Next Steps &rarr;</a></h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</div>

<script>

    $('#forecast-chart').highcharts({
        chart: {
            type: 'area'
        },
        credits: {
            enabled: false
        },
        title: {
            text: ''
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: ''
            }
        },
        yAxis: {
            title: {
                text: 'Amount'
            },
            min: 0,
            labels: {
                    formatter: function() {
                    return '$'+this.value / 1000000 + 'M';
                }
            }
        },
        tooltip: {  
            //headerFormat: '<b>{series.name}</b><br>'
            //pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
            pointFormat: '${point.y}'
        },

        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 70,
            y: 0,
            floating: true
        },
        series: [{
            name: 'Closed Won',
            step: true,
            color: 'rgb(85,222,210)',
            data: [
                [Date.UTC(2018, 3, 2), 600000],
                [Date.UTC(2018, 3, 10), 925000],
                [Date.UTC(2018, 3, 15), 1538000],
                [Date.UTC(2018, 3, 27), 1550300],
                [Date.UTC(2018, 3, 30), 1810000],
                [Date.UTC(2018, 4, 1), 2160000],
                [Date.UTC(2018, 4, 5), 2450000],
                [Date.UTC(2018, 4, 9), 2700000],
                [Date.UTC(2018, 4, 12), 3600500],
                [Date.UTC(2018, 4, 20), 3907800],
                [Date.UTC(2018, 4, 29), 4507800]
            ]
        }, {
            name: 'Commit',
            step: true,
            type: 'line',
            color: 'gray',
            data: [
                [Date.UTC(2018, 4, 29), 4507800],
                [Date.UTC(2018, 5, 3), 5156000],
                [Date.UTC(2018, 5, 9), 5456000],
                [Date.UTC(2018, 5, 14), 6050000],
                [Date.UTC(2018, 5, 15), 6300000],
                [Date.UTC(2018, 5, 16), 6350000],
                [Date.UTC(2018, 5, 21), 6400200],
                [Date.UTC(2018, 5, 25), 6520000],
                [Date.UTC(2018, 5, 26), 6620000],
                [Date.UTC(2018, 5, 29), 8020000],
                [Date.UTC(2018, 5, 30), 8020000]
            ]
        }, {
            name: 'Best Case',
            step: true,
            type: 'line',
            color: 'rgb(124,181,236)',
            data: [
                [Date.UTC(2018, 4, 29), 4507800],
                [Date.UTC(2018, 5, 3), 5556000],
                [Date.UTC(2018, 5, 9), 5956000],
                [Date.UTC(2018, 5, 14), 6650000],
                [Date.UTC(2018, 5, 15), 6950000],
                [Date.UTC(2018, 5, 21), 7000200],
                [Date.UTC(2018, 5, 25), 7120000],
                [Date.UTC(2018, 5, 26), 7520000],
                [Date.UTC(2018, 5, 29), 8720000],
                [Date.UTC(2018, 5, 30), 8720000]
            ]
        }, {
            name: 'Most Likely',
            step: true,
            type: 'line',
            color: 'orange',
            data: [
                [Date.UTC(2018, 4, 29), 4507800],
                [Date.UTC(2018, 5, 3), 5856000],
                [Date.UTC(2018, 5, 9), 6556000],
                [Date.UTC(2018, 5, 14), 6850000],
                [Date.UTC(2018, 5, 15), 7350000],
                [Date.UTC(2018, 5, 21), 7400200],
                [Date.UTC(2018, 5, 23), 7520000],
                [Date.UTC(2018, 5, 24), 7630200],
                [Date.UTC(2018, 5, 25), 7920000],
                [Date.UTC(2018, 5, 26), 8480000],
                [Date.UTC(2018, 5, 29), 9620000],
                [Date.UTC(2018, 5, 30), 9620000]
            ]
        }]
    });

    $('#stage-chart').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },
        credits: {
            enabled: false
        },
        xAxis: {
            categories: [
                'Qualification',
                'Demo',
                'Buyer Bought-in',
                'Negotiation',
                'Legal',
                'Closed Won',
                'Closed Lost'
            ],
            crosshair: true,
            labels: {
                style: {
                    fontSize: '9px'
                },
                rotation: 0
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            },
            labels: {
               enabled: false
            },
            stackLabels: {
                enabled: true,
                format: '${total}M',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        tooltip: {
            enabled: true,
            formatter: function () {
                return '$' + this.total + 'M in ' + this.x + '<br>$' + this.y + 'M ' + this.series.name;
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                pointPadding: 0.2,
                borderWidth: 0,
                dataLabels: {
                    format: '${y}M',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
             series: {
                pointPadding: 0.1,
                groupPadding: 0.1,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Low Risk',
            data: [.5, 3.1, 3.2, 1.3, 1.6, {y: 4.5, color: '#3cc5b9'}, {y: 1.13, color: '#aaaaaa'}]
        }, {
            name: 'Medium Risk',
            data: [null, null, null, 1.1, null, null],
            color: 'orange'
        }, {
            name: 'High Risk',
            data: [null, null, null, null, .2, null],
            color: '#ed5565'
        }]
    });

    $(function () {
        $('#left-chart').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: 'Ranked by Close Date',
                y: 0
            },
            xAxis: {
                categories: ['<strong>Stark Industries</strong> - $750k <br>Oct 1, Negotiation, <span style="color:orange">Medium Risk</span>', '<strong>Hooli Gooli</strong> - $120k<br>Oct 15, Negotation, <span style="color:orange">Medium Risk</span>', '<strong>Pied Piper</strong> - $45k<br>Oct 30, Buyer Bought-in, <span style="color:orange">Medium Risk</span>', '<strong>Umbrella Corp</strong> - $500k<br>Oct 30, Negotiation, <span style="color:green">Low Risk</span>', '<strong>Wayne Enterprise</strong> - $20k<br>Nov 14, Legal, <span style="color:green">Low Risk</span>', '<strong>Global Dynamics</strong> - $500k<br>Nov 15, Negotiation, <span style="color:green">Low Risk</span>', '<strong>GVC</strong> - $50k<br>Dec 1, Negotiation, <span style="color:green">Low Risk</span>', '<strong>Acme, Inc.</strong> - $500k<br>Dec 16, Buyer Bought-in, <span style="color:green">Low Risk</span>', '<strong>Nexus Corp</strong> - $450k<br>Dec 30, Demo, <span style="color:green">Low Risk</span>',
                              '<strong>SF Dynamics</strong> - $38k<br>Dec 30, Demo, <span style="color:green">Low Risk</span>', '<strong>Patriots IT</strong> - $800k<br>Dec 30, Buyer Bought-in, <span style="color:green">Low Risk</span>','<strong>Boston Industries</strong> - $70k<br>Dec 30, Buyer Bought-in, <span style="color:green">Low Risk</span>', '<strong>Dynobot</strong> - $250k<br>Dec 30, Negotiation, <span style="color:green">Low Risk</span>'],
                crosshair: true
            },
            yAxis: {
                min: 0,
                opposite: true,
                title: {
                    text: ''
                },
                gridLineWidth: 0,
                stackLabels: {
                    enabled: true,
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    },
                    formatter: function () {
                      return convert_secs_to_hhmm(this.total*3600) + " hrs";
                    }
                }
            },
            legend: {
                enabled: true,
                verticalAlign: 'top',
                itemStyle: {
                    fontWeight: 'light',
                    fontSize: 12         
                }
            },
            plotOptions: {
                series: {
                    stacking: 'normal',
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function () {
                                $("#account-header").show();
                                $("#account-charts").show();
                                $("#intro-account-header").hide();
                                renderCharts(this.y);
                            }
                        }
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'E-mails Sent',
                data: [8.25, 11.2, 14, 12, 8, 5, 8, 7, 10, 9, 8, 8, 3],
                color: '#5DADE2'
            }, {
                name: 'E-mails Received',
                data: [4, 7.1, 8, 8, 6, 6, 5, 6, 3, 5, 1, 2.2, 1],
                color: '#3498DB'
            },  {
                name: 'Attachments',
                data: [.1, .4, .5, .2, .5, 0, 0, 1, .25, .9, 1, 0, 0],
                color: '#666666'
            }, {
                name: 'Meetings & Calls',
                data: [2, 4.6, 4, 2, 5, 1.5, 2.4, 1, 2, 3, 1, 1, 0],
                color: '#f9cf8d'
            }]
        });
    });

    /***********
    Sychronize Charts
    ************/

     /**
     * In order to synchronize tooltips and crosshairs, override the
     * built-in events with handlers defined on the parent element.
     */
    // $('#charts-container').bind('mousemove touchmove touchstart', function (e) {
    //     var chart,
    //         point,
    //         i,
    //         event;

    //     console.log(Highcharts.charts);

    //     for (i = 3; i < Highcharts.charts.length; i = i + 1) { // i=3 to exclude first chart #left-chart
    //         chart = Highcharts.charts[i];
    //         event = chart.pointer.normalize(e.originalEvent); // Find coordinates within the chart
    //         point = chart.series[0].searchPoint(event, true); // Get the hovered point

    //         if (point) {
    //             point.highlight(e);
    //         }
    //     }
    // });


    /**
     * Synchronize zooming through the setExtremes event handler.
     */
    // function syncExtremes(e) {
    //     var thisChart = this.chart;

    //     if (e.trigger !== 'syncExtremes') { // Prevent feedback loop
    //         Highcharts.each(Highcharts.charts, function (chart) {
    //             if (chart !== thisChart) {
    //                 if (chart.xAxis[0].setExtremes) { // It is null while updating
    //                     chart.xAxis[0].setExtremes(e.min, e.max, undefined, false, { trigger: 'syncExtremes' });
    //                 }
    //             }
    //         });
    //     }
    // }

    /*****
    Render right charts
    ******/

    function renderCharts(riskScore) {

        /**
         * Highlight a point by showing tooltip, setting hover state and draw crosshair
         */
        Highcharts.Point.prototype.highlight = function (event) {
            this.onMouseOver(); // Show the hover marker
            this.series.chart.tooltip.refresh(this); // Show the tooltip
            this.series.chart.xAxis[0].drawCrosshair(event, this); // Show the crosshair
        };


        $('#activities-breakdown').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Top Buyer Engagement (Last 30 days)',
                margin: 10,
                style: {
                    color: '#555555',
                    fontSize: '16px'
                }
            },
            credits: { enabled: false },
            xAxis: {
                categories: ['<strong>Tony Stark</strong> <br>CEO, Economic Buyer', '<strong>Nigel Thorsson</strong> <br>Head of IT, Technical Buyer', '<strong>Natasha Romanoff</strong> <br>Director of Sales, Champion', '<strong>Tom Ardenwood</strong> <br>Security Engineer, Infuencer', '<strong>Franklin Jaddell</strong><br>Account Executive, User']
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                }
            },
            legend: {
                enabled: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [{
                name: 'E-mails Sent',
                data: [1, 4, 6, 1, 0],
                color: '#5DADE2'
            },{
                name: 'E-mails Received',
                data: [0, 2, 4, 1, 0],
                color: '#3498DB'
            },{
                name: 'Attachments',
                data: [0, 1, 0, 1, 0],
                color: '#666666'
            },{
                name: 'Meetings & Calls',
                data: [0, 1, 1, 1, 0],
                color: '#f9cf8d'
            }]
        });



        // $('#risk-chart').highcharts({
        //     title: {
        //         text: "Risk Score (Last 14 days)",
        //         align: 'left',
        //         margin: 0,
        //         x: 35,
        //         style: {
        //             color: '#555555',
        //             fontSize: '16px'
        //         }
        //     },
        //     xAxis: {
        //         type: 'datetime',
        //         crosshair: true,
        //         events: {
        //             setExtremes: syncExtremes
        //         }
        //     },
        //     yAxis: {
        //         title: {
        //             text: ''
        //         },
        //         labels: { enabled: true },
        //         gridLineWidth: 0,
        //         minorGridLineWidth: 0,
        //         plotLines: [{
        //             value: 0,
        //             width: 1,
        //             color: '#808080'
        //         }],
        //         min: 0,
        //         max: 100,
        //         plotBands: [ { // Low Risk
        //             from: 0,
        //             to: 60,
        //             color: 'rgba(170, 252, 174, 0.1)',
        //             label: {
        //                 text: 'Low Risk',
        //                 style: {
        //                     color: '#606060'
        //                 }
        //             }
        //             }, { // Medium Risk
        //                 from: 60,
        //                 to: 80,
        //                 color: 'rgba(246, 188, 42, 0.1)',
        //                 label: {
        //                     text: 'Medium Risk',
        //                     style: {
        //                         color: '#606060'
        //                     }
        //                 }
        //             }, { // High Risk
        //                 from: 80,
        //                 to: 100,
        //                 color: 'rgba(246, 42, 46, 0.1)',
        //                 label: {
        //                     text: 'High Risk',
        //                     style: {
        //                         color: '#606060'
        //                     }
        //                 }
        //             }]
        //         },
        //         tooltip: {
        //             positioner: function () {
        //                 return {
        //                     x: this.chart.chartWidth - this.label.width, // right aligned
        //                     y: -15 // align to title
        //                 };
        //             },
        //             borderWidth: 0,
        //             backgroundColor: 'none',
        //             pointFormat: '{point.y}',
        //             xDateFormat: '%b %e',
        //             shadow: false,
        //             style: {
        //                 fontSize: '16px',
        //                 color: '#555555'
        //             }
        //         },
        //         credits: {
        //             enabled: false
        //         },
        //         legend: {
        //             enabled: false
        //         },
        //         series: [
        //             {
        //             pointInterval: <%= 1.day * 1000 %>,
        //             pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
        //             data: [30,30,60,60,65,75,90,90,90,80,80,80,80,75]
        //             }
        //         ]

        //     });
/*
        $('#risk-detection-chart').highcharts({
            chart: {
                events:{
                  load: function(event) {
                    var extremes = this.yAxis[0].getExtremes();
                    this.yAxis[0].setExtremes(0, extremes.dataMax);
                    }
                },
                spacingLeft:48,
                marginLeft:48
            },
            credits: {
                enabled: false
            },
            title: {
                text: "Alerts",
                    align: 'left',
                    margin: 0,
                    x: 0,
                    style: {
                        color: '#555555',
                        fontSize: '16px'
                    }
            },
            xAxis: {
                type: 'datetime',
                crosshair: true,
                events: {
                    setExtremes: syncExtremes
                }
            },
            yAxis: {
                //categories: ['Neg Sentiment','Support Vol','Engagement Vol','Days to Renewal','Days Inactive'],
                categories: ['Negative Sentiment','Competitor Mention','Engagement Vol','Days to Close','Days Inactive'],
                tickLength: 3,
                tickColor:'#000',
                gridLineWidth:.5,
                labels: { 
                    enabled: true,
                    align: 'left',
                    x: -30,
                    formatter: function() {
                        return '<span title="My custom title">' + this.value + '</span>';
                    },
                },
                minorGridLineWidth: 0,
                title: {                
                    text: ''
                }
            },
            // yAxis: {
            //     title: { text: '' },
            //     labels: { enabled: true },
            //     minorGridLineWidth: 0
            // },
            legend: {
                enabled: true
            },
            plotOptions: {
                type: 'scatter'
            },
            tooltip: {
                pointFormat: '{}',
                xDateFormat: '%b %e',
                style: {
                    fontSize: '12px',
                    color: '#555555'
                }
            },
            series: [{
                type: 'scatter',
                name: 'Exceeded High Threshold',
                color: '#FF5050',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: [[<%=10.days.ago.at_midnight.to_i * 1000%>,3],[<%=1.day.ago.at_midnight.to_i * 1000%>,1],[<%=6.days.ago.at_midnight.to_i * 1000%>,2]],
                marker : {symbol : 'square', radius: 6 }
            },
            {
                type: 'scatter',
                name: 'Exceeded Medium Threshold',
                color: '#FFA500',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: [[<%=11.days.ago.at_midnight.to_i * 1000%>,1], [<%=14.days.ago.at_midnight.to_i * 1000%>,4],[<%=8.days.ago.at_midnight.to_i * 1000%>,2]],
                marker : {symbol : 'square', radius: 6 }
            }]
        });
*/

        
        

        $('#heatmap-chart').highcharts({

            chart: {
                type: 'heatmap',
                marginTop: 40,
                marginBottom: 80,
                plotBorderWidth: 1
            },
            credits: {
                enabled: false
            },

            title: {
                text: 'Account Coverage (Last 30 days)',
                style: {
                        color: '#555555',
                        fontSize: '16px'
                    }
            },

            xAxis: {
                categories: ['Marketing', 'Business Development', 'Field Sales', 'Technical Sales', 'Customer Success', 'Other']
            },

            yAxis: {
                categories: ['Influencer', 'Champion', 'Decision Maker', 'Technical Buyer', 'Economic Buyer'],
                title: null
            },

            colorAxis: {
                min: 0,
                minColor: '#FFFFFF',
                maxColor: Highcharts.getOptions().colors[0]
            },

            legend: {
                enabled: false
            },

            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.xAxis.categories[this.point.x] + '</b> had <br><b>' +
                        this.point.value + '</b> activities with <br><b>' + this.series.yAxis.categories[this.point.y] + '</b>';
                }
            },

            series: [{
                name: '',
                borderWidth: 1,
                data: [[0, 0, 0], [0, 1, 0], [0, 2, 3], [0, 3, 5], [0, 4, 2], [1, 0, 0], [1, 1, 0], [1, 2, 0], [1, 3, 2], [1, 4, 1], [2, 0, 5], [2, 1, 15], [2, 2, 21], [2, 3, 8], [2, 4, 1], [3, 0, 1], [3, 1, 1], [3, 2, 0], [3, 3, 19], [3, 4, 0], [4, 0, 0], [4, 1, 0], [4, 2, 0], [4, 3, 1], [4, 4, 0], [5, 0, 0], [5, 1, 6], [5, 2, 12], [5, 3, 6], [5, 4, 0]],
                dataLabels: {
                    enabled: true,
                    color: '#000000'
                }
            }]

        });

        $('#activities-chart').highcharts({
            chart: {
                events:{
                  load: function(event) {
                    var extremes = this.yAxis[0].getExtremes();
                    this.yAxis[0].setExtremes(0, extremes.dataMax);
                    }
                },
            },
            credits: {
                enabled: false
            },
            title: {
                text: "Activities (Last 30 days)",
                    align: 'left',
                    margin: 0,
                    x: 35,
                    style: {
                        color: '#555555',
                        fontSize: '16px'
                    }
            },
            xAxis: {
                type: 'datetime',
                crosshair: true,
                events: {
                    setExtremes: syncExtremes
                }
            },
            yAxis: {
                title: { text: '' },
                labels: { enabled: true },
                minorGridLineWidth: 0
            },
            legend: {
                enabled: true
            },
            tooltip: {
                positioner: function () {
                    return {
                        x: this.chart.chartWidth - this.label.width, // right aligned
                        y: -15 // align to title
                    };
                },
                borderWidth: 0,
                backgroundColor: 'none',
                pointFormat: '{point.stackTotal}',
                xDateFormat: '%b %e',
                shadow: false,
                style: {
                    fontSize: '16px',
                    color: '#555555'
                }
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [{
                type: 'column',
                name: 'E-mail',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: [0,0,6,5,6,7,12,15,10,10,12,8,5,1]
            },
            {
                type: 'column',
                name: 'Meeting',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: [0,0,0,1,0,0,1,5,8,5,6,6,2,1]
            },
            {
                type: 'column',
                name: 'Salesforce Activity',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: <%= 14.times.map{ Random.rand(2) }  %>
            },
            {
                type: 'column',
                name: 'Support Issues',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: [0,0,0,1,1,0,2,0,0,0,0,0,0,0]
            },
            {
                type: 'spline',
                name: '30-day Average',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: [5,6.8,7,7,7,6.9,9,10.2,12.3,13.5,14.1,12,10,8],
                marker: {
                    lineWidth: 2,
                    lineColor: Highcharts.getOptions().colors[4],
                    fillColor: 'white'
                }
            }
            ]
        });

    };

</script>
