<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Leaderboard Dashboard</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-4">
            <div class="">
                <div class="font-bold col-lg-3 m-t-sm">Team:</div>
                <select class="category_filter col-lg-7">
                    <option value="Sales">NA - West</option>
                    <option value="Sales">NA - East</option>
                    <option value="Sales">NA - South</option>
                    <option value="Sales">EMEA</option>
                </select> 
            </div>
        </div>
        <div class="col-lg-4 filter-space">
            <div class="">
                <div class="font-bold col-lg-3 m-t-sm">Time:</div>
                <select class="category_filter col-lg-8">
                    <optgroup label="Quarter">
                        <option selected="true">This Quarter</option>
                        <option value="Sales">Last Quarter</option>
                    </optgroup>
                    <optgroup label="Month">
                        <option value="Sales">This Month</option>
                        <option value="Sales">Last Month</option>
                    </optgroup>
                    <optgroup label="Last x Days">
                        <option value="Sales">Last 14 days</option>
                        <option>Last 30 days</option>
                    </optgroup>
                </select> 
            </div>
        </div>
        <div class="col-lg-4 filter-space">
        </div>
    </div>

    <div class="row border-bottom ">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Bookings</h5>
                </div>
                <div class="ibox-content">
                    <h1><strong>$6.43M</strong></h1>
                    <h4><strong>73%</strong> of $9.1M target</h4>
                    <div class="progress progress-mini">
                        <div style="width: 73%;" class="progress-bar"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div id="forecast-chart" class="ibox-content forecast-chart" style="height:165px;padding-bottom:0"></div>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="ibox float-e-margins">
                <div id="stage-chart" class="ibox-content stage-chart" style="height:165px;padding-bottom:0"></div>
            </div>
        </div>
    </div>
    
    <div class="row border-bottom white-bg dashboard-header">
            <!-- LEFT -->
            <div class="col-md-5">
                <h4 class="m-l-md">Metric: 
                <select class="metric_filter col-lg-8" data-placeholder="Select Type">
                    <option value="2">Opportunities</option>
                    <option value="2">Booking</option>
                    <option value="2" selected="true">Time Spent</option>
                    <option value="1">Activities</option>
                    <option value="2">New Alerts & Tasks</option>
                    <option value="2">Closed Alerts & Tasks</option>
                    <option value="3">Open Tasks</option>
                  </select>    
               
                </h4>
                <div id="left-chart" class="left-chart" style="height:800px;"></div>
                
            </div>

            <!-- RIGHT -->
            <div class="col-md-7" style="margin-top:45px;">
                <div id="intro-account-header">
                    <div class="row" style="margin-top:100px;">
                        <h3>&larr; Click on a bar to see details about the opportunity.</h3>
                    </div>
                </div>

                <div id="account-header" style="display:none;">
                    <div class="row m-b-sm">
                        <div class="col-lg-8">
                            <h1>Neil Anderson</h1>
                        </div>
                        <div class="col-lg-4 m-t-md">
                            
                        </div>
                    </div>

                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <div class="metric">
                                    <div class="metric-title">
                                        <h4>On Target</h4>
                                    </div>
                                    <div class="metric-content">
                                        <h2 style="font-weight:600;font-size:46px">85%</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 text-center">
                                <div class="metric">
                                    <div class="metric-title">
                                        <h4>Booking</h4>
                                    </div>
                                    <div class="metric-content">
                                        <h2 style="font-weight:600;font-size:42px;">$2.15M</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 text-center">
                                <div class="metric">
                                    <div class="metric-title">
                                        <h4>Deals Won</h4>
                                    </div>
                                    <div class="metric-content">
                                        <h2 style="font-weight:600;font-size:46px">8</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 text-center">
                                <div class="metric">
                                    <div class="metric-title">
                                        <h4>Deals Left in Commit</h4>
                                    </div>
                                    <div class="metric-content">
                                        <h2 style="font-weight:600;font-size:46px">3</h2>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- end id="account-header" -->
                
                <div id="account-charts" style="display:none;">
                    <div class="ibox-content">

                        <div class="row m-t-md">
                            <div id="customers-volume-chart" style="height:350px"></div>
                        </div>

                        <div class="row m-t-md">
                            <div id="activities-chart" style="height:240px"></div>
                        </div>

                    </div>

                    <div class="ibox-content">
                        <div class="row">
                            <h2>Alerts and Tasks</h2>
                            <div id="tasks-trend" style="height:280px"></div>
                        </div>
                    </div>

                    <div class="ibox-content">

                    </div>
                </div>
            </div>
        </div>
</div>

<script>

    $('#forecast-chart').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },
        credits: {
            enabled: false
        },
        xAxis: {
            categories: [
                'Best Case',
                'Commit',
                'Booking'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            },
            labels: {
               enabled: false
           },
        },
        tooltip: {
            enabled: false
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '${y}M'
                }
            },
             series: {
                pointPadding: 0.1,
                groupPadding: 0,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Total Value',
            data: [15.1, 9.8, {y: 6.43, color: '#3cc5b9'}]

        }]
    });

    $('#stage-chart').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },
        credits: {
            enabled: false
        },
        xAxis: {
            categories: [
                'Qualification',
                'Demo',
                'Buyer Bought-in',
                'Negotiation',
                'Legal',
                'Closed Won',
                'Closed Lost'
            ],
            crosshair: true,
            labels: {
                style: {
                    fontSize: '9px'
                },
                rotation: 0
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            },
            labels: {
               enabled: false
           },
        },
        tooltip: {
            enabled: false
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '${y}M'
                }
            },
             series: {
                pointPadding: 0.1,
                groupPadding: 0.1,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Total Value',
            data: [0.5, 1.1, 12.2, 7.3, 3.8, {y: 6.4, color: '#3cc5b9'}, {y: 1.13, color: '#ed5565'}]

        }]
    });

    $(function () {
        $('#left-chart').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: 'Ranked by % Target',
                y: 0
            },
            xAxis: {
                categories: ['<strong>Michael Bachman</strong><br>90% ($2.42M)', '<strong>Neil Anderson</strong><br>85% ($2.15M)', '<strong>Kelvin Luis</strong><br>63% ($1.5M)', '<strong>Steven Yellen</strong><br>62% ($1.2M)', '<strong>Richard Wally</strong><br>60% ($952K)', '<strong>Varian Lopez</strong><br>40% ($125K)', '<strong>Charlie Schema</strong><br>38% ($120K)', '<strong>Ben Shorty<strong><br>36% ($450K)', '<strong>Stephanie Smiles</strong><br>28% ($550K)', '<strong>Bruce Wallus</strong><br>25% ($104K)',
                            '<strong>Rick Martin</strong><br>24% ($390K)', '<strong>Natale Salesy</strong><br>21% ($330K)'],
                crosshair: true
            },
            yAxis: {
                min: 0,
                opposite: true,
                title: {
                    text: ''
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    },
                    formatter: function () {
                      return convert_secs_to_hhmm(this.total*3600) + " hrs";
                    }
                },
                gridLineWidth: 0,
                plotLines: [{
                    color: '#FF0000', // Red
                    width: 2,
                    value: 31.5,
                    zIndex: 5,
                    label: {
                        text: 'Average 31.5',
                        verticalAlign: 'top',
                        textAlign: 'right',
                        y: 120
                    }
                }]
            },
            tooltip: {
                valueSuffix: ' hrs',
                hideDelay: '100',
                followPointer: true
            },
            legend: {
                enabled: true,
                verticalAlign: 'top'
            },
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function () {
                                $("#account-header").show();
                                $("#account-charts").show();
                                $("#intro-account-header").hide();
                                renderCharts(this.y);
                            }
                        }
                    },
                    stacking: 'normal'
                }   
            },
            credits: {
                enabled: false
            },
            series: [{
                type: 'bar',
                name: 'Send Attachment',
                color: '#666666',
                data: [1.5, 1.5, 0, 0, 1.25, 2, 2, 1, .5, 1.3, 1.25, 1.5]
            },{
                type: 'bar',
                name: 'Send E-mails',
                color: '#5DADE2',
                data: [7.5, 17, 18, 17, 16, 12, 25, 20, 19, 18, 24, 10]
            },
            {
                type: 'bar',
                name: 'Receive E-mails',
                color: '#3498DB',
                data: [11.5, 10.4, 7.6, 9.1, 8.1, 7.0, 5, 2.3, 3.0, 2.8, 2.6, 3.8]
            },
            {
                type: 'bar',
                name: 'Meetings & Calls',
                color: '#F5B041',
                data: [15, 12, 12, 9, 10, 9, 8, 8, 10, 9, 8, 7]
            }]
        });
    });


    /*****
    Render right charts
    ******/

    function renderCharts(riskScore) {

        $('#customers-volume-chart').highcharts({
            chart: {
                type: 'bar'
            },
            credits: false,
            title: {
                text: 'Hours Spent (Last 14 days)',
                style: {
                    color: '#777777'
                }
            },
            subtitle: {
                text: 'Ranked by Close Date'
            },
            xAxis: {
                categories: ['<strong>Stark Industries</strong> - $750k, Oct 1', '<strong>Hooli</strong> - $120k, Oct 15', '<strong>Pied Piper</strong> - $45k, Oct 30', '<strong>Global Dynamics</strong> - $500k Oct 30', '<strong>Wayne Enterprise</strong> - $20k, Nov 14', '<strong>Acme Inc.</strong> - $500k, Nov 15', '<strong>GVC</strong> - $50k, Dec 1']
            },
            tooltip: {
                valueSuffix: ' hrs',
                hideDelay: '100',
                followPointer: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    },
                    formatter: function () {
                      return convert_secs_to_hhmm(this.total*3600) + " hrs";
                    }
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function () {
                                window.location.href = "https://app.contextsmith.com/projects/502b8160-0536-48da-9021-1561b957434e";
                            }
                        }
                    },
                    stacking: 'normal'
                }
            },
            series: [
            {
                name: 'Send Attachment',
                data: [.15, 0, 0, .5, .25, 0, .25],
                color: '#666666'
            },
            {
                name: 'Send E-mails',
                data: [1.1, 1.2, 1.5, 1.5, 1.2, 0.4, 0.2],
                color: '#5DADE2'
            },
            {
                name: 'Receive E-mails',
                data: [.4, .6, .5, .5, .4, 0, 0],
                color: '#3498DB'
            }, 
            {
                name: 'Meetings & Calls',
                data: [0, 1, 3.2, 1, 0, 0, 0],
                color: '#F5B041'
            }]
        });


        $('#tasks-trend').highcharts({
            title: {
                text: ''
            },
            credits: false,
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0,
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                shared: true
            },
            series: [{
                name: 'Total Open Alerts',
                data: [3, 4, 5, 8, 11, 13, 17, 17, 18, 18, 17, 15],
                type: 'area',
                color: '#cccccc',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
            }, {
                name: 'New Alerts',
                data: [5, 7, 10, 10, 13, 13, 21, 19, 26, 25, 19, 17],
                type: 'line',
                color: '#B23232',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
            }, {
                name: 'Closed Alerts',
                data: [2, 3, 5, 2, 2, 0, 4, 2, 3, 8, 1, 2],
                type: 'line',
                color: '#149414',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
            }]
        });


        $('#activities-chart').highcharts({
            chart: {
                events:{
                  load: function(event) {
                    var extremes = this.yAxis[0].getExtremes();
                    this.yAxis[0].setExtremes(0, extremes.dataMax);
                    }
                },
            },
            credits: {
                enabled: false
            },
            title: {
                text: "Activities (Last 14 days)",
                align: 'left',
                style: {
                    color: '#777777',
                    fontSize: '16px'
                }
                
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: { text: '' },
                labels: { enabled: true },
                minorGridLineWidth: 0
            },
            legend: {
                enabled: true
            },
            tooltip: {

            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [{
                type: 'column',
                name: 'Send Attachment',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: <%= 14.times.map{ Random.rand(2) }  %>,
                color: '#666666'
            },{
                type: 'column',
                name: 'Sent E-mails',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: <%= 14.times.map{ Random.rand(10) }  %>,
                color: '#5DADE2'
            },
            {
                type: 'column',
                name: 'Received E-mails',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: <%= 14.times.map{ Random.rand(5) }  %>,
                color: '#3498DB'
            },
            {
                type: 'column',
                name: 'Meetings & Calls',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: <%= 14.times.map{ Random.rand(2) }  %>,
                color: '#F5B041'
            },
            {
                type: 'column',
                name: 'Tasks Closed',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: <%= 14.times.map{ Random.rand(2) }  %>,
                color: '#315932'
            }
            ]
        });

    };

</script>

