<div id="user-header">
    <div class="row m-b-sm">
        <div class="col-lg-10">
            <h1><%= get_full_name @user %></h1>
        </div>
        <div class="col-lg-2 m-t-md">
            
        </div>
    </div>

    <div class="ibox-content">
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="metric">
                    <div class="metric-title">
                        <h4>Closed Won<br>(This Quarter)</h4>
                    </div>
                    <div class="metric-content">
                        <h2 style="font-weight:600;font-size:46px;"><% if @closed_won_this_qtr.nil? %> - <% else %>$<%= number_to_human(@closed_won_this_qtr) %><% end %></h2>
                    </div>
                </div>
            </div>

            <div class="col-md-3 text-center">
                <div class="metric">
                    <div class="metric-title">
                        <h4>On Target</h4>
                    </div>
                    <div class="metric-content">
                        <h2 style="font-weight:600;font-size:46px">-</h2>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 text-center">
                <div class="metric text-danger">
                    <div class="metric-title">
                        <h4>Open Alerts & Tasks</h4>
                    </div>
                    <div class="metric-content">
                        <h2 style="font-weight:600;font-size:46px"><%= @open_alerts_and_tasks %></h2>
                    </div>
                </div>
            </div>

            <div class="col-md-3 text-center">
                <div class="metric">
                    <div class="metric-title">
                        <h4>Opportunities</h4>
                    </div>
                    <div class="metric-content">
                        <h2 style="font-weight:600;font-size:46px"><%= @accounts_managed %></h2>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- end id="user-header" -->
    
<div id="user-charts">
    <div class="ibox-content">

        <div class="row m-t-md">
            <div id="customers-interaction-chart" style="height:400px"></div>
        </div>

        <div class="row m-t-md">
            <div id="user-activities-trend-chart" style="height:240px"></div>
        </div>

    </div>

    <div class="ibox-content">
        <div class="row">
            <div id="tasks-trend" style="height:280px"></div>
        </div>
    </div>

</div>
<script type="text/javascript">
    
    /*****
    Render right charts
    ******/

    function renderUserCharts(riskScore) {

        $('#customers-interaction-chart').highcharts({
            chart: {
                type: 'bar',
                marginRight: 25
            },
            credits: false,
            title: {
                text: 'Time Spent (Last 14 days)',
                align: 'left',
                style: {
                    color: '#777777',
                    fontSize: '16px'
                }
            },
            subtitle: {
                text: '(in hh:mm)',
                align: 'left'
            },
            tooltip: {
                headerFormat: '',
                pointFormatter: function() {
                    return '<span style="font-size: 10px">' + this.category[0] + '</span><br/><span style="color:' + this.color + '">\u25CF</span>  ' + this.series.name + ': <b>' + convert_secs_to_hhmm(this.y) + '</b>';
                }
            },
            xAxis: {
              categories: <%= @interaction_time_per_account.map { |it| [it.name, (it.deal_size.nil? ? "" : "$"+number_to_human(it.deal_size)), (it.close_date.nil? ? "" : it.close_date.strftime('%b%e')), it.id] }.to_json.html_safe %>,
              labels: {
                  formatter: function () {
                    // this.value = [project_name, deal_size, close_date, project_id]
                    return "<b>" + this.value[0] + "</b><br/>" + this.value[1] + (this.value[1] != "" && this.value[2] != "" ? ", " : "" ) + this.value[2];
                  }
                }
            },
            yAxis: {
                min: 0,
                minTickInterval: 60,
                // tickAmount: 5,
                startOnTick: true,
                title: {
                    text: ''
                },
                labels: {
                    formatter: function() {
                        return convert_secs_to_hhmm(this.value);
                    }
                },
                stackLabels: {
                    enabled: true,
                    formatter: function () {
                        return convert_secs_to_hhmm(this.total);
                    },
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                    }
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function () {
                              $.get("ad_account_data/" + this.options.id, function (data) {
                                $("#opportunity-profile").html(data);
                                $('#opportunity-modal').modal('show')
                                renderProjectCharts(this.y);
                              });
                            }
                        }
                    },
                    stacking: 'normal'
                }
            },
            series: [
              <% %i(Meetings Attachments Read\ E-mails Sent\ E-mails).each do |category| %>
              {
                name: '<%= category %>',
                color: "<%= highcharts_series_color(category.to_s) %>",
                data: [
                  <% @interaction_time_per_account.each do |it| %>
                  {
                    y: <%= it.send(category) %>,
                    id: "<%= it.id %>"
                  },
                  <% end if @interaction_time_per_account.present? %>
                ]
              },
              <% end %>
            ]
        });


        $('#tasks-trend').highcharts({
            title: {
                text: 'Alerts and Tasks',
                align: 'left',
                style: {
                    color: '#777777',
                    fontSize: '16px'
                }
            },
            credits: false,
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0,
                softMax: 1,
                minorGridLineWidth: 0,
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                shared: true
            },
            series: [{
                name: 'Total Open Tasks',
                data: <%= @tasks_trend_data.total_open.to_json.html_safe %>,
                type: 'area',
                color: '#cccccc',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
            }, {
                name: 'New Tasks',
                data: <%= @tasks_trend_data.new_open.to_json.html_safe %>,
                type: 'line',
                color: '#B23232',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
            }, {
                name: 'Closed Tasks',
                data: <%= @tasks_trend_data.new_closed.to_json.html_safe %>,
                type: 'line',
                color: '#149414',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
            }]
        });


        $('#user-activities-trend-chart').highcharts({
            chart: {
                events:{
                  load: function(event) {
                    var extremes = this.yAxis[0].getExtremes();
                    this.yAxis[0].setExtremes(0, extremes.dataMax);
                    }
                },
            },
            credits: {
                enabled: false
            },
            title: {
                text: "Activities (Last 14 days)",
                align: 'left',
                style: {
                    color: '#777777',
                    fontSize: '16px'
                }
                
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: { text: '' },
                labels: { enabled: true },
                minTickInterval: 1,
                minorGridLineWidth: 0,
                softMax: 1,
                stackLabels: {
                    enabled: true
                }
            },
            legend: {
                enabled: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [
            <% @activities_by_category_date.each do |category, activities_by_date| %>
            {
                type: 'column',
                name: '<%= category %>',
                color: '<%= highcharts_series_color(category) %>',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: <%= activities_by_date.map(&:num_activities).to_json.html_safe %>,
                showInLegend: <%= activities_by_date.map(&:num_activities).reduce(:+) > 0 ? true : false %>
            },
            <% end %>
            // {
            //     type: 'column',
            //     name: 'Alerts Closed',
            //     pointInterval: <%= 1.day * 1000 %>,
            //     pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
            //     data: <%= 14.times.map{ Random.rand(2) }  %>
            // },
            // {
            //     type: 'column',
            //     name: 'Tasks Closed',
            //     pointInterval: <%= 1.day * 1000 %>,
            //     pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
            //     data: <%= 14.times.map{ Random.rand(2) }  %>
            // }
            ]
        });

    };
</script>
