<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Team Dashboard</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-4">
            <div class="">
                <div class="font-bold col-lg-4">Department</div>
                <select class="category_filter col-lg-8">
                    <option value="Sales">Account Management</option>
                    <option value="Sales">Customer Success</option>
                    <option value="Sales">Sales</option>
                </select> 
            </div>
        </div>
        <div class="col-lg-4 filter-space">
            <div class="">
                <div class="font-bold col-lg-4">Title:</div>
                <select class="category_filter col-lg-8">
                    <option value="Sales">Account Manager</option>
                    <option value="Sales">Customer Success Manager</option>
                    <option value="Sales">Director of Services</option>
                    <option value="Sales">(No Title)</option>
                </select> 
            </div>
        </div>
        <div class="col-lg-4 filter-space">
        </div>
    </div>
    
    <div class="row border-bottom white-bg dashboard-header">
            <!-- LEFT -->
            <div class="col-lg-5">
                <h4 class="m-l-md">Sort by: 
                <select class="metric_filter col-lg-8" data-placeholder="Select Type">
                    <option value="1" selected="true">Activities (Last 7d)</option>
                    <option value="2">Activities (Last 30d)</option>
                    <option value="3">Open Tasks</option>
                  </select>    
               
                </h4>
                <div id="left-chart" class="left-chart" style="height:1200px;"></div>
                
                <h5><a href="" class="btn btn-outline btn-primary btn-xs m-l-lg">&larr; Previous 25</a>
                <a href="" class="btn btn-outline btn-primary btn-xs m-l-sm">Next 25 &rarr;</a></h5>
            </div>

            <!-- RIGHT -->
            <div class="col-lg-7" style="margin-top:45px;">
                <div id="intro-account-header">
                    <div class="row" style="margin-top:50px;">
                        <h3>&larr; Click on a bar to see details about the account stream.</h3>
                    </div>
                </div>

                <div id="account-header" style="display:none;">
                    <div class="row m-b-sm">
                        <div class="col-lg-8">
                            <h1>Will Charleston</h1>
                        </div>
                        <div class="col-lg-4 m-t-md">
                            <span class="label">Last 14 days</span>
                        </div>
                    </div>
                </div>
                <!-- end id="account-header" -->
                
                <div id="account-charts" style="display:none;">
                    <div class="ibox-content">
                        <h2>Activities Volume</h2>
                        
                        <div class="row m-t-md">
                            <div id="activities-chart" style="height:240px"></div>
                        </div>

                        <div class="row m-t-md">
                            <div id="customers-volume-chart" style="height:340px"></div>
                        </div>

                    </div>

                    <div class="ibox-content">
                        <div class="row">
                            <h2>Alerts, Tasks, and Goals</h2>
                            <div id="tasks-trend" style="height:300px"></div>
                        </div>
                    </div>

                    <div class="ibox-content">

                    </div>
                </div>
            </div>
        </div>
</div>

<script>

    $(function () {
        $('#left-chart').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: ['Will Charleston', 'Kelvin Luis', 'Steven Yellen', 'Richard Wally', 'Varian Lopez', 'Charlie Schema', 'Michael Bay', 'Ben Shorty', 'Batman', 'Bruce Wallus',
                              'Wonder Woman', 'Harry Potterson','Luke Walker', 'Danny Adobe', 'Rick Martin', 'Natale Sales'],
                crosshair: true
            },
            yAxis: {
                min: 0,
                max: 100,
                opposite: true,
                title: {
                    text: ''
                },
                gridLineWidth: 0
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function () {
                                $("#account-header").show();
                                $("#account-charts").show();
                                $("#intro-account-header").hide();
                                renderCharts(this.y);
                            }
                        }
                    }
                }   
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Activities',
                <% @risk_scores = [96, 95, 82, 81, 80, 79, 74, 74, 72, 70, 68, 55, 46, 32, 25, 25] %>
                data: [ <% @risk_scores.each do |r| %>
                {
                    y: <%= r %>,
                    color: "<%= if r >= 80.0 
                            '#ed5565'
                        elsif r >= 60.0
                            '#FFA500'
                        else
                            '#A1C436'
                        end %>",
                }, 
                <% end %> ],
            },
            {
                name: 'Average',
                type: 'line',
                lineWidth: 2,
                color: '#7cb5ec',
                marker: { enabled: false, radius: 0 },
                data: [55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55]
            }]
        });
    });


    /*****
    Render right charts
    ******/

    function renderCharts(riskScore) {

        $('#customers-volume-chart').highcharts({
            chart: {
                type: 'bar'
            },
            credits: false,
            title: {
                text: 'Interaction Time by Account Stream',
                style: {
                    color: '#777777',
                    fontSize: '16px'
                }
            },
            xAxis: {
                categories: ['Stark Industries', 'Hooli', 'Pied Piper', 'Global Dynamics', 'Wayne Enterprise']
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [{
                name: 'Read',
                data: [1, 2.2, 0.5, 0.8, 3]
            }, {
                name: 'Sent',
                data: [0.2, 0.2, 0, 2.1, 2]
            }, {
                name: 'Meetings',
                data: [1, 0, 0, 3, 2]
            }]
        });


        $('#tasks-trend').highcharts({
            title: {
                text: ''
            },
            credits: false,
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0,
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                shared: true
            },
            series: [{
                name: 'Total Open Alerts',
                data: [3, 4, 5, 8, 11, 13, 17, 17, 18, 18, 17, 15],
                type: 'area',
                color: '#cccccc',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
            }, {
                name: 'New Alerts',
                data: [5, 7, 10, 10, 13, 13, 21, 19, 26, 25, 19, 17],
                type: 'line',
                color: '#B23232',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
            }, {
                name: 'Closed Alerts',
                data: [2, 3, 5, 2, 2, 0, 4, 2, 3, 8, 1, 2],
                type: 'line',
                color: '#149414',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
            }]
        });


        $('#activities-chart').highcharts({
            chart: {
                events:{
                  load: function(event) {
                    var extremes = this.yAxis[0].getExtremes();
                    this.yAxis[0].setExtremes(0, extremes.dataMax);
                    }
                },
            },
            credits: {
                enabled: false
            },
            title: {
                text: "By Day",
                style: {
                    color: '#777777',
                    fontSize: '16px'
                }
                
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: { text: '' },
                labels: { enabled: true },
                minorGridLineWidth: 0
            },
            legend: {
                enabled: true
            },
            tooltip: {
                positioner: function () {
                    return {
                        x: this.chart.chartWidth - this.label.width, // right aligned
                        y: -15 // align to title
                    };
                },
                borderWidth: 0,
                backgroundColor: 'none',
                pointFormat: '{point.stackTotal}',
                xDateFormat: '%b %e',
                shadow: false,
                style: {
                    fontSize: '16px',
                    color: '#555555'
                }
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [{
                type: 'column',
                name: 'Email',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: <%= 14.times.map{ Random.rand(10) }  %>
            },
            {
                type: 'column',
                name: 'Meeting',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: <%= 14.times.map{ Random.rand(2) }  %>
            },
            {
                type: 'column',
                name: 'Support Ticket',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: <%= 14.times.map{ Random.rand(2) }  %>
            },
            {
                type: 'column',
                name: 'New Smart Tasks',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: <%= 14.times.map{ Random.rand(2) }  %>
            }
            ]
        });

    };

</script>

