<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Team Dashboard</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-4">
            <div class="">
                <div class="font-bold col-lg-4">Department</div>
                <select class="category_filter col-lg-8">
                    <option value="Sales">Account Management</option>
                    <option value="Sales">Customer Success</option>
                    <option value="Sales">Sales</option>
                </select> 
            </div>
        </div>
        <div class="col-lg-4 filter-space">
            <div class="">
                <div class="font-bold col-lg-4">Title:</div>
                <select class="category_filter col-lg-8">
                    <option value="Sales">Account Manager</option>
                    <option value="Sales">Customer Success Manager</option>
                    <option value="Sales">Director of Services</option>
                    <option value="Sales">(No Title)</option>
                </select> 
            </div>
        </div>
        <div class="col-lg-4 filter-space">
        </div>
    </div>
    
    <div class="row border-bottom white-bg dashboard-header">
            <!-- LEFT -->
            <div class="col-lg-5">
                <h4 class="m-l-md">Sort by: 
                <select class="metric_filter col-lg-8" data-placeholder="Select Type">
                    <option value="1" selected="true">Activities (Last 7d)</option>
                    <option value="2">Activities (Last 30d)</option>
                    <option value="3">Time Spent on Emails (Last 7d)</option>
                    <option value="4">Time Spent on Emails (Last 30d)</option>
                  </select>    
               
                </h4>
                <div id="left-chart" class="left-chart" style="height:1200px;"></div>
                
                <h5><a href="" class="btn btn-outline btn-primary btn-xs m-l-lg">&larr; Previous 25</a>
                <a href="" class="btn btn-outline btn-primary btn-xs m-l-sm">Next 25 &rarr;</a></h5>
            </div>

            <!-- RIGHT -->
            <div class="col-lg-7" style="margin-top:45px;">
                <div id="intro-account-header">
                    <div class="row" style="margin-top:50px;">
                        <h3>&larr; Click on a bar to see details about the account stream.</h3>
                    </div>
                </div>

                <div id="account-header" style="display:none;">
                    <div class="row m-b-sm">
                        <div class="col-lg-8">
                            <h2 >Will Charleston</h2>
                        </div>
                        <div class="col-lg-4 m-t-md">
                            <span class="label">Last 14 days</span>
                        </div>
                    </div>
                    
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="metric text-danger">
                                    <div class="metric-title">
                                        <h4>Customer Emails</h4>
                                    </div>
                                    <div class="metric-content">
                                        <h2 style="font-weight:600;font-size:46px">96</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 text-center">
                                <div class="metric text-danger">
                                    <div class="metric-title">
                                        <h2>% more than average</h2>
                                    </div>
                                    <div class="metric-content">
                                        <h2 style="font-weight:600;font-size:46px">5</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 text-center">
                                <div class="metric">
                                    <div class="metric-title">
                                        <h4>Last Touch</h4>
                                    </div>
                                    <div class="metric-content">
                                        <h2 style="line-height:50px;">9 days ago</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end id="account-header" -->
                
                <div id="account-charts" style="display:none;">
                    <div id="charts-container" class="ibox-content">
                        
                        <div class="row m-t-md">
                            <div id="activities-chart" style="height:240px"></div>
                        </div>

                        <div class="row m-t-md">
                            <div id="customers-volume-chart" style="height:340px"></div>
                        </div>

                        <div class="row m-t-md">
                            <div id="customers-time-chart" style="height:340px"></div>
                        </div>

                        <div class="row m-t-lg text-center">
                            <h3><a href="https://app.contextsmith.com/projects/502b8160-0536-48da-9021-1561b957434e" class="btn btn-outline btn-primary btn-xs">See activities &rarr;</a></h3>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-6" id="activities-breakdown" style="height:200px"></div>
                            <div class="col-lg-6" id="top-contributors" style="height:200px;"></div>
                        </div>

                        <div class="row m-t-lg text-center">
                            <h3><a href="https://app.contextsmith.com/projects/502b8160-0536-48da-9021-1561b957434e/arg" class="btn btn-outline btn-primary btn-xs">See Account Relationship Graph &rarr;</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<script>

    $(function () {
        $('#left-chart').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: ['Will Charleston', 'Kelvin Luis', 'Steven Yellen', 'Richard Wally', 'Varian Lopez', 'Charlie Schema', 'Michael Bay', 'Ben Shorty', 'Batman', 'Bruce Wallus',
                              'Wonder Woman', 'Harry Potterson','Luke Walker', 'Danny Adobe', 'Rick Martin', 'Natale Sales'],
                crosshair: true
            },
            yAxis: {
                min: 0,
                max: 100,
                opposite: true,
                title: {
                    text: ''
                },
                gridLineWidth: 0
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function () {
                                $("#account-header").show();
                                $("#account-charts").show();
                                $("#intro-account-header").hide();
                                renderCharts(this.y);
                                //alert('Category: ' + this.category + ', value: ' + this.y);
                            }
                        }
                    }
                }   
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Activities',
                <% @risk_scores = [96, 95, 82, 81, 80, 79, 74, 74, 72, 70, 68, 55, 46, 32, 25, 25] %>
                data: [ <% @risk_scores.each do |r| %>
                {
                    y: <%= r %>,
                    color: "<%= if r >= 80.0 
                            '#ed5565'
                        elsif r >= 60.0
                            '#FFA500'
                        else
                            '#A1C436'
                        end %>",
                }, 
                <% end %> ],
            },
            {
                name: 'Average',
                type: 'line',
                lineWidth: 2,
                color: '#7cb5ec',
                marker: { enabled: false, radius: 0 },
                data: [55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55]
            }]
        });
    });


    /*****
    Render right charts
    ******/

    function renderCharts(riskScore) {

        $('#customers-volume-chart').highcharts({
            chart: {
                type: 'bar'
            },
            credits: false,
            title: {
                text: 'Activities Volume'
            },
            xAxis: {
                categories: ['Stark Industries', 'Hooli', 'Pied Piper', 'Global Dynamics', 'Wayne Enterprise']
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [{
                name: 'Inbound',
                data: [5, 3, 4, 7, 2]
            }, {
                name: 'Outbound',
                data: [2, 2, 3, 2, 1]
            }, {
                name: 'Meetings',
                data: [1, 0, 0, 3, 5]
            }]
        });

        $('#activities-breakdown').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            credits: false,
            title: {
                text: "Activities by Team",
                align: 'left',
                margin: 0,
                x: 35,
                style: {
                    color: '#555555',
                    fontSize: '16px'
                }
            },
            tooltip: {
                pointFormat: '{point.percentage:.1f}%'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false,
                        distance: -25,
                        format: '{point.name}',
                    }
                }
            },
            series: [{
                name: 'Team',
                colorByPoint: true,
                data: [{
                    name: 'Sales',
                    y: 56.3,
                    sliced: true,
                    dataLabels: { 
                        enabled: true
                    },
                }, {
                    name: 'Marketing',
                    y: 24
                }, {
                    name: 'Account Managment',
                    y: 10.3
                }, {
                    name: 'Support',
                    y: 4.7
                }]
            }]
        });

        $('#top-contributors').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Most Active Contributors',
                align: 'left',
                margin: 0,
                x: 35,
                style: {
                    color: '#555555',
                    fontSize: '15px'
                }
            },
            credits: { enabled: false },
            xAxis: {
                categories: ['Justin', 'Kelvin', 'Will', 'Richard', 'Ben']
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [{
                name: 'Engagement',
                data: [7, 5, 4, 3, 2]
            }]
        });


        $('#activities-chart').highcharts({
            chart: {
                events:{
                  load: function(event) {
                    var extremes = this.yAxis[0].getExtremes();
                    this.yAxis[0].setExtremes(0, extremes.dataMax);
                    }
                },
            },
            credits: {
                enabled: false
            },
            title: {
                text: "Activities Volume"
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: { text: '' },
                labels: { enabled: true },
                minorGridLineWidth: 0
            },
            legend: {
                enabled: true
            },
            tooltip: {
                positioner: function () {
                    return {
                        x: this.chart.chartWidth - this.label.width, // right aligned
                        y: -15 // align to title
                    };
                },
                borderWidth: 0,
                backgroundColor: 'none',
                pointFormat: '{point.stackTotal}',
                xDateFormat: '%b %e',
                shadow: false,
                style: {
                    fontSize: '16px',
                    color: '#555555'
                }
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [{
                type: 'column',
                name: 'Email',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: <%= 14.times.map{ Random.rand(20) }  %>
            },
            {
                type: 'column',
                name: 'Meeting',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: <%= 14.times.map{ Random.rand(4) }  %>
            },
            {
                type: 'column',
                name: 'Support Case',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: <%= 14.times.map{ Random.rand(20) }  %>
            },
            {
                type: 'column',
                name: 'Key Activity',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 14.days.ago.at_midnight.to_i * 1000 %>,
                data: <%= 14.times.map{ Random.rand(2) }  %>
            }
            ]
        });

    };

</script>

