<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Team Dashboard</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="font-bold col-md-12">Filter:</div>
            <div class="col-md-12 m-t-sm filter-space">
                <select id="team-filter" class="category_filter col-md-3" data-placeholder="Select Team">
                    <option></option> <!-- no filter -->
                    <% @departments.each do |d| %>
                    <option value="<%=d %>"  <% if params[:team] == d  %> selected   <% end %> ><%=d %></option>
                    <% end %>
                    <option value="none">(No Team)</option>
                </select>
                <select id="title-filter" class="category_filter col-md-3" data-placeholder="Select Title">
                    <option></option>
                    <% @titles.each do |t| %>
                    <option value="<%=t %>"  <% if params[:title] == t  %> selected   <% end %> ><%=t %></option>
                    <% end %>
                    <option value="none">(No Title)</option>
                </select> 
            </div>
        </div>
    </div>
    
    <div class="row border-bottom white-bg dashboard-header">
            <!-- LEFT -->
            <div class="col-md-5">
                <h4 class="m-l-md">Metric: 
                <select id="sort-type" class="metric_filter col-lg-8" data-placeholder="Select Metric">
                <% ReportsController::TEAM_DASHBOARD_METRIC.each do |k,label| %>
                    <option <%= "selected" if params[:sort] == k %>><%= label %></option>
                <% end %>
                    <!-- <option>Revenue Managed</option> -->
                    <!-- <option>Revenue per Hour Spent (Last 14d)</option> -->
                    <!-- <option>On Target</option> -->
                </select>
               
                </h4>
                <div id="left-chart" class="left-chart" style="height:1200px;"></div>
                
            </div>

            <div class="col-md-7" style="margin-top:45px;">
                <div id="user-data">
                    <div class="row" style="margin-top:50px;">
                        <h3>&larr; Click on a bar to see details about the account stream.</h3>
                    </div>
                </div>
            </div>
        </div>
</div>

<%= render "teaser" if current_user.trial? %>

<script type="text/javascript">

    $(function () {

        $('#sort-type, #team-filter, #title-filter').change( function () {
            // Clear stream data ("right") chart
            $('#account-data').html("<div class=row style=margin-top:50px;><h3>&larr; Click on a bar to see details about the account stream.</h3></div>");

            // Build URL for AJAX call for filtered data
            var url = "td_sort_data/" + encodeURIComponent($('#sort-type').val()) + "?" + $.param({ team: $('#team-filter').val(), title: $('#title-filter').val() });
            $.getScript(url)
        });

        $('#left-chart').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: <%= @data.map(&:name).to_json.html_safe %>,
                crosshair: true
            },
            yAxis: {
                min: 0,
                // max: 100,
                opposite: true,
                title: {
                    text: ''
                },
                gridLineWidth: 0
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    stacking: 'normal',
                    cursor: 'pointer',
                    // pointWidth: 20,
                    point: {
                        events: {
                            click: function () {
                                $.get("td_user_data/" + this.options.id, function (data) {
                                    $("#user-data").html(data);
                                    renderCharts(this.y);
                                })
                            }
                        }
                    }
                }   
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Series 1',
                visible: false
            },
            <% @categories.each.with_index do |c, i| %>
            {
                name: "<%= c %>",
                color: "<%= highcharts_series_color(c) %>",
                data: [ 
                <% @data.each do |d| %>
                {
                  y: <%= d.y[i].num_activities %>,
                  id: "<%= d.id %>"
                }, 
                <% end %> 
                ]
            },
            <% end %>
            ]
        });

        var chart = Highcharts.charts[$("#left-chart").data('highchartsChart')];
        chart.setSize(undefined, 50 + Math.min(1150, <%= @data.size %> * 110));
    });

</script>

