<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Team Touches Report</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li class="active">
                <strong>Team Touches Report</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-9 filter-space">
            <div class="font-bold m-b-xs">Projects:</div>
            <select data-placeholder="Choose a Project..." class="chosen-select" id="project-chosen-select" multiple="" tabindex="-1">
                <option value=""></option>
                <% @projects.each do |p| %>
                    <option value="<%= p.id %>" <% if @projects[0,5].map(&:id).include?(p.id) %> selected <% end %>><%= p.name %></option>
                <% end %>
            </select>
        </div>
        <div class="col-lg-3 filter-space">
            <div class="font-bold m-b-xs">Date:</div>
            <input type="text" name="daterange" class="form-control daterange">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 filter-space">
            <div class="btn-group">
                <div class="font-bold m-b-xs">Account Type:</div>
                <a href="<%= reports_customer_path %>" class="btn btn-sm btn-default" type="button">&nbsp;&nbsp;All (<%= @projects.size %>)&nbsp;&nbsp;</a>
                <a href="<%= reports_customer_path %>?type=Customer" class="btn btn-sm btn-white" type="button">Customer (<%= @projects.select { |p| p.account.category == "Customer" }.size %>)</a>
                <a href="<%= reports_customer_path %>?type=Partner" class="btn btn-sm btn-white" type="button">&nbsp;Partner (<%= @projects.select { |p| p.account.category == "Partner" }.size %>)&nbsp;</a>
                <a href="<%= reports_customer_path %>?type=Prospect" class="btn btn-sm btn-white" type="button">Prospect (<%= @projects.select { |p| p.account.category == "Prospect" }.size %>)</a>
                <a href="<%= reports_customer_path %>?type=Vendor" class="btn btn-sm btn-white" type="button">&nbsp;Vendor (<%= @projects.select { |p| p.account.category == "Vendor" }.size %>)&nbsp;</a>
                <a href="<%= reports_customer_path %>?type=Other" class="btn btn-sm btn-white" type="button">&nbsp;Other (<%= @projects.select { |p| p.account.category == "Other" }.size %>)&nbsp;</a>
            </div>
        </div>
        <div class="col-lg-7 filter-space">
            <div class="btn-group">
                <div class="font-bold m-b-xs">Project Type:</div>
                <a href="<%= reports_customer_path %>" class="btn btn-sm btn-default" type="button">&nbsp;&nbsp;All (<%= @projects.size %>)&nbsp;&nbsp;</a>
                <a href="<%= reports_customer_path %>?type=Customer" class="btn btn-sm btn-white" type="button">Implementation (<%= @projects.select { |p| p.category == "Implementation" }.size %>)</a>
                <a href="<%= reports_customer_path %>?type=Partner" class="btn btn-sm btn-white" type="button">Onboarding (<%= @projects.select { |p| p.category == "Onboarding" }.size %>)</a>
                <a href="<%= reports_customer_path %>?type=Prospect" class="btn btn-sm btn-white" type="button">Opportunity (<%= @projects.select { |p| p.category == "Opportunity" }.size %>)</a>
                <a href="<%= reports_customer_path %>?type=Vendor" class="btn btn-sm btn-white" type="button">&nbsp;Pilot (<%= @projects.select { |p| p.category == "Pilot" }.size %>)&nbsp;</a>
                <a href="<%= reports_customer_path %>?type=Vendor" class="btn btn-sm btn-white" type="button">&nbsp;Support (<%= @projects.select { |p| p.category == "Support" }.size %>)&nbsp;</a>
                <a href="<%= reports_customer_path %>?type=Other" class="btn btn-sm btn-white" type="button">&nbsp;Other (<%= @projects.select { |p| p.category == "Other" }.size %>)&nbsp;</a>
            </div>
        </div>
    </div>
    

    <!-- Metrics -->
    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label pull-right">Last 7 days</span>
                    <h5>Team Touches</h5>
                    <i class="fa fa-question-circle m-l-xs" data-toggle="tooltip" data-placement="top" data-original-title="Total number of emails sent by your team and received from your customers."></i>
                    <div class="btn-group m-l-sm">
                        <a id="most-touches" type="button" class="btn btn-xs btn-white active">Most</a>
                        <a id="least-touches" type="button" class="btn btn-xs btn-white">Least</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="chart" class="report-chart">
                      <h2 class="text-center" style="padding-top:70px;">No data</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Table -->
    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <table class="table table-hover responsive no-wrap" id="projects-table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Team</th>
                                <th>Inbound Touches</th>
                                <th>Outbound Touches</th>
                                <th>Ratio (Inbound/Outbound)</th>
                                <th># of Projects</th>
                            </tr>
                        </thead>
                        <tbody>
<% @team_touches = [{ :full_name => 'A', :inbound_count => 51, :outbound_count => 45, :num_projects => 7 }, %>
<%                  { :full_name => 'B', :inbound_count => 66, :outbound_count => 44, :num_projects => 9 }, %>
<%                  { :full_name => 'C', :inbound_count => 31, :outbound_count => 32, :num_projects => 6 }] %>
                            <% @team_touches.each do |member| %>
                                <tr>
                                    <td><%= member[:full_name] %></td>
                                    <td><%= member[:inbound_count] %></td>
                                    <td><%= member[:outbound_count] %></td>
                                    <td><%= member[:inbound_count].to_f / member[:outbound_count].to_f %></td>
                                    <td><%= member[:num_projects] %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  <% if !@projects.empty? %>
    /* Highcharts support functions */
    function redraw_chart(chart, max) {
        // Delete all the series.
        while (chart.series.length > 0) {
          chart.series[0].remove(false);
        }
    }

    /* Highcharts */
    $(function () {
        $('#chart').highcharts({
            chart: {
                type: 'bar',
                height: 250
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: ['Team A', 'Team B', 'Team C']
            },
            yAxis: {
                title: {
                    text: ''
                },
                labels: {
                    formatter: function () {
                        return Math.abs(this.value);
                    }
                }
            },
            legend: {
                enabled: false
            },
            credits: {
              enabled: false
            },
            plotOptions: {
              series: {
                stacking: 'normal',
                cursor: 'pointer',
                point: {
                  events: {
                    click: function () {
                      location.pathname = this.options.path;
                    }
                  }
                }
              }
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.point.category + '</b><br/>' +
                        this.series.name + ': ' + Highcharts.numberFormat(Math.abs(this.point.y), 0);
                }
            },
            series: [{
                name: 'Inbound Touches',
                data: [-51, -66, -31],
            }, {
                name: 'Outbound Touches',
                data: [45, 44, 32]
            }]
        });
    });

    /* Event Handlers */
    $('#most-touches').click(function() {
        chart = $('#chart').highcharts();
        // $(this).addClass("active");
        // $('#least-touches').removeClass("active");
        // descendingTouches = true;
        redraw_chart(chart, descendingTouches, allTouches);
    });
  <% end %>
</script>

