<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a href="#">
                        <span class="clear">
                            <div class="block logo"><img/></div>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    <span style="font-weight:300">C</span>S
                </div>
            </li>
            <li class="<%= is_active_controller('home') and is_active_action('index') %>">
                <a href="<%= root_path %>"><i class="fa fa-home"></i> <span class="nav-label">Home</span></a>
            </li>
            <li class="<%= is_active_controller('projects') %>">
                <a href="<%= projects_path %>"><i class="fa fa-comments"></i> <span class="nav-label">Streams</span></a>
            </li>
            <li class="<%= is_active_controller('notifications') %>">
                <a href="<%= notifications_path %>"><i class="fa fa-list-ul"></i> <span class="nav-label">Smart Tasks</span></a>
            </li>
            <li class="<%= is_active_controller('accounts') %>">
                <a href="<%= accounts_path %>"><i class="fa fa-users"></i> <span class="nav-label">Accounts</span></a>
            </li>
            <li class="<%= is_active_action('daily_summary') %>">
                <a href="<%= home_daily_summary_path %>"><i class="fa fa-file-text-o"></i> <span class="nav-label">Daily Summary</span></a>
            </li>
        </ul>

    </div>
</nav>