<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a href="#">
                        <span class="clear">
                            <div class="block logo"><img/></div>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    <span style="font-weight:300">C</span>S
                </div>
            </li>
            <li class="<%= is_active_controller('home') %>">
                <a href="<%= root_path %>"><i class="fa fa-home"></i> <span class="nav-label">Home</span></a>
            </li>
            <li class="<%= is_active_controller('accounts') %>">
                <a href="<%= accounts_path %>"><i class="fa fa-th-large"></i> <span class="nav-label">Accounts</span></a>
            </li>
            <li class="<%= is_active_controller('projects') %>">
                <a href="<%= projects_path %>"><i class="fa fa-briefcase"></i> <span class="nav-label">Projects</span></a>
            </li>
            <!-- <li class="">
                <a href=""><i class="fa fa-thumb-tack"></i> <span class="nav-label">My Pinned Items</span></a>
            </li> -->
        </ul>

    </div>
</nav>