<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-style-2 btn btn-primary btn-outline" href="#"><i class="fa fa-bars"></i> </a>
            
            <%= form_tag(projects_path, :method => "get", id: "search-form", class: "navbar-form-custom") do %>
                <span class="fa fa-search"></span> <input type="search" name="search" id="search" class="form-control ui-autocomplete-input ui-autocomplete-loading" placeholder="#project-stream search something..." data-autocomplete="/search/autocomplete_project_name" autocomplete="off">
                <%= submit_tag "Search", style: 'display:none;' %>
            <%end%>
        
        </div>
        <ul class="nav navbar-top-links navbar-right">
            
            <a class="btn btn-primary btn-sm"  style="font-size:12px;" href="<%= settings_path %>">Invite team</a>
            
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-question-circle fa-lg"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="<%= onboarding_tutorial_path %>">Learn the Basics</a></li>
                    <li><a href="mailto:support@contextsmith.com">Contact Support</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">  
                    <span class="m-r-xs"><img alt="image" class="img-circle" style="width:30px;height:30px;" src="<%= current_user.image_url %>"/></span> 
                    <strong class="font-bold"><%= get_full_name(current_user) %></strong><b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="<%= settings_path %>">Invite team</a></li>
                    <li class="divider"></li>
                    <li><a href="<%= destroy_user_session_path %>">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>