<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>

            <a href="<%= root_path %>" class="navbar-brand" style="width:150px">
                <span class="clear">
                    <div class="block logo">&nbsp;</div>
                </span>
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
            
                <li class="<%= is_active_controller('home') and is_active_action('index') %>">
                    <a href="<%= root_path %>"><i class="fa fa-home"></i> <span class="nav-label">Home</span></a>
                </li>
                <li class="<%= is_active_controller('accounts') %>">
                    <a href="<%= accounts_path %>"><i class="fa fa-users"></i> <span class="nav-label">Accounts</span></a>
                </li>
                <li class="<%= is_active_controller('projects') %>">
                    <a href="<%= projects_path %>"><i class="fa fa-comments"></i> <span class="nav-label">Opportunities</span></a>
                </li>
                <li class="<%= is_active_controller('notifications') %>">
                    <a href="<%= notifications_path %>/?type=incomplete&assignee=me"><i class="fa fa-list-ul"></i> <span class="nav-label">Alerts & Tasks</span></a>
                </li>
                <li class="<%= is_active_controller('reports') %> dropdown">
                    <a role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bar-chart"></i> <span class="nav-label">Dashboard</span> <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="<%= reports_accounts_dashboard_path %>">Opportunities</a></li>
                        <li><a href="<%= reports_team_dashboard_path %>">Team</a></li>
                    </ul>
                </li>

            </ul>

            <!-- Top Right Nav -->
            <ul class="nav navbar-top-links navbar-right">
                
                <a class="btn btn-primary btn-sm"  style="font-size:12px;" href="<%= settings_users_path %>">Invite team</a>
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-question-circle fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="<%= onboarding_tutorial_path %>">Learn the Basics</a></li>
                        <li><a href="https://contextsmith.zendesk.com/hc/en-us" target="_blank">Knowledge Base</a></li>
                        <li class="divider"></li>
                        <li><a href="mailto:support@contextsmith.com">Contact Support</a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li class="dropdown" style="max-height:50px">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">  
                        <span class="m-r-xs"><img alt="image" class="img-circle" style="width:23px;height:23px;" src="<%= current_user.image_url %>"/></span> 
                        <strong class="font-bold"><%= get_full_name(current_user) %></strong><b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="<%= settings_path %>">Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="<%= destroy_user_session_path %>">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Chrome header -->
    <% if request.user_agent.downcase.match(/chrome/) and cookies[:chromeNotificationBar] != "false" %>
        <div id="chrome-notification-bar" style=""><span>Manage your customers from your inbox. <a href="#" onclick="chrome.webstore.install('https://chrome.google.com/webstore/detail/idihnnlkpfggfgjinfiodninabjggfop', successCallback, failureCallback)">Install our Chrome Extension for Gmail.</a></span></div>
        <script>
            function successCallback () {
                $('#chrome-notification-bar').hide();
                window.alert('Install successful! Please refresh your Gmail for the extension to take effect.');
            }
            function failureCallback () {
                window.alert('Cannot install extension. Please contact support@contextsmith.com for help.');
            }
        </script>
    <% end %>
</div>