<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ContextSmith | Enterprise Account Intelligence Platform</title>

    <!-- Include style per-controller - vendor plugins -->
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" %>

    <!-- Main css styles -->
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" %>
    
    <%= csrf_meta_tags %>

</head>
<body>
    <!-- Wrapper-->
    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">

        <div id="page-wrapper" class="white-bg extension-sidebar">

            <!-- Navigation -->
            <div class="navbar-header border-bottom">
                <span style="width: 230px; display:inline-block">
                    <a href="<%= root_path %>" target="_blank" class="navbar-brand">
                        <span class="clear">
                            <div class="block logo">&nbsp;</div>
                        </span>
                    </a>
                </span>
                <span style="width: 20px; height: 40px; vertical-align: top; margin:5px 0; padding:0 3px;display:inline-block; border-left: 1px solid #EEE">
                    <img src="/assets/images/salesforce.png" style="width:0px;"/>
                    <% if @salesforce_user.nil? %>
                        <a href="<%= user_omniauth_auth_helper_path(provider: "salesforce", return_to_path: extension_path) %>"><img src="/assets/images/salesforce.png" style="width:20px" title="Click to connect to Salesforce"/></a>
                    <% else %>
                        <!-- TODO: Add disconnect -->
                        <img src="/assets/images/salesforce_icon_check.png" style="width:20px;" title="Connected to Salesforce!"/>
                    <% end %>
                </span>
            </div>

            <% if @project %>
                <img class="pull-left m-r-sm" style="max-height:55px;max-width:55px" src="https://logo.clearbit.com/<%= @clearbit_domain %>"/>
                <h3 class="m-t-sm m-l" style="margin-bottom:0"><a href="<%= project_path(@project) %>" target="_blank"><%= @project.name %></a> <% if @project.status != 'Active' %><small style="color:red">(Inactive)</small><% end %></h3>
                <h6 class="text-mute-gray">Owner: <%= get_full_name(@project.project_owner) %></h6>

                <ul class="nav nav-tabs m-b-sm m-t-md">
                    <li role="presentation" class="<%= is_active_action('account') %>"><a href="<%= extension_account_path(emails: params[:emails]) %>">Activities</a></li>
                    <li role="presentation" class="<%= is_active_action('alerts_tasks') %>"><a href="<%= extension_alerts_tasks_path(emails: params[:emails]) %>"> To Do & Alerts</a></li>
                    <li role="presentation" class="<%= is_active_action('contacts') %>"><a href="<%= extension_contacts_path(emails: params[:emails]) %>">People</a></li>
                </ul>

            <% end %>

            <!-- Main view  -->
            <%= yield %>

        </div>

    </div>

    <%= yield :javascript %>

    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" %>

    <!-- Google Analytics -->
    <% if ENV["RAILS_ENV"] == 'production' %>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '<%= ENV['GA_ID'] %>', 'auto');
          ga('send', 'pageview');
        </script>
    <% end %>

</body>
</html>
