<!DOCTYPE html>
<!-- Start of ContextSmith Chrome extension (tracking) code -->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" crossorigin="use-credentials" href="/manifest.json">

  <title>ContextSmith | Customer Event Data Platform<</title>

    <!-- Include style per-controller - vendor plugins -->
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>

    <!-- Main css styles -->
    <%= stylesheet_link_tag 'application', media: 'all' %>

  <!-- <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-messaging.js"></script> -->

  <!-- Main javascript files -->
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'tracking.js' %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" %>

  <%= csrf_meta_tags %>

  <% if Rails.env.production? %>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PW3DCFF');</script>
      <!-- End Google Tag Manager -->
  <% end %>

</head>
<body class="white-bg">
  <% if Rails.env.production? %>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PW3DCFF"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
  <% end %>
  
  <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">

    <div class="white-bg">
      <!-- Main view  -->
      <%= yield %>
    </div>
  </div>
</body>