<% remote ||= false %>
<%= simple_form_for @account, remote: remote, html: {role: :form, 'data-model' => 'account'} do |f| %>

  <span class="help-block" style="color:red"></span>      
  <%# Added Bootstrap classes, and help-block container for error messages %> 
  <%= f.input :name, wrapper_html: { class: 'col-md-8'} %>
  <%= f.input :category, wrapper_html: { class: 'col-md-4'}, collection: @account_types, selected: @account.category %>
  <%= f.input :website, wrapper_html: { class: 'col-md-12'} %>
  
  <%# Added Bootstrap classes %>
    <%= f.button :submit, class: 'btn-primary pull-right form-group' %>

<% end %>