<% remote ||= false %>
<% modal_type ||= nil %>
<% url = (modal_type == 'extension_edit_account_modal') ? account_path(id: @account.id) : accounts_path %>
<%= simple_form_for @account, remote: remote, html: {role: :form, 'data-model' => 'account'}, url: url do |f| %>

  <span class="help-block" style="color:red"></span>      
  <%# Added Bootstrap classes, and help-block container for error messages %> 
  <%= f.input :name, wrapper_html: { class: 'col-md-8'} %>
  <%= f.input :phone, wrapper_html: { class: 'col-md-4'} %>

  <%= f.input :website, label: Account::MAPPABLE_FIELDS_META["website"], wrapper_html: { class: 'col-md-6'} %>
  <%= f.input :address, wrapper_html: { class: 'col-md-6', rows: 2}, label: "Address (map will be generated)" %>

  <%= f.input :notes, wrapper_html: { class: 'col-md-12', rows: 3} %>
  
  <%= f.button :submit, class: 'btn-primary pull-right form-group', style: 'width: 100%' %>

<% end %>
