<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Accounts</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li class="active">
                <strong>Accounts</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <%= link_to '+ New Account', '#new_account_modal', 'data-toggle' => 'modal', 'class' => 'btn btn-primary m-t-lg' %>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-lg-12">
            <div class="btn-group">
                <div class="font-bold m-b-xs">Account Type:</div>
                <a href="<%= accounts_path %>" class="btn btn-sm <% if params[:type] %>btn-white<% else %>btn-default<% end %>" type="button">&nbsp;&nbsp;All&nbsp;&nbsp;</a>
                <a href="<%= accounts_path %>?type=Customer" class="btn btn-sm <% if params[:type] == "Customer" %>btn-default<% else %>btn-white<% end %>" type="button">Customer</a>
                <a href="<%= accounts_path %>?type=Partner" class="btn btn-sm <% if params[:type] == "Partner" %>btn-default<% else %>btn-white<% end %>" type="button">&nbsp;Partner&nbsp;</a>
                <a href="<%= accounts_path %>?type=Vendor" class="btn btn-sm <% if params[:type] == "Vendor" %>btn-default<% else %>btn-white<% end %>" type="button">&nbsp;Vendor&nbsp;</a>
            </div>
        </div>

        <div class="col-sm-12 m-t-md">
            <% if @accounts.empty? %>
                <div class="text-center">
                    <h3>No accounts found.  Did you filter them out?</h3>
                </div>
            <% else %>
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <table class="table table-striped table-bordered table-hover responsive no-wrap" id="accounts-table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Account Name</th>
                                    <th>Type</th>
                                    <th>Projects</th>
                                    <th>Inactive (days)</th>
                                    <th>Website</th>
                                    <th>Address</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @accounts.each do |a| %>
                                <tr>
                                    <td><a href="<%= account_path(a.id) %>"><%= a.name %></a><a class="pull-right edit" href="<%= edit_account_path(a) %>" style="display: none;"><i class="fa fa-pencil"></i></a></td>
                                    <td><%= best_in_place a, :category, :as => :select, :collection => Account::CATEGORY, :class => 'btn btn-outline btn-xs fa fa-caret-down', :style => 'font-size:12px;' %></td>
                                    <td><%= a.projects.size %></td>
                                    <td><%= @account_last_activity[a.id].nil? ? "" : ((Time.current - @account_last_activity[a.id])/86400).to_i %></td>
                                    <td><%= a.website %></td>
                                    <td><%= a.address %></td>
                                    <td><%= link_to "<i class=\"fa fa-trash-o\"></i>".html_safe, a, method: :delete, data: {confirm: "All projects and contacts in this account will be deleted! Are you sure?"} %></td>
                                </tr>
                                <% end %>
                        </table>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<%= render 'accounts/modal', modal_id: 'new_account_modal' %>




