<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Accounts</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li class="active">
                <strong>Accounts</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <%= link_to '+ New Account', '#new_account_modal', 'data-toggle' => 'modal', 'class' => 'btn btn-primary m-t-lg' %>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-lg-2 filter-group">
          <div class="font-bold m-b-xs">Filter:</div>
          <select class="category_filter col-lg-12" data-placeholder="Select Type">
            <option ></option>
            <% @account_types.each do |k,v| %>
            <option value="<%= v %>" <% if params[:account_type] == v %> selected <% end %> ><%= v %></option>
             <% end %>
          </select>    
        </div>

        <% if current_user.admin? %>
        <div class="col-lg-6 bulk-group">
            <div class="font-bold m-b-xs">Bulk Operation:</div>
            <button type="button" class="btn btn-sm btn-white bulk-action" id="bulk-delete" disabled> Delete </button>
            <select class="bulk-action col-sm-3" data-placeholder="Change Type" id="bulk-category" disabled>
              <option value="0"></option>
              <% @account_types.each do |k,v| %>
              <option value="<%= v %>" ><%= v %></option>
               <% end %>
            </select>
            <select class="bulk-action col-sm-3" data-placeholder="Change Owner" id="bulk-owner" disabled>
              <option value="0"></option>
              <% @owners.each do |u| %>
              <option value="<%= u.id %>" ><%= get_full_name(u) %></option>
               <% end %> 
            </select>
        </div>
        <% end %>

    </div>

    <div class="row">
        <div class="col-sm-12 m-t-md">
            <% if @accounts.empty? %>
                <div class="text-center">
                    <h3>No accounts found.  Did you filter them out?</h3>
                </div>
            <% else %>
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <table class="table table-hover responsive no-wrap" id="accounts-table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Account Name</th>
                                    <th style="width:65px">Type</th>
                                    <th>Owner</th>
                                    <th style="text-align:center">Streams</th>
                                    <th style="text-align:center">Days Inactive</th>
                                    <th>Website</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @accounts.each do |a| %>
                                <tr style="height:45px;">
                                    <td>
                                        <input type="checkbox" class="bulk-account" value="<%= a.id %>" <% unless current_user.admin? %>hidden<% end %> />
                                    </td>
                                    <td><a href="<%= account_path(a.id) %>"><%= a.name %></a><a class="pull-right edit" href="<%= edit_account_path(a) %>" style="display: none;"><i class="fa fa-pencil"></i></a></td>
                                    <td style="width:65px"><%= a.category %></td>
                                    <td><%= get_full_name(a.user) %></td>
                                    <td style="text-align:center"><%= a.projects.visible_to(current_user.organization_id, current_user.id).count(:id).size %></td>
                                    <td style="text-align:center"><%= @account_last_activity[a.id].nil? ? "" : ((Time.current - @account_last_activity[a.id])/86400).to_i %></td>
                                    <td><%= a.website %></td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<%= render 'accounts/modal', modal_id: 'new_account_modal' %>




