<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2><%= @account.name %>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#edit_account_modal" data-toggle="modal" class="btn btn-white btn-xs">Edit Account</a></h2>
		<ol class="breadcrumb">
			<li>
				<a href="<%= root_path %>">Home</a>
			</li>
			<li>
				<a href="<%= accounts_path %>">Accounts</a>
			</li>
			<li class="active">
				<strong><%= @account.name %></strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">
		
	</div>
</div>

<div class="row">
	<div class="col-lg-9">
		<div class="wrapper wrapper-content animated fadeInUp">
			<div class="ibox">
				<div class="ibox-title">
					<div class="row">
						<div class="col-md-12">
							<div class="vdivide">
								<div class="row vdivide">
									<div class="col-sm-4 text-center">
										<span><%= pluralize(@account.projects.size, 'Project') %></span>
									</div>
									<div class="col-sm-4 text-center">
										<span><%= pluralize(@account_contacts.size, 'Contact') %></span>
									</div>
									<div class="col-sm-4 text-center">
										<strong>Last Activity</strong>
										<span>10 days ago</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ibox-content">
					<div class="m-lg m-t-xs">
						 <h4><strong>Active Projects</strong></h4>
						 	<div class="row">
							 	<div class="col-md-12">
				          		<ul class="todo-list medium-list m-t">
					          		<% unless @active_projects.blank? %>
							        	<% @active_projects.each do |p| %>
							              	<li>
							              		<div class="col-lg-4"><h4><a href="<%= project_path(p) %>"><%= p.name %></a> <% if !p.is_public %> &nbsp;<span class="label label-warning">Private</span><% end %></h4></div>
							              		<div class="col-lg-2"><small><p class="text-center">Last Activity</p> <p class="text-center"><strong><%= @project_last_email_date[p.id].nil? ? "N/A" : time_ago_in_words(@project_last_email_date[p.id]) %></strong></p></small></div>
							              		<div class="col-lg-2"><small><p class="text-center">Last 7d</p><p class="text-center"> <strong><%= @project_activities_count_last_7d[p.id] ? @project_activities_count_last_7d[p.id].to_s : "0" %></strong> activities</p></small></div>
							              		<div class="col-lg-1"><small><p class="text-center">Pinned</p> <p class="text-center"><strong><%= @project_pinned[p.id] ? @project_pinned[p.id] : "0" %></strong></p></small></div>
							              		<div class="col-lg-3" style="padding-left:30px;"> 
							              				<% p.users.each_with_index do |u,i| %>
		                                    <% if i <= 2 %>
		                                        <div style="padding-right:2px;float:left;"><%= get_profile_pic(get_full_name(u), u.email, "") %></div>
		                                    <% end %>
		                                <% end %>
		                            </div>
		                            <div style="clear:both"></div>
							              	</li>
							             <% end %>
							        <% else %>
							        	<p class="m-t-md">None, but you can <a href="#">create one</a>.</p>
							        <% end %>
					          	</ul>
				          	</div>
		          		</div>
					</div>

					<div class="row">
						<div class="col-lg-12">
							<div class="panel blank-panel">
								<div class="panel-heading">
									<div class="panel-options">
										<ul class="nav nav-tabs">
											<li class="active"><a href="#contacts" data-toggle="tab">Contacts</a></li>
										</ul>
									</div>
								</div>

								<div class="panel-body">

									<div class="tab-content">

										<div class="tab-pane active" id="contacts">
											<div class="table-responsive">
												<table class="table table-striped table-hover">
													<thead>
														<tr>
															<th>Name</th>
															<th>Title</th>
															<th></th>
															<th>Email</th>
															<th>Last Activity</th>
														</tr>
													</thead>
													<tbody>
														<% @account_contacts.each do |contact| %>
														<tr>
															<td><%= get_full_name(contact) %></a></td>
															<td><%= contact.title %></td>
															<td class="contact-type"><i class="fa fa-envelope"> </i></td>
															<td><%= contact.email %></td>
															<td class="client-status"></td>
														</tr>
														<% end %>
													</tbody>
												</table>
											</div>

										</div>
									</div>

								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="wrapper wrapper-content project-manager">

			<div class="m-t-md"><strong>Account Description:</strong></div>
			<small><%= best_in_place @account, :description, :as => 'textarea', :place_holder => '(Add description)', :display_with => :simple_format, :inner_class => 'col-sm-12',
								:cancel_button => 'Cancel', :cancel_button_class => 'btn btn-secondary btn-xs', :ok_button => 'Ok', :ok_button_class => 'btn btn-primary btn-xs' %></small>

			<ul class="list-group clear-list m-t-sm">
				<li class="list-group-item first-item">
					<strong>Status:</strong>
					<span class="label label-primary pull-right">Active</span>
				</li>
				<li class="list-group-item first-item">
					<strong>Account Owner:</strong>
					<span class="pull-right"><%= get_full_name(@account.user) %></span>
				</li>
				<li class="list-group-item">
					<strong>Phone:</strong>
					<span class="pull-right"><%= best_in_place @account, :phone, :as => 'input', :place_holder => '(add)' %></span>
				</li>
				<li class="list-group-item">
					<strong>Website:</strong>
					<span class="pull-right"><%= best_in_place @account, :website, :as => 'input', :place_holder => '(add)' %></span>
				</li>
				<li class="list-group-item m-b-sm">
					<strong>Address:</strong>
					<span class="pull-right"><%= best_in_place @account, :address, :as => 'textarea', :place_holder => '(add)', :display_with => :simple_format %> </span>
				</li>
				<!-- <a href=""><img alt="image" src="https://maps.googleapis.com/maps/api/staticmap?center=World+Trade+Center,New+York,NY&zoom=13&size=260x150&maptype=roadmap&markers=color:green%7Clabel:G%7C40.711614,-74.012318"></a> -->
					<li class="list-group-item small m-t-md first-item">
						<span class="pull-right"><%= @account.updated_at.to_date.to_formatted_s(:long) %></span>
						Last Updated:
					</li>
					<li class="list-group-item small">
						<span class="pull-right"><%= @account.created_at.to_date.to_formatted_s(:long) %></span>
						Created:
					</li>
				</ul>

			</div>
		</div>
	</div>

	<%= render 'modal', modal_id: 'edit_account_modal' %>
