<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <img class="pull-left m-r-sm m-t-sm" style="max-height:75px;max-width:75px" src="https://logo.clearbit.com/<%= @clearbit_domain %>"/>
        <h2>
            <%= @account.name %>&nbsp;&nbsp;&nbsp;&nbsp;
            <% #if (@account.owner_id.nil? || @account.owner_id == current_user.id) %>
                <a href="#edit_account_modal" data-toggle="modal" class="btn btn-white btn-xs">Edit</a>
            <% #end %>
        </h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">Home</a>
            </li>
            <li>
                <a href="<%= accounts_path %>">Accounts</a>
            </li>
            <li class="active">
                <strong><%= @account.name %></strong>
            </li>
        </ol>
    </div>

    <% if current_user.power_user? %>
    <div class="col-lg-2">
        <%= link_to '+ New Stream', '#new_project_modal', 'data-toggle' => 'modal', 'class' => 'btn btn-primary m-t-lg' %>
    </div>
    <% end %>
    <div class="col-lg-2">
        <%= link_to '+ New Contact', '#new_contact_modal', 'data-toggle' => 'modal', 'class' => 'btn btn-primary m-t-lg' %>
    </div>
</div>

<div class="row">
    <div class="col-lg-9">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="m-lg m-t-xs">
                         <h4><strong>Active Streams</strong></h4>
                            <div class="row">
                                <div class="col-md-12">
                                <ul class="todo-list medium-list m-t">
                                    <% unless @active_projects.blank? %>
                                        <% @active_projects.each do |p| %>
                                            <li>
                                                <div class="col-lg-6"><h4><a href="<%= project_path(p) %>"><%= p.name %></a> <% if !p.is_public %> &nbsp;<span class="label label-warning">Private</span><% end %></h4></div>
                                                <div class="col-lg-2"><small><p class="text-center">Last Activity</p> <p class="text-center"><strong><%= @project_last_email_date[p.id].nil? ? "N/A" : time_ago_in_words(@project_last_email_date[p.id]) %></strong></p></small></div>
                                                <div class="col-lg-2"><small><p class="text-center">Last 7d</p><p class="text-center"> <strong><%= @project_activities_count_last_7d[p.id] ? @project_activities_count_last_7d[p.id].to_s : "0" %></strong> activities</p></small></div>
                                                <div class="col-lg-2"><small><p class="text-center">Key Activities</p> <p class="text-center"><strong><%= @project_pinned[p.id] ? @project_pinned[p.id] : "0" %></strong></p></small></div>
                                    <div style="clear:both"></div>
                                            </li>
                                         <% end %>
                                    <% else %>
                                        <p class="m-t-md">No active Streams.</p>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#contacts" data-toggle="tab">Contacts</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="contacts">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>First Name</th>
                                                            <th>Last Name</th>
                                                            <th>Title</th>
                                                            <th>Buyer Role</th>
                                                            <th></th>
                                                            <th>Email</th>
                                                            <th>Phone</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% @account_contacts.sort_by {|c| [c.last_name.upcase, c.first_name.upcase]}.each do |contact| %>
                                                        <tr>
                                                            <td class="contact-info"><%= best_in_place contact, :first_name, :as => 'input', :place_holder => '(none)', :activator => "#contact-#{contact.id}-first_name-activator" %><i id="contact-<%= contact.id %>-first_name-activator" class="fa fa-pencil bip_activator m-l-xs edit-contact"></td>
                                                            <td class="contact-info"><%= best_in_place contact, :last_name, :as => 'input', :place_holder => '(none)', :activator => "#contact-#{contact.id}-last_name-activator" %><i id="contact-<%= contact.id %>-last_name-activator" class="fa fa-pencil bip_activator m-l-xs edit-contact"></td>
                                                            <td class="contact-info"><%= best_in_place contact, :title, :as => 'input', :place_holder => '(none)', :activator => "#contact-#{contact.id}-title-activator" %><i id="contact-<%= contact.id %>-title-activator" class="fa fa-pencil bip_activator m-l-xs edit-contact"></td>
                                                            <td class="contact-info"><%= best_in_place contact, :buyer_role, :as => :select, :collection => Contact::ROLE, :class => 'btn btn-outline btn-xs fa-caret-down' %></td>
                                                            <td class="contact-type">
                                                            <% if contact.is_source_from_salesforce? %>
                                                                <img id="sfdc-icon" style="width:15px" src="/assets/images/salesforce.png" style="width:0px;" title="Source: Salesforce"/>
                                                            <% else %>
                                                                <i class="fa fa-envelope"> </i>
                                                            <% end %>
                                                            </td>
                                                            <td class="contact-info"><%= best_in_place contact, :email, :as => 'input', :place_holder => '(none)', :activator => "#contact-#{contact.id}-email-activator" %><i id="contact-<%= contact.id %>-email-activator" class="fa fa-pencil bip_activator m-l-xs edit-contact"></td>
                                                            <td class="contact-info"><%= best_in_place contact, :phone, :as => 'input', :place_holder => '(none)', :activator => "#contact-#{contact.id}-phone-activator" %><i id="contact-<%= contact.id %>-phone-activator" class="fa fa-pencil bip_activator m-l-xs edit-contact"></td>
                                                            <td><%= link_to "<i class=\"fa fa-trash-o\"></i>".html_safe, contact, method: :delete, data: {confirm: "About to delete this contact. Are you sure?"} %></td>
                                                        </tr>
                                                        <% end %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="wrapper wrapper-content project-manager">
            <div class="m-t-md">
                <strong>Account Description:</strong>
                <i id="acc-desc-activator" class="fa fa-pencil pull-right bip_activator text-mute-gray"></i>
            </div>
            <small><%= best_in_place @account, :description, :as => 'textarea', :place_holder => '(no description)', :display_with => :simple_format, :inner_class => 'col-sm-12', :cancel_button => 'Cancel', :cancel_button_class => 'btn btn-secondary btn-xs', :ok_button => 'Ok', :ok_button_class => 'btn btn-primary btn-xs', :activator => '#acc-desc-activator' %></small>

            <ul class="list-group clear-list m-t-sm">
                <li class="list-group-item m-b-sm first-item">
                    <strong>Type:</strong>
                    <span class="pull-right"><%= best_in_place @account, :category, :as => :select, :collection => @account_types, :class => 'btn btn-default btn-sm fa-caret-down', :style => "color:#DDD;" %></span>
                </li>
                <li class="list-group-item m-b-sm">
                    <strong>Account Owner:</strong>
                    <span class="pull-right"><%= get_full_name(@account.user) %></span>
                </li>
                <li class="list-group-item m-b-sm">
                    <strong>Phone:</strong>
                    <i id="acc-phone-activator" class="fa fa-pencil pull-right bip_activator text-mute-gray"></i>
                    <span class="pull-right m-r-xs"><%= best_in_place @account, :phone, :as => 'input', :place_holder => '(none)', :activator => '#acc-phone-activator' %></span>
                </li>
                <li class="list-group-item m-b-sm">
                    <strong>Website:</strong>
                    <i id="acc-website-activator" class="fa fa-pencil pull-right bip_activator text-mute-gray"></i>
                    <span class="pull-right m-r-xs"><%= best_in_place @account, :website, :as => 'input', :place_holder => '(none)', :activator => '#acc-website-activator' %></span>
                </li>
                <li class="list-group-item m-b-sm">
                    <strong>Address:</strong>
                    <i id="acc-address-activator" class="fa fa-pencil pull-right bip_activator text-mute-gray"></i>
                    <span class="pull-right m-r-xs"><%= best_in_place @account, :address, :as => 'textarea', :place_holder => '(none)', :display_with => :simple_format, :activator => '#acc-address-activator' %> </span>
                </li>
                <!-- Custom fields -->
                <% @account.custom_fields.each.with_index do |cf, i| %>
                    <li class="list-group-item m-b-sm">
                        <strong><%= cf.custom_fields_metadatum.name %>:</strong>
                        <% if cf.custom_fields_metadatum.data_type == CustomFieldsMetadatum::DATA_TYPE[:List] and not cf.custom_fields_metadatum.custom_lists_metadatum.nil? and not cf.custom_fields_metadatum.custom_lists_metadatum.custom_lists.empty? %>
                            <span class="pull-right md-m-0"><%= best_in_place cf, :value, :as => :select, :place_holder => '(none)', :collection => @custom_lists[cf.custom_fields_metadatum.custom_lists_metadatum.name], :class => 'btn btn-default btn-sm fa-caret-down', :style => "color:#DDD;" %></span>
                        <% else %>
                            <% if cf.custom_fields_metadatum.data_type == CustomFieldsMetadatum::DATA_TYPE[:List] and (cf.custom_fields_metadatum.custom_lists_metadatum.nil? or cf.custom_fields_metadatum.custom_lists_metadatum.custom_lists.empty?) %>
                                <i style="color:#3d8dc5" class="fa fa-exclamation-triangle pull-right" data-toggle="tooltip" data-placement="top" data-original-title="This field's data type='List', but no list is assigned or the list assigned has no options."></i>
                            <% end %>
                            <i id="acc-customfield<%=i%>-activator" class="fa fa-pencil pull-right bip_activator text-mute-gray"></i>
                            <span class="pull-right m-r-xs"><%= best_in_place cf, :value, :as => :input, :place_holder => '(none)', :display_with => :simple_format, :inner_class => 'col-sm-12', :activator => "#acc-customfield#{i}-activator" %></span>
                        <% end %>
                    </li>
                <% end %>  
            <!-- End: custom fields -->
                <li class="list-group-item small m-t-md first-item">
                    <span class="pull-right"><%= @account.updated_at.to_date.to_formatted_s(:long) %></span>
                    Last Updated:
                </li>
                <li class="list-group-item small">
                    <span class="pull-right"><%= @account.created_at.to_date.to_formatted_s(:long) %></span>
                    Created:
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    // Fix best_in_place bug/side-effect that adds paragraph tags to the .html of custom field dropdown lists, causing the value to be displayed awkwardly
    $('.best_in_place').bind('ajax:success', function(){ 
        this.innerHTML = this.innerHTML.replace('\<p\>', '').replace('\<\/p\>', '');
    });
</script>

<%= render 'modal', modal_id: 'edit_account_modal' %>
<%= render 'contacts/modal', modal_id: 'new_contact_modal' %>
<%= render 'projects/modal', modal_id: 'new_project_modal', remote: true %>
    