window.location.replace("<%= account_path(@account) %>");
// Add a new row in DataTable
// var t = $('#accounts-table').DataTable();
// t.row.add(["<a href=\"edit_account_modal\"><%= @account.name %></a><a class=\"pull-right edit\" data-toggle=\"modal\" href=\"<%= edit_account_path(@account.id) %>\" style=\"display: none\"><i class=\"fa fa-pencil\"></i></a>", 
// 						"<%= @account.address %>",
//            	"<%= @account.phone %>",
//             "<%= @account.website %>",
//             "<%= @account.projects.size %>",
//             "<%= time_ago_in_words(@account.created_at) + ' ago' %>"
// 					]).draw();
// $('#new_account_modal').modal_success();